.osg-checkbox
  cursor: pointer
  display: block
  margin-bottom: 0px
  position: relative
  display: inline-block
  padding: 0px
  user-select: none
  font-size: $osg-font-size-20

  & input
    cursor: pointer
    opacity: 0
    position: absolute

  &__checkmark
    border: 2px solid $osg-color-blue-dark
    left: 0
    display: inline-block
    vertical-align: -2px
    top: 4px
    width: 20px
    height: 20px
    
  &__text
    border-style: hidden

  &:hover span
    color: $osg-color-blue-hover
    border-color: $osg-color-blue-hover

  & input:focus ~ &__checkmark
    outline: -webkit-focus-ring-color auto 5px

  & input:checked ~ &__checkmark:after
    display: block

  & input:checked ~ &__checkmark
    background-color: $osg-color-blue-dark

  & input:disabled:checked ~ &__checkmark
    background-color: $osg-color-grayscale-40

  &__checkmark:after
    content: ""
    display: none
    position: absolute
    border: solid white
    border-width: 0 2px 2px 0
    height: 10px
    transform: rotate(45deg)
    width: 5px
    left: 7px
    top: 8px

  & input:disabled ~ span
    color: $osg-color-grayscale-40
    border-color: $osg-color-grayscale-40
    pointer-events: none
    background-color: none
    