<div class="osg-container osg-devtools-nondevmode">.. .. .. .. card</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-landscape-card">
          <a class="osg-landscape-card__link" href="javascript:void(0)">
            <div class="osg-landscape-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/17.jpg" alt="Image description" />
            </div>
            <div class="osg-landscape-card__content">
              <h4 class="osg-landscape-card__heading">Heading</h4>
              <p class="osg-landscape-card__text">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
              <p class="osg-landscape-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Small + white</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-landscape-card osg-landscape-card--small">
          <a class="osg-landscape-card__link" href="javascript:void(0)">
            <div class="osg-landscape-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/23.jpg" alt="Image description" />
            </div>
            <div class="osg-landscape-card__content">
              <h4 class="osg-landscape-card__heading">Heading</h4>
              <p class="osg-landscape-card__text">Lorem ipsum</p>
              <p class="osg-landscape-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-landscape-card osg-landscape-card--small osg-landscape-card--white">
          <a class="osg-landscape-card__link" href="javascript:void(0)">
            <div class="osg-landscape-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/16.jpg" alt="Image description" />
            </div>
            <div class="osg-landscape-card__content">
              <h4 class="osg-landscape-card__heading">Heading</h4>
              <p class="osg-landscape-card__text">Lorem ipsum</p>
              <p class="osg-landscape-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Large</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <div class="osg-landscape-card osg-landscape-card--large">
          <a class="osg-landscape-card__link" href="javascript:void(0)">
            <div class="osg-landscape-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/10.jpg" alt="Image description" />
            </div>
            <div class="osg-landscape-card__content">
              <h4 class="osg-landscape-card__heading">Heading</h4>
              <p class="osg-landscape-card__text">Lorem ipsum</p>
              <p class="osg-landscape-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Wide image</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <div class="osg-landscape-card osg-landscape-card--wide-image">
          <a class="osg-landscape-card__link" href="javascript:void(0)">
            <div class="osg-landscape-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/10.jpg" alt="Image description" />
            </div>
            <div class="osg-landscape-card__content">
              <h4 class="osg-landscape-card__heading">Heading</h4>
              <p class="osg-landscape-card__text">Lorem ipsum</p>
              <p class="osg-landscape-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Animated</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-landscape-card osg-landscape-card--zoom">
          <a class="osg-landscape-card__link" href="javascript:void(0)">
            <div class="osg-landscape-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/15.jpg" alt="Image description" />
            </div>
            <div class="osg-landscape-card__content">
              <h4 class="osg-landscape-card__heading">Heading</h4>
              <p class="osg-landscape-card__text">Lorem ipsum</p>
              <p class="osg-landscape-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
