@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/spacing";
@use "system/states";

$osg-landscape-card-height-breakpoint-medium: 221px;
$osg-landscape-card-height-breakpoint-large: 230px;
$osg-landscape-card-height-large-breakpoint-medium: 421px;
$osg-landscape-card-height-large-breakpoint-large: 421px;

.osg-landscape-card {
  &__link {
    text-decoration: none;

    @include breakpoints.medium {
      display: flex;
    }

    &:hover {
      * {
        color: states.$hover !important;
      }

      .osg-landscape-card__heading {
        text-decoration: underline;
      }
    }
  }

  &__media {
    width: 100%;

    @include breakpoints.medium {
      flex: 0 0;
      min-width: 30%;
      width: 30%;
      max-width: 30%;
    }

    img {
      display: block;
      line-height: 0;
      object-fit: cover;
      width: 100%;

      @include breakpoints.medium {
        height: $osg-landscape-card-height-breakpoint-medium;
      }

      @include breakpoints.large {
        height: $osg-landscape-card-height-breakpoint-large;
      }
    }
  }

  &__content {
    width: 100%;

    @extend %osg-padding-horizontal-10;
    @extend %osg-padding-vertical-15;
    @extend %osg-color-bg-gray-light;

    @include breakpoints.medium {
      flex: 1 0;
      padding: spacing.$space-30 spacing.$space-15 !important;
    }

    @include breakpoints.large {
      padding: spacing.$space-30 !important;
    }
  }

  &__heading {
    @extend %osg-heading-4, %osg-margin-bottom-50;
  }

  &__text {
    @extend %osg-text-5;
  }

  &__published {
    @extend %osg-text-7, %osg-margin-top-15;
  }

  &--white {
    & .osg-landscape-card__content,
    & .osg-landscape-card__actions {
      @extend %osg-color-bg-white;
    }
  }

  &--wide-image {
    & .osg-landscape-card__media {
      @include breakpoints.medium {
        min-width: 58.333%;
        width: 58.333%;
        max-width: 58.333%;
      }
    }
  }

  &--small {
    & .osg-landscape-card__content {
    }
  }

  &--large {
    & .osg-landscape-card__content {
      @include breakpoints.medium {
        padding: spacing.$space-50 spacing.$space-30 !important;
      }
    }

    & .osg-landscape-card__media img {
      @include breakpoints.medium {
        height: $osg-landscape-card-height-large-breakpoint-medium;
      }

      @include breakpoints.large {
        height: $osg-landscape-card-height-large-breakpoint-large;
      }
    }
  }

  &--zoom {
    & .osg-landscape-card__link {
      & .osg-landscape-card__media {
        overflow: hidden;

        img {
          transform: scale(1);
          transition: all 0.5s;
        }
      }

      &:hover {
        & .osg-landscape-card__media {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
