<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12 osg-row__column--7-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Default</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <div class="osg-landscape-card">
              <a class="osg-landscape-card__link" href="javascript:void(0)">
                <div class="osg-landscape-card__media">
                  <img src="https://picsum.photos/seed/6757/600/400" alt="Image description" />
                </div>
                <div class="osg-landscape-card__content">
                  <h4 class="osg-landscape-card__heading">Heading</h4>
                  <p class="osg-landscape-card__text">Lorem ipsum</p>
                  <p class="osg-landscape-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--5-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">White</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <div class="osg-landscape-card osg-landscape-card--white">
              <a class="osg-landscape-card__link" href="javascript:void(0)">
                <div class="osg-landscape-card__media">
                  <img src="https://picsum.photos/seed/1927/600/400" alt="Image description" />
                </div>
                <div class="osg-landscape-card__content">
                  <h4 class="osg-landscape-card__heading">Heading</h4>
                  <p class="osg-landscape-card__text">Lorem ipsum</p>
                  <p class="osg-landscape-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-landscape-card">
        <a class="osg-landscape-card__link" href="javascript:void(0)">
          <div class="osg-landscape-card__media">
            <img src="https://picsum.photos/seed/2000/600/400" />
          </div>
          <div class="osg-landscape-card__content">
            <h4 class="osg-landscape-card__heading">Heading</h4>
            <p class="osg-landscape-card__text">Lorem ipsum</p>
            <p class="osg-landscape-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-landscape-card">
        <a class="osg-landscape-card__link" href="javascript:void(0)">
          <div class="osg-landscape-card__media">
            <img src="https://picsum.photos/seed/1929/600/400" />
          </div>
          <div class="osg-landscape-card__content">
            <h4 class="osg-landscape-card__heading">Heading</h4>
            <p class="osg-landscape-card__text">Lorem ipsum</p>
            <p class="osg-landscape-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-landscape-card">
          <a class="osg-landscape-card__link" href="javascript:void(0)">
            <div class="osg-landscape-card__content">
              <h4 class="osg-landscape-card__heading">Heading</h4>
              <p class="osg-landscape-card__text">Lorem ipsum</p>
              <p class="osg-landscape-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
