<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-devtools-text-preset-3">A card is flexible-size container that groups a few short, related pieces of information. Cards are used to guide the user info specific content. In the service www.oslo.kommune.no cards are used as a point of entry for dissemination content like news, activities, projects and different institutions.</p>
      <p class="osg-devtools-text-preset-3">A modular panelsystem which scales towards the different panel needs have been established. Examples of card variations are shown below.</p>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-infobox osg-infobox--yellow osg-margin-bottom-3">
      <h2 class="osg-infobox__heading">Important</h2>
      <p>The card has some restriction as to how much text it can contain. The text should never be so long that the box grows bigger than the image on medium and large. There should be added "..." if the text is too long.
      <ul class="osg-unordered-list osg-margin-top-2">
        <li class="osg-unordered-list__item">The label should only go on one line</li>
        <li class="osg-unordered-list__item">The header can go on two lines</li>
        <li class="osg-unordered-list__item">The text can go on three lines</li>
        <li class="osg-unordered-list__item">The metadata can go on two lines on medium but on one line for large breakpoint</li>
      </ul>
      </p>
    </div>
    
    <div class="osg-grid__column--10">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-landscape-card">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__media">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/17.jpg" alt="Image description" />
              </div>
              <div class="osg-landscape-card__content">
                <p class="osg-landscape-card__label">Label</p>
                <h3 class="osg-landscape-card__heading">Heading</h3>
                <p class="osg-landscape-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p class="osg-landscape-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--10">
      <h2 class="osg-devtools-text-preset-1">Blue background</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-landscape-card osg-landscape-card--blue-light">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__media">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/17.jpg" alt="Image description" />
              </div>
              <div class="osg-landscape-card__content">
                <p class="osg-landscape-card__label">Label</p>
                <h3 class="osg-landscape-card__heading">Heading</h3>
                <p class="osg-landscape-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p class="osg-landscape-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--10">
      <h2 class="osg-devtools-text-preset-1">Hide image on small screens</h2>
      <p class="osg-paragraph">Hide image on small screens only</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-landscape-card osg-landscape-card--image-breakpoint-medium">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__media">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/17.jpg" alt="Image description" />
              </div>
              <div class="osg-landscape-card__content">
                <p class="osg-landscape-card__label">Label</p>
                <h3 class="osg-landscape-card__heading">Heading</h3>
                <p class="osg-landscape-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p class="osg-landscape-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--10">
      <h2 class="osg-devtools-text-preset-1">Animated</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-landscape-card osg-landscape-card--zoom">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__media">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/15.jpg" alt="Image description" />
              </div>
              <div class="osg-landscape-card__content">
                <p class="osg-landscape-card__label">Label</p>
                <h3 class="osg-landscape-card__heading">Heading</h4>
                <p class="osg-landscape-card__text">Simply dummy text</p>
                <p class="osg-landscape-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--6">
      <h2 class="osg-devtools-text-preset-1">Small</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-landscape-card osg-landscape-card--small">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__media">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/23.jpg" alt="Image description" />
              </div>
              <div class="osg-landscape-card__content">
                <p class="osg-landscape-card__label">Label</p>
                <h3 class="osg-landscape-card__heading">Heading</h4>
                <p class="osg-landscape-card__text">Simply dummy text</p>
                <p class="osg-landscape-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--6">
      <h2 class="osg-devtools-text-preset-1">White</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box osg-devtools-code__box--gray-light">
          <div class="osg-landscape-card osg-landscape-card--small osg-landscape-card--white">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__media">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/16.jpg" alt="Image description" />
              </div>
              <div class="osg-landscape-card__content">
                <p class="osg-landscape-card__label">Label</p>
                <h3 class="osg-landscape-card__heading">Heading</h4>
                <p class="osg-landscape-card__text">Simply dummy text</p>
                <p class="osg-landscape-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--10">
      <h2 class="osg-devtools-text-preset-1">Large</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-landscape-card osg-landscape-card--large">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__media">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/10.jpg" alt="Image description" />
              </div>
              <div class="osg-landscape-card__content">
                <p class="osg-landscape-card__label">Label</p>
                <h3 class="osg-landscape-card__heading">Heading</h3>
                <p class="osg-landscape-card__text">Simply dummy text</p>
                <p class="osg-landscape-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12 osg-grid__column--10-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Default</h2>
      <div class="osg-landscape-card">
        <a class="osg-landscape-card__link" href="javascript:void(0)">
          <div class="osg-landscape-card__media">
            <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/17.jpg" alt="Image description" />
          </div>
          <div class="osg-landscape-card__content">
            <p class="osg-landscape-card__label">Label</p>
            <h3 class="osg-landscape-card__heading">Heading</h3>
            <p class="osg-landscape-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p class="osg-landscape-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--8-breakpoint-medium">
      <div class="osg-landscape-card osg-landscape-card--image-breakpoint-medium">
        <a class="osg-landscape-card__link" href="javascript:void(0)">
          <div class="osg-landscape-card__media">
            <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/17.jpg" alt="Image description" />
          </div>
          <div class="osg-landscape-card__content">
            <p class="osg-landscape-card__label">Label</p>
            <h3 class="osg-landscape-card__heading">Heading</h3>
            <p class="osg-landscape-card__text">Lorem Ipsum is simply dummy text.</p>
            <p class="osg-landscape-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Small + white</h2>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
          <div class="osg-landscape-card osg-landscape-card--small">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__media">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/23.jpg" alt="Image description" />
              </div>
              <div class="osg-landscape-card__content">
                <p class="osg-landscape-card__label">Label</p>
                <h3 class="osg-landscape-card__heading">Heading</h3>
                <p class="osg-landscape-card__text">Simply dummy text</p>
                <p class="osg-landscape-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
          <div class="osg-landscape-card osg-landscape-card--small osg-landscape-card--white">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__media">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/16.jpg" alt="Image description" />
              </div>
              <div class="osg-landscape-card__content">
                <p class="osg-landscape-card__label">Label</p>
                <h3 class="osg-landscape-card__heading">Heading</h3>
                <p class="osg-landscape-card__text">Simply dummy text</p>
                <p class="osg-landscape-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Large</h2>
      <div class="osg-landscape-card osg-landscape-card--large">
        <a class="osg-landscape-card__link" href="javascript:void(0)">
          <div class="osg-landscape-card__media">
            <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/10.jpg" alt="Image description" />
          </div>
          <div class="osg-landscape-card__content">
            <p class="osg-landscape-card__label">Label</p>
            <h3 class="osg-landscape-card__heading">Heading</h3>
            <p class="osg-landscape-card__text">Simply dummy text</p>
            <p class="osg-landscape-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--8-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Animated</h2>
      <div class="osg-landscape-card osg-landscape-card--zoom">
        <a class="osg-landscape-card__link" href="javascript:void(0)">
          <div class="osg-landscape-card__media">
            <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/15.jpg" alt="Image description" />
          </div>
          <div class="osg-landscape-card__content">
            <p class="osg-landscape-card__label">Label</p>
            <h3 class="osg-landscape-card__heading">Heading</h3>
            <p class="osg-landscape-card__text">Simply dummy text</p>
            <p class="osg-landscape-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Custom content - Date</h2>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--6">
          <div class="osg-landscape-card">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__media">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/17.jpg" alt="Image description" />
              </div>
              <div class="osg-landscape-card__content">
                <p class="osg-text--size-kilo osg-text--size-juliett-brekapoint-large osg-text--weight-medium osg-margin-bottom-4">
                  <span class="osg-icon osg-icons--calendar osg-text--size-hotel osg-text--size-golf-breakpoint-medium osg-text--size-delta-brekapoint-large osg-text--weight-light" aria-label="Date"></span>
                  <span class="osg-margin-left-1 osg-text--weight-medium">30. august</span>
                  <span class="osg-icon osg-icon--clock osg-text--size-hotel osg-text--size-golf-breakpoint-medium osg-text--size-delta-brekapoint-large osg-text--weight-light osg-margin-left-4" aria-label="Time"></span>
                  <span class="osg-margin-left-1 osg-text--weight-medium">10:00</span>
                </p>
                <p class="osg-landscape-card__text">It was popularised in the 1960s with the release of Letraset</p>
              </div>
            </a>
          </div>
        </div>
        <div class="osg-grid__column--6">
          <div class="osg-landscape-card">
            <a class="osg-landscape-card__link" href="javascript:void(0)">
              <div class="osg-landscape-card__content">
                <p class="osg-text--size-kilo osg-text--size-juliett-brekapoint-large osg-text--weight-medium osg-margin-bottom-4">
                  <span class="osg-icon osg-icons--calendar osg-text--size-hotel osg-text--size-golf-breakpoint-medium osg-text--size-delta-brekapoint-large osg-text--weight-light" aria-label="Date"></span>
                  <span class="osg-margin-left-1 osg-text--weight-medium">30. august</span>
                  <span class="osg-icon osg-icon--clock osg-text--size-hotel osg-text--size-golf-breakpoint-medium osg-text--size-delta-brekapoint-large osg-text--weight-light osg-margin-left-4" aria-label="Time"></span>
                  <span class="osg-margin-left-1 osg-text--weight-medium">10:00</span>
                </p>
                <p class="osg-landscape-card__text">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--8">
      <h2 class="osg-devtools-text-preset-2">External</h2>
      <div class="osg-landscape-card osg-landscape-card--external">
        <a class="osg-landscape-card__link" href="javascript:void(0)">
          <div class="osg-landscape-card__media">
            <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/17.jpg" alt="Image description" />
          </div>
          <div class="osg-landscape-card__content">
            <p class="osg-landscape-card__label">Label</p>
            <h3 class="osg-landscape-card__heading">Heading</h3>
            <p class="osg-landscape-card__text">Lorem Ipsum is simply dummy text of the printing.</p>
            <p class="osg-landscape-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--8-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Blue</h2>
      <div class="osg-landscape-card osg-landscape-card--blue-light">
        <a class="osg-landscape-card__link" href="javascript:void(0)">
          <div class="osg-landscape-card__media">
            <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/17.jpg" alt="Image description" />
          </div>
          <div class="osg-landscape-card__content">
            <p class="osg-landscape-card__label">Label</p>
            <h3 class="osg-landscape-card__heading">Heading</h3>
            <p class="osg-landscape-card__text">Lorem Ipsum is simply dummy text of the printing.</p>
            <p class="osg-landscape-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
