<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-30">
        <h2 class="osg-infobox__heading">Important</h2>
        <p class="osg-paragraph">Shape changes form circle to square when number goes from 99 to 100.</p>
        <p class="osg-paragraph">The compoent supports the use of both links and buttons.</p>
      </div>
      <h3 class="osg-devtools-heading">Vue component with buttons</h3>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div id="vue-pagination">
            <osg-pagination
              :current-index=2
              :limit=2
              :total-pages=160
              v-on:prev="event('prev', $event)"
              v-on:next="event('next', $event)"
              v-on:page="event('page', $event)">
            </osg-pagination>
          </div>
        </div>
      </div>

      <h3 class="osg-devtools-heading">Default</h3>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <nav class="osg-pagination" aria-label="Default pagination example">
            <a href="javascript:void(0)" class="osg-pagination__previous" aria-label="Show previous page"></a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 1</span>
              <span aria-hidden="true">1</span>
            </a>
            <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 97</span>
              <span aria-hidden="true">97</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 98</span>
              <span aria-hidden="true">98</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--current" aria-current="page">
              <span class="osg-sr-only">Page 99</span>
              <span aria-hidden="true">99</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--rectangle">
              <span class="osg-sr-only">Go to page 100</span>
              <span aria-hidden="true">100</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--rectangle">
              <span class="osg-sr-only">Go to page 101</span>
              <span aria-hidden="true">101</span>
            </a>
            <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
            <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--rectangle">
              <span class="osg-sr-only">Go to page 999</span>
              <span aria-hidden="true">999</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__next" aria-label="Show next page"></a>
          </nav>
        </div>
      </div>
    </div>

    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-devtools-heading">First page</h3>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <nav class="osg-pagination" aria-label="Pagination, first page">
            <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--current" aria-current="page">
              <span class="osg-sr-only">Page 1</span>
              <span aria-hidden="true">1</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 2</span>
              <span aria-hidden="true">2</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 3</span>
              <span aria-hidden="true">3</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 4</span>
              <span aria-hidden="true">4</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 5</span>
              <span aria-hidden="true">5</span>
            </a>
            <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
            <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--rectangle">
              <span class="osg-sr-only">Go to page 100</span>
              <span aria-hidden="true">100</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__next" aria-label="Show next page"></a>
          </nav>
        </div>
      </div>
    </div>

    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-devtools-heading">Last page</h3>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <nav class="osg-pagination" aria-label="Pagination, last page">
            <a href="javascript:void(0)" class="osg-pagination__previous" aria-label="Show previous page"></a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 1</span>
              <span aria-hidden="true">1</span>
            </a>
            <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 96</span>
              <span aria-hidden="true">96</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 97</span>
              <span aria-hidden="true">97</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 98</span>
              <span aria-hidden="true">98</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 99</span>
              <span aria-hidden="true">99</span>
            </a>
            <a href="javascript:void(0)"
              class="osg-pagination__item osg-pagination__item--current osg-pagination__item--rectangle"
              aria-current="page">
              <span class="osg-sr-only">Page 100</span>
              <span aria-hidden="true">100</span>
            </a>
          </nav>
        </div>
      </div>
    </div>

    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-devtools-heading">Links</h3>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <nav class="osg-pagination" aria-label="Pagination with links">
            <a href="javascript:void(0)" class="osg-pagination__previous" aria-label="Show previous page"></a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 1</span>
              <span aria-hidden="true">1</span>
            </a>
            <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 95</span>
              <span aria-hidden="true">95</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 96</span>
              <span aria-hidden="true">96</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--current" aria-current="page">
              <span class="osg-sr-only">Go to page 97</span>
              <span aria-hidden="true">97</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 98</span>
              <span aria-hidden="true">98</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 99</span>
              <span aria-hidden="true">99</span>
            </a>
            <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
            <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--rectangle">
              <span class="osg-sr-only">Page 150</span>
              <span aria-hidden="true">150</span>
            </a>
            <a href="javascript:void(0)" class="osg-pagination__next" aria-label="Show next page"></a>
          </nav>
        </div>
      </div>
    </div>

    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-devtools-heading">Buttons</h3>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <nav class="osg-pagination" aria-label="Pagination with buttons">
            <button class="osg-pagination__previous" aria-label="Show previous page"></button>
            <button class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 1</span>
              <span aria-hidden="true">1</span>
            </button>
            <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
            <button class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 95</span>
              <span aria-hidden="true">95</span>
            </button>
            <button class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 96</span>
              <span aria-hidden="true">96</span>
            </button>
            <button class="osg-pagination__item osg-pagination__item--current" aria-current="page">
              <span class="osg-sr-only">Go to page 97</span>
              <span aria-hidden="true">97</span>
            </button>
            <button class="osg-pagination__item">
              <span class="osg-sr-only">Page 98</span>
              <span aria-hidden="true">98</span>
            </button>
            <button class="osg-pagination__item">
              <span class="osg-sr-only">Go to page 99</span>
              <span aria-hidden="true">99</span>
            </button>
            <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
            <button class="osg-pagination__item osg-pagination__item--rectangle">
              <span class="osg-sr-only">Go to page 150</span>
              <span aria-hidden="true">150</span>
            </button>
            <button class="osg-pagination__next" aria-label="Show next page"></button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3 osg-margin-bottom-15">Default</h3>
      <nav class="osg-pagination" aria-label="Default pagination example">
        <a href="javascript:void(0)" class="osg-pagination__previous" aria-label="Show previous page"></a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 1</span>
          <span aria-hidden="true">1</span>
        </a>
        <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 97</span>
          <span aria-hidden="true">97</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 98</span>
          <span aria-hidden="true">98</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--current" aria-current="page">
          <span class="osg-sr-only">Page 99</span>
          <span aria-hidden="true">99</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--rectangle">
          <span class="osg-sr-only">Go to page 100</span>
          <span aria-hidden="true">100</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--rectangle">
          <span class="osg-sr-only">Go to page 101</span>
          <span aria-hidden="true">101</span>
        </a>
        <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
        <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--rectangle">
          <span class="osg-sr-only">Go to page 999</span>
          <span aria-hidden="true">999</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__next" aria-label="Show next page"></a>
      </nav>
    </div>

    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3 osg-margin-bottom-15 osg-margin-top-30">First page</h3>
      <nav class="osg-pagination" aria-label="Pagination, first page">
        <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--current" aria-current="page">
          <span class="osg-sr-only">Page 1</span>
          <span aria-hidden="true">1</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 2</span>
          <span aria-hidden="true">2</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 3</span>
          <span aria-hidden="true">3</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 4</span>
          <span aria-hidden="true">4</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 5</span>
          <span aria-hidden="true">5</span>
        </a>
        <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
        <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--rectangle">
          <span class="osg-sr-only">Go to page 100</span>
          <span aria-hidden="true">100</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__next" aria-label="Show next page"></a>
      </nav>
    </div>

    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3 osg-margin-bottom-15 osg-margin-top-30">Last page</h3>
      <nav class="osg-pagination" aria-label="Pagination, last page">
        <a href="javascript:void(0)" class="osg-pagination__previous" aria-label="Show previous page"></a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 1</span>
          <span aria-hidden="true">1</span>
        </a>
        <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 96</span>
          <span aria-hidden="true">96</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 97</span>
          <span aria-hidden="true">97</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 98</span>
          <span aria-hidden="true">98</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 99</span>
          <span aria-hidden="true">99</span>
        </a>
        <a href="javascript:void(0)"
          class="osg-pagination__item osg-pagination__item--current osg-pagination__item--rectangle"
          aria-current="page">
          <span class="osg-sr-only">Page 100</span>
          <span aria-hidden="true">100</span>
        </a>
      </nav>
    </div>

    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3 osg-margin-bottom-15 osg-margin-top-30">Links</h3>
      <nav class="osg-pagination" aria-label="Pagination with links">
        <a href="javascript:void(0)" class="osg-pagination__previous" aria-label="Show previous page"></a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 1</span>
          <span aria-hidden="true">1</span>
        </a>
        <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 95</span>
          <span aria-hidden="true">95</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 96</span>
          <span aria-hidden="true">96</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--current" aria-current="page">
          <span class="osg-sr-only">Go to page 97</span>
          <span aria-hidden="true">97</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 98</span>
          <span aria-hidden="true">98</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 99</span>
          <span aria-hidden="true">99</span>
        </a>
        <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
        <a href="javascript:void(0)" class="osg-pagination__item osg-pagination__item--rectangle">
          <span class="osg-sr-only">Page 150</span>
          <span aria-hidden="true">150</span>
        </a>
        <a href="javascript:void(0)" class="osg-pagination__next" aria-label="Show next page"></a>
      </nav>
    </div>

    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3 osg-margin-bottom-15 osg-margin-top-30">Buttons</h3>
      <nav class="osg-pagination" aria-label="Pagination with buttons">
        <button class="osg-pagination__previous" aria-label="Show previous page"></button>
        <button class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 1</span>
          <span aria-hidden="true">1</span>
        </button>
        <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
        <button class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 95</span>
          <span aria-hidden="true">95</span>
        </button>
        <button class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 96</span>
          <span aria-hidden="true">96</span>
        </button>
        <button class="osg-pagination__item osg-pagination__item--current" aria-current="page">
          <span class="osg-sr-only">Go to page 97</span>
          <span aria-hidden="true">97</span>
        </button>
        <button class="osg-pagination__item">
          <span class="osg-sr-only">Page 98</span>
          <span aria-hidden="true">98</span>
        </button>
        <button class="osg-pagination__item">
          <span class="osg-sr-only">Go to page 99</span>
          <span aria-hidden="true">99</span>
        </button>
        <span class="osg-pagination__spacer" aria-hidden="true">&hellip;</span>
        <button class="osg-pagination__item osg-pagination__item--rectangle">
          <span class="osg-sr-only">Go to page 150</span>
          <span aria-hidden="true">150</span>
        </button>
        <button class="osg-pagination__next" aria-label="Show next page"></button>
      </nav>
    </div>
  </div>
</div>
