@use "system/colors";
@use "system/typography";
@use "system/spacing";
@use "system/icons";

.osg-pagination {
  &__spacer {
    cursor: default;
    transform: translateY(-0.25rem);
    display: inline-block;
    @extend %osg-padding-horizontal-1;
  }

  &__item {
    @extend %osg-padding-1;
    @extend %osg-text-size-kilo;
    @extend %osg-text-weight-medium;

    line-height: 1.5rem;
    box-sizing: content-box;
    width: 1.5em;
    background: transparent;
    border: 2px solid transparent;
    color: colors.$blue-dark;
    display: inline-block;
    font-family: inherit;
    text-decoration: underline;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: colors.$gray-light;
      border-color: colors.$gray-light;
      color: colors.$blue-hover !important;
    }

    &:active {
      background-color: transparent;
      border-color: transparent;
      text-decoration: underline;
      color: colors.$blue-hover;
    }

    &--current {
      color: colors.$white;
      background: colors.$blue-dark;
      border: 2px solid colors.$blue-dark;
      text-decoration: none;

      &:hover,
      &:focus {
        background: colors.$blue-hover !important;
        border: 2px solid colors.$blue-hover !important;
        text-decoration: underline !important;
        color: colors.$white !important;
      }

      &:disabled {
        color: colors.$white !important;
        background: colors.$blue-dark !important;
        border: 2px solid colors.$blue-dark !important;
        text-decoration: none !important;
      }
    }

    &--rectangle {
      border-radius: 0;
      width: auto;
      @extend %osg-padding-horizontal-3, %osg-padding-vertical-1;
    }
  }

  &__next,
  &__previous {
    background: none;
    border: none;
    display: inline-block;
    @extend %osg-text-size-golf;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    cursor: pointer;

    &::before,
    &:hover::before {
      font-family: "Oslo Icons" !important;
      padding: 0.438rem;
    }

    &:hover::before {
      background-color: colors.$gray-light !important;
      border-radius: 50%;
    }
  }

  &__previous {
    &::before,
    &:hover::before {
      content: map-get(icons.$icons, "chevron-thin-left") !important;
    }
  }

  &__next {
    &::before,
    &:hover::before {
      content: map-get(icons.$icons, "chevron-thin-right") !important;
    }
  }
}
