<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-large">
      <div class="osg-devtools-code">
        <nav class="osg-pagination">
          <a class="osg-pagination__item osg-pagination__item--previous" href="#pagination" aria-label="Vis forrige side"></a>
          <a class="osg-pagination__item osg-pagination__item--active" aria-hidden="true">1</a>
          <a class="osg-pagination__item" href="#pagination">2</a>
          <a class="osg-pagination__item" href="#pagination">3</a>
          <a class="osg-pagination__item" href="#pagination">4</a>
          <span class="osg-pagination__item osg-pagination__item--spacer" aria-hidden="true">&hellip;</span>
          <a class="osg-pagination__item" href="#pagination">297</a>
          <a class="osg-pagination__item osg-pagination__item--next" href="#pagination" aria-label="Vis neste side"></a>
          <!--
          <a class="osg-pagination__item osg-pagination__item--next osg-pagination__item--disabled" aria-hidden="true" href="#pagination" aria-label="Vis neste side"></a>
          -->
        </nav>
      </div>
    </div>
  </div>
</div>
