@use "system/breakpoints";
@use "system/grid";
@use "system/typography";
@use "system/spacing";

.osg-service-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: grid.$gutter-size-large;
  row-gap: grid.$gutter-size-large;

  &__main {
    grid-column: span 12;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include breakpoints.medium {
      grid-column: span 8;
    }
  }

  &__heading {
    @extend %osg-margin-bottom-4;
    @extend %osg-text-size-echo, %osg-text-size-bravo-breakpoint-medium, %osg-text-size-alfa-breakpoint-large;
  }

  &__lead {
    @extend %osg-padding-5;
    @extend %osg-text-size-hotel, %osg-text-size-golf-breakpoint-medium, %osg-text-size-delta-breakpoint-large;
    @extend %osg-text-weight-light;
  }

  &__image {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 1;

    @include breakpoints.medium {
      grid-column: span 4;
      grid-row-start: auto;
    }

    @include breakpoints.large {
      grid-column: span 3 / -1;
    }
  }
}
