@use "system/breakpoints";
@use "system/grid";
@use "system/typography";
@use "system/spacing";

.osg-service-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: grid.$gutter-size-large;
  row-gap: grid.$gutter-size-large;

  &__main {
    grid-column: span 12;

    @include breakpoints.medium {
      grid-column: span 8;
    }
  }

  &__heading {
    @extend %osg-margin-bottom-4;
    @extend %osg-text--size-echo, %osg-text--size-bravo-breakpoint-medium, %osg-text--size-alfa-breakpoint-large;
  }

  &__lead {
    @extend %osg-text--size-hotel, %osg-text--size-golf-breakpoint-medium, %osg-text--size-delta-breakpoint-large;
    @extend %osg-text--weight-light;
  }

  &__image {
    grid-row-start: 1;
    display: grid;
    align-items: center;
    grid-column: 3 / 11;
    justify-items: center;

    img {
      max-width: 10.125rem;
    }

    @include breakpoints.medium {
      grid-column: span 4 / -1;
      justify-items: end;

      img {
        max-width: 13.5rem;
      }
    }

    @include breakpoints.large {
      grid-column: span 4 / -1;
      justify-items: end;

      img {
        max-width: 18.75rem;
      }
    }
  }
}
