<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">Set as the top element after heading, contains image heading and informational text.</p>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <header class="osg-service-header">
            <div class="osg-service-header__main">
              <div class="osg-service-header__content">
                <h1 class="osg-service-header__heading">Heading</h1>
                <p class="osg-service-header__lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta gravida ligula at placerat.</p>
              </div>
            </div>
            <div class="osg-service-header__image">
              <img class="osg-image osg-image--circle" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/31.jpg" alt="Image alternative text" />
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <header class="osg-service-header">
        <div class="osg-service-header__main">
          <div class="osg-service-header__content">
            <h1 class="osg-service-header__heading">Heading</h1>
            <p class="osg-service-header__lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta gravida ligula at placerat.</p>
          </div>
        </div>
        <div class="osg-service-header__image">
          <img class="osg-image osg-image--circle" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/31.jpg" alt="Image alternative text" />
        </div>
      </header>
    </div>
  </div>
</div>
