<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">
        Set as the top element after heading, contains image heading and informational text.  
      </p>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <header class="osg-service-header">
            <div class="osg-row osg-flex-direction-column-reverse osg-flex-direction-row-breakpoint-medium">
              <div
                class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium osg-flex-align-self-center">
                <h1 class="osg-service-header__heading">Heading</h1>
                <p class="osg-service-header__lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta
                  gravida ligula at placerat.</p>
              </div>
              <div
                class="osg-row__column osg-row__column--6 osg-row__column--offset-3 osg-row__column--4-breakpoint-medium osg-row__column--offset-none-breakpoint-medium">
                <img class="osg-image" src="https://picsum.photos/300">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <header class="osg-service-header">
          <div class="osg-row osg-flex-direction-column-reverse osg-flex-direction-row-breakpoint-medium">
            <div
              class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium osg-flex-align-self-center">
              <h1 class="osg-service-header__heading">Heading</h1>
              <p class="osg-service-header__lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta
                gravida ligula at placerat.</p>
            </div>
            <div
              class="osg-row__column osg-row__column--6 osg-row__column--offset-3 osg-row__column--4-breakpoint-medium osg-row__column--offset-none-breakpoint-medium">
              <img class="osg-image osg-image--circle" src="https://picsum.photos/300">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
