$shape-size-mobile: 10%
$shape-size-tablet: 10%
$box-margin-top-mobile: -50px
$box-margin-top-tablet: -60px

=osg-card-m-full
  .osg-content-box
    margin-left: 0
    width: 100%

=osg-card-m-right($size)
  .osg-content-box
    margin-left: #{$size}
    width: unset

=osg-card-m-left($size)
  .osg-content-box
    margin-left: unset
    width: calc(100% - #{$size})

.osg-card
  +card-common
  +card-with-state-modifier

  &.osg-v-download
    h2:after
      +fa-pseudo('\f019')
      font-size: $font-size-13
      margin-left: 15px


  &.osg-m-full
    +osg-card-m-full
  &.osg-m-right
    +osg-card-m-right($shape-size-mobile)
    +tablet-and-up
      +osg-card-m-right($shape-size-tablet)
  &.osg-m-left
    +osg-card-m-left($shape-size-mobile)
    +tablet-and-up
      +osg-card-m-left($shape-size-tablet)

  &.osg-m-full-tablet
    +tablet-and-up
      +osg-card-m-full
  &.osg-m-right-tablet
    +tablet-and-up
      +osg-card-m-right($shape-size-tablet)
  &.osg-m-left-tablet
    +tablet-and-up
      +osg-card-m-left($shape-size-tablet)

  &.osg-m-full-desktop
    +desktop-and-up
      +osg-card-m-full
  &.osg-m-right-desktop
    +desktop-and-up
      +osg-card-m-right($shape-size-tablet)
  &.osg-m-left-desktop
    +desktop-and-up
      +osg-card-m-left($shape-size-tablet)
