.osg-searchfield
  position: relative
  &__input
    outline: none
    &::-webkit-search-cancel-button
      appearance: none
      background-color: $osg-color-yellow
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5BdG9tcy9Ja29uZXIvVWkvQ2xvc2U8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGcgaWQ9IkF0b21zL0lrb25lci9VaS9DbG9zZSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8cG9seWdvbiBpZD0iUGF0aCIgZmlsbD0iIzJBMjg1OSIgcG9pbnRzPSIxNC41MzMzMzMzIDE2IDUgNi40NjY2NjY2NyA2LjQ2NjY2NjY3IDUgMTYgMTQuNTMzMzMzMyAyNS41MzMzMzMzIDUgMjcgNi40NjY2NjY2NyAxNy40NjY2NjY3IDE2IDI3IDI1LjUzMzMzMzMgMjUuNTMzMzMzMyAyNyAxNiAxNy40NjY2NjY3IDYuNDY2NjY2NjcgMjcgNSAyNS41MzMzMzMzIj48L3BvbHlnb24+ICAgIDwvZz48L3N2Zz4=)
      background-repeat: no-repeat
      background-size: 20px
      background-position: center
      border-radius: 50%
      height: 32px
      width: 32px

  &__icon
    pointer-events: none
    display: none
    position: absolute
    top: 50%
    transform: translateY(-50%)

  &--left &
    &__icon
      display: flex
      left: 15px
    &__input
      padding-left: 50px
      padding-right: 20px
      &:focus
        padding-left: 48px
        padding-right: 18px

  &--right &
    &__icon
      display: flex
      right: 15px
    &__input
      padding-left: 20px
      padding-right: 50px
      &:focus
        padding-left: 18px
        padding-right: 48px


