.osg-info-list
  color: $osg-color-green-dark
  background-color: $osg-color-green
  padding: 35px
  +osg-mq-tablet-and-up
    padding: 20px 50px 20px 50px
  +osg-mq-desktop-and-up
    max-width: 550px
  ul
    list-style-type: none
    li
      display: block
      margin: 15px 0 15px 0
      +osg-mq-tablet-and-up
        margin: 40px 0
      p
        margin-bottom: 5px
      a
        color: $osg-color-green-dark
        text-decoration: underline
  &__text-wrapper
    margin: 10px 0 10px 0
    +osg-mq-tablet-and-up
      margin: 10px 0 10px 0
