@use "system/colors";
@use "system/spacing";
@use "mixins";

.osg-text-field {
  @include mixins.form-component;

  &--error {
    border: 2px solid colors.$red;

    &:focus:enabled {
      border: 4px solid colors.$red;
    }
  }

  &__error-message {
    background: rgba(255, 130, 116, 0.6);
    height: 3.125rem;
    margin-top: spacing.$space-2;
    padding: .813rem spacing.$space-3;
    font-weight: 300 !important;

    @extend %osg-text-6;
  }

  &__required {
    height: 1.625rem;
    margin-top: spacing.$space-1;
    padding: 0;

    @extend %osg-text-7;
  }

  &[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background: url(../../../assets/icons/cross-circle.svg) no-repeat;
    background-size: contain;
    height: 1.125rem;
    margin-right: -5px;
    opacity: 0;
    pointer-events: none;
    width: 1.125rem;
  }

  &[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: all;
  }
}
