@use "system/colors";
@use "system/fonts";
@use "system/icons";
@use "system/spacing";
@use "system/state";

.osg-text-field {
  &--error {
    border-color: colors.$red;
    font-weight: 300;
  }

  &__error-message {
    background: rgba(255, 130, 116, 0.6);
    height: 3.125rem;
    margin-top: spacing.$space-2;
    padding: .813rem spacing.$space-3
  }

  &__required {
    height: 1.625rem;
    margin-top: spacing.$space-1;
    padding: 0;
    @extend %osg-text-7;
  }

  &__countdown-characters {
    text-align: right;
    padding-right: 0;
    padding-top: 0;
    @extend %osg-text-7;
  }

  &[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background: url(../../../assets/icons/cross-circle.svg) no-repeat;
    background-size: contain;
    height: 1.125rem;
    margin-right: -5px;
    opacity: 0;
    pointer-events: none;
    width: 1.125rem;
  }

  &[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: all;
  }
}
