<div class="osg-container osg-container--gutterless osg-container--no-overflow-x">
  <div class="osg-row">
    <div class="osg-row__column">
      <table class="osg-table">
        <thead>
          <tr>
            <th>Breakpoint</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>small (default)</th>
            <td>0 - 768px</td>
          </tr>
          <tr>
            <th>medium</th>
            <td>769px and up</td>
          </tr>
          <tr>
            <th>large</th>
            <td>1024px and up</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
