<div class="container is-fluid osg-margin-vertical-3">
  <div class="columns">
    <div class="column">
      <table class="osg-table">
        <thead>
          <tr>
            <th>Breakpoint</th>
            <th>Class</th>
            <th>Dimensions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>mobile</th>
            <td>-</td>
            <td>
              <576px< /td>
          </tr>
          <tr>
            <th>tablet</th>
            <td>.osg-mq-tablet-and-up</td>
            <td>≥769px</td>
          </tr>
          <tr>
            <th>desktop</th>
            <td>.osg-mq-desktop-and-up</td>
            <td>≥1024px</td>
          </tr>
          <tr>
            <th>widescreen</th>
            <td>.osg-mq-widescreen-and-up</td>
            <td>≥1216px</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
