// --------------- COLORS -------------*/

$beige: #f8f0dd;
$beige-dark: #d0bfae;
$black: #000;
$gray-dark: #2c2c2c;
$blue: #6fe9ff;
$blue-dark: #2a2859;
$blue-light: #b3f5ff;
$blue-state: #1f42aa;
$green: #43f8b6;
$green-dark: #034b45;
$green-light: #c7f6c9;
$gray: #f2f2f2;
$gray-light: #f9f9f9;
$purple: #8d50b1;
$purple-light: #e0adff;
$red: #ff8274;
$red-light: #ffb4ac;
$yellow: #f9c66b;
$white: #fff;
$green-30: #c7fde9;
$blue-60: #d1f9ff;
$yellow-50: #ffe7bc;
$red-30: #ffdfdc;
$grayscale-10: #dadada;
$grayscale-20: #c2c2c2;
$grayscale-30: #a9a9a9;
$grayscale-40: #919191;
$grayscale-50: #797979;
$grayscale-60: #616161;
$grayscale-70: #494949;
$grayscale-80: #303030;
$grayscale-90: #181818;
$colors: (
  "white": $white,
  "beige": $beige,
  "beige-dark": $beige-dark,
  "black": $black,
  "blue": $blue,
  "blue-dark": $blue-dark,
  "blue-state": $blue-state,
  "blue-light": $blue-light,
  "green": $green,
  "green-dark": $green-dark,
  "green-light": $green-light,
  "gray-dark": $gray-dark,
  "gray": $gray,
  "gray-light": $gray-light,
  "red": $red,
  "red-light": $red-light,
  "yellow": $yellow,
  "purple": $purple,
  "purple-light": $purple-light,
  "grayscale-10": $grayscale-10,
  "grayscale-20": $grayscale-20,
  "grayscale-30": $grayscale-30,
  "grayscale-40": $grayscale-40,
  "grayscale-50": $grayscale-50,
  "grayscale-60": $grayscale-60,
  "grayscale-70": $grayscale-70,
  "grayscale-80": $grayscale-80,
  "grayscale-90": $grayscale-90,
  "green-30": $green-30,
  "blue-60": $blue-60,
  "yellow-50": $yellow-50,
  "red-30": $red-30,
);

@each $name, $color in $colors {
  %ods-color-text-#{$name} {
    color: $color;
  }
  %ods-color-bg-#{$name} {
    background-color: $color;
  }
}
