// --------------- COLORS -------------*/

$beige: #f8f0dd;
$beige-dark: #d0bfae;
$black: #000000;
$gray-dark: #2c2c2c;
$blue: #6fe9ff;
$blue-dark: #2a2859;
$blue-light: #b3f5ff;
$blue-contrast: #1f42aa;
$green: #43f8b6;
$green-dark: #034b45;
$green-light: #c7f6c9;
$gray: #f2f2f2;
$gray-light: #f9f9f9;
$purple: #8d50b1;
$purple-light: #e0adff;
$red: #ff8274;
$red-light: #ffb4ac;
$yellow: #f9c66b;
$white: #fff;

$grayscale-10: darken(white, 10%);
$grayscale-20: darken(white, 20%);
$grayscale-30: darken(white, 30%);
$grayscale-40: darken(white, 40%);
$grayscale-50: darken(white, 50%);
$grayscale-60: darken(white, 60%);
$grayscale-70: darken(white, 70%);
$grayscale-80: darken(white, 80%);
$grayscale-90: darken(white, 90%);

$colors: (
  "white": $white,
  "beige": $beige,
  "beige-dark": $beige-dark,
  "black": $black,
  "blue": $blue,
  "blue-dark": $blue-dark,
  "blue-contrast": $blue-contrast,
  "blue-light": $blue-light,
  "green": $green,
  "green-dark": $green-dark,
  "green-light": $green-light,
  "gray-dark": $gray-dark,
  "gray": $gray,
  "gray-light": $gray-light,
  "red": $red,
  "red-light": $red-light,
  "yellow": $yellow,
  "purple": $purple,
  "purple-light": $purple-light,
  "grayscale-10": $grayscale-10,
  "grayscale-20": $grayscale-20,
  "grayscale-30": $grayscale-30,
  "grayscale-40": $grayscale-40,
  "grayscale-50": $grayscale-50,
  "grayscale-60": $grayscale-60,
  "grayscale-70": $grayscale-70,
  "grayscale-80": $grayscale-80,
  "grayscale-90": $grayscale-90
);

@each $name, $color in $colors {
  %osg-color-text-#{$name} {
    color: $color;
  }
  %osg-color-bg-#{$name} {
    background-color: $color;
  }
}
