@use "system/colors";
@use "system/fonts";
@use "system/spacing";

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

// Fonts
// ============================================================================
//
//  Includes all font face variants for Oslo Sans.
//  Medium is used as the bold font, so font-weight: bold will use OsloSans-Medium
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_") );
  $formats: ( otf: "opentype", ttf: "truetype" );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src: $src;
  }
}

@include font-face('Oslo Sans', '#{fonts.$path}/OsloSans-Regular', 400, null, 'woff2' 'woff');
@include font-face('Oslo Sans', '#{fonts.$path}/OsloSans-RegularItalic', 400, italic, 'woff2' 'woff');
@include font-face('Oslo Sans', '#{fonts.$path}/OsloSans-Light', 300, null, 'woff2' 'woff');
@include font-face('Oslo Sans', '#{fonts.$path}/OsloSans-Medium', 500, null, 'woff2' 'woff');
@include font-face('Oslo Sans', '#{fonts.$path}/OsloSans-Bold', 700, null, 'woff2' 'woff');

@include font-face('Oslo Icons', '#{fonts.$path}/OsloIcons', normal, normal, 'woff2' 'woff');


body {
  font-family: 'Oslo Sans', sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5em;
  color: colors.$blue-dark;
}

strong {
  @extend %osg-text-medium;
}

a {
  color: inherit;
  font-size: inherit;
}

code {
  @extend %osg-padding-5;
  font-size: .8rem;
  line-height: 1rem;
  display: inline-block;
  background-color: colors.$gray-light;
  border: 1px solid colors.$grayscale-20;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  overflow-x: auto;
  vertical-align: bottom;
}
