@use "system/units";

// Number of grid columns
$columns: 12;
// Size of gap and gutter on small breakpoint
$gutter: units.unit-to-rem(4) !default;
// Size of gap and gutter on medium and up breakpoint
$gutter-large: units.unit-to-rem(8) !default;
// Width of content area when using `grid--center` modifier
$content-width: 1236px;
