@use "system/breakpoints";

// --------------- SPACING ---------------*/

$space-none: 0 !default;
$space-1: 5px !default;
$space-2: 10px !default;
$space-3: 15px !default;
$space-4: 30px !default;
$space-5: 50px !default;
$space-6: 75px !default;
$space-7: 100px !default;

$spacing-sizes: (
  "none": $space-none,
  "1": $space-1,
  "2": $space-2,
  "3": $space-3,
  "4": $space-4,
  "5": $space-5,
  "6": $space-6,
  "7": $space-7
);

@each $name, $size in $spacing-sizes {
  %osg-padding-#{$name} {
    padding: $size $size $size $size !important;
  }
  %osg-margin-#{$name} {
    margin: $size $size $size $size !important;
  }
  %osg-padding-bottom-#{$name} {
    padding-bottom: $size !important;
  }
  %osg-margin-bottom-#{$name} {
    margin-bottom: $size !important;
  }
  %osg-padding-top-#{$name} {
    padding-top: $size !important;
  }
  %osg-margin-top-#{$name} {
    margin-top: $size !important;
  }
  %osg-padding-left-#{$name} {
    padding-left: $size !important;
  }
  %osg-margin-left-#{$name} {
    margin-left: $size !important;
  }
  %osg-padding-right-#{$name} {
    padding-right: $size !important;
  }
  %osg-margin-right-#{$name} {
    margin-right: $size !important;
  }
  %osg-padding-horizontal-#{$name} {
    padding-left: $size !important;
    padding-right: $size !important;
  }
  %osg-margin-horizontal-#{$name} {
    margin-left: $size !important;
    margin-right: $size !important;
  }
  %osg-padding-vertical-#{$name} {
    padding-top: $size !important;
    padding-bottom: $size !important;
  }
  %osg-margin-vertical-#{$name} {
    margin-top: $size !important;
    margin-bottom: $size !important;
  }
}

@include breakpoints.medium {
  @each $name, $size in $spacing-sizes {
    %osg-padding-#{$name}-breakpoint-medium {
      padding: $size $size $size $size !important;
    }
    %osg-margin-#{$name}-breakpoint-medium {
      margin: $size $size $size $size !important;
    }
    %osg-padding-bottom-#{$name}-breakpoint-medium {
      padding-bottom: $size !important;
    }
    %osg-margin-bottom-#{$name}-breakpoint-medium {
      margin-bottom: $size !important;
    }
    %osg-padding-top-#{$name}-breakpoint-medium {
      padding-top: $size !important;
    }
    %osg-margin-top-#{$name}-breakpoint-medium {
      margin-top: $size !important;
    }
    %osg-padding-left-#{$name}-breakpoint-medium {
      padding-left: $size !important;
    }
    %osg-margin-left-#{$name}-breakpoint-medium {
      margin-left: $size !important;
    }
    %osg-padding-right-#{$name}-breakpoint-medium {
      padding-right: $size !important;
    }
    %osg-margin-right-#{$name}-breakpoint-medium {
      margin-right: $size !important;
    }
    %osg-padding-horizontal-#{$name}-breakpoint-medium {
      padding-left: $size !important;
      padding-right: $size !important;
    }
    %osg-margin-horizontal-#{$name}-breakpoint-medium {
      margin-left: $size !important;
      margin-right: $size !important;
    }
    %osg-padding-vertical-#{$name}-breakpoint-medium {
      padding-top: $size !important;
      padding-bottom: $size !important;
    }
    %osg-margin-vertical-#{$name}-breakpoint-medium {
      margin-top: $size !important;
      margin-bottom: $size !important;
    }
  }
}

@include breakpoints.large {
  @each $name, $size in $spacing-sizes {
    %osg-padding-#{$name}-breakpoint-large {
      padding: $size $size $size $size !important;
    }
    %osg-margin-#{$name}-breakpoint-large {
      margin: $size $size $size $size !important;
    }
    %osg-padding-bottom-#{$name}-breakpoint-large {
      padding-bottom: $size !important;
    }
    %osg-margin-bottom-#{$name}-breakpoint-large {
      margin-bottom: $size !important;
    }
    %osg-padding-top-#{$name}-breakpoint-large {
      padding-top: $size !important;
    }
    %osg-margin-top-#{$name}-breakpoint-large {
      margin-top: $size !important;
    }
    %osg-padding-left-#{$name}-breakpoint-large {
      padding-left: $size !important;
    }
    %osg-margin-left-#{$name}-breakpoint-large {
      margin-left: $size !important;
    }
    %osg-padding-right-#{$name}-breakpoint-large {
      padding-right: $size !important;
    }
    %osg-margin-right-#{$name}-breakpoint-large {
      margin-right: $size !important;
    }
    %osg-padding-horizontal-#{$name}-breakpoint-large {
      padding-left: $size !important;
      padding-right: $size !important;
    }
    %osg-margin-horizontal-#{$name}-breakpoint-large {
      margin-left: $size !important;
      margin-right: $size !important;
    }
    %osg-padding-vertical-#{$name}-breakpoint-large {
      padding-top: $size !important;
      padding-bottom: $size !important;
    }
    %osg-margin-vertical-#{$name}-breakpoint-large {
      margin-top: $size !important;
      margin-bottom: $size !important;
    }
  }
}
