@use "system/colors";

$state-colors: (
  "disabled": colors.$gray-light colors.$grayscale-40,
  "primary": colors.$blue-dark colors.$white,
  "success": colors.$green-light colors.$green-dark,
  "warning": colors.$yellow colors.$blue-dark,
  "danger": colors.$red colors.$blue-dark,
  "active": colors.$blue-contrast colors.$white,
  "active-light": colors.$blue-light colors.$blue-dark,
  "hover": colors.$blue-contrast colors.$white,
  "hover-light": colors.$blue-light colors.$blue-dark,
  "visited": colors.$purple colors.$white,
  "visited-light": colors.$purple-light colors.$blue-dark
);

@each $name, $tuple in $state-colors {
  %osg-state-#{$name} {
    background-color: nth($tuple, 1) !important;
    border: 2px solid nth($tuple, 1) !important;
    color: nth($tuple, 2) !important;
  }

  %osg-state-bg-#{$name} {
    background-color: nth($tuple, 1) !important;
  }

  %osg-state-text-#{$name} {
    color: nth($tuple, 1) !important;
  }
}
