@use "system/colors";

$disabled: colors.$gray;
$disabled-text: colors.$grayscale-40;

$active: colors.$blue-state;
$active-text: colors.$white;

$active-light: colors.$blue-light;
$active-light-text: colors.$blue-dark;

$hover: colors.$blue-state;
$hover-text: colors.$white;

$hover-light: colors.$blue;
$hover-light-text: colors.$blue-dark;

$visited: colors.$blue-dark;
$visited-text: colors.$white;

$visited-light: colors.$white;
$visited-light-text: colors.$blue-dark;
