// Name, size, line-height, letter spacing
$types: (
  ("alfa", 3.375rem, 5.125rem, -0.4px),
  ("bravo", 2.5rem, 3.75rem, -0.2px),
  ("charlie", 2.25rem, 3.375rem, -0.2px),
  ("delta", 1.875rem, 2.75rem, -0.2px),
  ("echo", 1.75rem, 2.625rem, -0.2px),
  ("foxtrot", 1.625rem, 2.5rem, -0.2px),
  ("golf", 1.5rem, 2.25rem, -0.2px),
  ("hotel", 1.375rem, 2.125rem, -0.2px),
  ("india", 1.25rem, 1.875rem, -0.2px),
  ("juliett", 1.125rem, 1.75rem, -0.2px),
  ("kilo", 1rem, 1.5rem, -0.2px),
  ("lima", 0.75rem, 1.375rem, -0.2px)
);
@each $name, $size, $line-height, $letter-spacing in $types {
  %osg-text-size-#{$name} {
    font-size: $size !important;
    font-weight: 400;
    hyphens: auto;
    line-height: $line-height !important;
    letter-spacing: $letter-spacing !important;
  }
}

// generating font weight classes
$weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
@each $name, $size in $weights {
  %osg-text-weight-#{$name} {
    font-weight: $size !important;
  }
}

// italic font class
%osg-text-style-italic {
  font-style: italic !important;
}

// generating text align classes
$alignments: ("left", "right", "center");
@each $name in $alignments {
  %osg-text-align-#{$name} {
    text-align: #{$name} !important;
  }
}
