<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Description</p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>Anything important about the component should be communicated in this box.</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <p class="ods-paragraph">Short description of the default state of the component.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <a class="ods-personalized-content-link" href="javascript:void(0)">
                  <div>
                    <h3 class="ods-personalized-content-link__title">Title</h3>
                    <p class="ods-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Icon</h2>
      <p class="ods-paragraph">Short description.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <a class="ods-personalized-content-link ods-personalized-content-link--icon" href="javascript:void(0)">
                  <span class="ods-personalized-content-link__icon ods-icon--heart" aria-hidden="true"></span>
                  <div>
                    <h3 class="ods-personalized-content-link__title">Title</h3>
                    <p class="ods-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <a class="ods-personalized-content-link" href="javascript:void(0)">
        <div>
          <h3 class="ods-personalized-content-link__title">Title</h3>
          <p class="ods-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-2">Icon</h2>
      <a class="ods-personalized-content-link ods-personalized-content-link--icon" href="javascript:void(0)">
        <span class="ods-personalized-content-link__icon ods-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="ods-personalized-content-link__title">Title</h3>
          <p class="ods-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-2">Hover</h2>
      <a class="ods-personalized-content-link ods-personalized-content-link--icon ods-personalized-content-link--hover" href="javascript:void(0)">
        <span class="ods-personalized-content-link__icon ods-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="ods-personalized-content-link__title">Title</h3>
          <p class="ods-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-2">Focus</h2>
      <a class="ods-personalized-content-link ods-personalized-content-link--icon ods-personalized-content-link--focus" href="javascript:void(0)">
        <span class="ods-personalized-content-link__icon ods-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="ods-personalized-content-link__title">Title</h3>
          <p class="ods-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-2">Active</h2>
      <a class="ods-personalized-content-link ods-personalized-content-link--icon ods-personalized-content-link--active" href="javascript:void(0)">
        <span class="ods-personalized-content-link__icon ods-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="ods-personalized-content-link__title">Title</h3>
          <p class="ods-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-2">Visited</h2>
      <a class="ods-personalized-content-link ods-personalized-content-link--icon ods-personalized-content-link--visited" href="javascript:void(0)">
        <span class="ods-personalized-content-link__icon ods-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="ods-personalized-content-link__title">Title</h3>
          <p class="ods-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-2">Yellow border</h2>
      <a class="ods-personalized-content-link ods-personalized-content-link--icon ods-personalized-content-link--border-yellow" href="javascript:void(0)">
        <span class="ods-personalized-content-link__icon ods-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="ods-personalized-content-link__title">Title</h3>
          <p class="ods-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-2">Blue icon</h2>
      <a class="ods-personalized-content-link ods-personalized-content-link--icon ods-personalized-content-link--icon-blue" href="javascript:void(0)">
        <span class="ods-personalized-content-link__icon ods-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="ods-personalized-content-link__title">Title</h3>
          <p class="ods-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
  </div>
</div>
