<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-devtools-text-preset-3">Description</p>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-infobox osg-infobox--yellow">
        <h2 class="osg-infobox__heading">Important</h2>
        <p>Anything important about the component should be communicated in this box.</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <p class="osg-paragraph">Short description of the default state of the component.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <a class="osg-personalized-content-link" href="javascript:void(0)">
                  <div>
                    <h3 class="osg-personalized-content-link__title">Title</h3>
                    <p class="osg-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Icon</h2>
      <p class="osg-paragraph">Short description.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <a class="osg-personalized-content-link osg-personalized-content-link--icon" href="javascript:void(0)">
                  <span class="osg-personalized-content-link__icon osg-icon--heart" aria-hidden="true"></span>
                  <div>
                    <h3 class="osg-personalized-content-link__title">Title</h3>
                    <p class="osg-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Default</h2>
      <a class="osg-personalized-content-link" href="javascript:void(0)">
        <div>
          <h3 class="osg-personalized-content-link__title">Title</h3>
          <p class="osg-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Icon</h2>
      <a class="osg-personalized-content-link osg-personalized-content-link--icon" href="javascript:void(0)">
        <span class="osg-personalized-content-link__icon osg-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="osg-personalized-content-link__title">Title</h3>
          <p class="osg-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Hover</h2>
      <a class="osg-personalized-content-link osg-personalized-content-link--icon osg-personalized-content-link--hover" href="javascript:void(0)">
        <span class="osg-personalized-content-link__icon osg-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="osg-personalized-content-link__title">Title</h3>
          <p class="osg-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Focus</h2>
      <a class="osg-personalized-content-link osg-personalized-content-link--icon osg-personalized-content-link--focus" href="javascript:void(0)">
        <span class="osg-personalized-content-link__icon osg-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="osg-personalized-content-link__title">Title</h3>
          <p class="osg-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Active</h2>
      <a class="osg-personalized-content-link osg-personalized-content-link--icon osg-personalized-content-link--active" href="javascript:void(0)">
        <span class="osg-personalized-content-link__icon osg-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="osg-personalized-content-link__title">Title</h3>
          <p class="osg-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Visited</h2>
      <a class="osg-personalized-content-link osg-personalized-content-link--icon osg-personalized-content-link--visited" href="javascript:void(0)">
        <span class="osg-personalized-content-link__icon osg-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="osg-personalized-content-link__title">Title</h3>
          <p class="osg-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Yellow border</h2>
      <a class="osg-personalized-content-link osg-personalized-content-link--icon osg-personalized-content-link--border-yellow" href="javascript:void(0)">
        <span class="osg-personalized-content-link__icon osg-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="osg-personalized-content-link__title">Title</h3>
          <p class="osg-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Blue icon</h2>
      <a class="osg-personalized-content-link osg-personalized-content-link--icon osg-personalized-content-link--icon-blue" href="javascript:void(0)">
        <span class="osg-personalized-content-link__icon osg-icon--heart" aria-hidden="true"></span>
        <div>
          <h3 class="osg-personalized-content-link__title">Title</h3>
          <p class="osg-personalized-content-link__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </a>
    </div>
  </div>
</div>
