@use "system/breakpoints";
@use "system/colors";
@use "system/spacing";
@use "system/typography";
@use "system/units";

.osg-personalized-content-link {
  @extend %osg-padding-4, %osg-padding-6-breakpoint-large;

  border: 4px solid colors.$green-light;
  column-gap: units.unit-to-rem(3);
  @include breakpoints.large {
    column-gap: units.unit-to-rem(4);
  }
  display: grid;
  grid-template-columns: 1fr;
  text-decoration: none;
  width: 100%;

  &__icon {
    color: colors.$blue-dark;
    font-size: units.unit-to-rem(8);
    line-height: units.unit-to-rem(8);
    @include breakpoints.large {
      font-size: units.unit-to-rem(10);
      line-height: units.unit-to-rem(10);
    }
  }

  &__title {
    @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large;
    @extend %osg-text--weight-medium;
    @extend %osg-margin-bottom-1;
  }

  &__text {
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-light;
  }

  &:hover,
  &:focus,
  &:active,
  &--hover,
  &--focus,
  &--active {
    .osg-personalized-content-link__title,
    .osg-personalized-content-link__text {
      color: colors.$blue-hover;
    }
    .osg-personalized-content-link__title {
      text-decoration: underline;
    }
  }

  &:visited,
  &--visited {
    .osg-personalized-content-link__title,
    .osg-personalized-content-link__text {
      color: colors.$purple;
    }
  }

  &--icon {
    grid-template-columns: units.unit-to-rem(8) 1fr;
    @include breakpoints.large {
      grid-template-columns: units.unit-to-rem(10) 1fr;
    }
  }

  /**
   * Add modifiers for the color palette so that border and icon color can be changed.
   */
  @each $name, $color in colors.$colors {
    &--border-#{$name} {
      border-color: $color;
    }

    &--icon-#{$name} {
      .osg-personalized-content-link__icon {
        color: $color;
      }
    }
  }
}
