<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--8-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-search">
                  <form action="" method="GET" class="osg-search__form">
                    <input class="osg-search__input" type="search" autocomplete="off" placeholder="Search" aria-label="Search" />
                    <button type="submit" class="osg-search__button"><span class="osg-sr-only">Search</span></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Circle</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--8-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-search osg-search--circle">
                  <form action="" method="GET" class="osg-search__form">
                    <input class="osg-search__input" type="search" autocomplete="off" placeholder="Search" aria-label="Search" />
                    <button type="submit" class="osg-search__button"><span class="osg-sr-only">Search</span></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Inline</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--8-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-search osg-search--inline">
                  <div class="osg-search__form">
                    <input class="osg-search__input" type="search" autocomplete="off" placeholder="Search" aria-label="Search" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Dropdown</h2>
      <label class="osg-switch osg-margin-bottom-15" aria-labelledby="dropdown-text-1">
        <input type="checkbox" id="trigger-1" class="osg-switch__input components-form-search-dropdown" aria-controls="id-results-1" checked="checked" />
        <span class="osg-switch__background"></span>
        <span class="osg-switch__slider"></span>
        <span class="osg-switch__label-text" id="dropdown-text-1">Dropdown</span>
      </label>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--8-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-search osg-search--inline">
                  <div class="osg-search__form">
                    <input class="osg-search__input" id="input-1" type="search" autocomplete="off" placeholder="Search" aria-label="Search" aria-expanded="true" role="combobox" aria-haspopup="listbox" aria-owns="id-results-1" />
                  </div>
                  <div class="osg-search__dropdown" role="listbox" id="id-results-1" aria-label="search results">
                    <a class="osg-search__dropdown__item" role="option">Item A</a>
                    <a class="osg-search__dropdown__item" role="option">Item B</a>
                    <a class="osg-search__dropdown__item" role="option">Item C</a>
                    <a class="osg-search__dropdown__item" role="option">Item D</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-margin-top-100"></div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Dropdown with label</h2>
      <label class="osg-switch osg-margin-bottom-15" aria-labelledby="dropdown-text-2">
        <input type="checkbox" id="trigger-2" class="osg-switch__input components-form-search-dropdown" aria-controls="id-results-2" checked="checked" />
        <span class="osg-switch__background"></span>
        <span class="osg-switch__slider"></span>
        <span class="osg-switch__label-text" id="dropdown-text-2">Dropdown</span>
      </label>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--8-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-search osg-search--inline">
                  <label class="osg-search__label"
                    >Search
                    <input class="osg-search__input" id="input-2" type="search" autocomplete="off" aria-expanded="true" aria-haspopup="listbox" aria-owns="id-results-2" role="combobox" />
                  </label>
                  <div class="osg-search__dropdown" role="listbox" id="id-results-2" aria-label="search results">
                    <a class="osg-search__dropdown__item" role="option">Item A</a>
                    <a class="osg-search__dropdown__item" role="option">Item B</a>
                    <a class="osg-search__dropdown__item" role="option">Item C</a>
                    <a class="osg-search__dropdown__item" role="option">Item D</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-margin-top-100"></div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3">Default</h3>
      <div class="osg-search">
        <form action="" method="GET" class="osg-search__form">
          <input class="osg-search__input" type="search" autocomplete="off" placeholder="Search" aria-label="Search" />
          <button type="submit" class="osg-search__button"><span class="osg-sr-only">Search</span></button>
        </form>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3">Circle</h3>
      <div class="osg-search osg-search--circle">
        <form action="" method="GET" class="osg-search__form">
          <input class="osg-search__input" type="search" autocomplete="off" placeholder="Search" aria-label="Search" />
          <button type="submit" class="osg-search__button"><span class="osg-sr-only">Search</span></button>
        </form>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3">Inline</h3>
      <div class="osg-search osg-search--inline">
        <div class="osg-search__form">
          <input class="osg-search__input" type="search" autocomplete="off" placeholder="Search" aria-label="Search" />
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3">Dropdown</h3>
      <label class="osg-switch osg-margin-bottom-15" aria-labelledby="dropdown-text-3">
        <input type="checkbox" id="trigger-3" class="osg-switch__input components-form-search-dropdown" aria-controls="id-results-3" checked="checked" />
        <span class="osg-switch__background"></span>
        <span class="osg-switch__slider"></span>
        <span class="osg-switch__label-text" id="dropdown-text-3">Dropdown</span>
      </label>
      <div class="osg-search osg-search--inline">
        <div class="osg-search__form">
          <input class="osg-search__input" id="input-3" type="search" autocomplete="off" placeholder="Search" aria-label="Search" aria-expanded="true" aria-haspopup="listbox" aria-owns="id-results-3" role="combobox" />
        </div>
        <div class="osg-search__dropdown" role="listbox" id="id-results-3" aria-label="search results">
          <a class="osg-search__dropdown__item" role="option">Item A</a>
          <a class="osg-search__dropdown__item" role="option">Item B</a>
          <a class="osg-search__dropdown__item" role="option">Item C</a>
          <a class="osg-search__dropdown__item" role="option">Item D</a>
        </div>
      </div>
      <p class="osg-text-5 osg-margin-top-15">
        Maecenas scelerisque interdum placerat. Nullam nec mauris nibh. Mauris hendrerit rhoncus ante, vel dignissim lacus aliquam a. Ut dapibus augue id velit vehicula dictum. Ut ut aliquam neque. Suspendisse potenti. In tincidunt pretium elit, ac ultricies orci rhoncus nec. Aliquam luctus, dui quis ultrices euismod, elit dolor feugiat nunc, ut viverra nisl sapien non massa.
      </p>
      <p class="osg-text-5 osg-margin-top-15">
        Maecenas scelerisque interdum placerat. Nullam nec mauris nibh. Mauris hendrerit rhoncus ante, vel dignissim lacus aliquam a. Ut dapibus augue id velit vehicula dictum. Ut ut aliquam neque. Suspendisse potenti. In tincidunt pretium elit, ac ultricies orci rhoncus nec. Aliquam luctus, dui quis ultrices euismod, elit dolor feugiat nunc, ut viverra nisl sapien non massa.
      </p>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3">Dropdown with label</h3>
      <label class="osg-switch osg-margin-bottom-15" aria-labelledby="dropdown-text-4">
        <input type="checkbox" id="trigger-4" class="osg-switch__input components-form-search-dropdown" aria-controls="id-results-4" checked="checked" />
        <span class="osg-switch__background"></span>
        <span class="osg-switch__slider"></span>
        <span class="osg-switch__label-text" id="dropdown-text-4">Dropdown</span>
      </label>
      <div class="osg-search osg-search--inline">
        <label class="osg-search__label"
          >Search
          <input class="osg-search__input" id="input-4" type="search" autocomplete="off" aria-expanded="true" aria-haspopup="listbox" aria-owns="id-results-4" role="combobox" />
        </label>
        <div class="osg-search__dropdown" role="listbox" id="id-results-4" aria-label="search results">
          <a class="osg-search__dropdown__item" role="option">Item A</a>
          <a class="osg-search__dropdown__item" role="option">Item B</a>
          <a class="osg-search__dropdown__item" role="option">Item C</a>
          <a class="osg-search__dropdown__item" role="option">Item D</a>
        </div>
      </div>
      <p class="osg-text-5 osg-margin-top-15">
        Maecenas scelerisque interdum placerat. Nullam nec mauris nibh. Mauris hendrerit rhoncus ante, vel dignissim lacus aliquam a. Ut dapibus augue id velit vehicula dictum. Ut ut aliquam neque. Suspendisse potenti. In tincidunt pretium elit, ac ultricies orci rhoncus nec. Aliquam luctus, dui quis ultrices euismod, elit dolor feugiat nunc, ut viverra nisl sapien non massa.
      </p>
      <p class="osg-text-5 osg-margin-top-15">
        Maecenas scelerisque interdum placerat. Nullam nec mauris nibh. Mauris hendrerit rhoncus ante, vel dignissim lacus aliquam a. Ut dapibus augue id velit vehicula dictum. Ut ut aliquam neque. Suspendisse potenti. In tincidunt pretium elit, ac ultricies orci rhoncus nec. Aliquam luctus, dui quis ultrices euismod, elit dolor feugiat nunc, ut viverra nisl sapien non massa.
      </p>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3">Testcases</h3>
      <div class="osg-flex">
        <div class="osg-search">
          <form action="" method="GET" class="osg-search__form">
            <input class="osg-search__input" type="search" autocomplete="off" placeholder="Search" aria-label="Search" />
            <button type="submit" class="osg-search__button"><span class="osg-sr-only">Search</span></button>
          </form>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-flex">
        <div class="osg-search osg-search--circle">
          <form action="" method="GET" class="osg-search__form">
            <input class="osg-search__input" type="search" autocomplete="off" placeholder="Search" aria-label="Search" />
            <button type="submit" class="osg-search__button"><span class="osg-sr-only">Search</span></button>
          </form>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3">Vue</h3>
      <div id="osg-search-vue">
        <osg-search id="osg-search-1" :value="value" :items="items" :item-list-scroll="true" :input-focus-after-item-select="true" v-on:item-select="event('item-select', $event)" v-on:input-change="event('input-change', $event)" v-on:input-enter="event('input-enter', $event)" v-on:itemlist-blur="event('itemlist-blur', $event)">
          <template #listitem="{ item }">
            <span class="osg-text-5">{{ item.text }}</span>
            <span v-if="item.subtext" class="osg-text-7">{{ item.subtext }}</span>
          </template>
        </osg-search>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-margin-top-100">&nbsp;</div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3">Scroll in dropdown</h3>
      <div class="osg-search osg-search--inline">
        <label class="osg-search__label"
          >Search
          <input class="osg-search__input" id="input-4" type="search" autocomplete="off" aria-expanded="true" aria-haspopup="listbox" aria-owns="id-results-4" role="combobox" />
        </label>
        <div class="osg-search__dropdown osg-search__dropdown--scroll" role="listbox" id="id-results-4" aria-label="search results">
          <a class="osg-search__dropdown__item" role="option">Item A</a>
          <a class="osg-search__dropdown__item" role="option">Item B</a>
          <a class="osg-search__dropdown__item" role="option">Item C</a>
          <a class="osg-search__dropdown__item" role="option">Item D</a>
          <a class="osg-search__dropdown__item" role="option">Item E</a>
          <a class="osg-search__dropdown__item" role="option">Item F</a>
          <a class="osg-search__dropdown__item" role="option">Item G</a>
          <a class="osg-search__dropdown__item" role="option">Item H</a>
        </div>
      </div>
    </div>
  </div>
</div>
