@use "system/colors";
@use "system/fonts";
@use "system/icons";
@use "system/spacing";
@use "system/states";

.osg-search {
  @extend %osg-text-5;
  position: relative;

  &__form {
    display: flex;
  }

  &__input {
    @extend %osg-padding-horizontal-15, %osg-padding-vertical-10;
    @extend %osg-color-text-blue-dark;
    border: 2px solid colors.$blue-dark;
    border-radius: 0;
    flex-grow: 1;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    width: 100%;

    &:hover {
      border: 2px solid colors.$blue-contrast !important;
    }

    &:focus {
      border: 4px solid colors.$blue-contrast !important;
      padding: spacing.$space-10 - 2px spacing.$space-15 - 2px !important;
      outline: none;
    }
  }

  &__button {
    @extend %osg-margin-left-10;
    background-color: colors.$blue-dark;
    border: 2px solid colors.$blue-dark;
    color: colors.$white;

    font-size: inherit;
    padding: 0.35em .4725em;
    cursor: pointer;

    &::after {
      font-family: 'Oslo Icons' !important;
      font-size: fonts.$size-30;
      line-height: 1em;
      content: map-get(icons.$icons, 'magnifying-glass-small') !important;
      vertical-align: middle;
    }

    &:hover {
      background-color: states.$hover !important;
      border: 2px solid states.$hover !important;
      color: states.$hover-text !important;
    }
  }

  &__dropdown {
    @extend %osg-padding-vertical-15;
    background-color: colors.$white;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,.1);
    left: 0;
    list-style: none;
    right: 0;
    position: absolute;
    z-index: 99999;

    &__item {
      display: block;
      padding: spacing.$space-5 spacing.$space-15;
      text-decoration: none;

      &:hover {
        background-color: colors.$gray-light;
        color: states.$hover !important;
        text-decoration: underline;
      }
    }
  }

  &--circle {
    & .osg-search__input {
      border: 2px solid colors.$yellow;
    }

    & .osg-search__button {
      @extend %osg-margin-left-none;
      background-color: colors.$yellow;
      border: 2px solid colors.$yellow;
      border-radius: 50%;
      color: colors.$blue-dark;
    }
  }

  &--inline {
    position: relative;

    &::after {
      content: map-get(icons.$icons, 'magnifying-glass-small') !important;
      font-family: 'Oslo Icons' !important;
      font-size: fonts.$size-30;
      line-height: 1em;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    & .osg-search__input {
      padding-right: 50px !important;
    }
  }
}
