@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/icons";
@use "system/spacing";
@use "system/states";
@use "system/units";

.osg-search {
  $padding-vertical: units.unit-to-rem(3);
  $padding-horizontal: units.unit-to-rem(4);

  @extend %osg-text-size-kilo, %osg-text-size-juliett-breakpoint-large;
  @extend %osg-text-weight-light;
  position: relative;

  &__form {
    display: flex;
  }

  &__label {
    cursor: pointer;
    display: block;
    width: 100%;
    @extend %osg-text-size-kilo, %osg-text-size-juliett-breakpoint-large;
    @extend %osg-text-weight-medium;

    & .osg-search__input {
      @extend %osg-margin-top-2;
    }
  }

  &__input {
    padding: $padding-vertical $padding-horizontal;
    @extend %osg-color-text-blue-dark;
    border: 2px solid colors.$blue-dark;
    border-radius: 0;
    flex-grow: 1;
    font-size: inherit;
    font-family: inherit;
    width: 100%;

    &:hover {
      border: 2px solid colors.$blue-contrast !important;
    }

    &:focus {
      border: 4px solid colors.$blue-contrast !important;
      padding: calc($padding-vertical - 2px) calc($padding-horizontal - 2px) !important;
      outline: none;
    }

    &[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none;
      background: url(/node_modules/styleguide/src/assets/icons/cross-circle.svg) no-repeat;
      background-size: contain;
      height: 1.125rem;
      margin-right: -5px;
      opacity: 0;
      pointer-events: none;
      width: 1.125rem;
    }

    &[type="search"]:focus::-webkit-search-cancel-button {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__button {
    @extend %osg-margin-left-3;

    background-color: colors.$blue-dark;
    border: 2px solid colors.$blue-dark;
    color: colors.$white;

    font-size: inherit;
    padding: 0.35rem 0.5375rem;
    @include breakpoints.large {
      padding: 0.35rem 0.6rem;
    }
    cursor: pointer;

    &::after {
      @extend %osg-text-size-delta;

      font-family: "Oslo Icons" !important;
      line-height: 1em;
      content: map-get(icons.$icons, "magnifying-glass-small") !important;
      vertical-align: middle;
    }

    &:hover {
      background-color: states.$hover !important;
      border: 2px solid states.$hover !important;
      color: states.$hover-text !important;
    }
  }

  &__dropdown {
    @extend %osg-padding-vertical-4;
    background-color: colors.$white;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    list-style: none;
    right: 0;
    position: absolute;
    z-index: 99999;

    &--scroll {
      max-height: 200px;
      overflow-y: auto;
    }

    &__item {
      display: flex;
      flex-direction: column;
      padding: 5px 15px;
      text-decoration: none;

      &:hover,
      &:focus,
      &--focus {
        background-color: colors.$gray-light;
        color: states.$hover !important;
        text-decoration: underline;
      }

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          background-color: colors.$gray-light;
          border-top: 5px solid colors.$gray-light;
          border-bottom: 5px solid colors.$gray-light;
          color: states.$hover !important;
          margin: -5px -15px;
          padding: 0 15px;
          text-decoration: underline;
        }
      }
    }
  }

  &--circle {
    & .osg-search__input {
      border: 2px solid colors.$yellow;
    }

    & .osg-search__button {
      @extend %osg-margin-left-0;
      background-color: colors.$yellow;
      border: 2px solid colors.$yellow;
      border-radius: 50%;
      color: colors.$blue-dark;
    }
  }

  &--inline {
    position: relative;

    &::after {
      content: map-get(icons.$icons, "magnifying-glass-small") !important;
      font-family: "Oslo Icons" !important;
      @extend %osg-text-size-delta;
      line-height: 1em;
      position: absolute;
      bottom: $padding-vertical;
      right: $padding-horizontal;
    }

    & .osg-search__input {
      padding-right: 50px !important;
    }
  }
}
