@use "system/breakpoints";
@use "system/visibility";

$displays: "none" "block" "inline" "inline-block" "flex" "flex-inline";

@each $display in $displays {
  .ods-#{$display} {
    display: #{$display} !important;
  }

  @include breakpoints.medium {
    .ods-#{$display}-breakpoint-medium {
      display: #{$display} !important;
    }
  }

  @include breakpoints.large {
    .ods-#{$display}-breakpoint-large {
      display: #{$display} !important;
    }
  }
}

.ods-full-height {
  height: 100%;
}

$widths: (
  100: 100%,
  75: 75%,
  50: 50%,
  25: 25%,
);
$heights: (
  100: 100%,
  75: 75%,
  50: 50%,
  25: 25%,
);

@each $width, $value in $widths {
  .ods-width-#{$width} {
    width: $value;
  }
}

@each $height, $value in $heights {
  .ods-height-#{$height} {
    height: $value;
  }
}

.ods-invisible {
  @extend %ods-invisible;
}

@include breakpoints.medium {
  .ods-invisible-breakpoint-medium {
    visibility: hidden !important;
  }
}

@include breakpoints.large {
  .ods-invisible-breakpoint-large {
    visibility: hidden !important;
  }
}

.ods-sr-only {
  @extend %ods-sr-only;
}
