.osg-icon-link
  a
    display: block

  &__link-icon > *
    margin: 0 15px 0 0

  &__link-text
    display: flex
    flex-direction: column

  &__heading
    @extend .osg-u-heading-4
    padding-bottom: 5px

  &__description
    @extend .osg-u-text-5
