.osg-icon-link
  $root: &
  $link-icon: #{$root}__link-icon
  $link-text: #{$root}__link-text
  $heading: #{$root}__heading
  $description: #{$root}__description

  display: flex
  flex-direction: row

  #{$link-icon}
    margin: 0 15px 0 0
    @extend .osg-u-text-1

  #{$link-text}
    display: flex
    flex-direction: column

  #{$heading}
    @extend .osg-u-text-2

  #{$description}
    @extend .osg-u-text-4
