<div class="osg-call-to-action">
  {% include "atoms/decorators/figure/figure.twig" %}
  <div class="section container">
    <div class="osg-call-to-action__content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
