<div class="osg-call-to-action">
  {% include "atoms/decorators/figure/figure.twig" %}
  <div class="section container">
    <div class="osg-call-to-action__content">
      <h2>{{ callToAction.heading }}</h2>
      <p>{{ callToAction.content }}</p>
      {% include 'atoms/buttons/button/button.twig' %}
    </div>
  </div>
</div>
