.osg-call-to-action
  $root: &
  $content: #{$root}__content

  position: relative
  margin-bottom: 12px
  +osg-mq-tablet-and-up
    height: 700px
    margin-bottom: 0

  .section
    padding: 0
    +osg-mq-tablet-and-up
      padding-left: 1.5rem
      padding-right: 1.5rem

  #{$content}
    max-width: 550px
    overflow: hidden
    padding: 30px 30px 60px 25px
    position: relative
    background-color: $osg-color-green-light
    color: $osg-color-green-dark
    +osg-mq-mobile-only()
      margin-left: 30px
      margin-top: -100px
    +osg-mq-tablet-and-up
      padding: 50px 100px 50px 50px
      display: inline-block

  .osg-figure
    width: 100%
    img
      object-fit: cover
      height: 377px
      width: 100%
    +osg-mq-tablet-and-up
      margin-top: 100px
      position: absolute
      img
        height: 600px
