<div class="osg-u-docs-icons">
  <p>The icons can be used as background by setting the util class to <code>osg-icon osg-icon--modifier</code> replacing the modifier with the icons name.</p>
  <br>
  <p>You can use the color-text utils to color the icons like this:</p>
  <pre>&lt;span class="osg-icon osg-icon--exclamation-mark-circle osg-u-color-text-red"&gt;&lt;/span&gt;</pre>
  <p>To get this:</p>
  <span class="osg-icon osg-icon--exclamation-mark-circle osg-color-text-red"></span>
  <br><br>
  <p>You can use the heading and text utils to change the size like this:</p>
  <pre>&lt;span class="osg-icon osg-icon--exclamation-mark-circle osg-u-heading-1"&gt;&lt;/span&gt;</pre>
  <p>To get this:</p>
  <span class="osg-icon osg-icon--exclamation-mark-circle osg-u-heading-1"></span>
  <br><br>
</div>
<div class="osg-icons-cols">
  {% for item in icons.items %}
    <div class="osg-icons-cols__col">
      <p class="osg-u-padding-bottom-2">{{ item.name }}</p>
      {% include 'components/icon/icon.twig'
        with {
          icon: {
            modifiers: 'osg-icon--' ~ item.name
          }
        }
      %}
    </div>
  {% endfor %}
</div>

