@use "sass:map";
@use "system/icons";
@use "system/units";

$sizes: (
  "alfa": (
    "size": 4rem,
    "line-height": 5.125rem,
    "spacing": 4,
  ),
  "bravo": (
    "size": 3.125rem,
    "line-height": 3.75rem,
    "spacing": 3,
  ),
  "charlie": (
    "size": 3rem,
    "line-height": 3.375rem,
    "spacing": 3,
  ),
  "delta": (
    "size": 2.375rem,
    "line-height": 2.75rem,
    "spacing": 2,
  ),
  "echo": (
    "size": 2.25rem,
    "line-height": 2.625rem,
    "spacing": 2,
  ),
  "foxtrot": (
    "size": 2.125rem,
    "line-height": 2.5rem,
    "spacing": 2,
  ),
  "golf": (
    "size": 2rem,
    "line-height": 2.25rem,
    "spacing": 2,
  ),
  "hotel": (
    "size": 1.75rem,
    "line-height": 2.125rem,
    "spacing": 1,
  ),
  "india": (
    "size": 1.75rem,
    "line-height": 2rem,
    "spacing": 1,
  ),
  "juliett": (
    "size": 1.5rem,
    "line-height": 1.75rem,
    "spacing": 1,
  ),
  "kilo": (
    "size": 1.375rem,
    "line-height": 1.5rem,
    "spacing": 1,
  ),
  "lima": (
    "size": 1.25rem,
    "line-height": 1.375rem,
    "spacing": 1,
  ),
);

.osg-icon-align {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

@each $name, $content in $sizes {
  .osg-icon--size-#{$name} {
    font-size: map.get($sizes, $name, "size");
    line-height: map.get($sizes, $name, "line-height");
    margin-right: units.unit-to-rem(map.get($sizes, $name, "spacing"));
  }
}

@each $name, $content in icons.$icons {
  .osg-icons--#{$name} {
    font-family: "Oslo Icons";

    &:before {
      content: "#{$content}";
    }
  }
}
