<div class="osg-shape {{ shape.variant | default('oka-v-default')  }} {{ shape.modifiers | default(null) }}">
  {% if shape.url is defined %}
    <a href="{{ shape.url }}" target="_blank">
  {% endif %}

  {% if "osg-v-image" in shape.variant %}
    {% include "atoms/decorators/figure/figure.twig" %}
  {% else %}
    <span>{{ shape.text|raw }}</span>
  {% endif %}

  {% if shape.url is defined %}
    </a>
  {% endif %}
</div>
