@use "components/form/input/mixins";
@use "system/colors";
@use "system/typography";
@use "system/icon-map";
@use "system/spacing";
@use "system/breakpoints";

.osg-checkbox {
  @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large;
  color: inherit;
  cursor: pointer;
  
  &__label {
    @include mixins.form-label;
  }
  
  &__wrapper {
    @extend %osg-margin-top-2;
    display: inline-flex;
  }

  &__required {
    @extend %osg-margin-top-1;
    @extend %osg-padding-0;
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-light;
  }

  & input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  &--text-align-top {
    align-items: flex-start;
    
    .osg-checkbox__text {
      margin-top: -5px;
    }
  }

  &__checkmark {
    @extend %osg-margin-top-1-breakpoint-medium;
    margin-top: 0.12em;
    position: relative;
    border: 2px solid colors.$blue-dark;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    
    @include breakpoints.large {
      margin-top: 0.16em;
    }
  }

  &__checkmark:after {
    border: solid white;
    border-width: 0 2px 2px 0;
    content: "";
    display: none;
    height: 10px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    width: 5px;
  }

  &__text {
    border-style: hidden;
    hyphens: auto;
    @extend %osg-padding-left-2;
  }
  
  &--error-message {
    @include mixins.error-message;
    background-color: colors.$red-30;
    border-left: 0.375rem solid colors.$red;
  }
  
  &__icon {
    @extend %osg-text--size-juliett, %osg-text--size-juliett-breakpoint-large;
    @extend %osg-padding-right-2;

    line-height: 1.5rem;
    align-self: baseline;

    @include breakpoints.large {
      line-height: 1.75rem;
    }
  }

  &:hover span,
  &--hover span {
    & input:not([disabled]) {
      border-color: colors.$blue-state;
      color: colors.$blue-state;
    }
  }

  &:focus-within &__checkmark,
  & input:focus ~ &__checkmark,
  &--focus &__checkmark {
    &:not([disabled]) {
      color: colors.$blue-state;
      outline: 2px solid colors.$purple-light;
    }
  }

  &:focus-visible ~ &__checkmark {
    outline-style: none;
  }

  & input:focus ~ &__text,
  &--focus &__text {
    @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large;
    @extend %osg-text--weight-medium;
  }

  & input:hover ~ span,
  &--hover span,
  & input:focus ~ span,
  &--focus span,
  & input:checked:hover ~ span,
  & input:checked:focus ~ span {
    border-color: colors.$blue-state;
    color: colors.$blue-state;
  }

  & input:checked ~ &__checkmark:after {
    display: block;
  }

  & input:checked ~ &__checkmark {
    background-color: colors.$blue-state;
    outline: none;
  }

  & input:checked ~ &__text {
    color: colors.$blue-state;
  }

  & input:checked ~ span {
    @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large;
    @extend %osg-text--weight-medium;
    border-color: colors.$blue-state;
    color: colors.$blue-dark;
  }

  & input:disabled:checked ~ &__checkmark {
    background-color: colors.$grayscale-40;
  }

  & input:disabled ~ span,
  & input:disabled:checked ~ span {
    border-color: colors.$grayscale-40;
    color: colors.$grayscale-40;
  }

  & input:disabled:hover ~ span {
    color: colors.$grayscale-40;
    border-color: colors.$grayscale-40;
  }

  &--error {
    & input:checked ~ .osg-checkbox__checkmark {
      background-color: colors.$red;
      border-color: colors.$red;
    }

    & input:checked:hover ~ .osg-checkbox__checkmark,
    & input:checked:focus ~ .osg-checkbox__checkmark {
      background-color: colors.$blue-state;
      border-color: colors.$blue-state;
    }
  }
}
