<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">Checkbox is a widget that permits the user to make a binary choice, that is a choice between one of two possible mutually exclusive options.</p>
      <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-30">
        <h2 class="osg-infobox__heading">Rules for components</h2>
        <p class="osg-paragraph">
          The checkbox text should never take the 100% width of the page in medium and up breakpoints.
        </p>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <label class="osg-checkbox">
                  <input type="checkbox">
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text">
                    Text
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <label class="osg-checkbox">
                  <input type="checkbox" checked="checked">
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text">
                    Text
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">States</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <label class="osg-checkbox">
                  <input type="checkbox" disabled="disabled">
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text">
                    Text
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="osg-paragraph">
        When error is used thing about what information you give the user in the error message.
      </p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-row">
                  <div class="osg-row__column osg-row__column--6-breakpoint-medium">
                    <label class="osg-checkbox osg-checkbox--error">
                      <input type="checkbox" aria-describedby="error-1">
                      <span class="osg-checkbox__checkmark"></span>
                      <span class="osg-checkbox__text">
                        Text
                      </span>
                    </label>
                    <div class="osg-checkbox osg-checkbox--error-message" id="error-1">Error message</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox">
          <input type="checkbox" checked="checked">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Checked
          </span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox">
          <input type="checkbox">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Unchecked
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox osg-checkbox--hover">
          <input type="checkbox" checked="checked">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Hover
          </span>
        </label>
        <label class="osg-checkbox osg-checkbox--hover">
          <input type="checkbox">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Hover
          </span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox osg-checkbox--focus">
          <input type="checkbox" checked="checked">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Focus/active
          </span>
        </label>
        <label class="osg-checkbox osg-checkbox--focus">
          <input type="checkbox">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Focus/active
          </span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox">
          <input type="checkbox" disabled="disabled" checked="checked">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Disabled
          </span>
        </label>
        <label class="osg-checkbox">
          <input type="checkbox" disabled="disabled">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Disabled
          </span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox osg-checkbox--error">
          <input type="checkbox" aria-describedby="error-1" checked="checked">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Error/invalid
          </span>
        </label>
        <label class="osg-checkbox osg-checkbox--error">
          <input type="checkbox" aria-describedby="error-1">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Error/invalid
          </span>
        </label>
        <div class="osg-checkbox osg-checkbox--error-message" id="error-1">Error message</div>
      </div>
    </div>
  </div>
</div>
