<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-devtools-text-preset-3">Checkbox is a widget that permits the user to make a binary choice, that is a choice between one of two possible mutually exclusive options.</p>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-infobox osg-infobox--yellow">
        <h2>Important</h2>
        <p>The checkbox text should never take the 100% width of the page in medium and up breakpoints.</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-checkbox">
                  <label class="osg-checkbox__wrapper">
                  <input type="checkbox" />
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text"> Text </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-checkbox">
                  <span class="osg-checkbox__label"> Label </span>
                  <label class="osg-checkbox__wrapper">
                    <input type="checkbox" checked="checked" />
                    <span class="osg-checkbox__checkmark"></span>
                    <span class="osg-checkbox__text"> Text </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-checkbox osg-checkbox--text-align-top">
                  <label class="osg-checkbox__wrapper">
                  <input type="checkbox" />
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text"> Lorem Ipsum is simply dummy text of the print and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">States</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-checkbox">
                  <label class="osg-checkbox__wrapper">
                    <input type="checkbox" disabled="disabled" />
                    <span class="osg-checkbox__checkmark"></span>
                    <span class="osg-checkbox__text"> Text </span>
                  </label>
                </div>
            </div>
          </div>
        </div>
      </div>
      <p class="osg-paragraph">When error is used thing about what information you give the user in the error message.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--6-breakpoint-medium">
              <div class="osg-checkbox osg-checkbox--error">
                <label class="osg-checkbox__wrapper">
                  <input type="checkbox" aria-describedby="error-1" />
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text"> Text </span>
                </label>
              </div>
              <div class="osg-checkbox osg-checkbox--error-message" id="error-1"><span class="osg-checkbox__icon osg-icon--error-hexa" aria-hidden="true"></span>Error message</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Required</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--6-breakpoint-medium">
              <div class="osg-checkbox">
                <label class="osg-checkbox__wrapper">
                  <input type="checkbox" aria-describedby="required" checked="" />
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text"> Text </span>
                </label>
              </div>
              <div class="osg-checkbox__required" id="required-1">* Required</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h2 class="osg-devtools-text-preset-2">Default</h2>
        </div>
      </div>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-checkbox">
            <span class="osg-checkbox__label"> Label </span>
            <label class="osg-checkbox__wrapper">
              <input type="checkbox" checked="checked" />
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Checked </span>
            </label>
          </div>
          <div class="osg-checkbox">
            <input type="checkbox" />
            <label class="osg-checkbox__wrapper">
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Unchecked </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">States</h2>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-checkbox osg-checkbox--hover">
            <label class="osg-checkbox__wrapper">
              <input type="checkbox" checked="checked" />
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Hover </span>
            </label>
          </div>
          <div class="osg-checkbox osg-checkbox--hover">
            <label class="osg-checkbox__wrapper">
              <input type="checkbox" />
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Hover </span>
            </label>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-checkbox osg-checkbox--focus">
            <label class="osg-checkbox__wrapper">
              <input type="checkbox" checked="checked" />
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Focus/active </span>
            </label>
          </div>
          <div class="osg-checkbox osg-checkbox--focus">
            <label class="osg-checkbox__wrapper">
              <input type="checkbox" />
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Focus/active </span>
            </label>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-checkbox">
            <label class="osg-checkbox__wrapper">
              <input type="checkbox" disabled="disabled" checked="checked" />
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Disabled </span>
            </label>
          </div>
          <div class="osg-checkbox">
            <label class="osg-checkbox__wrapper">
              <input type="checkbox" disabled="disabled" />
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Disabled </span>
            </label>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-checkbox osg-checkbox--error">
            <label class="osg-checkbox__wrapper">
              <input type="checkbox" aria-describedby="error-2" checked="checked" />
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Error/invalid </span>
            </label>
          </div>
          <div class="osg-checkbox osg-checkbox--error">
            <label class="osg-checkbox__wrapper">
              <input type="checkbox" aria-describedby="error-2" />
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Error/invalid </span>
            </label>
          </div>
          <div class="osg-checkbox osg-checkbox--error-message" id="error-2">Error message</div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-checkbox">
            <label class="osg-checkbox__wrapper">
              <input type="checkbox" aria-describedby="required" checked="" />
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text"> Text </span>
            </label>
          </div>
          <div class="osg-checkbox__required" id="required-1">* Required</div>
        </div>
      </div>
    </div>

    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Vue</h2>
      <div id="osg-checkbox-vue-1">
        <osg-checkbox :checked="true" label="Label" error-id="osg-vue-checkbox-component" text="Name" name="name" value="50" />
      </div>
    </div>
  </div>
</div>
