<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox">
          <input type="checkbox" checked="checked">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Checked
          </span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox">
          <input type="checkbox">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Unchecked
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox osg-checkbox--hover">
          <input type="checkbox" checked="checked">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Hover
          </span>
        </label>
        <label class="osg-checkbox osg-checkbox--hover">
          <input type="checkbox">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Hover
          </span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox osg-checkbox--focus">
          <input type="checkbox" checked="checked">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Focus/active
          </span>
        </label>
        <label class="osg-checkbox osg-checkbox--focus">
          <input type="checkbox">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Focus/active
          </span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox">
          <input type="checkbox" disabled="disabled" checked="checked">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Disabled
          </span>
        </label>
        <label class="osg-checkbox">
          <input type="checkbox" disabled="disabled">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Disabled
          </span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-checkbox osg-checkbox--error">
          <input type="checkbox" aria-describedby="error-1" checked="checked">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Error/invalid
          </span>
        </label>
        <label class="osg-checkbox osg-checkbox--error">
          <input type="checkbox" aria-describedby="error-1">
          <span class="osg-checkbox__checkmark"></span>
          <span class="osg-checkbox__text">
            Error/invalid
          </span>
        </label>
        <div class="osg-checkbox osg-checkbox--error-message" id="error-1">Error message</div>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Group of checkboxes</h2>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <fieldset class="osg-fieldset">
          <legend>Select the options:</legend>
          <div>
            <label class="osg-checkbox">
              <input type="checkbox" name="checkbox-1" checked="checked">
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text">
                Option 1
              </span>
            </label>
            <label class="osg-checkbox">
              <input type="checkbox" name="checkbox-1">
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text">
                Option 2
              </span>
            </label>
          </div>
        </fieldset>
      </div>
    </div>
</div>
