@use "components/form/input/mixins";
@use "system/colors";
@use "system/typography";
@use "system/icons";
@use "system/spacing";

.osg-checkbox {
  @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large;
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;

  &__required {
    @extend %osg-margin-top-1;
    @extend %osg-padding-0;
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-light;
  }

  & input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  &--text-align-top {
    align-items: flex-start;

    .osg-checkbox__text {
      margin-top: -5px;
    }
  }

  &__checkmark {
    position: relative;
    border: 2px solid colors.$blue-dark;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &__checkmark:after {
    border: solid white;
    border-width: 0 2px 2px 0;
    content: "";
    display: none;
    height: 10px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    width: 5px;
  }

  &__text {
    border-style: hidden;
    hyphens: auto;
    @extend %osg-padding-left-3;
  }

  &--error-message {
    @include mixins.error-message;
    display: block;
  }

  &:hover span,
  &--hover span {
    & input:not([disabled]) {
      border-color: colors.$blue-hover;
      color: colors.$blue-hover;
    }
  }

  &:focus-within &__checkmark,
  & input:focus ~ &__checkmark,
  &--focus &__checkmark {
    &:not([disabled]) {
      color: colors.$blue-hover;
      outline: initial;
    }
  }

  &:focus-visible ~ &__checkmark {
    outline-style: none;
  }

  & input:focus ~ &__text,
  &--focus &__text {
    @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large;
    @extend %osg-text--weight-medium;
  }

  & input:hover ~ span,
  &--hover span,
  & input:focus ~ span,
  &--focus span,
  & input:checked:hover ~ span,
  & input:checked:focus ~ span {
    border-color: colors.$blue-hover;
    color: colors.$blue-hover;
  }

  & input:checked ~ &__checkmark:after {
    display: block;
  }

  & input:checked ~ &__checkmark {
    background-color: colors.$blue-hover;
  }

  & input:checked ~ &__text {
    color: colors.$blue-hover;
  }

  & input:checked ~ span {
    @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large;
    @extend %osg-text--weight-medium;
    border-color: colors.$blue-contrast;
    color: colors.$blue-dark;
  }

  & input:disabled:checked ~ &__checkmark {
    background-color: colors.$grayscale-40;
  }

  & input:disabled ~ span,
  & input:disabled:checked ~ span {
    border-color: colors.$grayscale-40;
    color: colors.$grayscale-40;
  }

  & input:disabled:hover ~ span {
    color: colors.$grayscale-40;
    border-color: colors.$grayscale-40;
  }

  &--error {
    & span,
    & input:checked ~ .osg-checkbox__text {
      border-color: colors.$red;
      color: colors.$red;
    }

    & input:checked ~ .osg-checkbox__checkmark {
      background-color: colors.$red;
      border-color: colors.$red;
    }

    & input:checked:hover ~ .osg-checkbox__checkmark,
    & input:checked:focus ~ .osg-checkbox__checkmark {
      background-color: colors.$blue-hover;
      border-color: colors.$blue-hover;
    }
  }
}
