@use "components/form/input/mixins";
@use "system/colors";
@use "system/typography";
@use "system/icons";
@use "system/spacing";

.osg-checkbox {
  @extend %osg-text-5;
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;

  & input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  &--text-align-top {
    align-items: flex-start;

    .osg-checkbox__text {
      margin-top: -(spacing.$space-5);
    }
  }

  &__checkmark {
    position: relative;
    border: 2px solid colors.$blue-dark;
    width: spacing.$space-20;
    height: spacing.$space-20;
    flex-shrink: 0;
  }

  &__checkmark:after {
    border: solid white;
    border-width: 0 2px 2px 0;
    content: "";
    display: none;
    height: spacing.$space-10;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    width: spacing.$space-5;
  }

  &__text {
    border-style: hidden;
    hyphens: auto;
    padding-left: spacing.$space-10;
  }

  &--error-message {
    @include mixins.error-message;
    display: block;
  }

  &:hover span,
  &--hover span {
    & input:not([disabled]) {
      border-color: colors.$blue-contrast;
      color: colors.$blue-contrast;
    }
  }

  &:focus-within &__checkmark,
  & input:focus ~ &__checkmark,
  &--focus &__checkmark {
    &:not([disabled]) {
      color: colors.$blue-contrast;
      outline: initial;
      outline-style: solid;
      outline-width: 2px;
    }
  }

  &:focus-visible ~ &__checkmark {
    outline-style: none;
  }

  & input:focus ~ &__text,
  &--focus &__text {
    @extend %osg-text-4;
  }

  & input:hover ~ span,
  &--hover span,
  & input:focus ~ span,
  &--focus span,
  & input:checked:hover ~ span,
  & input:checked:focus ~ span {
    border-color: colors.$blue-contrast;
    color: colors.$blue-contrast;
  }

  & input:checked ~ &__checkmark:after {
    display: block;
  }

  & input:checked ~ &__checkmark {
    background-color: colors.$blue-contrast;
  }

  & input:checked ~ &__text {
    color: colors.$blue-contrast;
  }

  & input:checked ~ span {
    @extend %osg-text-4;
    border-color: colors.$blue-contrast;
    color: colors.$blue-dark;
  }

  & input:disabled:checked ~ &__checkmark {
    background-color: colors.$grayscale-40;
  }

  & input:disabled ~ span,
  & input:disabled:checked ~ span {
    border-color: colors.$grayscale-40;
    color: colors.$grayscale-40;
  }

  & input:disabled:hover ~ span {
    color: colors.$grayscale-40;
    border-color: colors.$grayscale-40;
  }

  &--error {
    & span,
    & input:checked ~ .osg-checkbox__text {
      border-color: colors.$red;
      color: colors.$red;
    }

    & input:checked ~ .osg-checkbox__checkmark {
      background-color: colors.$red;
      border-color: colors.$red;
    }

    & input:checked:hover ~ .osg-checkbox__checkmark,
    & input:checked:focus ~ .osg-checkbox__checkmark {
      background-color: colors.$blue-contrast;
      border-color: colors.$blue-contrast;
    }
  }
}
