<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Select element represents a control that provides a menu of options.</p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>The select element should never take the 100% width of the page in medium and up breakpoints.</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-select">
                  <div class="ods-select__select">
                    <select aria-label="Select an option">
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">With Label</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-select">
                  <label class="ods-select__label">
                    Label
                    <div class="ods-select__select">
                      <select>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                      </select>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Required</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-select">
                  <label class="ods-select__label">
                    Label
                    <div class="ods-select__select">
                      <select aria-required="true">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                      </select>
                      <div class="ods-select__required" id="required-1">* Required</div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Default</h2>
        </div>
      </div>
      <div class="ods-grid">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-select">
            <div class="ods-select__select">
              <select aria-label="Select an option">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Select with Label</h2>
        </div>
      </div>
      <div class="ods-grid">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-select">
            <label class="ods-select__label">
              Label select
              <div class="ods-select__select">
                <select>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                </select>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">States</h2>
        </div>
      </div>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-select ods-select--hover">
            <label class="ods-select__label">
              Hover
              <div class="ods-select__select">
                <select>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                </select>
              </div>
            </label>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-select ods-select--focus">
            <label class="ods-select__label">
              Focus/active
              <div class="ods-select__select">
                <select>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                </select>
              </div>
            </label>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-select ods-select--disabled">
            <label class="ods-select__label">
              Disabled
              <div class="ods-select__select">
                <select disabled="disabled">
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                </select>
              </div>
            </label>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-select ods-select--error">
            <label class="ods-select__label">
              Error/invalid
              <div class="ods-select__select">
                <select aria-describedby="error-1">
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                </select>
              </div>
            </label>
            <div class="ods-input__error-message" id="error-1">Error message</div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-select">
            <label class="ods-select__label">
              Required
              <div class="ods-select__select">
                <select aria-describedby="required-1" aria-required="true">
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                </select>
              </div>
            </label>
            <div class="ods-select__required" id="required-1">* Required</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
