@use "system/colors";
@use "system/icons";
@use "system/spacing";
@use "components/form/input/mixins";

.osg-select {
  @include mixins.form-states;
  position: relative;

  &__required {
    @extend %osg-margin-top-1;
    padding: 0;
    @extend %osg-text-size-lima;
    @extend %osg-text-weight-light;
  }

  &__label {
    @include mixins.form-label;
  }

  &__select {
    position: relative;
    @extend %osg-margin-top-2;

    & select {
      @include mixins.form-component;
      cursor: pointer;
      padding-right: 50px;
    }

    &:after {
      color: inherit;
      content: map-get(icons.$icons, "chevron-thin-down");
      font-family: "Oslo Icons";
      font-size: 2rem;
      pointer-events: none;
      position: absolute;
      right: 0.875rem;
      top: 2rem;
      transform: translateY(-50%);
    }
  }

  &__error-message {
    @include mixins.error-message;
  }
}
