<div class="osg-grid">
  <div class="osg-grid__column--12">
    <div class="osg-color-bg-blue-light osg-padding-4 osg-padding-horizontal-8-breakpoint-medium">Header</div>
  </div>
  <div class="osg-grid__column--12">
    <div class="osg-grid">
      <div class="osg-grid__column--12 osg-color-bg-beige">
        <div class="osg-grid osg-grid--gutter">
          <div class="osg-grid__column--12">
            <div class="osg-grid osg-grid--center">
              <div class="osg-grid__column--12">
                <h2 class="osg-margin-vertical-4">Alert</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-grid__column--12">
    <div class="osg-padding-horizontal-4 osg-padding-horizontal-8-breakpoint-medium osg-margin-top-3">Breadcrumb</div>
  </div>
  <div class="osg-grid__column--12">
    <div class="osg-grid osg-grid--gutter osg-margin-top-13 osg-margin-top-19-breakpoint-medium osg-margin-bottom-8 osg-margin-bottom-13-breakpoint-medium">
      <div class="osg-grid__column--12">
        <div class="osg-grid osg-grid--gap-column osg-grid--gap-row-large osg-grid--center">
          <div class="osg-grid__column--12">
            <h1 class="osg-text-size-india osg-text-size-charlie-breakpoint-medium osg-text-size-alfa-breakpoint-large">Title</h1>
            <p class="osg-paragraph osg-paragraph--lead">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          </div>
          <div class="osg-grid__column--12">
            <div class="osg-color-bg-beige osg-padding-8">Important messages</div>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--8-breakpoint-medium">
            <div class="osg-grid osg-grid--gap">
              <div class="osg-grid__column--12">
                <div class="osg-color-bg-red-light osg-padding-8">Image carousel</div>
              </div>
              <div class="osg-grid__column--12">
                <div class="osg-color-bg-green-light osg-padding-8">Table of contents</div>
              </div>
              <div class="osg-grid__column--12">
                <div class="osg-content">
                  <h2>Subtitle</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus pulvinar erat vitae scelerisque. Morbi placerat lacus a sollicitudin sagittis. Phasellus aliquam ante urna, ac interdum erat sagittis ut. Morbi sapien augue, ultrices vel dolor id, sollicitudin pharetra diam. Quisque semper lacus et dui molestie finibus. Donec mattis ex justo, eget efficitur libero porta
                    ullamcorper. Suspendisse ac metus scelerisque, accumsan sem a, ultricies risus. Quisque feugiat volutpat massa eget imperdiet. Proin vulputate dictum condimentum. Fusce aliquam, metus vel pharetra fermentum, leo arcu euismod erat, id porta quam nulla sed justo. Pellentesque dapibus interdum viverra.
                  </p>
                  <h2>Another subtitle</h2>
                  <p>
                    Pellentesque et finibus augue, at dictum urna. Maecenas accumsan, velit sed fermentum varius, nisi sem suscipit lacus, in consectetur velit ante nec quam. Aenean ultrices id tortor vel dictum. Vivamus diam risus, bibendum gravida nisi a, consectetur tempor dui. Vivamus mauris est, vulputate eu pretium porttitor, commodo sed risus. Duis dignissim nec mauris sollicitudin rhoncus.
                    Donec vel diam sit amet lacus luctus accumsan. Etiam auctor fringilla dui, non finibus justo mollis a. Sed lacinia lobortis orci sit amet porta. Sed fermentum metus quis lectus egestas imperdiet at ac mi. Donec eu accumsan neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eros metus, aliquam a arcu vitae, accumsan porta lacus. Vivamus non mattis sem.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
            <div class="osg-grid osg-grid--gap-row">
              <div class="osg-grid__column--12">
                <div class="osg-color-bg-yellow osg-padding-4">Contact</div>
              </div>
              <div class="osg-grid__column--12">
                <div class="osg-color-bg-gray-light osg-padding-4">Opening hours</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-grid__column--12">
    <div class="osg-grid">
      <div class="osg-grid__column--12 osg-color-bg-yellow">
        <div class="osg-grid osg-grid--gutter">
          <div class="osg-grid__column--12">
            <div class="osg-grid osg-grid--center">
              <div class="osg-grid__column--12">
                <h2 class="osg-margin-vertical-13">Banner</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-grid__column--12">
    <div class="osg-color-bg-blue-dark osg-color-text-white osg-padding-vertical-13">
      <div class="osg-grid osg-grid--gutter">
        <div class="osg-grid__column--12">
          <div class="osg-grid osg-grid--center osg-grid--gap">
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <h3 class="osg-heading-3">Title</h3>
              <p class="osg-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <h3 class="osg-heading-3">Title</h3>
              <p class="osg-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <h3 class="osg-heading-3">Title</h3>
              <p class="osg-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
