<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-text-2">Buttons start an action. The button label will explain what happens when clicked.</p>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Types</h2>
      <p class="osg-paragraph">
        The three button types make a hierarchy. Filled button (default/primary), outline button (secondary) and text button (tertiary). This hierarchy defines how the buttons are used in a user interface. There should only be one primary button on a page or within a course of action. If the button types are combined in a course of action it is important to follow this hierarchy resulting in
        putting the main action on the primary button and so on.
      </p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-flex">
            <div class="osg-devtools-code__box__code osg-margin-right-20">
              <button class="osg-button">Button text</button>
            </div>
            <div class="osg-devtools-code__box__code osg-margin-right-20">
              <button class="osg-button osg-button--outline">Button text</button>
            </div>
            <div class="osg-devtools-code__box__code">
              <button class="osg-button osg-button--text">Button text</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <p class="osg-paragraph">Filled button is used for the main action. A page may sometimes have more than one main action, but not many.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <button class="osg-button">Button text</button>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Outline</h2>
      <p class="osg-paragraph">Outline button is used for less important actions. Avoid using it for a main action.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <button class="osg-button osg-button--outline">Button text</button>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Text</h2>
      <p class="osg-paragraph">Text button is used for the least important actions.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <button class="osg-button osg-button--text">Button text</button>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Sizes</h2>
      <p class="osg-paragraph">Buttons can be used in three sizes; small, medium (default) and large. <strong>Medium is the size used in most situations</strong>. Small button is used when there is a need to save space. Large button is used for extra attention, but sparingly.</p>
      <p class="osg-paragraph osg-margin-top-15">Fullwidth is used when the button should cover the entire width of a user interface. Often seen in the small breakpoint or vertical filter panels.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-flex osg-flex-align-items-center">
            <div class="osg-devtools-code__box__code osg-margin-right-20">
              <button class="osg-button osg-button--large">Large</button>
            </div>
            <div class="osg-devtools-code__box__code osg-margin-right-20">
              <button class="osg-button">Medium</button>
            </div>
            <div class="osg-devtools-code__box__code">
              <button class="osg-button osg-button--small">Small</button>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <button class="osg-button osg-button--fullwidth">Fullwidth</button>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Text and icon</h2>
      <p class="osg-paragraph">Buttons can have both text and icon. The icon can be positioned either left or right of the text. Choose what fit best in the user interface. All button types support icon.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-flex osg-flex-align-items-center">
            <div class="osg-devtools-code__box__code osg-margin-right-20">
              <button class="osg-button osg-button--outline"><span class="osg-button__icon osg-button__icon--left osg-icons--user"></span>Icon left</button>
            </div>
            <div class="osg-devtools-code__box__code">
              <button class="osg-button osg-button--outline">Icon right<span class="osg-button__icon osg-button__icon--right osg-icons--user"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Text and icon different sizes</h2>
      <p class="osg-paragraph">All sizes support the different variantions of a button type.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-flex osg-flex-align-items-center">
            <div class="osg-devtools-code__box__code osg-margin-right-20">
              <button class="osg-button osg-button--outline osg-button--large"><span class="osg-button__icon osg-button__icon--left osg-icons--user"></span>Large</button>
            </div>
            <div class="osg-devtools-code__box__code osg-margin-right-20">
              <button class="osg-button osg-button--outline"><span class="osg-button__icon osg-button__icon--left osg-icons--user"></span>Medium</button>
            </div>
            <div class="osg-devtools-code__box__code">
              <button class="osg-button osg-button--outline osg-button--small"><span class="osg-button__icon osg-button__icon--left osg-icons--user"></span>Small</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Icon</h2>
      <p class="osg-paragraph">Buttons can be used with only icons in a user interface to save space. Medium sized button is the most commonly used for these cases, however, small button can be used if the need to save even more space arises. This could be the case in small breakpoints of certain applications.</p>
      <p class="osg-paragraph osg-margin-top-15">Availability requires text to accompany the icon. If the icon is used alone, it is recommended to wrap the text in a span with the class <code>osg-sr-only</code> to make the text available for screen readers.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-flex osg-flex-align-items-center">
            <div class="osg-devtools-code__box__code osg-margin-right-20">
              <button class="osg-button osg-button--icon osg-button--large">
                <span class="osg-button__icon osg-icons--user"></span>
                <span class="osg-sr-only">Text</span>
              </button>
            </div>
            <div class="osg-devtools-code__box__code osg-margin-right-20">
              <button class="osg-button osg-button--icon">
                <span class="osg-button__icon osg-icons--user"></span>
                <span class="osg-sr-only">Text</span>
              </button>
            </div>
            <div class="osg-devtools-code__box__code">
              <button class="osg-button osg-button--icon osg-button--small">
                <span class="osg-button__icon osg-icons--user"></span>
                <span class="osg-sr-only">Text</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Round</h2>
      <p class="osg-paragraph">Round buttons are icon only and rarely used. Should only be used in Large and Medium (default) size. See "Search" under "Form" for example use.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-flex osg-flex-align-items-center">
            <div class="osg-devtools-code__box__code osg-margin-right-20">
              <button class="osg-button osg-button--circle osg-button--large osg-button--yellow">
                <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
                <span class="osg-sr-only">Search</span>
              </button>
            </div>
            <div class="osg-devtools-code__box__code">
              <button class="osg-button osg-button--circle osg-button--yellow">
                <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
                <span class="osg-sr-only">Search</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Colors</h2>
      <p class="osg-paragraph">
        Buttons can be used with different colors. <strong>Dark blue is the primary color used on buttons for the service www.oslo.kommune.no.</strong> In some situations other colors are used to differentiate between content in the service. Yellow is for example used to highlight the button for "Contact" on www.oslo.kommune.no.
        <a href="https://www.oslo.kommune.no" title="Oslo kommune website" target="_blank">See example here.</a>
      </p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--blue-light osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--green-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--green-light osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--yellow osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--red osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--blue-light osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--green-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--green-light osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--yellow osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--red osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Dark backgrounds</h2>
      <p class="osg-paragraph">A set of buttons for use on dark backgrounds. The service www.oslo.kommune.no use dark blue as its dark background. Read more about contrast colors under the chapter "Colors".</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box osg-devtools-code__box--blue-dark">
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--gray osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--blue-light osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--green-light osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--yellow osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--red osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--dark osg-button--gray osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--dark osg-button--blue-light osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--dark osg-button--green-light osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--dark osg-button--yellow osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--dark osg-button--red osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Colored backgrounds</h2>
      <p class="osg-paragraph">Buttons can be used on different colored backgrounds. There are however some limitations depending on the color of the background. The buttons in the examples below have good contrast on the selected background colors. Read more about contrast colors under the chapter "Colors".</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box osg-devtools-code__box--gray">
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--blue-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--red osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--yellow osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--green-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--blue-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--red osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--yellow osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--green-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box osg-devtools-code__box--beige">
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--blue-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--red osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--green-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--blue-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--red osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--green-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box osg-devtools-code__box--green-light">
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--blue-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--green-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--blue-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--green-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box osg-devtools-code__box--yellow">
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--blue-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--blue-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box osg-devtools-code__box--blue-light">
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--blue-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--blue-dark osg-button--fullwidth">Button text</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Disabled</h2>
      <p class="osg-paragraph">Buttons can have a disabled state.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--fullwidth" disabled>Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--fullwidth" disabled>Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--text osg-button--fullwidth" disabled>Button text</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box osg-devtools-code__box--blue-dark">
          <div class="osg-grid">
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--fullwidth" disabled>Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--outline osg-button--fullwidth" disabled>Button text</button>
              </div>
            </div>
            <div class="osg-grid__column--2">
              <div class="osg-devtools-code__box__code">
                <button class="osg-button osg-button--text osg-button--fullwidth" disabled>Button text</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <div class="osg-grid">
            <div class="osg-grid__column--4">
              <div class="osg-grid">
                <div class="osg-grid__column--12">
                  <h2 class="osg-heading-3 osg-margin-bottom-10">Default</h2>
                  <button class="osg-button osg-margin-right-15">Button text</button>
                  <button class="osg-button osg-margin-right-15" disabled="disabled">Disabled</button>
                </div>
              </div>
              <div class="osg-grid">
                <div class="osg-grid__column--12">
                  <button class="osg-button osg-button--hover osg-margin-right-15">Hover</button>
                  <button class="osg-button osg-button--active osg-margin-right-15">Active</button>
                </div>
              </div>
            </div>
            <div class="osg-grid__column--4">
              <div class="osg-grid">
                <div class="osg-grid__column--12">
                  <h2 class="osg-heading-3 osg-margin-bottom-10">Outline</h2>
                  <button class="osg-button osg-button--outline osg-margin-right-15">Button text</button>
                  <button class="osg-button osg-button--outline osg-margin-right-15" disabled="disabled">Disabled</button>
                </div>
              </div>
              <div class="osg-grid">
                <div class="osg-grid__column--12">
                  <button class="osg-button osg-button--outline osg-button--hover osg-margin-right-15">Hover</button>
                  <button class="osg-button osg-button--outline osg-button--active osg-margin-right-15">Active</button>
                </div>
              </div>
            </div>
            <div class="osg-grid__column--4">
              <div class="osg-grid">
                <div class="osg-grid__column--12">
                  <h2 class="osg-heading-3 osg-margin-bottom-10">Text</h2>
                  <button class="osg-button osg-button--text osg-margin-right-15">Button text</button>
                  <button class="osg-button osg-button--text osg-margin-right-15" disabled="disabled">Disabled</button>
                </div>
              </div>
              <div class="osg-grid">
                <div class="osg-grid__column--12">
                  <button class="osg-button osg-button--text osg-button--hover osg-margin-right-15">Hover</button>
                  <button class="osg-button osg-button--text osg-button--active osg-margin-right-15">Active</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h2 class="osg-heading-3 osg-margin-bottom-10">Colors</h2>
          <button class="osg-button osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--blue-light osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--green-dark osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--green-light osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--yellow osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--red osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--gray osg-margin-right-15">Button</button>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <button class="osg-button osg-button--outline osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--outline osg-button--blue-light osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--outline osg-button--green-dark osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--outline osg-button--green-light osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--outline osg-button--yellow osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--outline osg-button--red osg-margin-right-15">Button</button>
          <button class="osg-button osg-button--outline osg-button--gray osg-margin-right-15">Button</button>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h2 class="osg-heading-3 osg-margin-bottom-10">Circle</h2>
          <button class="osg-button osg-button--circle osg-margin-right-15" aria-label="Previous">
            <span class="osg-button__icon osg-icons--chevron-left"></span>
          </button>
          <button class="osg-button osg-button--circle osg-margin-right-15" aria-label="Next">
            <span class="osg-button__icon osg-icons--chevron-right"></span>
          </button>
          <button class="osg-button osg-button--circle osg-margin-right-15" disabled="disabled" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--circle osg-button--hover osg-margin-right-15" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--circle osg-button--active osg-margin-right-15" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h2 class="osg-heading-3">Icons</h2>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <button class="osg-button osg-margin-right-15"><span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Icon left</button>
          <button class="osg-button osg-margin-right-15">Icon right<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span></button>
          <button class="osg-button osg-button--outline osg-margin-right-15"><span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button</button>
          <button class="osg-button osg-button--outline osg-margin-right-15">Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span></button>
          <button class="osg-button osg-button--text osg-margin-right-15"><span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button</button>
          <button class="osg-button osg-button--text osg-margin-right-15">Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span></button>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <button class="osg-button osg-margin-right-15" disabled="disabled"><span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Icon left</button>
          <button class="osg-button osg-margin-right-15" disabled="disabled">Icon right<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span></button>
          <button class="osg-button osg-button--outline osg-margin-right-15" disabled="disabled"><span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button</button>
          <button class="osg-button osg-button--outline osg-margin-right-15" disabled="disabled">Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span></button>
          <button class="osg-button osg-button--text osg-margin-right-15" disabled="disabled"><span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button</button>
          <button class="osg-button osg-button--text osg-margin-right-15" disabled="disabled">Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span></button>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3">Sizes</h2>
      <div class="osg-grid">
        <div class="osg-grid__column--5">
          <button class="osg-button osg-button--small">Small</button>
          <button class="osg-button">Normal</button>
          <button class="osg-button osg-button--large">Large</button>
        </div>
        <div class="osg-grid__column--3">
          <button class="osg-button osg-button--circle osg-button--small" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
          <button class="osg-button osg-button--circle" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
          <button class="osg-button osg-button--circle osg-button--large" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
        </div>
        <div class="osg-grid__column--4">
          <button class="osg-button osg-button--icon osg-button--small" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
          <button class="osg-button osg-button--icon" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
          <button class="osg-button osg-button--icon osg-button--large" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
        </div>
        <div class="osg-grid__column--12">
          <button class="osg-button osg-button--fullwidth">Fullwidth</button>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3">Anchor links</h2>
      <a href="javascript:void(0)" class="osg-button osg-button--blue-dark osg-margin-right-15"> Anchor Button </a>
      <a href="javascript:void(0)" class="osg-button osg-button--blue-light osg-margin-right-15"> Anchor Button </a>
      <a href="javascript:void(0)" class="osg-button osg-button--green-dark"> Anchor Button </a>
    </div>
  </div>
</div>
