@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/spacing";
@use "system/states";

.osg-button {
  @extend %osg-text-4;
  @extend %osg-padding-horizontal-15, %osg-padding-vertical-10;
  background: colors.$blue-dark;
  border: 2px solid colors.$blue-dark;
  color: colors.$white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  text-align: center;

  &__icon {
    display: inline-block;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1em;
    vertical-align: middle;

    &--left {
      @extend %osg-margin-right-10;
    }

    &--right {
      @extend %osg-margin-left-10;
    }
  }

  /**
   * Button sizes
   */
  &.osg-button--small {
    @extend %osg-padding-horizontal-10, %osg-padding-vertical-5;
    font-size: typography.$size-16 !important;
  }

  &.osg-button--large {
    @extend %osg-text-2;
    @extend %osg-padding-horizontal-30, %osg-padding-vertical-15;
    font-weight: 500 !important;
  }

  &--fullwidth {
    display: block;
    width: 100%;
  }

  /**
   * Button types
   */
  &--outline {
    background-color: transparent;
    border-color: colors.$blue-dark;
    color: colors.$blue-dark;
  }

  &--text {
    background-color: transparent;
    border-color: transparent;
    color: colors.$blue-dark;
  }

  &--circle {
    @extend .osg-button--icon;
    border-radius: 50%;
  }

  &.osg-button--icon {
    @extend %osg-padding-10;
    width: 1.5rem !important;
    line-height: 0 !important;
    box-sizing: content-box;

    &.osg-button--small {
      @extend %osg-padding-5;
      width: 1.5rem !important;
    }

    &.osg-button--large {
      @extend %osg-padding-15;
      width: 2rem !important;
    }
    &.osg-button--large {
      .osg-button__icon {
        line-height: 2rem;
        font-size: 2rem;
      }
    }
  }

  /**
   * Button states
   */
  &:hover,
  &--hover,
  &:focus,
  &--focus {
    background-color: states.$hover !important;
    border: 2px solid states.$hover !important;
    color: states.$hover-text !important;
    text-decoration: underline;

    &.osg-button--outline {
      background-color: transparent !important;
      border-color: states.$hover;
      color: states.$hover !important;
    }

    &.osg-button--text {
      background-color: colors.$gray-light !important;
      border-color: colors.$gray-light !important;
      color: states.$hover !important;
    }
  }

  &:active,
  &--active {
    background-color: states.$active !important;
    border: 2px solid states.$active !important;
    text-decoration: none;

    &.osg-button--outline {
      background-color: states.$hover !important;
      color: colors.$white !important;
    }

    &.osg-button--text {
      background-color: transparent !important;
      border-color: transparent !important;
      text-decoration: underline;
      color: states.$hover !important;
    }
  }

  &:disabled {
    background-color: states.$disabled !important;
    border: 2px solid states.$disabled !important;
    color: states.$disabled-text !important;
    cursor: default;
    text-decoration: none;

    &.osg-button--outline {
      background-color: transparent !important;
      border-color: colors.$grayscale-40 !important;
    }

    &.osg-button--text {
      background-color: transparent !important;
      border-color: transparent !important;
      text-decoration: underline;
    }

    &:hover,
    &:active {
      background-color: states.$disabled !important;
      border: 2px solid states.$disabled !important;
      color: states.$disabled-text !important;

      &.osg-button--outline {
        background-color: transparent !important;
        border-color: colors.$grayscale-40 !important;
        color: colors.$grayscale-40 !important;
      }

      &.osg-button--text {
        background-color: transparent !important;
        border-color: transparent !important;
        color: colors.$grayscale-40 !important;
        text-decoration: underline;
      }
    }
  }

  /**
   * Button colors
   */
  &--red {
    color: colors.$blue-dark;
    background-color: colors.$red;
    border: 2px solid colors.$red;

    &.osg-button--outline {
      background-color: transparent;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
    }
  }

  &--yellow {
    color: colors.$blue-dark;
    background-color: colors.$yellow;
    border: 2px solid colors.$yellow;

    &.osg-button--outline {
      background-color: transparent;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
    }
  }

  &--green-dark {
    color: colors.$white;
    background-color: colors.$green-dark;
    border: 2px solid colors.$green-dark;

    &.osg-button--outline {
      background-color: transparent;
      color: colors.$green-dark;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
      color: colors.$green-dark;
    }
  }

  &--green-light {
    color: colors.$green-dark;
    background-color: colors.$green-light;
    border: 2px solid colors.$green-light;

    &.osg-button--outline {
      background-color: transparent;
      color: colors.$green-dark;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
      color: colors.$green-dark;
    }
  }

  &--blue-light {
    color: colors.$blue-dark;
    background-color: colors.$blue-light;
    border: 2px solid colors.$blue-light;

    &.osg-button--outline {
      background-color: transparent;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
    }
  }

  &--gray {
    color: colors.$blue-dark;
    background-color: colors.$gray-light;
    border: 2px solid colors.$gray-light;

    &.osg-button--outline {
      background-color: transparent;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
    }
  }

  /**
   * Dark mode
   */
  &--dark {
    &.osg-button--outline {
      color: colors.$white !important;

      &:hover,
      &--hover,
      &:focus,
      &--focus {
        border-color: states.$hover-light !important;
        color: states.$hover-light !important;
      }
    }
  }
}
