<h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
<div>
  <button class="osg-button" data-target="lorem1" aria-label="press me">
      Button text
  </button>
  <button class="osg-button" data-target="lorem1" aria-label="press me">
      Button text<span class="osg-icon osg-icon--icon-right osg-icon--expand"></span>
  </button>
  <button class="osg-button osg-button--icon-only" data-target="lorem1" aria-label="press me">
      <span class="osg-icon osg-icon--expand"></span>
  </button>
  <button class="osg-button" data-target="lorem1" aria-label="press me" disabled="disabled">
      Button text
  </button>
  <button class="osg-button" data-target="lorem1" aria-label="press me" disabled="disabled">
      Button text<span class="osg-icon osg-icon--icon-right osg-icon--expand"></span>
  </button>
  <button class="osg-button osg-button--icon-only" data-target="lorem1" aria-label="press me" disabled="disabled">
      <span class="osg-icon osg-icon--expand"></span>
  </button>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Outline</h2>
<div>
  <button class="osg-button osg-button--outline" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--outline" data-target="lorem1" aria-label="press me">
    Button text<span class="osg-icon osg-icon--icon-right osg-icon--expand"></span>
  </button>
  <button class="osg-button osg-button--outline osg-button--icon-only" data-target="lorem1" aria-label="press me">
    <span class="osg-icon osg-icon--expand"></span>
  </button>
  <button class="osg-button osg-button--outline" data-target="lorem1" aria-label="press me" disabled="disabled">
    Button text
  </button>
  <button class="osg-button osg-button--outline" data-target="lorem1" aria-label="press me" disabled="disabled">
    Button text<span class="osg-icon osg-icon--icon-right osg-icon--expand"></span>
  </button>
  <button class="osg-button osg-button--outline osg-button--icon-only" data-target="lorem1" aria-label="press me" disabled="disabled">
    <span class="osg-icon osg-icon--expand"></span>
  </button>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Text</h2>
<div>
  <button class="osg-button osg-button--text" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--text" data-target="lorem1" aria-label="press me">
    Button text<span class="osg-icon osg-icon--icon-right osg-icon--expand"></span>
  </button>
  <button class="osg-button osg-button--text osg-button--icon-only" data-target="lorem1" aria-label="press me">
    <span class="osg-icon osg-icon--expand"></span>
  </button>
  <button class="osg-button osg-button--text" data-target="lorem1" aria-label="press me" disabled="disabled">
    Button text
  </button>
  <button class="osg-button osg-button--text" data-target="lorem1" aria-label="press me" disabled="disabled">
    Button text<span class="osg-icon osg-icon--icon-right osg-icon--expand"></span>
  </button>
  <button class="osg-button osg-button--text osg-button--icon-only" data-target="lorem1" aria-label="press me" disabled="disabled">
    <span class="osg-icon osg-icon--expand"></span>
  </button>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Circle</h2>
<div>
  <button class="osg-button osg-button--circle" data-target="lorem1" aria-label="press me"><span class="osg-icon osg-icon--expand"></span></button>
  <button class="osg-button osg-button--circle" data-target="lorem1" aria-label="press me" disabled="disabled"><span class="osg-icon osg-icon--expand"></span></button>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">States</h2>
<div>
  <button class="osg-button osg-button--hover" data-target="lorem1" aria-label="press me">
    Hover
  </button>
  <button class="osg-button osg-button--outline osg-button--hover" data-target="lorem1" aria-label="press me">
    Hover
  </button>
  <button class="osg-button osg-button--text osg-button--hover" data-target="lorem1" aria-label="press me">
    Hover
  </button>
</div>
<div class="osg-margin-top-1">
  <button class="osg-button osg-button--active" data-target="lorem1" aria-label="press me">
    Active
  </button>
  <button class="osg-button osg-button--outline osg-button--active" data-target="lorem1" aria-label="press me">
    Active
  </button>
  <button class="osg-button osg-button--text osg-button--active" data-target="lorem1" aria-label="press me">
    Active
  </button>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Sizes</h2>
<div>
  <button class="osg-button osg-button--small" data-target="lorem1" aria-label="press me">
    Small
  </button>
  <button class="osg-button" data-target="lorem1" aria-label="press me">
    Normal
  </button>
  <button class="osg-button osg-button--large" data-target="lorem1" aria-label="press me">
    Large
  </button>
</div>
<div class="osg-margin-top-1">
  <button class="osg-button osg-button--fullwidth" data-target="lorem1" aria-label="press me">
    Fullwidth
  </button>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Colors</h2>
<div>
  <button class="osg-button" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--blue-light" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--green-dark" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--green-light" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--yellow" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--red" data-target="lorem1" aria-label="press me">
    Button text
  </button>
</div>
<div class="osg-margin-top-1">
  <button class="osg-button osg-button--outline" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--outline osg-button--blue-light" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--outline osg-button--green-dark" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--outline osg-button--green-light" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--outline osg-button--yellow" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--outline osg-button--red" data-target="lorem1" aria-label="press me">
    Button text
  </button>
</div>
<div class="osg-margin-top-1">
  <button class="osg-button osg-button--text" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--text osg-button--blue-light" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--text osg-button--green-dark" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--text osg-button--green-light" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--text osg-button--yellow" data-target="lorem1" aria-label="press me">
    Button text
  </button>
  <button class="osg-button osg-button--text osg-button--red" data-target="lorem1" aria-label="press me">
    Button text
  </button>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Anchor links</h2>
<div>
  <a href="#anchor-btn" class="osg-button osg-button--blue-dark" data-target="lorem1" aria-label="press me">
    Anchor text
  </a>
  <a href="#anchor-btn"  class="osg-button osg-button--blue-light" data-target="lorem1" aria-label="press me">
    Anchor text <span class="osg-icon osg-icon--icon-right osg-icon--expand"></span>
  </a>
  <a href="#anchor-btn"  class="osg-button osg-button--green-dark osg-button--icon-only" data-target="lorem1" aria-label="press me">
    <span class="osg-icon osg-icon--expand"></span>
  </a>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Input</h2>
<div>
  <input type="submit" value="Submit" class="osg-button osg-button--blue-dark" />
  <input type="reset" value="Reset" class="osg-button osg-button--red" />
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Icons</h2>
<div>
  <button class="osg-button" data-target="lorem1" aria-label="press me">
    <span class="osg-icon osg-icon--icon-left osg-icon--expand"></span>Button text
  </button>
  <button class="osg-button osg-button--icon-only" data-target="lorem1" aria-label="press me">
    <span class="osg-icon osg-icon--expand"></span>
  </button>
  <button class="osg-button" data-target="lorem1" aria-label="press me">
    Button text<span class="osg-icon osg-icon--icon-right osg-icon--expand"></span>
  </button>
</div>
