<div class="osg-container osg-container--gutterless osg-container--no-overflow osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12 osg-row__column--10-breakpoint-medium">
          <p class="osg-paragraph osg-margin-bottom-15">Innledning</p>
          <h2 class="osg-devtools-heading">Default</h2>
          <p class="osg-paragraph">Used for the most important action on a page - the main action. A page may sometimes contain more than one main action, but not many.</p>
          <div class="osg-devtools-code osg-margin-top-30">
            <div class="osg-devtools-code__box">
              <button class="osg-button">
                Button text
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12 osg-row__column--10-breakpoint-medium">
          <h2 class="osg-devtools-heading">Outline</h2>
          <p class="osg-paragraph">Used in situations where the button is less important and not the main action.</p>
          <div class="osg-devtools-code osg-margin-top-30">
            <div class="osg-devtools-code__box">
              <button class="osg-button osg-button--outline">
                Button text
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12 osg-row__column--10-breakpoint-medium">
          <h2 class="osg-devtools-heading">Text</h2>
          <p class="osg-paragraph">Used for the least important action.</p>
          <div class="osg-devtools-code osg-margin-top-30">
            <div class="osg-devtools-code__box">
              <button class="osg-button osg-button--text">
                Button text
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Colors</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <button class="osg-button">
            Button
          </button>
          <button class="osg-button osg-button--blue-light">
            Button
          </button>
          <button class="osg-button osg-button--green-dark">
            Button
          </button>
          <button class="osg-button osg-button--green-light">
            Button
          </button>
          <button class="osg-button osg-button--yellow">
            Button
          </button>
          <button class="osg-button osg-button--red">
            Button
          </button>
          <button class="osg-button osg-button--gray">
            Button
          </button>
          <button class="osg-button osg-button--outline">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--blue-light">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--green-dark">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--green-light">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--yellow">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--red">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--gray">
            Button
          </button>
          <button class="osg-button osg-button--text">
            Button
          </button>
          <button class="osg-button osg-button--text osg-button--blue-light">
            Button
          </button>
          <button class="osg-button osg-button--text osg-button--green-dark">
            Button
          </button>
          <button class="osg-button osg-button--text osg-button--green-light">
            Button
          </button>
          <button class="osg-button osg-button--text osg-button--yellow">
            Button
          </button>
          <button class="osg-button osg-button--text osg-button--red">
            Button
          </button>
          <button class="osg-button osg-button--text osg-button--gray">
            Button
          </button>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Circle</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <button class="osg-button osg-button--circle" aria-label="Next">
              <span class="osg-button__icon osg-icons--chevron-right"></span>
            </button>
          </div>
        </div>
        <div class="osg-row__column osg-row__column--12 osg-devtools-debug">
          <button class="osg-button osg-button--circle" disabled="disabled" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--circle osg-button--hover" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--circle osg-button--active" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--8-breakpoint-large">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Icons</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <button class="osg-button">
              <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Icon left
            </button>
            <button class="osg-button osg-button--icon" aria-label="Map">
              <span class="osg-button__icon osg-icons--map"></span>
            </button>
            <button class="osg-button">
              Icon right<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
            </button>
          </div>
        </div>
        <div class="osg-row__column osg-row__column--12 osg-devtools-debug">
          <button class="osg-button" disabled="disabled">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Icon left
          </button>
          <button class="osg-button osg-button--icon-only" aria-label="Map" disabled="disabled">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button" disabled="disabled">
            Icon right<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
          <br>
          <button class="osg-button osg-button--outline">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button
          </button>
          <button class="osg-button osg-button--outline osg-button--icon-only" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--outline">
            Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
          <br>
          <button class="osg-button osg-button--outline" disabled="disabled">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button
          </button>
          <button class="osg-button osg-button--outline osg-button--icon-only" aria-label="Map" disabled="disabled">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--outline" disabled="disabled">
            Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
          <br>
          <button class="osg-button osg-button--text">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button
          </button>
          <button class="osg-button osg-button--text osg-button--icon-only" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--text">
            Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
          <br>
          <button class="osg-button osg-button--text" disabled="disabled">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button
          </button>
          <button class="osg-button osg-button--text osg-button--icon-only" aria-label="Map" disabled="disabled">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--text" disabled="disabled">
            Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
          <br>
          <a href="javascript:void(0)" class="osg-button osg-button--circle" aria-label="Next">
            <span class="osg-button__icon osg-icons--chevron-right"></span>
          </a>
          <button class="osg-button osg-button--circle" aria-label="Next">
            <span class="osg-button__icon osg-icons--chevron-right"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Sizes</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <button class="osg-button osg-button--small">
          Small
        </button>
        <button class="osg-button">
          Normal
        </button>
        <button class="osg-button osg-button--large">
          Large
        </button>
      </div>
      <div class="osg-devtools-debug">
        <button class="osg-button osg-button--circle osg-button--small" aria-label="Map">
          <span class="osg-button__icon osg-icons--map"></span>
        </button>
        <button class="osg-button osg-button--circle" aria-label="Map">
          <span class="osg-button__icon osg-icons--map"></span>
        </button>
        <button class="osg-button osg-button--circle osg-button--large" aria-label="Map">
          <span class="osg-button__icon osg-icons--map"></span>
        </button>
      </div>
      <div class="osg-devtools-code osg-margin-top-50">
        <button class="osg-button osg-button--fullwidth">
          Fullwidth
        </button>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Anchor links</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <a href="javascript:void(0)" class="osg-button osg-button--blue-dark">
          Anchor Button
        </a>
        <a href="javascript:void(0)" class="osg-button osg-button--blue-light">
          Anchor Button <span class="osg-icon osg-button__icon--right osg-icon--map"></span>
        </a>
        <a href="javascript:void(0)" class="osg-button osg-button--green-dark osg-button--icon"
          aria-label="Map">
          <span class="osg-button__icon osg-icons--map"></span>
        </a>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Input</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <input type="submit" value="Submit" class="osg-button osg-button--blue-dark" />
        <input type="reset" value="Reset" class="osg-button osg-button--red" />
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--4">
              <div class="osg-row">
                <div class="osg-row__column osg-row__column--12">
                  <h3 class="osg-heading-3 osg-margin-bottom-10">Default</h2>
                  <button class="osg-button osg-margin-right-15">
                    Button text
                  </button>
                  <button class="osg-button osg-margin-right-15" disabled="disabled">
                    Disabled
                  </button>
                </div>
              </div>
              <div class="osg-row">
                <div class="osg-row__column osg-row__column--12">
                  <button class="osg-button osg-button--hover osg-margin-right-15">
                    Hover
                  </button>
                  <button class="osg-button osg-button--active osg-margin-right-15">
                    Active
                  </button>
                </div>
              </div>
            </div>
            <div class="osg-row__column osg-row__column--4">
              <div class="osg-row">
                <div class="osg-row__column osg-row__column--12">
                  <h3 class="osg-heading-3 osg-margin-bottom-10">Outline</h2>
                  <button class="osg-button osg-button--outline osg-margin-right-15">
                    Button text
                  </button>
                  <button class="osg-button osg-button--outline osg-margin-right-15" disabled="disabled">
                    Disabled
                  </button>
                </div>
              </div>
              <div class="osg-row">
                <div class="osg-row__column osg-row__column--12">
                  <button class="osg-button osg-button--outline osg-button--hover osg-margin-right-15">
                    Hover
                  </button>
                  <button class="osg-button osg-button--outline osg-button--active osg-margin-right-15">
                    Active
                  </button>
                </div>
              </div>
            </div>
            <div class="osg-row__column osg-row__column--4">
              <div class="osg-row">
                <div class="osg-row__column osg-row__column--12">
                  <h3 class="osg-heading-3 osg-margin-bottom-10">Text</h2>
                  <button class="osg-button osg-button--text osg-margin-right-15">
                    Button text
                  </button>
                  <button class="osg-button osg-button--text osg-margin-right-15" disabled="disabled">
                    Disabled
                  </button>
                </div>
              </div>
              <div class="osg-row">
                <div class="osg-row__column osg-row__column--12">
                  <button class="osg-button osg-button--text osg-button--hover osg-margin-right-15">
                    Hover
                  </button>
                  <button class="osg-button osg-button--text osg-button--active osg-margin-right-15">
                    Active
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h3 class="osg-devtools-heading">Colors</h2>
          <button class="osg-button osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--blue-light osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--green-dark osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--green-light osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--yellow osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--red osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--gray osg-margin-right-15">
            Button
          </button>
        </div>
      </div>
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <button class="osg-button osg-button--outline osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--blue-light osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--green-dark osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--green-light osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--yellow osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--red osg-margin-right-15">
            Button
          </button>
          <button class="osg-button osg-button--outline osg-button--gray osg-margin-right-15">
            Button
          </button>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h3 class="osg-heading-3 osg-margin-bottom-10">Circle</h3>
          <button class="osg-button osg-button--circle osg-margin-right-15" aria-label="Next">
            <span class="osg-button__icon osg-icons--chevron-right"></span>
          </button>
          <button class="osg-button osg-button--circle osg-margin-right-15" disabled="disabled" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--circle osg-button--hover osg-margin-right-15" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--circle osg-button--active osg-margin-right-15" aria-label="Map">
            <span class="osg-button__icon osg-icons--map"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h3 class="osg-heading-3">Icons</h3>
        </div>
      </div>
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <button class="osg-button osg-margin-right-15">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Icon left
          </button>
          <button class="osg-button osg-margin-right-15">
            Icon right<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--outline osg-margin-right-15">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button
          </button>
          <button class="osg-button osg-button--outline osg-margin-right-15">
            Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--text osg-margin-right-15">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button
          </button>
          <button class="osg-button osg-button--text osg-margin-right-15">
            Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
        </div>
      </div>
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <button class="osg-button osg-margin-right-15" disabled="disabled">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Icon left
          </button>
          <button class="osg-button osg-margin-right-15" disabled="disabled">
            Icon right<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--outline osg-margin-right-15" disabled="disabled">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button
          </button>
          <button class="osg-button osg-button--outline osg-margin-right-15" disabled="disabled">
            Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
          <button class="osg-button osg-button--text osg-margin-right-15" disabled="disabled">
            <span class="osg-button__icon osg-button__icon--left osg-icons--map"></span>Button
          </button>
          <button class="osg-button osg-button--text osg-margin-right-15" disabled="disabled">
            Button<span class="osg-button__icon osg-button__icon--right osg-icons--map"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Sizes</h2>
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--5">
          <button class="osg-button osg-button--small osg-margin-right-15">
            Small
          </button>
          <button class="osg-button osg-margin-right-15">
            Normal
          </button>
          <button class="osg-button osg-button--large">
            Large
          </button>
        </div>
        <div class="osg-row__column osg-row__column--3">
          <button class="osg-button osg-button--circle osg-button--small osg-margin-right-15" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
          <button class="osg-button osg-button--circle osg-margin-right-15" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
          <button class="osg-button osg-button--circle osg-button--large" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
        </div>
        <div class="osg-row__column osg-row__column--4">
          <button class="osg-button osg-button--small osg-margin-right-15" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
          <button class="osg-button osg-margin-right-15" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
          <button class="osg-button osg-button--large" aria-label="Search">
            <span class="osg-button__icon osg-icons--magnifying-glass-small"></span>
          </button>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <button class="osg-button osg-button--fullwidth">
            Fullwidth
          </button>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3">Anchor links</h3>
      <a href="javascript:void(0)" class="osg-button osg-button--blue-dark osg-margin-right-15">
        Anchor Button
      </a>
      <a href="javascript:void(0)" class="osg-button osg-button--blue-light osg-margin-right-15">
        Anchor Button
      </a>
      <a href="javascript:void(0)" class="osg-button osg-button--green-dark">
        Anchor Button
      </a>
    </div>
  </div>
</div>
