.osg-button {
  color: $osg-color-white;
  background: $osg-color-blue-dark;
  border: 2px solid $osg-color-blue-dark;
  padding: .75rem;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;

  @extend %osg-text-5;
  font-weight: 500 !important;

  /**
   * Button sizes
   */
  &--small {
    padding: .5rem;
    @extend %osg-text-6;
  }

  &--large {
    padding: 1rem;
    @extend %osg-text-3;
  }

  /**
   * Button types
   */
  &--outline {
    background-color: transparent;
    border-color: $osg-color-blue-dark;
    color: $osg-color-blue-dark;
    outline: none;
  }

  &--text {
    background-color: transparent;
    border-color: transparent;
    color: $osg-color-blue-dark;
    text-decoration: underline;
  }

  &--circle {
    border-radius: 50%;
    // force 1x1 ratio
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      padding-top: 100%;
    }
  }

  /**
   * Button states
   */
  &:visited, &--visited {
    @extend %osg-state-visited;
  }

  &:hover, &--hover, &:focus, &--focus {
    @extend %osg-state-hover;
    border: 2px solid $osg-color-blue-contrast;
    text-decoration: underline;

    &.osg-button--outline {
      background-color: transparent !important;
      color: $osg-color-blue-contrast;
      border-color: $osg-color-blue-contrast;
      @extend .osg-state-text-hover;
    }

    &.osg-button--text {
      background-color: $osg-color-gray-light !important;
      border-color: $osg-color-gray-light;
      @extend .osg-state-text-hover;
    }
  }

  &:active, &--active {
    @extend %osg-state-active;
    text-decoration: none;
  }

  &:disabled {
    @extend %osg-state-disabled;
    border-color: $osg-color-gray-light;
    cursor: default;
    text-decoration: none;

    &:visited, &:hover, &:active, &:focus {
      @extend %osg-state-disabled;

      &.osg-button--outline, &.osg-button--text {
        @extend %osg-state-disabled;
      }
    }
  }

  /**
   * Button with icon
   */
  .osg-icon {
    margin: -8px 0;
    vertical-align: middle;

    &::before {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    &--icon-right {
      margin-left: $osg-space-2;
    }
    &--icon-left {
      margin-right: $osg-space-2;
    }
  }

  /**
   * Button colors
   */
  &--red {
    color: $osg-color-blue-dark;
    background-color: $osg-color-red;
    border: 2px solid $osg-color-red;

    &.osg-button--outline {
      background-color: transparent;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
    }
  }

  &--yellow {
    color: $osg-color-blue-dark;
    background-color: $osg-color-yellow;
    border: 2px solid $osg-color-yellow;

    &.osg-button--outline {
      background-color: transparent;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
    }
  }

  &--green-dark {
    color: $osg-color-white;
    background-color: $osg-color-green-dark;
    border: 2px solid $osg-color-green-dark;

    &.osg-button--outline {
      background-color: transparent;
      color: $osg-color-green-dark;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
      color: $osg-color-green-dark;
    }
  }

  &--green-light {
    color: $osg-color-green-dark;
    background-color: $osg-color-green-light;
    border: 2px solid $osg-color-green-light;

    &.osg-button--outline {
      background-color: transparent;
      color: $osg-color-green-dark;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
      color: $osg-color-green-dark;
    }
  }

  &--blue-light {
    color: $osg-color-blue-dark;
    background-color: $osg-color-blue-light;
    border: 2px solid $osg-color-blue-light;

    &.osg-button--outline {
      background-color: transparent;
    }
    &.osg-button--text {
      background-color: transparent;
      border: 2px solid transparent;
    }
  }
}
