{% set expandBoxVariant = expandBox.variant | default('osg-v-default') %}
{% set expandBoxModifiers = expandBox.modifiers | default(null) %}

{% set expandBoxContent %}
   {% block content %}{% endblock %}
{% endset %}

<div class="osg-expand-box {{ expandBoxVariant }} {{ expandBoxModifiers }}">
  <div class="osg-expand-box__title-line">
    <div class="osg-expand-box__title-line-text">
      {% block titleContent %}
      {% endblock %}
    </div>
    {% embed 'components/buttons/button/button.twig' %}
      {% block content %}
        {% include 'components/icons/icon/icon.twig' with { 'icon': { 'modifiers': 'osg-icon--' ~ expandBox.buttonIcon | default('chevron-down') } } %}
      {% endblock %}
    {% endembed %}
  </div>
  <div class="osg-expand-box__content" id="{{ expandBox.expandableAreaId }}">
    {% embed 'components/content_display/content_box/content_box.twig' %}
      {% block content %}
        {{ expandBoxContent }}
      {% endblock %}
    {% endembed %}
  </div>
</div>
