/* ---------------- VARIABLES -----------------*/
$osg-margin-left-right-mobile: 15px
$osg-margin-top-bottom-mobile: 25px
$osg-margin-left-right-desktop: 75px
$osg-margin-top-bottom-desktop: 25px

.osg-header
  color: $osg-color-grey-darker
  padding-bottom: 20px
  align-items: center
  display: flex
  padding: $osg-margin-top-bottom-mobile 0 $osg-margin-top-bottom-mobile 0
  width: 100%
  box-shadow: 0px 2px 2px -2px rgba(220,220,220,1)
  +osg-mq-tablet-and-up
    padding: $osg-margin-top-bottom-desktop 0 $osg-margin-top-bottom-desktop 0
  a
    color: $osg-color-grey-darker
    &:hover
      text-decoration: underline
  .osg-navbar-menu
    position: fixed
    right: 15px
    bottom: 30px
    +osg-mq-tablet-and-up
      flex-shrink: 0
      align-self: flex-start
      position: static
  .osg-header-title
    flex-grow: 1
    margin-left: 0
    +osg-mq-tablet-and-up
      margin-left: 20px
    a
      text-decoration: none
      hyphens: none
      word-break: break-word
      &:hover
        text-decoration: underline
  .osg-header-link
    flex-grow: 0
    font-size: $osg-font-size-16
    min-width: 150px
    text-align: right
    a
      text-decoration: none
      display: flex
      align-items: flex-end
      justify-content: flex-end
      &:hover span
        text-decoration: underline

    +osg-mq-tablet-and-up
      font-size: $osg-font-size-20
    i
      color: $osg-color-green-dark
      margin-left: 10px
      margin-bottom: 2px
      +osg-mq-tablet-and-up
        margin-left: 20px
        margin-bottom: 3px
