@use "system/colors";
@use "system/fonts";
@use "system/spacing";
@use "components/links/link/library";

.osg-untitled {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  display: flex;

  > * {
    display: inline-block;
  }

  &__icon {
    @extend %osg-margin-right-2;
  }

  &__main {
    h4 {
      @extend %osg-heading-4, %osg-margin-bottom-1;
      @include library.underline(colors.$blue-dark);
      display: inline-block;
    }

    p {
      @extend %osg-text-5;
    }
  }

  @include library.states {
    .osg-untitled__main h4 {
      background-image: linear-gradient(to right, colors.$blue-contrast, colors.$blue-contrast);
    }
  };

  &--external {
    .osg-untitled__main h4 {
      @include library.external-icon(1.8rem);
    }
  }
}
