@use "system/colors";
@use "system/fonts";
@use "system/spacing";
@use "components/links/link/mixins";

.osg-untitled {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  display: flex;
  align-items: flex-start;

  &__icon {
    @extend %osg-margin-right-2;
  }

  &__main {
    h4 {
      @extend %osg-heading-4, %osg-margin-bottom-1;
      display: inline-block;
    }

    p {
      @extend %osg-text-5;
    }
  }

  @include mixins.states {
    .osg-untitled__main h4 {
      text-decoration: underline;
    }
  };

  &--external {
    .osg-untitled__main h4 {
      @include mixins.external-icon();
    }
  }
}
