@use "system/colors" as *;
@use "system/fonts" as *;
@use "system/spacing" as *;
@use "components/links/link/library" as *;

.osg-untitled {
  @extend %osg-link;

  background-image: none !important;
  display: flex;

  > * {
    display: inline-block;
  }

  .icon {
    @extend %osg-margin-right-2;
  }

  h4 {
    @extend %osg-heading-4, %osg-margin-bottom-1;
    display: inline-block;

    /* Mixin på bg-image? */
    background-image: linear-gradient(to right, $blue-dark, $blue-dark);
    background-position: 0 1.33em;
    background-repeat: repeat-x;
    background-size: 1px 1px;
  }

  p {
    @extend %osg-text-5;
  }

  &--external {
    h4 {
      @include external-icon(1.8rem)
    }
  }
}
