<h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
<a class="osg-untitled" href="#untitled">
  <div class="icon">
    <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
  </div>
  <div class="main">
    <h4>Title enim maximus a</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in. Duis hendrerit aliquet est eget porta. Ut sapien massa, egestas ac faucibus vitae, congue nec ante. Integer eu turpis euismod, ultricies ipsum nec, interdum neque. In ullamcorper posuere leo, eget tristique enim maximus a.</p>
  </div>
</a>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">External</h2>
<a class="osg-untitled osg-untitled--external" href="#untitled">
  <div class="icon">
    <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
  </div>
  <div class="main">
    <h4>Title enim maximus a</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in. Duis hendrerit aliquet est eget porta. Ut sapien massa, egestas ac faucibus vitae, congue nec ante. Integer eu turpis euismod, ultricies ipsum nec, interdum neque. In ullamcorper posuere leo, eget tristique enim maximus a.</p>
  </div>
</a>
