<h2 class="osg-heading-3 osg-margin-top-3 osg-margin-bottom-1">Default</h2>
<div class="columns">
  <div class="column">
    <a class="osg-untitled" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Title enim maximus a</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="osg-untitled" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Title enim maximus a</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="osg-untitled" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Title enim maximus a</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
      </div>
    </a>
  </div>
</div>
<div class="columns">
  <div class="column">
    <a class="osg-untitled" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Title enim maximus a</h4>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="osg-untitled" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Title enim maximus a</h4>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="osg-untitled" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Title enim maximus a</h4>
      </div>
    </a>
  </div>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">External</h2>
<div class="columns">
  <div class="column is-one-third">
    <a class="osg-untitled osg-untitled--external" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Title enim maximus a</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
      </div>
    </a>
  </div>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">States</h2>
<div class="columns">
  <div class="column">
    <a class="osg-untitled osg-untitled--external osg-untitled--visited" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Visited</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="osg-untitled osg-untitled--external osg-untitled--hover" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Hover</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="osg-untitled osg-untitled--external osg-untitled--focus" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Focus</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="osg-untitled osg-untitled--external osg-untitled--active" href="#untitled">
      <div class="osg-untitled__icon">
        <span class="osg-icon osg-icon--chevron-right" aria-hidden="true"></span>
      </div>
      <div class="osg-untitled__main">
        <h4>Active</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
      </div>
    </a>
  </div>
</div>
