<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-card-untitled">
          <a class="osg-card-untitled__link" href="#osg-card-untitled">
            <div class="osg-card-untitled__content">
              <h5 class="osg-card-untitled__heading">Heading</h5>
              <p class="osg-card-untitled__smalltext">Pulvinar ex sapien at neque</p>
              <p class="osg-card-untitled__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
                sollicitudin, velit nec pharetra auctor, odio nisi
                interdum ipsum, ut pulvinar ex sapien at neque.</p>
            </div>
          </a>
          <div class="osg-card-untitled__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Card with actions</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-card-untitled">
          <div class="osg-card-untitled__content">
            <h5 class="osg-card-untitled__heading">Heading</h5>
            <p class="osg-card-untitled__text"><strong>Aliquam:</strong> Ut pulvinar ex sapien at neque.</p>
            <div class="osg-card-untitled__actions">
              <button class="osg-button osg-button--outline">Action text</button>
            </div>
          </div>
          <div class="osg-card-untitled__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Card with status</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-card-untitled osg-card-untitled--status">
          <div class="osg-card-untitled__content">
            <p class="osg-card-untitled__smalltext">Pulvinar ex sapien at neque</p>
            <h5 class="osg-card-untitled__heading">Heading</h5>
            <p class="osg-card-untitled__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
              sollicitudin, velit nec pharetra auctor, odio nisi
              interdum ipsum, ut pulvinar ex sapien at neque.</p>
          </div>
          <div class="osg-card-untitled__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-card-untitled osg-card-untitled--status osg-card-untitled--status--green">
          <div class="osg-card-untitled__content">
            <p class="osg-card-untitled__smalltext">Pulvinar ex sapien at neque</p>
            <h5 class="osg-card-untitled__heading">Heading</h5>
            <p class="osg-card-untitled__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
              sollicitudin, velit nec pharetra auctor, odio nisi
              interdum ipsum, ut pulvinar ex sapien at neque.</p>
          </div>
          <div class="osg-card-untitled__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-card-untitled osg-card-untitled--status osg-card-untitled--status--red">
          <div class="osg-card-untitled__content">
            <p class="osg-card-untitled__smalltext">Pulvinar ex sapien at neque</p>
            <h5 class="osg-card-untitled__heading">Heading</h5>
            <p class="osg-card-untitled__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
              sollicitudin, velit nec pharetra auctor, odio nisi
              interdum ipsum, ut pulvinar ex sapien at neque.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-card-untitled osg-card-untitled--status osg-card-untitled--status--blue">
          <div class="osg-card-untitled__content">
            <p class="osg-card-untitled__smalltext">Pulvinar ex sapien at neque</p>
            <h5 class="osg-card-untitled__heading">Heading</h5>
            <p class="osg-card-untitled__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
              sollicitudin, velit nec pharetra auctor, odio nisi
              interdum ipsum, ut pulvinar ex sapien at neque.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Card with custom content</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-card-untitled">
          <a class="osg-card-untitled__link" href="#osg-card-untitled">
            <div class="osg-card-untitled__content">
              <p class="osg-card-untitled__smalltext osg-flex osg-flex-align-items-center">
                <span class="osg-icon osg-icon--briefcase osg-text-2 osg-margin-right-2"></span>
                <span>Pulvinar ex sapien at neque</span>
              </p>
              <h5 class="osg-card-untitled__heading">Heading</h5>
              <p class="osg-card-untitled__smalltext">Pulvinar ex sapien at neque</p>
              <p class="osg-card-untitled__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
                sollicitudin, velit nec pharetra auctor, odio nisi
                interdum ipsum, ut pulvinar ex sapien at neque.</p>
            </div>
          </a>
          <div class="osg-card-untitled__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-card-untitled">
          <a class="osg-card-untitled__link" href="#osg-card-untitled">
            <div class="osg-card-untitled__content">
              <p class="osg-card-untitled__smalltext osg-flex osg-flex-align-items-center">
                <span class="osg-icon osg-icon--briefcase osg-text-2 osg-margin-right-2"></span>
                <span>Pulvinar ex sapien at neque</span>
              </p>
              <h5 class="osg-card-untitled__heading">Heading</h5>
              <p class="osg-card-untitled__smalltext">Pulvinar ex sapien at neque</p>
              <p class="osg-card-untitled__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
                sollicitudin, velit nec pharetra auctor, odio nisi
                interdum ipsum, ut pulvinar ex sapien at neque.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
