<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">Menu button expands a list of links to navigate and it is used in the main page.</p>
    </div>

    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <button class="osg-button-menu" aria-expanded="false" aria-label="Menu">
            <span class="osg-button-menu__text">Menu</span>
            <span class="osg-button-menu__icon" aria-hidden="true">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
          <div class="osg-navbar-menu">
            <div class="osg-row osg-navbar-menu__services">
              <div class="osg-row__column osg-row__column--12">
                <h2 class="osg-navbar-menu__heading">Lorem ipsum heading</h2>
                <button class="osg-navbar-menu__collapsable-heading">Lorem ipsum heading</button>
                <ul class="osg-navbar-menu__services__list">
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum dolor sit amet</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum dolor sit amet</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum dolor</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__icon">
                        <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                      </div>
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="osg-row osg-navbar-menu__categories">
              <div class="osg-row__column osg-row__column--3">
                <h2 class="osg-navbar-menu__heading">Heading</h2>
                <button class="osg-navbar-menu__collapsable-heading">Heading</button>
                <ul>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)"
                      ><div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)"
                      ><div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum dolor sit amet</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)"
                      ><div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="osg-row__column osg-row__column--3">
                <h2 class="osg-navbar-menu__heading">Heading</h2>
                <button class="osg-navbar-menu__collapsable-heading">Heading</button>
                <ul>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum dolor sit amet</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="osg-row__column osg-row__column--3">
                <h2 class="osg-navbar-menu__heading">Heading</h2>
                <button class="osg-navbar-menu__collapsable-heading">Heading</button>
                <ul>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum dolor</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="osg-row__column osg-row__column--3">
                <h2 class="osg-navbar-menu__heading">Heading</h2>
                <button class="osg-navbar-menu__collapsable-heading">Heading</button>
                <ul>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="osg-row osg-navbar-menu__footer">
              <div class="osg-row__column osg-row__column--6">
                <ul class="osg-navbar-menu__footer__list">
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="osg-row__column osg-row__column--3">
                <ul class="osg-navbar-menu__footer__list">
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="osg-navbar-menu-link" href="javascript:void(0)">
                      <div class="osg-navbar-menu-link__content">
                        <span class="osg-navbar-menu-link__text">Lorem </span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
      <button class="osg-button-menu" aria-expanded="false" aria-label="Menu">
        <span class="osg-button-menu__text">Menu</span>
        <span class="osg-button-menu__icon" aria-hidden="true">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
      <div class="osg-navbar-menu">
        <div class="osg-row osg-navbar-menu__services">
          <div class="osg-row__column osg-row__column--12">
            <h2 class="osg-navbar-menu__heading">Lorem ipsum heading</h2>
            <button class="osg-navbar-menu__collapsable-heading">Lorem ipsum heading</button>
            <ul class="osg-navbar-menu__services__list">
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum dolor sit amet</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum dolor sit amet</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum dolor</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__icon">
                    <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
                  </div>
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="osg-row osg-navbar-menu__categories">
          <div class="osg-row__column osg-row__column--3">
            <h2 class="osg-navbar-menu__heading">Heading</h2>
            <button class="osg-navbar-menu__collapsable-heading">Heading</button>
            <ul>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)"
                  ><div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)"
                  ><div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum dolor sit amet</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)"
                  ><div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="osg-row__column osg-row__column--3">
            <h2 class="osg-navbar-menu__heading">Heading</h2>
            <button class="osg-navbar-menu__collapsable-heading">Heading</button>
            <ul>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum dolor sit amet</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="osg-row__column osg-row__column--3">
            <h2 class="osg-navbar-menu__heading">Heading</h2>
            <button class="osg-navbar-menu__collapsable-heading">Heading</button>
            <ul>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum dolor</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="osg-row__column osg-row__column--3">
            <h2 class="osg-navbar-menu__heading">Heading</h2>
            <button class="osg-navbar-menu__collapsable-heading">Heading</button>
            <ul>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem ipsum</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="osg-row osg-navbar-menu__footer">
          <div class="osg-row__column osg-row__column--6">
            <ul class="osg-navbar-menu__footer__list">
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="osg-row__column osg-row__column--3">
            <ul class="osg-navbar-menu__footer__list">
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
              <li>
                <a class="osg-navbar-menu-link" href="javascript:void(0)">
                  <div class="osg-navbar-menu-link__content">
                    <span class="osg-navbar-menu-link__text">Lorem </span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>