@use "system/breakpoints";
@use "system/colors";
@use "system/spacing";
@use "system/states";
@use "system/typography";
@use "system/visibility";
@use "components/links/link/mixins";
@use "sass:math";

// Small
$osg-small-hamburger-line-height: 0.125rem;
$osg-small-hamburger-line-gap: 0.75rem;
$osg-small-hamburger-line-width: 2.188rem;
$osg-small-hamburger-width: 3.438rem;
$osg-small-hamburger-height: 3.438rem;

// Medium
$osg-medium-hamburger-line-height: 0.125rem;
$osg-medium-hamburger-line-gap: 0.5rem;
$osg-medium-hamburger-line-width: 1.625rem;
$osg-medium-hamburger-height: 2.875rem;
$osg-medium-hamburger-width: 2.875rem;

// Large
$osg-large-hamburger-line-height: 0.125rem;
$osg-large-hamburger-line-gap: 0.5rem;
$osg-large-hamburger-line-width: 1.875rem;
$osg-large-hamburger-height: 3.125rem;
$osg-large-hamburger-width: 3.125rem;

@function calculate-hamburger-line-position($hamburgerHeight, $lineHeight, $gap) {
  @return (math.div($hamburgerHeight - $lineHeight, 2) + $gap);
}

.osg-button-menu {
  @extend %osg-text-4;
  @extend %osg-padding-horizontal-15, %osg-padding-vertical-10;

  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: colors.$blue-dark;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  height: 60px;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 60px;

  @include breakpoints.medium {
    border-radius: 0;
    border: 2px solid colors.$blue-dark;
    height: unset;
    margin-left: unset;
    width: unset;
  }

  &__text {
    display: none;

    @include breakpoints.medium {
      display: block;
      float: left;
    }
  }

  &__icon {
    float: right;
    width: 45px;

    > span {
      background-color: colors.$blue-dark;
      height: $osg-small-hamburger-line-height;
      position: absolute;
      pointer-events: none;
      right: 10px;
      transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      width: $osg-small-hamburger-line-width;

      &:nth-child(1) {
        top: calculate-hamburger-line-position($osg-small-hamburger-height, $osg-small-hamburger-line-height, -$osg-small-hamburger-line-gap);
      }
      &:nth-child(2) {
        top: calculate-hamburger-line-position($osg-small-hamburger-height, $osg-small-hamburger-line-height, 0);
      }
      &:nth-child(3) {
        top: calculate-hamburger-line-position($osg-small-hamburger-height, $osg-small-hamburger-line-height, $osg-small-hamburger-line-gap);
      }

      @include breakpoints.medium {
        background-color: colors.$blue-dark;
        height: $osg-medium-hamburger-line-height;
        right: 15px;
        width: $osg-medium-hamburger-line-width;

        &:nth-child(1) {
          top: calculate-hamburger-line-position($osg-medium-hamburger-width, $osg-medium-hamburger-line-height, -$osg-medium-hamburger-line-gap);
        }
        &:nth-child(2) {
          top: calculate-hamburger-line-position($osg-medium-hamburger-width, $osg-medium-hamburger-line-height, 0);
        }
        &:nth-child(3) {
          top: calculate-hamburger-line-position($osg-medium-hamburger-width, $osg-medium-hamburger-line-height, $osg-medium-hamburger-line-gap);
        }
      }

      @include breakpoints.large {
        background-color: colors.$blue-dark;
        height: $osg-medium-hamburger-line-height;
        right: 15px;
        width: $osg-medium-hamburger-line-width;

        &:nth-child(1) {
          top: calculate-hamburger-line-position($osg-large-hamburger-width, $osg-medium-hamburger-line-height, -$osg-medium-hamburger-line-gap);
        }
        &:nth-child(2) {
          top: calculate-hamburger-line-position($osg-large-hamburger-width, $osg-medium-hamburger-line-height, 0);
        }
        &:nth-child(3) {
          top: calculate-hamburger-line-position($osg-large-hamburger-width, $osg-medium-hamburger-line-height, $osg-medium-hamburger-line-gap);
        }
      }
    }

    &--close {
      > span {
        background: colors.$black !important;
        margin-top: 0;
        right: 15px;
        transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        width: 30px;
        @include breakpoints.medium {
          background: colors.$white !important;
        }

        &:nth-child(1) {
          top: 25px;
          transform: translateY(5px) translateY(-50%) rotate(-135deg);
          @include breakpoints.medium {
            right: 15px;
            top: 18px;
          }
          @include breakpoints.large {
            right: 15px;
            top: 19px;
          }
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 37px;
          transform: translateY(-9px) translateY(50%) rotate(135deg);
          @include breakpoints.medium {
            right: 15px;
            top: 30px;
          }
          @include breakpoints.large {
            right: 15px;
            top: 31px;
          }
        }
      }
    }
  }

  &:active,
  &:focus,
  &:hover {
    border-color: colors.$blue-contrast;
    color: colors.$blue-contrast;

    @include breakpoints.medium {
      background-color: transparent;
    }

    .osg-button-menu__icon {
      > span {
        background-color: colors.$blue-contrast;
      }
    }
  }

  &--close {
    background-color: colors.$yellow;

    @include breakpoints.medium {
      background-color: colors.$blue-dark;
      color: colors.$white;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: colors.$yellow;

      @include breakpoints.medium {
        background-color: colors.$blue-dark;
        color: colors.$white;
      }
    }
  }
}

.osg-navbar-menu {
  @extend %osg-padding-vertical-30;
  background-color: colors.$white;
  display: none;

  @include breakpoints.medium {
    padding-left: 0;
  }

  .osg-icon {
    font-size: 1.5rem;
    @include breakpoints.medium {
      font-size: 2rem;
    }
  }

  &__heading-collapsable {
    background-color: unset;
    border: none;
    color: colors.$blue-dark;
    padding-left: 0;
    cursor: pointer;
    @extend %osg-heading-5;
    @extend %osg-none-breakpoint-medium;

    @extend %osg-margin-bottom-15;

    span {
      pointer-events: none;
      vertical-align: middle;
    }
  }

  &__heading {
    display: none;
    @extend %osg-heading-5;
    @extend %osg-block-breakpoint-medium;
  }

  &__list-animate {
    max-height: 0;
    overflow: hidden;

    @include breakpoints.medium {
      max-height: unset;
    }

    &--open {
      max-height: 695px;
      transition: all 0.7s ease;
    }

    &--close {
      max-height: 0px;
      transition: all 0.7s ease;

      @include breakpoints.medium {
        max-height: unset;
      }
    }
  }

  &__link {
    color: inherit;
    display: flex;
    font-size: inherit;
    flex-direction: row;
    text-decoration: none;

    @include mixins.states {
      .osg-navbar-menu__link-content .osg-navbar-menu__link-text {
        text-decoration: underline;
      }
    }
  }

  &__link-icon {
    @extend %osg-heading-5, %osg-margin-right-15;

    > * {
      line-height: 1.5em !important;
    }
  }

  &__link-content {
    line-height: 2.375em;
    @include breakpoints.medium {
      line-height: 3.125em;
    }
  }

  &__link-text {
    @extend %osg-text-5;
    display: inline-block;
  }

  &__services {
    @include breakpoints.medium {
      padding-left: spacing.$space-50;
      padding-right: spacing.$space-50;
    }

    & .osg-navbar-menu__heading {
      margin-left: spacing.$space-15 !important;
    }
  }

  &__services-list {
    background-color: colors.$gray;
    margin-left: 0;
    margin-right: 0;

    @include breakpoints.medium {
      background-color: unset;
      margin-bottom: spacing.$space-15;
      margin-top: spacing.$space-15;
      padding-left: 0;
      flex-wrap: wrap;
    }

    li:last-child {
      margin-bottom: spacing.$space-10;

      @include breakpoints.medium {
        margin-bottom: unset;
      }
    }
  }

  &__categories {
    padding-bottom: spacing.$space-15;
    padding-top: spacing.$space-5;

    ul {
      background-color: colors.$gray;
    }

    @include breakpoints.medium {
      background-color: colors.$gray;
      margin-left: 0;
      margin-right: 0;
      padding-top: spacing.$space-15;
      padding-left: spacing.$space-50;
      padding-right: spacing.$space-50;
      ul {
        margin-top: spacing.$space-15;
        padding-left: 0;
        padding-bottom: 0;
        li {
          margin-bottom: spacing.$space-30;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: start;

    @include breakpoints.medium {
      justify-content: space-between;
      margin-left: 0;
      padding-left: spacing.$space-50;
      padding-right: spacing.$space-50;
    }
  }

  &__footer-list {
    @extend %osg-padding-top-15;
    display: block;

    @include breakpoints.medium {
      display: flex;
      justify-content: space-between;
    }

    li {
      @extend %osg-margin-bottom-15;

      .osg-icon {
        font-size: 2rem;
      }
    }

    &--media {
      display: flex;
      justify-content: space-between;

      @include breakpoints.medium {
        justify-content: space-around;
      }
    }
  }
}
