<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">Menu button is used on the main page</p>
    </div>

    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Menu</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <button class="osg-button-menu" aria-expanded="false" aria-label="Menu">
            <span class="osg-button-menu__text">Menu</span>
            <span class="osg-button-menu__icon" aria-hidden="true">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3 osg-margin-bottom-15">Menu</h3>
      <div class="osg-row">
        <div class="osg-row__column">
          <button class="osg-button-menu" aria-expanded="false" aria-label="Menu">
            <span class="osg-button-menu__text">Menu</span>
            <span class="osg-button-menu__icon" aria-hidden="true">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
