@use "system/breakpoints";
@use "system/colors";
@use "system/spacing";
@use "system/states";
@use "system/typography";
@use "system/visibility";
@use "components/links/link/mixins";
@use "sass:math";

// Common
$osg-hamburger-width: 55px;
$osg-hamburger-height: 55px;

// Desktop
$osg-desktop-hamburger-line-height: 2px;
$osg-desktop-hamburger-line-gap: 8px;
$osg-desktop-hamburger-line-width: 30px;

// Mobile
$osg-mobile-hamburger-line-height: 2px;
$osg-mobile-hamburger-line-gap: 12px;
$osg-mobile-hamburger-line-width: 40px;

@function calculate-hamburger-line-position($hamburgerHeight, $lineHeight, $gap) {
  @return (math.div($hamburgerHeight - $lineHeight, 2) + $gap);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

.osg-button-menu {
  @extend %osg-text-4;
  @extend %osg-padding-horizontal-15, %osg-padding-vertical-15;

  border-radius: 50%;
  border: none;
  height: 60px;
  width: 60px;
  background-color: transparent;
  color: colors.$blue-dark;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  outline: none;
  position: relative;

  @include breakpoints.medium {
    border-radius: 0;
    border: 2px solid colors.$blue-dark;
    height: unset;
    margin-left: unset;
    width: unset;
  }

  span {
    pointer-events: none;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: colors.$blue-contrast;
    color: colors.$blue-contrast;
    .osg-button-menu__icon {
      > span {
        background-color: colors.$blue-contrast;
      }
    }
  }

  &.osg-button-menu--close {
    background-color: colors.$yellow;

    @include breakpoints.medium {
      background-color: colors.$blue-dark;
      color: colors.$white;
    }
    .osg-button-menu__icon {
      > span {
        background-color: colors.$blue-contrast;

        @include breakpoints.medium {
          background-color: colors.$white;
        }
      }
    }
  }

  &__text {
    display: none;

    @include breakpoints.medium {
      display: block;
      float: left;
    }
  }

  &__icon {
    float: right;
    width: 45px;

    > span {
      background: colors.$blue-dark;
      height: $osg-mobile-hamburger-line-height;
      margin-top: 2px;
      position: absolute;
      right: 10px;
      transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      width: $osg-mobile-hamburger-line-width;

      &:nth-child(1) {
        top: calculate-hamburger-line-position($osg-hamburger-height, $osg-mobile-hamburger-line-height, -$osg-mobile-hamburger-line-gap);
      }
      &:nth-child(2) {
        top: calculate-hamburger-line-position($osg-hamburger-height, $osg-mobile-hamburger-line-height, 0);
      }
      &:nth-child(3) {
        top: calculate-hamburger-line-position($osg-hamburger-height, $osg-mobile-hamburger-line-height, $osg-mobile-hamburger-line-gap);
      }

      @include breakpoints.medium {
        height: $osg-desktop-hamburger-line-height;
        margin-top: 0;
        right: 15px;
        width: $osg-desktop-hamburger-line-width;

        &:nth-child(1) {
          top: calculate-hamburger-line-position($osg-hamburger-height, $osg-desktop-hamburger-line-height, -$osg-desktop-hamburger-line-gap);
        }
        &:nth-child(2) {
          top: calculate-hamburger-line-position($osg-hamburger-height, $osg-desktop-hamburger-line-height, 0);
        }
        &:nth-child(3) {
          top: calculate-hamburger-line-position($osg-hamburger-height, $osg-desktop-hamburger-line-height, $osg-desktop-hamburger-line-gap);
        }
      }
    }

    &--close {
      > span {
        background: colors.$black !important;
        margin-top: 0;
        right: 15px;
        transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        width: 30px;
        @include breakpoints.medium {
          background: colors.$white !important;
        }

        &:nth-child(1) {
          top: 25px;
          transform: translateY(5px) translateY(-50%) rotate(-135deg);
          @include breakpoints.medium {
            right: 15px;
            top: 22px;
          }
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 37px;
          transform: translateY(-9px) translateY(50%) rotate(135deg);
          @include breakpoints.medium {
            right: 15px;
            top: 34px;
          }
        }
      }
    }
  }
}

.osg-navbar-menu {
  @extend %osg-padding-vertical-30;
  padding-left: spacing.$space-20;

  display: none;

  @include breakpoints.medium {
    padding-left: 0;
  }

  &__heading-collapsable {
    background-color: unset;
    border: none;
    padding-left: 0;
    cursor: pointer;
    @extend %osg-heading-5;
    @extend %osg-none-breakpoint-medium;

    span {
      pointer-events: none;
      vertical-align: middle;
    }
  }

  &__heading {
    display: none;
    @extend %osg-heading-5;
    @extend %osg-block-breakpoint-medium;
  }

  .osg-navbar-menu-link {
    color: inherit;
    display: flex;
    font-size: inherit;
    flex-direction: row;
    text-decoration: none;

    &__icon {
      @extend %osg-heading-5, %osg-margin-right-15;

      > * {
        line-height: 1.2em !important;
      }
    }

    &__content {
      & .osg-navbar-menu-link__text {
        @extend %osg-text-5;
        display: inline-block;
      }
    }

    @include mixins.states {
      .osg-navbar-menu-link__content .osg-navbar-menu-link__text {
        text-decoration: underline;
      }
    }
  }

  &__services {
    @include breakpoints.medium {
      padding-left: spacing.$space-50;
      padding-right: spacing.$space-50;
    }

    &__list {
      background-color: colors.$gray;
      display: none;
      margin-bottom: spacing.$space-15;
      margin-left: - spacing.$space-20;
      margin-right: - spacing.$space-20;
      margin-top: spacing.$space-30;

      padding-bottom: spacing.$space-15;
      padding-left: spacing.$space-15;
      padding-top: spacing.$space-15;


      @include breakpoints.medium {
        background-color: unset;
        margin-bottom: spacing.$space-15;
        margin-left: - spacing.$space-15;
        margin-right: - spacing.$space-15;
        margin-top: spacing.$space-15;
        padding-left: 0;
      }
    }
  }

  &__categories {
    margin-left: - spacing.$space-20;
    margin-right: - spacing.$space-20;
    padding-bottom: spacing.$space-15;
    padding-top: spacing.$space-5;

    .osg-navbar-menu__heading-collapsable {
      padding-left: 13px;
    }

    ul {
      background-color: colors.$gray;
      margin-bottom: spacing.$space-20;
      margin-top: spacing.$space-30;
      padding-left: spacing.$space-20;

      li {
        margin-top: spacing.$space-15;
        margin-bottom: spacing.$space-15;
      }
    }

    @include breakpoints.medium {
      background-color: colors.$gray;
      padding-top: spacing.$space-15;
      padding-left: 55px;
      padding-right: 55px;
      ul {
        margin-left: 0;
        margin-bottom: 0;
        padding-left: spacing.$space-15;
        padding-bottom: 0;
        li {
          margin-bottom: spacing.$space-30;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: start;

    @include breakpoints.medium {
      justify-content: space-between;
      padding-left: spacing.$space-50;
      padding-right: spacing.$space-50;
    }

    &__list {
      @extend %osg-padding-top-15;
      display: block;

      @include breakpoints.medium {
        display: flex;
        justify-content: flex-start;
      }

      li {
        @extend %osg-padding-right-15;
        @extend %osg-margin-bottom-15;

        .osg-icon {
          font-size: 2rem;
        }
      }
    }

    &__list-media {
      display: flex;
      justify-content: flex-start;

      @include breakpoints.medium {
        justify-content: space-around;
      }
    }
  }
}
