<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Menu button expands a list of links to navigate and it is used in the main page.</p>
    </div>

    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <button class="ods-button-menu" aria-expanded="false" aria-controls="ods-menu-1">
            <span class="ods-button-menu__text">Menu</span>
            <span class="ods-button-menu__icon"></span>
          </button>
          <div id="ods-menu-1" class="ods-navbar-menu">
            <div class="ods-grid ods-navbar-menu__services">
              <div class="ods-grid__column--12">
                <h2 class="ods-navbar-menu__heading">Tjenester og tilbud</h2>
                <button class="ods-navbar-menu__heading-collapsable" aria-expanded="false">
                  Tjenester og tilbud
                  <span class="ods-icon ods-icon--plus-sign"></span>
                </button>
                <ul class="ods-grid ods-grid--gap ods-navbar-menu__services-list ods-navbar-menu__list-animate">
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--24h" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Døgnåpne tjenester </span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--chevron-right" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Koronavirus</span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--swingset" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Barnehage</span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--backpack" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Skole og utdanning</span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--heart-plus" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Helse og omsorg</span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--crane" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Plan, bygg og eiendom</span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--bus" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Gate, transport og parkering </span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--recycling" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Avfall og gjenvinning</span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--park" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Natur, kultur og fritid</span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--house-heart" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Bolig og sosiale tjenester</span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--coin-stacks" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Skatt og næring</span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-icon">
                        <span class="ods-icon ods-icon--water-faucet" aria-hidden="true"></span>
                      </div>
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Vann og avløp</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="ods-grid ods-grid--gap ods-navbar-menu__categories">
              <div class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <h2 class="ods-navbar-menu__heading">Dette satser vi på</h2>
                <button class="ods-navbar-menu__heading-collapsable" aria-expanded="false">
                  Dette satser vi på
                  <span class="ods-icon ods-icon--plus-sign"></span>
                </button>
                <div class="ods-navbar-menu__list-animate">
                  <ul>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)"
                        ><div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Byutvikling</span>
                        </div>
                      </a>
                    </li>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)"
                        ><div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Miljø og klima</span>
                        </div>
                      </a>
                    </li>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)"
                        ><div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Slik bygger vi Oslo</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <h2 class="ods-navbar-menu__heading">Politikk og innsyn</h2>
                <button class="ods-navbar-menu__heading-collapsable" aria-expanded="false">
                  Politikk og innsyn
                  <span class="ods-icon ods-icon--plus-sign"></span>
                </button>
                <div class="ods-navbar-menu__list-animate">
                  <ul>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)">
                        <div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Politikk</span>
                        </div>
                      </a>
                    </li>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)">
                        <div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Valg</span>
                        </div>
                      </a>
                    </li>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)">
                        <div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Innsyn</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <h2 class="ods-navbar-menu__heading">Finn fram i kommunen</h2>
                <button class="ods-navbar-menu__heading-collapsable" aria-expanded="false">
                  Finn fram i kommunen
                  <span class="ods-icon ods-icon--plus-sign"></span>
                </button>
                <div class="ods-navbar-menu__list-animate">
                  <ul>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)">
                        <div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Bydeler</span>
                        </div>
                      </a>
                    </li>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)">
                        <div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Etater, foretak og ombud</span>
                        </div>
                      </a>
                    </li>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)">
                        <div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Rådhuset</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <h2 class="ods-navbar-menu__heading">Annet</h2>
                <button class="ods-navbar-menu__heading-collapsable" aria-expanded="false">
                  Annet
                  <span class="ods-icon ods-icon--plus-sign"></span>
                </button>
                <div class="ods-navbar-menu__list-animate">
                  <ul>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)">
                        <div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Tilskudd, legater og stipend</span>
                        </div>
                      </a>
                    </li>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)">
                        <div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Utmerkelser og priser</span>
                        </div>
                      </a>
                    </li>
                    <li class="ods-margin-bottom-8-breakpoint-medium">
                      <a class="ods-navbar-menu__link" href="javascript:void(0)">
                        <div class="ods-navbar-menu__link-content">
                          <span class="ods-navbar-menu__link-text">Flyktninger og inkludering</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="ods-grid ods-navbar-menu__footer">
              <div class="ods-grid__column--12 ods-grid__column--10-breakpoint-medium">
                <ul class="ods-navbar-menu__footer-list ods-navbar-menu__footer-list--miscellaneous ods-block ods-flex-breakpoint-medium">
                  <li class="ods-padding-right-13-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Kontakt </span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-padding-right-13-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">Jobb i Oslo kommune </span>
                      </div>
                    </a>
                  </li>
                  <li class="ods-padding-right-13-breakpoint-medium">
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-navbar-menu__link-text">English </span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--2-breakpoint-medium">
                <ul class="ods-navbar-menu__footer-list ods-navbar-menu__footer-list--media">
                  <li>
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-icon ods-icon--facebook" aria-label="Facebook"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="ods-navbar-menu__link" href="javascript:void(0)">
                      <div class="ods-navbar-menu__link-content">
                        <span class="ods-icon ods-icon--x" aria-label="X"></span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter ods-margin-bottom-8">
    <div class="ods-grid__column--12">
      <button class="ods-button-menu" aria-expanded="false" aria-controls="ods-menu-2">
        <span class="ods-button-menu__text">Menu</span>
        <span class="ods-button-menu__icon"></span>
      </button>
      <button class="ods-button" id="ods-menu-2-open">Open</button>
      <button class="ods-button" id="ods-menu-2-close">Close</button>
      <div id="ods-menu-2" class="ods-navbar-menu">
        <div class="ods-navbar-menu__services ods-grid">
          <div class="ods-grid__column--12">
            <h2 class="ods-navbar-menu__heading">Tjenester og tilbud</h2>
            <button class="ods-navbar-menu__heading-collapsable" aria-expanded="false">
              Tjenester og tilbud
              <span class="ods-icon ods-icon--plus-sign"></span>
            </button>
            <ul class="ods-navbar-menu__services-list ods-navbar-menu__list-animate ods-grid ods-grid--gap">
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--24h" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Døgnåpne tjenester </span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--chevron-right" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Koronavirus</span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--swingset" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Barnehage</span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--backpack" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Skole og utdanning</span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--heart-plus" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Helse og omsorg</span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--crane" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Plan, bygg og eiendom</span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--bus" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Gate, transport og parkering </span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--recycling" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Avfall og gjenvinning</span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--park" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Natur, kultur og fritid</span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--house-heart" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Bolig og sosiale tjenester</span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--coin-stacks" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Skatt og næring</span>
                  </div>
                </a>
              </li>
              <li class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-icon">
                    <span class="ods-icon ods-icon--water-faucet" aria-hidden="true"></span>
                  </div>
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Vann og avløp</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ods-navbar-menu__categories ods-grid ods-grid--gap">
          <div class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
            <h2 class="ods-navbar-menu__heading">Dette satser vi på</h2>
            <button class="ods-navbar-menu__heading-collapsable" aria-expanded="false">
              Dette satser vi på
              <span class="ods-icon ods-icon--plus-sign"></span>
            </button>
            <div class="ods-navbar-menu__list-animate">
              <ul>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)"
                    ><div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Byutvikling</span>
                    </div>
                  </a>
                </li>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)"
                    ><div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Miljø og klima</span>
                    </div>
                  </a>
                </li>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)"
                    ><div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Slik bygger vi Oslo</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
            <h2 class="ods-navbar-menu__heading">Politikk og innsyn</h2>
            <button class="ods-navbar-menu__heading-collapsable" aria-expanded="false">
              Politikk og innsyn
              <span class="ods-icon ods-icon--plus-sign"></span>
            </button>
            <div class="ods-navbar-menu__list-animate">
              <ul>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)">
                    <div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Politikk</span>
                    </div>
                  </a>
                </li>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)">
                    <div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Valg</span>
                    </div>
                  </a>
                </li>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)">
                    <div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Innsyn</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
            <h2 class="ods-navbar-menu__heading">Finn fram i kommunen</h2>
            <button class="ods-navbar-menu__heading-collapsable" aria-expanded="false">
              Finn fram i kommunen
              <span class="ods-icon ods-icon--plus-sign"></span>
            </button>
            <div class="ods-navbar-menu__list-animate">
              <ul>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)">
                    <div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Bydeler</span>
                    </div>
                  </a>
                </li>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)">
                    <div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Etater, foretak og ombud</span>
                    </div>
                  </a>
                </li>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)">
                    <div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Rådhuset</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="ods-grid__column--12 ods-grid__column--3-breakpoint-medium">
            <h2 class="ods-navbar-menu__heading">Annet</h2>
            <button class="ods-navbar-menu__heading-collapsable" aria-expanded="false">
              Annet
              <span class="ods-icon ods-icon--plus-sign"></span>
            </button>
            <div class="ods-navbar-menu__list-animate">
              <ul>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)">
                    <div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Tilskudd, legater og stipend</span>
                    </div>
                  </a>
                </li>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)">
                    <div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Utmerkelser og priser</span>
                    </div>
                  </a>
                </li>
                <li class="ods-margin-bottom-8-breakpoint-medium">
                  <a class="ods-navbar-menu__link" href="javascript:void(0)">
                    <div class="ods-navbar-menu__link-content">
                      <span class="ods-navbar-menu__link-text">Flyktninger og inkludering</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ods-navbar-menu__footer ods-grid">
          <div class="ods-grid__column--12 ods-grid__column--10-breakpoint-medium">
            <ul class="ods-navbar-menu__footer-list ods-navbar-menu__footer-list--miscellaneous ods-block ods-flex-breakpoint-medium">
              <li class="ods-padding-right-13-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Kontakt </span>
                  </div>
                </a>
              </li>
              <li class="ods-padding-right-13-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">Jobb i Oslo kommune </span>
                  </div>
                </a>
              </li>
              <li class="ods-padding-right-13-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-navbar-menu__link-text">English </span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="ods-grid__column--12 ods-grid__column--2-breakpoint-medium">
            <ul class="ods-flex ods-flex-justify-content-flex-end ods-navbar-menu__footer-list ods-navbar-menu__footer-list--media">
              <li class="ods-padding-left-13-breakpoint-medium">
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-icon ods-icon--facebook" aria-label="Facebook"></span>
                  </div>
                </a>
              </li>
              <li>
                <a class="ods-navbar-menu__link" href="javascript:void(0)">
                  <div class="ods-navbar-menu__link-content">
                    <span class="ods-icon ods-icon--x" aria-label="X"></span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
