<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <!-- Default -->
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-combobox">
                  <div class="ods-combobox__select">
                    <input class="ods-combobox__input ods-combobox__input--focus" id="ods-combobox-1" type="text" autocomplete="off" aria-label="Label text" placeholder="Select an item from the list" />
                    <button class="ods-combobox__toggle" type="button" aria-label="Toggle list" aria-expanded="false" aria-controls="id-lisbox-1" tabindex="-1">
                      <span class="ods-icon ods-icon--chevron-thin-down ods-icon--size-juliett" aria-hidden="true" tabindex="-1"></span>
                    </button>
                  </div>
                  <div class="ods-combobox__dropdown">
                    <ul class="ods-combobox__dropdown-list ods-combobox__dropdown--scroll" role="listbox" id="id-listbox-1">
                      <li class="ods-combobox__dropdown-item" role="option">Item A</li>
                      <li class="ods-combobox__dropdown-item" role="option">Item B</li>
                      <li class="ods-combobox__dropdown-item" role="option">Item C</li>
                      <li class="ods-combobox__dropdown-item" role="option">Item D</li>
                      <li class="ods-combobox__dropdown-item" role="option">Item E</li>
                      <li class="ods-combobox__dropdown-item" role="option">Item F</li>
                      <li class="ods-combobox__dropdown-item" role="option">Item G</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ods-margin-bottom-25"></div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">With label</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-combobox">
                  <label for="ods-combobox-2" class="ods-combobox__label">Label text</label>
                  <div class="ods-combobox__select">
                    <input class="ods-combobox__input ods-combobox__input--focus" id="ods-combobox-2" type="text" autocomplete="off" placeholder="Select an item from the list" />
                    <button class="ods-combobox__toggle" type="button" aria-label="Toggle list" aria-expanded="false" aria-controls="id-lisbox-2" tabindex="-1">
                      <span class="ods-icon ods-icon--chevron-thin-down ods-icon--size-juliett" aria-hidden="true" tabindex="-1"></span>
                    </button>
                  </div>
                  <div class="ods-combobox__dropdown">
                    <ul class="ods-combobox__dropdown-list ods-combobox__dropdown--scroll" role="listbox" id="id-listbox-2">
                      <li class="ods-combobox__dropdown-item" role="option">
                        <div class="osg-text--size-lima osg-text--weight-medium">Item A</div>
                        <div class="osg-text--size-lima ods-text--weight-light">Description A</div>
                      </li>
                      <li class="ods-combobox__dropdown-item" role="option">
                        <div class="osg-text--size-lima osg-text--weight-medium">Item B</div>
                        <div class="osg-text--size-lima ods-text--weight-light">Description B</div>
                      </li>
                      <li class="ods-combobox__dropdown-item" role="option">
                        <div class="osg-text--size-lima osg-text--weight-medium">Item C</div>
                        <div class="osg-text--size-lima ods-text--weight-light">Description C</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ods-margin-bottom-25"></div>
    </div>

    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Vue component</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div id="ods-combobox-vue-1">
                  <ods-combobox
                    :i18n="{
                      'label': 'Select an element:',
                      'ariaLabelListBox': 'List of elements',
                      'buttonLabel': 'Toggle list',
                      'placeholder': 'Select an element from the list',
                    }"
                    :id="id"
                    :input-id="inputId"
                    :listbox-id="listboxId"
                    :items="items"
                    :item-list-scroll="true"
                    :value="value"
                    v-on:item-blur="event('input-blur', $event)"
                    v-on:item-focus="event('item-focus', $event)"
                    v-on:input-change="event('input-change', $event)"
                    v-on:input-enter="event('input-enter', $event)"
                    v-on:submit="event('submit', $event)"
                    v-on:itemlist-blur="event('itemlist-blur', $event)"
                    v-on:input-arrow-up-down="event('input-arrow-up-down', $event)"
                  ></ods-combobox>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ods-margin-bottom-25"></div>
    </div>
    <!-- /Default -->
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Default</h2>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-combobox">
            <label for="ods-combobox-11" class="ods-combobox__label">Label text</label>
            <div class="ods-combobox__select">
              <input class="ods-combobox__input" id="ods-combobox-11" type="text" autocomplete="off" aria-label="Label text" placeholder="Select an item from the list" />
              <button class="ods-combobox__toggle" type="button" aria-label="Toggle list" aria-expanded="false" tabindex="-1">
                <span class="ods-icon ods-icon--chevron-thin-down ods-icon--size-juliett" aria-hidden="true" tabindex="-1"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">States</h2>
        </div>
      </div>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-combobox">
            <label for="ods-combobox-22" class="ods-combobox__label">Hover</label>
            <div class="ods-combobox__select ods-combobox__select--hover">
              <input class="ods-combobox__input" id="ods-combobox-22" type="text" autocomplete="off" aria-label="Label text" placeholder="Select an item from the list" />
              <button class="ods-combobox__toggle" type="button" aria-label="Toggle list" aria-expanded="false" tabindex="-1">
                <span class="ods-icon ods-icon--chevron-thin-down ods-icon--size-juliett" aria-hidden="true" tabindex="-1"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-combobox">
            <label for="ods-combobox-33" class="ods-combobox__label">Focus/Active</label>
            <div class="ods-combobox__select ods-combobox__select--focus">
              <input class="ods-combobox__input ods-combobox__input--focus" id="ods-combobox-33" type="text" autocomplete="off" aria-label="Label text" placeholder="Select an item from the list" />
              <button class="ods-combobox__toggle" type="button" aria-label="Toggle list" aria-expanded="false" aria-controls="id-lisbox-33" tabindex="-1">
                <span class="ods-icon ods-icon--chevron-thin-down ods-icon--size-juliett" aria-hidden="true" tabindex="-1"></span>
              </button>
            </div>
            <div class="ods-combobox__dropdown">
              <ul class="ods-combobox__dropdown-list ods-combobox__dropdown--scroll" role="listbox" id="id-listbox-33" aria-label="List of items">
                <li class="ods-combobox__dropdown-item" role="option">Item A</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-combobox">
            <label for="ods-combobox-44" class="ods-combobox__label">ActiveListHover</label>
            <div class="ods-combobox__select ods-combobox__select--focus">
              <input class="ods-combobox__input ods-combobox__input--focus" id="ods-combobox-44" type="text" autocomplete="off" aria-label="Label text" placeholder="Select an item from the list" />
              <button class="ods-combobox__toggle" type="button" aria-label="Toggle list" aria-expanded="false" aria-controls="id-lisbox-44" tabindex="-1">
                <span class="ods-icon ods-icon--chevron-thin-down ods-icon--size-juliett" aria-hidden="true" tabindex="-1"></span>
              </button>
            </div>
            <div class="ods-combobox__dropdown">
              <ul class="ods-combobox__dropdown-list ods-combobox__dropdown--scroll" role="listbox" id="id-listbox-44" aria-label="List of items">
                <li class="ods-combobox__dropdown-item ods-combobox__dropdown-item--hover" role="option">Item A</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12">
          <div class="ods-padding-top-3"></div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-combobox ods-combobox--disabled">
            <label for="ods-combobox-55" class="ods-combobox__label">Disabled</label>
            <div class="ods-combobox__select">
              <input class="ods-combobox__input" id="ods-combobox-55" type="text" autocomplete="off" aria-label="Label text" placeholder="Select an item from the list" disabled="disabled" />
              <button class="ods-combobox__toggle" type="button" aria-label="Toggle list" aria-expanded="false" tabindex="-1">
                <span class="ods-icon ods-icon--chevron-thin-down ods-icon--size-juliett" aria-hidden="true" tabindex="-1"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-2">Vue</h2>
      <div id="ods-input-vue-1">
        <ods-input error-id="ods-vue-input-component" label="Name" name="name" :aria-required="true" placeholder="Please type your name" />
      </div>
    </div>
  </div>
</div>
