@font-face {font-family: "OsloIcons2";
  src: url('OsloIcons2.eot?t=1714086566369'); /* IE9*/
  src: url('OsloIcons2.eot?t=1714086566369#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("OsloIcons2.woff2?t=1714086566369") format("woff2"),
  url("OsloIcons2.woff?t=1714086566369") format("woff"),
  url('OsloIcons2.ttf?t=1714086566369') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('OsloIcons2.svg?t=1714086566369#OsloIcons2') format('svg'); /* iOS 4.1- */
}

[class^="OsloIcons2-"], [class*=" OsloIcons2-"] {
  font-family: 'OsloIcons2' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.OsloIcons2-24h:before { content: "\ea61"; }
.OsloIcons2-ambulance:before { content: "\ea62"; }
.OsloIcons2-arrow:before { content: "\ea63"; }
.OsloIcons2-attachment:before { content: "\ea64"; }
.OsloIcons2-automat:before { content: "\ea65"; }
.OsloIcons2-backpack:before { content: "\ea66"; }
.OsloIcons2-bike:before { content: "\ea67"; }
.OsloIcons2-briefcase:before { content: "\ea68"; }
.OsloIcons2-bullseye:before { content: "\ea69"; }
.OsloIcons2-bus:before { content: "\ea6a"; }
.OsloIcons2-cafe:before { content: "\ea6b"; }
.OsloIcons2-calendar:before { content: "\ea6c"; }
.OsloIcons2-camera:before { content: "\ea6d"; }
.OsloIcons2-check-big:before { content: "\ea6e"; }
.OsloIcons2-check-circle:before { content: "\ea6f"; }
.OsloIcons2-check:before { content: "\ea70"; }
.OsloIcons2-chevron-down:before { content: "\ea71"; }
.OsloIcons2-chevron-left:before { content: "\ea72"; }
.OsloIcons2-chevron-right:before { content: "\ea73"; }
.OsloIcons2-chevron-thin-down:before { content: "\ea74"; }
.OsloIcons2-chevron-thin-left:before { content: "\ea75"; }
.OsloIcons2-chevron-thin-right:before { content: "\ea76"; }
.OsloIcons2-chevron-thin-up:before { content: "\ea77"; }
.OsloIcons2-chevron-up:before { content: "\ea78"; }
.OsloIcons2-clock:before { content: "\ea79"; }
.OsloIcons2-close:before { content: "\ea7a"; }
.OsloIcons2-coin-stacks:before { content: "\ea7b"; }
.OsloIcons2-corona:before { content: "\ea7c"; }
.OsloIcons2-crane:before { content: "\ea7d"; }
.OsloIcons2-cross-circle:before { content: "\ea7e"; }
.OsloIcons2-cross:before { content: "\ea7f"; }
.OsloIcons2-data:before { content: "\ea80"; }
.OsloIcons2-directions:before { content: "\ea81"; }
.OsloIcons2-district:before { content: "\ea82"; }
.OsloIcons2-document:before { content: "\ea83"; }
.OsloIcons2-download:before { content: "\ea84"; }
.OsloIcons2-edit:before { content: "\ea85"; }
.OsloIcons2-elcar:before { content: "\ea86"; }
.OsloIcons2-email:before { content: "\ea87"; }
.OsloIcons2-error-hexa:before { content: "\ea88"; }
.OsloIcons2-exclamation-mark-circle:before { content: "\ea89"; }
.OsloIcons2-exclamation-mark-square:before { content: "\ea8a"; }
.OsloIcons2-exit:before { content: "\ea8b"; }
.OsloIcons2-expand:before { content: "\ea8c"; }
.OsloIcons2-eye:before { content: "\ea8d"; }
.OsloIcons2-facebook:before { content: "\ea8e"; }
.OsloIcons2-factory-fill:before { content: "\ea8f"; }
.OsloIcons2-feedback:before { content: "\ea90"; }
.OsloIcons2-filter:before { content: "\ea91"; }
.OsloIcons2-fire-emblem:before { content: "\ea92"; }
.OsloIcons2-graph:before { content: "\ea93"; }
.OsloIcons2-grid:before { content: "\ea94"; }
.OsloIcons2-handicap:before { content: "\ea95"; }
.OsloIcons2-heart-plus:before { content: "\ea96"; }
.OsloIcons2-heart:before { content: "\ea97"; }
.OsloIcons2-home:before { content: "\ea98"; }
.OsloIcons2-house-heart:before { content: "\ea99"; }
.OsloIcons2-information:before { content: "\ea9a"; }
.OsloIcons2-instagram:before { content: "\ea9b"; }
.OsloIcons2-invoice:before { content: "\ea9c"; }
.OsloIcons2-language:before { content: "\ea9d"; }
.OsloIcons2-linked-in:before { content: "\ea9e"; }
.OsloIcons2-list:before { content: "\ea9f"; }
.OsloIcons2-location-pin-filled:before { content: "\eaa0"; }
.OsloIcons2-location-pin:before { content: "\eaa1"; }
.OsloIcons2-magnifying-glass-big:before { content: "\eaa2"; }
.OsloIcons2-magnifying-glass-small:before { content: "\eaa3"; }
.OsloIcons2-map-layer:before { content: "\eaa4"; }
.OsloIcons2-map:before { content: "\eaa5"; }
.OsloIcons2-menu:before { content: "\eaa6"; }
.OsloIcons2-message:before { content: "\eaa7"; }
.OsloIcons2-minimize:before { content: "\eaa8"; }
.OsloIcons2-minus-circle-fill:before { content: "\eaa9"; }
.OsloIcons2-minus-circle:before { content: "\eaaa"; }
.OsloIcons2-minus-sign:before { content: "\eaab"; }
.OsloIcons2-mobile:before { content: "\eaac"; }
.OsloIcons2-museum:before { content: "\eaad"; }
.OsloIcons2-neutral:before { content: "\eaae"; }
.OsloIcons2-new-window:before { content: "\eaaf"; }
.OsloIcons2-obstacle:before { content: "\eab0"; }
.OsloIcons2-organization:before { content: "\eab1"; }
.OsloIcons2-paint-bucket:before { content: "\eab2"; }
.OsloIcons2-paper-plane:before { content: "\eab3"; }
.OsloIcons2-park:before { content: "\eab4"; }
.OsloIcons2-parking:before { content: "\eab5"; }
.OsloIcons2-picture:before { content: "\eab6"; }
.OsloIcons2-plus-circle-fill:before { content: "\eab7"; }
.OsloIcons2-plus-circle:before { content: "\eab8"; }
.OsloIcons2-plus-sign:before { content: "\eab9"; }
.OsloIcons2-print:before { content: "\eaba"; }
.OsloIcons2-question:before { content: "\eabb"; }
.OsloIcons2-recycling:before { content: "\eabc"; }
.OsloIcons2-sad:before { content: "\eabd"; }
.OsloIcons2-save:before { content: "\eabe"; }
.OsloIcons2-share-outline:before { content: "\eabf"; }
.OsloIcons2-share:before { content: "\eac0"; }
.OsloIcons2-signing:before { content: "\eac1"; }
.OsloIcons2-sky:before { content: "\eac2"; }
.OsloIcons2-smile:before { content: "\eac3"; }
.OsloIcons2-sound-off:before { content: "\eac4"; }
.OsloIcons2-sound-on:before { content: "\eac5"; }
.OsloIcons2-success-square:before { content: "\eac6"; }
.OsloIcons2-swingset:before { content: "\eac7"; }
.OsloIcons2-table:before { content: "\eac8"; }
.OsloIcons2-target:before { content: "\eac9"; }
.OsloIcons2-thumbs-down:before { content: "\eaca"; }
.OsloIcons2-thumbs-up:before { content: "\eacb"; }
.OsloIcons2-tickets:before { content: "\eacc"; }
.OsloIcons2-tool:before { content: "\eacd"; }
.OsloIcons2-trail:before { content: "\eace"; }
.OsloIcons2-tram:before { content: "\eacf"; }
.OsloIcons2-trash:before { content: "\ead0"; }
.OsloIcons2-treatment:before { content: "\ead1"; }
.OsloIcons2-user:before { content: "\ead2"; }
.OsloIcons2-warning-triangle:before { content: "\ead3"; }
.OsloIcons2-water-faucet:before { content: "\ead4"; }
.OsloIcons2-wifi:before { content: "\ead5"; }
.OsloIcons2-x:before { content: "\ead6"; }
.OsloIcons2-zoom-minus:before { content: "\ead7"; }
.OsloIcons2-zoom-plus:before { content: "\ead8"; }

$OsloIcons2-24h: "\ea61";
$OsloIcons2-ambulance: "\ea62";
$OsloIcons2-arrow: "\ea63";
$OsloIcons2-attachment: "\ea64";
$OsloIcons2-automat: "\ea65";
$OsloIcons2-backpack: "\ea66";
$OsloIcons2-bike: "\ea67";
$OsloIcons2-briefcase: "\ea68";
$OsloIcons2-bullseye: "\ea69";
$OsloIcons2-bus: "\ea6a";
$OsloIcons2-cafe: "\ea6b";
$OsloIcons2-calendar: "\ea6c";
$OsloIcons2-camera: "\ea6d";
$OsloIcons2-check-big: "\ea6e";
$OsloIcons2-check-circle: "\ea6f";
$OsloIcons2-check: "\ea70";
$OsloIcons2-chevron-down: "\ea71";
$OsloIcons2-chevron-left: "\ea72";
$OsloIcons2-chevron-right: "\ea73";
$OsloIcons2-chevron-thin-down: "\ea74";
$OsloIcons2-chevron-thin-left: "\ea75";
$OsloIcons2-chevron-thin-right: "\ea76";
$OsloIcons2-chevron-thin-up: "\ea77";
$OsloIcons2-chevron-up: "\ea78";
$OsloIcons2-clock: "\ea79";
$OsloIcons2-close: "\ea7a";
$OsloIcons2-coin-stacks: "\ea7b";
$OsloIcons2-corona: "\ea7c";
$OsloIcons2-crane: "\ea7d";
$OsloIcons2-cross-circle: "\ea7e";
$OsloIcons2-cross: "\ea7f";
$OsloIcons2-data: "\ea80";
$OsloIcons2-directions: "\ea81";
$OsloIcons2-district: "\ea82";
$OsloIcons2-document: "\ea83";
$OsloIcons2-download: "\ea84";
$OsloIcons2-edit: "\ea85";
$OsloIcons2-elcar: "\ea86";
$OsloIcons2-email: "\ea87";
$OsloIcons2-error-hexa: "\ea88";
$OsloIcons2-exclamation-mark-circle: "\ea89";
$OsloIcons2-exclamation-mark-square: "\ea8a";
$OsloIcons2-exit: "\ea8b";
$OsloIcons2-expand: "\ea8c";
$OsloIcons2-eye: "\ea8d";
$OsloIcons2-facebook: "\ea8e";
$OsloIcons2-factory-fill: "\ea8f";
$OsloIcons2-feedback: "\ea90";
$OsloIcons2-filter: "\ea91";
$OsloIcons2-fire-emblem: "\ea92";
$OsloIcons2-graph: "\ea93";
$OsloIcons2-grid: "\ea94";
$OsloIcons2-handicap: "\ea95";
$OsloIcons2-heart-plus: "\ea96";
$OsloIcons2-heart: "\ea97";
$OsloIcons2-home: "\ea98";
$OsloIcons2-house-heart: "\ea99";
$OsloIcons2-information: "\ea9a";
$OsloIcons2-instagram: "\ea9b";
$OsloIcons2-invoice: "\ea9c";
$OsloIcons2-language: "\ea9d";
$OsloIcons2-linked-in: "\ea9e";
$OsloIcons2-list: "\ea9f";
$OsloIcons2-location-pin-filled: "\eaa0";
$OsloIcons2-location-pin: "\eaa1";
$OsloIcons2-magnifying-glass-big: "\eaa2";
$OsloIcons2-magnifying-glass-small: "\eaa3";
$OsloIcons2-map-layer: "\eaa4";
$OsloIcons2-map: "\eaa5";
$OsloIcons2-menu: "\eaa6";
$OsloIcons2-message: "\eaa7";
$OsloIcons2-minimize: "\eaa8";
$OsloIcons2-minus-circle-fill: "\eaa9";
$OsloIcons2-minus-circle: "\eaaa";
$OsloIcons2-minus-sign: "\eaab";
$OsloIcons2-mobile: "\eaac";
$OsloIcons2-museum: "\eaad";
$OsloIcons2-neutral: "\eaae";
$OsloIcons2-new-window: "\eaaf";
$OsloIcons2-obstacle: "\eab0";
$OsloIcons2-organization: "\eab1";
$OsloIcons2-paint-bucket: "\eab2";
$OsloIcons2-paper-plane: "\eab3";
$OsloIcons2-park: "\eab4";
$OsloIcons2-parking: "\eab5";
$OsloIcons2-picture: "\eab6";
$OsloIcons2-plus-circle-fill: "\eab7";
$OsloIcons2-plus-circle: "\eab8";
$OsloIcons2-plus-sign: "\eab9";
$OsloIcons2-print: "\eaba";
$OsloIcons2-question: "\eabb";
$OsloIcons2-recycling: "\eabc";
$OsloIcons2-sad: "\eabd";
$OsloIcons2-save: "\eabe";
$OsloIcons2-share-outline: "\eabf";
$OsloIcons2-share: "\eac0";
$OsloIcons2-signing: "\eac1";
$OsloIcons2-sky: "\eac2";
$OsloIcons2-smile: "\eac3";
$OsloIcons2-sound-off: "\eac4";
$OsloIcons2-sound-on: "\eac5";
$OsloIcons2-success-square: "\eac6";
$OsloIcons2-swingset: "\eac7";
$OsloIcons2-table: "\eac8";
$OsloIcons2-target: "\eac9";
$OsloIcons2-thumbs-down: "\eaca";
$OsloIcons2-thumbs-up: "\eacb";
$OsloIcons2-tickets: "\eacc";
$OsloIcons2-tool: "\eacd";
$OsloIcons2-trail: "\eace";
$OsloIcons2-tram: "\eacf";
$OsloIcons2-trash: "\ead0";
$OsloIcons2-treatment: "\ead1";
$OsloIcons2-user: "\ead2";
$OsloIcons2-warning-triangle: "\ead3";
$OsloIcons2-water-faucet: "\ead4";
$OsloIcons2-wifi: "\ead5";
$OsloIcons2-x: "\ead6";
$OsloIcons2-zoom-minus: "\ead7";
$OsloIcons2-zoom-plus: "\ead8";

