@use "system/breakpoints";
@use "system/colors";
@use "system/fonts";
@use "system/spacing";
@use "system/state";

$osg-card-portrait-image-height-small: 200px;
$osg-card-portrait-image-height-medium: 230px;
$osg-card-portrait-image-height-large: 290px;

.osg-card-portrait {
  &__link {
    text-decoration: none;

    &:hover {
      * {
        @extend %osg-state-text-hover;
      }

      .osg-card-portrait__heading {
        text-decoration: underline;
      }
    }
  }

  &__media {
    img {
      display: block;
      height: $osg-card-portrait-image-height-small;
      line-height: 0;
      object-fit: cover;
      width: 100%;

      @include breakpoints.medium {
        height: $osg-card-portrait-image-height-medium;
      }

      @include breakpoints.large {
        height: $osg-card-portrait-image-height-large;
      }
    }
  }

  &__content {
    @extend %osg-padding-horizontal-2;
    @extend %osg-padding-vertical-3;
    @extend %osg-color-bg-gray-light;

    @include breakpoints.medium {
      padding: spacing.$space-4 spacing.$space-3 !important;
    }

    @include breakpoints.large {
      padding: spacing.$space-4 !important;
    }
  }

  &__actions {
    @extend %osg-padding-horizontal-2;
    @extend %osg-padding-bottom-3;
    @extend %osg-color-bg-gray-light;

    @include breakpoints.medium {
      padding: 0 spacing.$space-3 spacing.$space-4 spacing.$space-3 !important;
    }

    @include breakpoints.large {
      padding: 0 spacing.$space-4 spacing.$space-4 spacing.$space-4 !important;
    }
  }

  &__heading {
    @extend %osg-heading-4, %osg-margin-bottom-1;
  }

  &__text {
    @extend %osg-text-5;
  }

  &__published {
    @extend %osg-text-7, %osg-margin-top-4;
  }

  &--actions {
    & .osg-card-portrait__content {
      @include breakpoints.medium {
        padding: spacing.$space-4 spacing.$space-3 spacing.$space-3 spacing.$space-3 !important;
      }

      @include breakpoints.large {
        padding: spacing.$space-4 spacing.$space-4 spacing.$space-3 spacing.$space-4 !important;
      }
    }
  }

  &--white {
    & .osg-card-portrait__content,
    & .osg-card-portrait__actions {
      @extend %osg-color-bg-white;
    }
  }

  &--xs {
    & .osg-card-portrait__content {
      @include breakpoints.medium {
        padding: spacing.$space-3 !important;
      }

      @include breakpoints.large {
        padding: spacing.$space-3 !important;
      }
    }

    & .osg-card-portrait__heading {
      @extend %osg-heading-5;
    }

    & .osg-card-portrait__text {
      font-size: fonts.$size-16 !important;
    }

    & .osg-card-portrait__published {
      @extend %osg-margin-top-3;
    }

    & .osg-card-portrait__media {
      img {
        @include breakpoints.large {
          height: 213px;
        }
      }
    }
  }
}
