<h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
<div class="columns">
  <div class="column is-2">
    <ul class="osg-list">
      <li>Item</li>
      <li>Item</li>
      <li>Item</li>
    </ul>
  </div>
  <div class="column">
    <ol class="osg-list">
      <li>Item</li>
      <li>Item</li>
      <li>Item</li>
    </ol>
  </div>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Clean</h2>
<div class="columns">
  <div class="column is-2">
    <ul class="osg-list osg-list--clean">
      <li>Item</li>
      <li>Item</li>
      <li>Item</li>
    </ul>
  </div>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Chevron</h2>
<div class="columns">
  <div class="column is-2">
    <ul class="osg-list osg-list--chevron">
      <li>Item</li>
      <li>Item</li>
      <li>Item</li>
    </ul>
  </div>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Nested</h2>
<div class="columns">
  <div class="column is-2">
    <ul class="osg-list">
      <li>Item</li>
      <li>Item</li>
      <li>Item
        <ul>
          <li>Item</li>
          <li>Item</li>
          <li>Item
            <ul>
              <li>Item</li>
              <li>Item</li>
              <li>Item</li>
            </ul>
          </li>
          <li>Item</li>
        </ul>
      </li>
      <li>Item</li>
    </ul>
  </div>
  <div class="column is-2">
    <ol class="osg-list">
      <li>Item</li>
      <li>Item</li>
      <li>Item
        <ol>
          <li>Item</li>
          <li>Item</li>
          <li>Item
            <ol>
              <li>Item</li>
              <li>Item</li>
              <li>Item</li>
            </ol>
          </li>
          <li>Item</li>
        </ol>
      </li>
      <li>Item</li>
    </ol>
  </div>
  <div class="column is-2">
    <ul class="osg-list osg-list--chevron">
      <li>Item</li>
      <li>Item</li>
      <li>Item
        <ul>
          <li>Item</li>
          <li>Item</li>
          <li>Item
            <ul>
              <li>Item</li>
              <li>Item</li>
              <li>Item</li>
            </ul>
          </li>
          <li>Item</li>
        </ul>
      </li>
      <li>Item</li>
    </ul>
  </div>
  <div class="column">
    <ul class="osg-list osg-list--clean">
      <li>Item</li>
      <li>Item</li>
      <li>Item
        <ul>
          <li>Item</li>
          <li>Item</li>
          <li>Item
            <ul>
              <li>Item</li>
              <li>Item</li>
              <li>Item</li>
            </ul>
          </li>
          <li>Item</li>
        </ul>
      </li>
      <li>Item</li>
    </ul>
  </div>
</div>
