@use "system/spacing";

.osg-unordered-list {
  padding-left: 1.25rem;
  list-style: disc;

  & & {
    @extend %osg-padding-top-2;
    padding-left: 1.25rem;
  }

  &__item + &__item {
    @extend %osg-padding-top-2;
  }

  &--clean {
    padding-left: 0;
    list-style: none;
  }
}

.osg-ordered-list {
  padding-left: 1.25rem;
  list-style: decimal;

  & & {
    @extend %osg-padding-top-2;
    padding-left: 1.25rem;
  }

  &__item + &__item {
    @extend %osg-padding-top-2;
  }

  &--lower-roman {
    list-style: lower-roman;
  }

  &--upper-roman {
    list-style: upper-roman;
  }

  &--lower-alpha {
    list-style: lower-alpha;
  }

  &--upper-alpha {
    list-style: upper-alpha;
  }
}
