<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Unordered list</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <ul class="osg-unordered-list">
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">Item</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Clean</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <ul class="osg-unordered-list osg-unordered-list--clean">
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">Item</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Ordered list</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <ol class="osg-ordered-list">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Lower roman</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <ol class="osg-ordered-list osg-ordered-list--lower-roman">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Upper roman</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <ol class="osg-ordered-list osg-ordered-list--upper-roman">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Lower alpha</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <ol class="osg-ordered-list osg-ordered-list--lower-alpha">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Upper alpha</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <ol class="osg-ordered-list osg-ordered-list--upper-alpha">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-5">Nested</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <ul class="osg-unordered-list">
        <li class="osg-unordered-list__item">Item</li>
        <li class="osg-unordered-list__item">Item</li>
        <li class="osg-unordered-list__item">Item
          <ul class="osg-unordered-list">
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item
              <ul class="osg-unordered-list">
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
              </ul>
            </li>
            <li class="osg-unordered-list__item">Item</li>
          </ul>
        </li>
        <li class="osg-unordered-list__item">Item</li>
      </ul>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <ul class="osg-unordered-list osg-unordered-list--clean">
        <li class="osg-unordered-list__item">Item</li>
        <li class="osg-unordered-list__item">Item</li>
        <li class="osg-unordered-list__item">Item
          <ul class="osg-unordered-list osg-unordered-list--clean">
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item
              <ul class="osg-unordered-list osg-unordered-list--clean">
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
              </ul>
            </li>
            <li class="osg-unordered-list__item">Item</li>
          </ul>
        </li>
        <li class="osg-unordered-list__item">Item</li>
      </ul>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <ol class="osg-ordered-list">
        <li class="osg-ordered-list__item">Item</li>
        <li class="osg-ordered-list__item">Item</li>
        <li class="osg-ordered-list__item">Item
          <ol class="osg-ordered-list">
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item
              <ol class="osg-ordered-list">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </li>
            <li class="osg-ordered-list__item">Item</li>
          </ol>
        </li>
        <li class="osg-ordered-list__item">Item</li>
      </ol>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <ol class="osg-ordered-list">
        <li class="osg-ordered-list__item">Item</li>
        <li class="osg-ordered-list__item">Item</li>
        <li class="osg-ordered-list__item">Item
          <ol class="osg-ordered-list osg-ordered-list--lower-roman">
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item
              <ol class="osg-ordered-list">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </li>
            <li class="osg-ordered-list__item">Item</li>
          </ol>
        </li>
        <li class="osg-ordered-list__item">Item</li>
      </ol>
    </div>
  </div>
</div>
