.osg-list, .osg-list ul, .osg-list ol {
  padding-left: 1.25rem;

  li + li, ul, ol {
    padding-top: 0.625rem;
  }

  &--clean, &--clean ul {
    padding-left: 0;
    list-style: none !important;

    ul {
      padding-left: 1.25rem;
    }
  }
}

ul.osg-list, .osg-list ul {
  list-style: disc;
}

ol.osg-list, .osg-list ol {
  list-style: decimal;
}
