
<h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
<div class="osg-container">
  <ul class="osg-list">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>
  <ol class="osg-list osg-margin-left-4">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ol>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Clean</h2>
<div class="osg-container">
  <ul class="osg-list osg-list--clean">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Chevron</h2>
<div class="osg-container">
  <ul class="osg-list osg-list--chevron">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>
</div>
