<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-row">
        <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-30">
          <h2 class="osg-infobox__heading">Component rules</h2>
          We do not support/use definition lists yet.
        </div>
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-devtools-heading osg-devtools-nondevmode">Default</h2>
          <div class="osg-devtools-code osg-devtools-nondevmode">
            <div class="osg-devtools-code__box">
              <ul class="osg-unordered-list">
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
              </ul>
            </div>
          </div>
          <div class="osg-devtools-code osg-devtools-devmode">
            <ul class="osg-unordered-list">
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">Item</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-devtools-heading osg-devtools-nondevmode">Clean</h2>
          <div class="osg-devtools-code osg-devtools-nondevmode">
            <div class="osg-devtools-code__box">
              <ul class="osg-unordered-list osg-unordered-list--clean">
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
              </ul>
            </div>
          </div>
          <div class="osg-devtools-code osg-devtools-devmode">
            <ul class="osg-unordered-list osg-unordered-list--clean">
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">Item</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-devtools-heading osg-devtools-nondevmode">Ordered list</h2>
          <div class="osg-devtools-code osg-devtools-nondevmode">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
          <div class="osg-devtools-code osg-devtools-devmode">
            <ol class="osg-ordered-list">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-devtools-heading osg-devtools-nondevmode">Lower roman</h2>
          <div class="osg-devtools-code osg-devtools-nondevmode">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list osg-ordered-list--lower-roman">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
          <div class="osg-devtools-code osg-devtools-devmode">
            <ol class="osg-ordered-list osg-ordered-list--lower-roman">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-devtools-heading osg-devtools-nondevmode">Upper roman</h2>
          <div class="osg-devtools-code osg-devtools-nondevmode">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list osg-ordered-list--upper-roman">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
          <div class="osg-devtools-code osg-devtools-devmode">
            <ol class="osg-ordered-list osg-ordered-list--upper-roman">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-devtools-heading osg-devtools-nondevmode">Lower alpha</h2>
          <div class="osg-devtools-code osg-devtools-nondevmode">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list osg-ordered-list--lower-alpha">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
          <div class="osg-devtools-code osg-devtools-devmode">
            <ol class="osg-ordered-list osg-ordered-list--lower-alpha">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-devtools-heading osg-devtools-nondevmode">Upper alpha</h2>
          <div class="osg-devtools-code osg-devtools-nondevmode">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list osg-ordered-list--upper-alpha">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
          <div class="osg-devtools-code osg-devtools-devmode">
            <ol class="osg-ordered-list osg-ordered-list--upper-alpha">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="osg-row osg-devtools-nondevmode">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Nested</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <ul class="osg-unordered-list">
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item
              <ul class="osg-unordered-list">
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item
                  <ul class="osg-unordered-list">
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">Item</li>
                  </ul>
                </li>
                <li class="osg-unordered-list__item">Item</li>
              </ul>
            </li>
            <li class="osg-unordered-list__item">Item</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <ul class="osg-unordered-list osg-unordered-list--clean">
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item
              <ul class="osg-unordered-list osg-unordered-list--clean">
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item
                  <ul class="osg-unordered-list osg-unordered-list--clean">
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">Item</li>
                  </ul>
                </li>
                <li class="osg-unordered-list__item">Item</li>
              </ul>
            </li>
            <li class="osg-unordered-list__item">Item</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <ol class="osg-ordered-list">
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item
              <ol class="osg-ordered-list">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item
                  <ol class="osg-ordered-list">
                    <li class="osg-ordered-list__item">Item</li>
                    <li class="osg-ordered-list__item">Item</li>
                    <li class="osg-ordered-list__item">Item</li>
                  </ol>
                </li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </li>
            <li class="osg-ordered-list__item">Item</li>
          </ol>
        </div>
      </div>
    </div>
  </div>


  <div class="osg-row osg-devtools-devmode">
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
          <ul class="osg-unordered-list">
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item
              <ul class="osg-unordered-list">
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item
                  <ul class="osg-unordered-list">
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">Item</li>
                  </ul>
                </li>
                <li class="osg-unordered-list__item">Item</li>
              </ul>
            </li>
            <li class="osg-unordered-list__item">Item</li>
          </ul>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
          <ul class="osg-unordered-list osg-unordered-list--clean">
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item
              <ul class="osg-unordered-list osg-unordered-list--clean">
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item
                  <ul class="osg-unordered-list osg-unordered-list--clean">
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">Item</li>
                  </ul>
                </li>
                <li class="osg-unordered-list__item">Item</li>
              </ul>
            </li>
            <li class="osg-unordered-list__item">Item</li>
          </ul>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
          <ol class="osg-ordered-list">
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item
              <ol class="osg-ordered-list">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item
                  <ol class="osg-ordered-list">
                    <li class="osg-ordered-list__item">Item</li>
                    <li class="osg-ordered-list__item">Item</li>
                    <li class="osg-ordered-list__item">Item</li>
                  </ol>
                </li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </li>
            <li class="osg-ordered-list__item">Item</li>
          </ol>
      </div>
    </div>
  </div>
</div>
