ul.osg-list, ul.osg-list ul {
  list-style: disc;
}

ol.osg-list, ol.osg-list ol {
  list-style: decimal;
}

ul.osg-list, ul.osg-list ul,
ol.osg-list, ol.osg-list ol {
  padding-left: 1.25rem;

  li + li, ul, ol {
    padding-top: 10px;
  }

  &--clean, &--clean ul {
    padding-left: 0;
    list-style: none;

    ul {
      padding-left: 1.25rem;
    }
  }

  &--chevron, &--chevron ul {
    @extend .osg-list--clean;

    padding-left: 1.25rem;

    ul {
      padding-left: 1.25rem;
    }

    li::before {
      font-family: 'Oslo Icons' !important;
      font-size: inherit;
      line-height: inherit;
      content: map-get($osg-icons, "chevron-right") !important;
      margin-left: -1.25rem;
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      vertical-align: middle;
    }
  }
}
