ul.osg-list, ul.osg-list ul {
  list-style: disc;
}

ol.osg-list, ol.osg-list ol {
  list-style: decimal;
}

ul.osg-list, ul.osg-list ul,
ol.osg-list, ol.osg-list ol {
  padding-left: 20px;
  @extend %osg-text-5;

  li {
    padding-bottom: 10px;
  }

  &--clean, &--clean ul {
    padding-left: 0;
    list-style: none;

    ul {
      padding-left: 20px;
    }
  }

  &--chevron, &--chevron ul {
    @extend .osg-list--clean;

    ul {
      padding-left: 20px;
    }

    li::before {
      font-family: 'Oslo Icons' !important;
      font-style: normal;
      font-weight: 400 !important;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      content: map-get($osg-icons, "chevron-right") !important;
      font-size: 20px !important;
      margin-left: 2px !important;
      display: inline;
      vertical-align: bottom;
    }
  }
}
