<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <div class="osg-infobox osg-infobox--yellow">
        <h2 class="osg-infobox__heading">Important</h2>
        <p>We do not support/use definition lists yet.</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <ul class="osg-unordered-list">
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Clean</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <ul class="osg-unordered-list osg-unordered-list--clean">
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item</li>
            <li class="osg-unordered-list__item">Item</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h2 class="osg-devtools-text-preset-1">Ordered list</h2>
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h2 class="osg-devtools-text-preset-1">Lower roman</h2>
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list osg-ordered-list--lower-roman">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h2 class="osg-devtools-text-preset-1">Upper roman</h2>
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list osg-ordered-list--upper-roman">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h2 class="osg-devtools-text-preset-1">Lower alpha</h2>
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list osg-ordered-list--lower-alpha">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h2 class="osg-devtools-text-preset-1">Upper alpha</h2>
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list osg-ordered-list--upper-alpha">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Nested</h2>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <ul class="osg-unordered-list">
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">
                  Item
                  <ul class="osg-unordered-list">
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">
                      Item
                      <ul class="osg-unordered-list">
                        <li class="osg-unordered-list__item">Item</li>
                        <li class="osg-unordered-list__item">Item</li>
                        <li class="osg-unordered-list__item">Item</li>
                      </ul>
                    </li>
                    <li class="osg-unordered-list__item">Item</li>
                  </ul>
                </li>
                <li class="osg-unordered-list__item">Item</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <ul class="osg-unordered-list osg-unordered-list--clean">
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">Item</li>
                <li class="osg-unordered-list__item">
                  Item
                  <ul class="osg-unordered-list osg-unordered-list--clean">
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">Item</li>
                    <li class="osg-unordered-list__item">
                      Item
                      <ul class="osg-unordered-list osg-unordered-list--clean">
                        <li class="osg-unordered-list__item">Item</li>
                        <li class="osg-unordered-list__item">Item</li>
                        <li class="osg-unordered-list__item">Item</li>
                      </ul>
                    </li>
                    <li class="osg-unordered-list__item">Item</li>
                  </ul>
                </li>
                <li class="osg-unordered-list__item">Item</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <ol class="osg-ordered-list">
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">Item</li>
                <li class="osg-ordered-list__item">
                  Item
                  <ol class="osg-ordered-list">
                    <li class="osg-ordered-list__item">Item</li>
                    <li class="osg-ordered-list__item">Item</li>
                    <li class="osg-ordered-list__item">
                      Item
                      <ol class="osg-ordered-list">
                        <li class="osg-ordered-list__item">Item</li>
                        <li class="osg-ordered-list__item">Item</li>
                        <li class="osg-ordered-list__item">Item</li>
                      </ol>
                    </li>
                    <li class="osg-ordered-list__item">Item</li>
                  </ol>
                </li>
                <li class="osg-ordered-list__item">Item</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Default</h2>
      <ul class="osg-unordered-list">
        <li class="osg-unordered-list__item">Item</li>
        <li class="osg-unordered-list__item">Item</li>
        <li class="osg-unordered-list__item">Item</li>
      </ul>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Clean</h2>
      <ul class="osg-unordered-list osg-unordered-list--clean">
        <li class="osg-unordered-list__item">Item</li>
        <li class="osg-unordered-list__item">Item</li>
        <li class="osg-unordered-list__item">Item</li>
      </ul>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Ordered list</h2>
      <ol class="osg-ordered-list">
        <li class="osg-ordered-list__item">Item</li>
        <li class="osg-ordered-list__item">Item</li>
        <li class="osg-ordered-list__item">Item</li>
      </ol>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
          <h2 class="osg-devtools-text-preset-2">Lower roman</h2>
          <ol class="osg-ordered-list osg-ordered-list--lower-roman">
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
          </ol>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
          <h2 class="osg-devtools-text-preset-2">Upper roman</h2>
          <ol class="osg-ordered-list osg-ordered-list--upper-roman">
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
          <h2 class="osg-devtools-text-preset-2">Lower alpha</h2>
          <ol class="osg-ordered-list osg-ordered-list--lower-alpha">
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
          </ol>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
          <h2 class="osg-devtools-text-preset-2">Upper alpha</h2>
          <ol class="osg-ordered-list osg-ordered-list--upper-alpha">
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
            <li class="osg-ordered-list__item">Item</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Nested</h2>
        <div class="osg-grid osg-grid--gap">
          <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
            <ul class="osg-unordered-list">
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">
                Item
                <ul class="osg-unordered-list">
                  <li class="osg-unordered-list__item">Item</li>
                  <li class="osg-unordered-list__item">Item</li>
                  <li class="osg-unordered-list__item">
                    Item
                    <ul class="osg-unordered-list">
                      <li class="osg-unordered-list__item">Item</li>
                      <li class="osg-unordered-list__item">Item</li>
                      <li class="osg-unordered-list__item">Item</li>
                    </ul>
                  </li>
                  <li class="osg-unordered-list__item">Item</li>
                </ul>
              </li>
              <li class="osg-unordered-list__item">Item</li>
            </ul>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
            <ul class="osg-unordered-list osg-unordered-list--clean">
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">Item</li>
              <li class="osg-unordered-list__item">
                Item
                <ul class="osg-unordered-list osg-unordered-list--clean">
                  <li class="osg-unordered-list__item">Item</li>
                  <li class="osg-unordered-list__item">Item</li>
                  <li class="osg-unordered-list__item">
                    Item
                    <ul class="osg-unordered-list osg-unordered-list--clean">
                      <li class="osg-unordered-list__item">Item</li>
                      <li class="osg-unordered-list__item">Item</li>
                      <li class="osg-unordered-list__item">Item</li>
                    </ul>
                  </li>
                  <li class="osg-unordered-list__item">Item</li>
                </ul>
              </li>
              <li class="osg-unordered-list__item">Item</li>
            </ul>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
            <ol class="osg-ordered-list">
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">Item</li>
              <li class="osg-ordered-list__item">
                Item
                <ol class="osg-ordered-list">
                  <li class="osg-ordered-list__item">Item</li>
                  <li class="osg-ordered-list__item">Item</li>
                  <li class="osg-ordered-list__item">
                    Item
                    <ol class="osg-ordered-list">
                      <li class="osg-ordered-list__item">Item</li>
                      <li class="osg-ordered-list__item">Item</li>
                      <li class="osg-ordered-list__item">Item</li>
                    </ol>
                  </li>
                  <li class="osg-ordered-list__item">Item</li>
                </ol>
              </li>
              <li class="osg-ordered-list__item">Item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
