<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Tabs description</p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>To make it easy for screen reader users to navigate from a tab to the beginning of content in the active tabpanel, it is recommended that all tabpanel elements in a tab set are focusable if there are any panels in the set that contain content where the first element in the panel is not focusable.</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <p class="ods-paragraph">Tabs default</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-tabs">
            <h3 id="tablist-1" class="ods-tabs__label">Famous authors</h3>
            <div class="ods-tabs__triggers" role="tablist" aria-labelledby="tablist-1">
              <button id="tab-1" class="ods-tabs__trigger" role="tab" aria-controls="tabpanel-1" aria-selected="true">George Orwell</button>
              <button id="tab-2" class="ods-tabs__trigger" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="-1">Charles Dickens</button>
              <button id="tab-3" class="ods-tabs__trigger" role="tab" aria-controls="tabpanel-3" aria-selected="false" tabindex="-1">J.R.R Tolkien</button>
            </div>
            <div class="ods-tabs__tabs">
              <div id="tabpanel-1" role="tabpanel" aria-labelledby="tab-1" class="ods-tabs__tab ods-tabs__tab--active">
                <p class="ods-paragraph"><a href="javascript:void(0)" class="ods-link">Eric Arthur Blair</a> (25 June 1903 – 21 January 1950), known by his pen name George Orwell, was an English novelist, essayist, journalist and critic. His work is characterised by lucid prose, social criticism, opposition to totalitarianism, and support of democratic socialism.</p>
              </div>
              <div id="tabpanel-2" role="tabpanel" aria-labelledby="tab-2" class="ods-tabs__tab">
                <p class="ods-paragraph" tabindex="0">Dickens's literary success began with the 1836 serial publication of The Pickwick Papers, a publishing phenomenon—thanks largely to the introduction of the character Sam Weller in the fourth episode—that sparked Pickwick merchandise and spin-offs.</p>
              </div>
              <div id="tabpanel-3" role="tabpanel" aria-labelledby="tab-3" class="ods-tabs__tab">
                <p class="ods-paragraph" tabindex="0">
                  Tolkien's immediate paternal ancestors were middle-class craftsmen who made and sold clocks, watches and pianos in London and Birmingham. The Tolkien family originated in the East Prussian town of Kreuzburg near Königsberg, which had been founded during medieval German eastward expansion, where his earliest-known paternal ancestor Michel Tolkien was born around 1620.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
          <div class="ods-tabs">
            <h3 id="tablist-2" class="ods-tabs__label">Example tabs</h3>
            <div class="ods-tabs__triggers" role="tablist" aria-labelledby="tablist-2">
              <button id="tab-2-1" class="ods-tabs__trigger" role="tab" aria-controls="tabpanel-2-1" aria-selected="true">Tab 1</button>
              <button id="tab-2-2" class="ods-tabs__trigger" role="tab" aria-controls="tabpanel-2-2" aria-selected="false" tabindex="-1">Tab 2</button>
              <button id="tab-3-2" class="ods-tabs__trigger" role="tab" aria-controls="tabpanel-2-3" aria-selected="false" tabindex="-1">Tab 3</button>
            </div>
            <div class="ods-tabs__tabs">
              <div id="tabpanel-2-1" role="tabpanel" aria-labelledby="tab-2-1" class="ods-tabs__tab ods-tabs__tab--active">
                <p class="ods-paragraph"><a href="javascript:void(0)" class="ods-link">Contrary</a> to popular belief, <a href="javascript:void(0)" class="ods-link">Lorem Ipsum</a> is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              </div>
              <div id="tabpanel-2-2" role="tabpanel" aria-labelledby="tab-2-2" class="ods-tabs__tab">
                <p class="ods-paragraph" tabindex="0">Some other page content.</p>
              </div>
              <div id="tabpanel-2-3" role="tabpanel" aria-labelledby="tab-2-3" class="ods-tabs__tab">
                <p class="ods-paragraph" tabindex="0">Final page.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
