@use "system/colors";
@use "system/spacing";
@use "system/typography";

.osg-tabs {
  overflow: hidden;

  &__triggers {
    @extend %osg-margin-bottom-3;
  }

  &__trigger {
    @extend %osg-text-size-lima;
    @extend %osg-text-weight-medium;
    @extend %osg-margin-right-4;

    border: none;
    background: transparent;
    text-align: center;
    border-bottom: 2px solid colors.$gray;
    padding: 0;

    &:hover {
      border-bottom: 2px solid colors.$blue-contrast;
      color: colors.$blue-contrast;
    }

    &--active {
      border-bottom: 2px solid colors.$blue-dark;
    }
  }

  &__tab {
    display: none;

    &--active {
      display: block;
    }
  }
}
