<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-text-size-india osg-text-size-hotel-breakpoint-medium osg-text-size-golf-breakpoint-large osg-text-weight-light">Tabs description</p>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <p class="osg-paragraph">Tabs default</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-tabs">
            <div class="osg-tabs__triggers">
              <button class="osg-tabs__trigger osg-tabs__trigger--active" aria-controls="overview-tab1">Tab 1</button>
              <button class="osg-tabs__trigger" aria-controls="overview-tab2">Tab 2</button>
              <button class="osg-tabs__trigger" aria-controls="overview-tab3">Tab 3</button>
            </div>
            <div class="osg-tabs__tabs">
              <div id="overview-tab1" class="osg-tabs__tab osg-tabs__tab--active">
                <p class="osg-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              </div>
              <div id="overview-tab2" class="osg-tabs__tab">
                <p class="osg-paragraph">Some other page content.</p>
              </div>
              <div id="overview-tab3" class="osg-tabs__tab">
                <p class="osg-paragraph">Final page.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-text-size-hotel osg-text-size-foxtrot-breakpoint-medium osg-text-size-delta-breakpoint-large osg-text-weight-regular">Default</h2>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium osg-grid__column--4-breakpoint-large">
          <div class="osg-tabs">
            <div class="osg-tabs__triggers">
              <button class="osg-tabs__trigger osg-tabs__trigger--active" aria-controls="tab1">Tab 1</button>
              <button class="osg-tabs__trigger" aria-controls="tab2">Tab 2</button>
              <button class="osg-tabs__trigger" aria-controls="tab3">Tab 3</button>
            </div>
            <div class="osg-tabs__tabs">
              <div id="tab1" class="osg-tabs__tab osg-tabs__tab--active">
                <p class="osg-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              </div>
              <div id="tab2" class="osg-tabs__tab">
                <p class="osg-paragraph">Some other page content.</p>
              </div>
              <div id="tab3" class="osg-tabs__tab">
                <p class="osg-paragraph">Final page.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium osg-grid__column--4-breakpoint-large">
          <div class="osg-tabs">
            <div class="osg-tabs__triggers">
              <button class="osg-tabs__trigger osg-tabs__trigger--active" aria-controls="tab4">Tab 1</button>
              <button class="osg-tabs__trigger" aria-controls="tab5">Tab 2</button>
              <button class="osg-tabs__trigger" aria-controls="tab6">Tab 3</button>
            </div>
            <div class="osg-tabs__tabs">
              <div id="tab4" class="osg-tabs__tab osg-tabs__tab--active">Content 1</div>
              <div id="tab5" class="osg-tabs__tab">Content 2</div>
              <div id="tab6" class="osg-tabs__tab">Content 3</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
