@use "components/form/input/mixins";
@use "system/colors";
@use "system/typography";
@use "system/icons";
@use "system/spacing";

@mixin switch-states() {
  &:hover,
  &--hover {
    border-color: colors.$blue-hover;
  }

  &:hover &__background,
  &--hover &__background,
  &:hover &__label-text,
  &--hover &__label-text,
  &:hover &__slider,
  &--hover &__slider {
    border-color: colors.$blue-hover;
    color: colors.$blue-hover;
  }

  &:focus-within,
  &--focus {
    border: 2px solid colors.$blue-hover;
    outline: initial;
    outline-style: solid;
    outline-width: 1px;
    outline-color: colors.$blue-hover;
  }

  &__input:focus ~ &__label-text,
  &--focus &__label-text {
    color: colors.$blue-hover;
  }

  &__input:focus ~ &__slider,
  &--focus &__slider {
    border-color: colors.$blue-hover;
  }

  &__input:checked ~ &__background {
    background: colors.$blue-dark none repeat scroll 0 0;
  }

  &__input:checked ~ &__slider {
    left: 12px;
  }

  &__input:checked ~ &__slider::before {
    content: map-get(icons.$icons, "check");
  }

  &__input:disabled ~ &__background,
  &__input:disabled ~ &__slider,
  &--disabled,
  &--disabled:hover {
    background: colors.$grayscale-10 none repeat scroll 0 0;
    border-color: colors.$grayscale-40;
  }

  &__input:disabled ~ &__slider::before,
  &__input:disabled ~ &__label-text {
    color: colors.$grayscale-40;
  }

  &__input:disabled:checked ~ &__background {
    background: colors.$grayscale-40 none repeat scroll 0 0;
  }

  &--error {
    border: 2px solid colors.$red;
  }

  &--error .osg-switch__input:checked ~ .osg-switch__background {
    background: colors.$red none repeat scroll 0 0 !important;
  }

  &--error &__label-text,
  &--error &__slider {
    border-color: colors.$red;
    color: colors.$red;
  }
}

.osg-switch {
  background-color: colors.$white;
  border-radius: 18px;
  border: 2px solid colors.$blue-dark;
  cursor: pointer;
  display: block;
  font-weight: 500;
  height: 27px;
  @extend %osg-margin-bottom-3;
  position: relative;
  width: 41px;

  &__input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  &__background {
    border-radius: inherit;
    display: block;
    height: 24px;
    position: relative;
    transition: all 0.15s ease-out 0s;
  }

  &__label-text {
    border: none;
    left: 43px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }

  &__slider {
    background-color: colors.$white;
    border: 2px solid colors.$blue-dark;
    border-radius: 13px;
    height: 26px;
    left: -2px;
    position: absolute;
    top: -1px;
    transition: left 0.15s ease-out 0s;
    width: 27px;
  }

  &__slider::before {
    background-color: colors.$white;
    border-radius: 6px;
    content: "";
    font-family: "Oslo Icons";
    @extend %osg-text-size-bravo;
    font-style: normal;
    height: 0;
    left: 50%;
    line-height: 1.5em;
    margin: -30px 0 0 -19px;
    position: absolute;
    top: 50%;
    width: 0;
  }

  @include switch-states;

  &__error-message {
    @include mixins.error-message;
  }
}
