<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Switch</h2>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-switch" aria-labelledby="on">
          <input type="checkbox" class="osg-switch__input" checked="checked">
          <span class="osg-switch__background"></span>
          <span class="osg-switch__slider"></span>
          <span class="osg-switch__label-text">On</span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-switch" aria-labelledby="off">
          <input type="checkbox" class="osg-switch__input">
          <span class="osg-switch__background"></span>
          <span class="osg-switch__slider"></span>
          <span class="osg-switch__label-text" id="off">Off</span>
        </label>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-switch" aria-labelledby="on">
          <input type="checkbox" class="osg-switch__input" checked="checked">
          <span class="osg-switch__background"></span>
          <span class="osg-switch__slider"></span>
          <span class="osg-switch__label-text">On</span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-switch osg-switch--hover" aria-label="label text">
          <input type="checkbox" class="osg-switch__input">
          <span class="osg-switch__background"></span>
          <span class="osg-switch__slider"></span>
          <span class="osg-switch__label-text" aria-hidden="true">Hover</span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-switch osg-switch--focus" aria-label="label text">
          <input type="checkbox" class="osg-switch__input">
          <span class="osg-switch__background"></span>
          <span class="osg-switch__slider"></span>
          <span class="osg-switch__label-text" aria-hidden="true">Focus/Active</span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-switch osg-switch--disabled" aria-label="label text">
          <input type="checkbox" class="osg-switch__input" disabled="disabled">
          <span class="osg-switch__background"></span>
          <span class="osg-switch__slider"></span>
          <span class="osg-switch__label-text" aria-hidden="true">Disabled</span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-switch osg-switch--error" aria-label="label text">
          <input type="checkbox" class="osg-switch__input">
          <span class="osg-switch__background"></span>
          <span class="osg-switch__slider"></span>
          <span class="osg-switch__label-text" aria-hidden="true">Error/invalid</span>
        </label>
      </div>
    </div>
  </div>
</div>