<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">A switch is a small control for which you use to turn the an element on or off.</p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>The switch text should never take the 100% width of the page in medium and up breakpoints.</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <label class="ods-switch" aria-describedby="switch-1">
            <input type="checkbox" class="ods-switch__input" checked="checked" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-1">On</span>
          </label>
        </div>
      </div>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <label class="ods-switch" aria-describedby="switch-2">
            <input type="checkbox" class="ods-switch__input" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-2">Off</span>
          </label>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">States</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <label class="ods-switch ods-switch--disabled" aria-describedby="switch-7">
            <input type="checkbox" class="ods-switch__input" disabled="disabled" checked="checked" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-7">On</span>
          </label>
        </div>
      </div>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <label class="ods-switch ods-switch--disabled" aria-describedby="switch-8">
            <input type="checkbox" class="ods-switch__input" disabled="disabled" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-8">Off</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Switch</h2>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <label class="ods-switch" aria-describedby="switch-9">
            <input type="checkbox" class="ods-switch__input" checked="checked" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-9">On</span>
          </label>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <label class="ods-switch" aria-describedby="switch-10">
            <input type="checkbox" class="ods-switch__input" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-10">Off</span>
          </label>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">States</h2>
        </div>
      </div>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <label class="ods-switch ods-switch--hover" aria-describedby="switch-11">
            <input type="checkbox" class="ods-switch__input" checked="checked" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-11">Hover on</span>
          </label>
          <label class="ods-switch ods-switch--hover" aria-describedby="switch-12">
            <input type="checkbox" class="ods-switch__input" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-12">Hover off</span>
          </label>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <label class="ods-switch ods-switch--focus" aria-describedby="switch-13">
            <input type="checkbox" class="ods-switch__input" checked="checked" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-13">Focus/Active</span>
          </label>
          <label class="ods-switch ods-switch--focus" aria-describedby="switch-14">
            <input type="checkbox" class="ods-switch__input" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-14">Focus/Active</span>
          </label>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <label class="ods-switch ods-switch--disabled" aria-describedby="switch-5">
            <input type="checkbox" class="ods-switch__input" disabled="disabled" checked="checked" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-5">Disabled</span>
          </label>
          <label class="ods-switch ods-switch--disabled" aria-describedby="switch-16">
            <input type="checkbox" class="ods-switch__input" disabled="disabled" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-16">Disabled</span>
          </label>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <label class="ods-switch ods-switch--error" aria-describedby="switch-17">
            <input type="checkbox" class="ods-switch__input" aria-describedby="error-1" checked="checked" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-17">Error/invalid</span>
          </label>
          <label class="ods-switch ods-switch--error" aria-describedby="switch-18">
            <input type="checkbox" class="ods-switch__input" aria-describedby="error-18" />
            <span class="ods-switch__background"></span>
            <span class="ods-switch__slider"></span>
            <span class="ods-switch__label-text" id="switch-18">Error/invalid</span>
          </label>
          <div class="ods-status-message ods-status-message--danger">
            <h2 class="ods-status-message__heading" id="error-18"><span class="ods-status-message__icon ods-icon--error-hexa" aria-hidden="true"></span>Error message</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
