<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea__countdown-characters">
          <textarea class="osg-textarea" aria-label="Label text" placeholder="Write something here..."></textarea>
          <span aria-live="polite">30/500</span>
        </div>
      </div>
    </div>
  </div>
  <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">With label</h2>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Label text
          <textarea class="osg-textarea" placeholder="Write something here..."></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </label>
      </div>
    </div>
  </div>
  <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">States</h2>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Hover
          <textarea class="osg-textarea osg-textarea--hover" placeholder="Write something here..."></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Active/focus
          <textarea class="osg-textarea osg-textarea--focus" placeholder="Write something here..."></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label osg-label--disabled">
          Disabled
          <textarea class="osg-textarea" placeholder="Write something here..." disabled="disabled"></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </label>
      </div>
    </div>
  </div>
</div>
