<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea">
          <textarea class="osg-textarea__textarea" aria-label="Label text" placeholder="Write something here..."></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </div>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Textarea with label</h2>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea">
          <label class="osg-textarea__label">
            Label text
            <textarea class="osg-textarea__textarea" placeholder="Write something here..."></textarea>
            <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea  osg-textarea--hover">
          <label class="osg-textarea__label">
            Hover
            <textarea class="osg-textarea__textarea" placeholder="Write something here..."></textarea>
            <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
          </label>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea osg-textarea--focus">
          <label class="osg-textarea__label">
            Active/focus
            <textarea class="osg-textarea__textarea" placeholder="Write something here..."></textarea>
            <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
          </label>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea osg-textarea--disabled">
          <label class="osg-textarea__label">
            Disabled
            <textarea class="osg-textarea__textarea" placeholder="Write something here..." disabled="disabled"></textarea>
            <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
          </label>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea osg-textarea--error">
          <label class="osg-textarea__label">
            Error/invalid
            <textarea class="osg-textarea__textarea" placeholder="Write something here..."></textarea>
            <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
