@use "components/forms/input/mixins";

.osg-textarea {
  @include mixins.form-component;
  @include mixins.form-states;

  resize: none;

  &::placeholder {
    color: inherit;
  }

  &__countdown-characters {
    display: block;
    text-align: right;
    @extend %osg-text-7;
  }
}
