<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea">
          <textarea class="osg-textarea__textarea" aria-label="Label text" placeholder="Write something here..."></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </div>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Textarea with label</h2>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea">
          <label for="textarea-1" class="osg-textarea__label">Label text</label>
          <textarea id="textarea-1" class="osg-textarea__textarea" placeholder="Write something here..."></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </div>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea  osg-textarea--hover">
          <label for="textarea-2" class="osg-textarea__label">Hover</label>
          <textarea id="textarea-2" class="osg-textarea__textarea" placeholder="Write something here..."></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea osg-textarea--focus">
          <label for="textarea-3" class="osg-textarea__label">Active/focus</label>
          <textarea id="textarea-3" class="osg-textarea__textarea" placeholder="Write something here..."></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea osg-textarea--disabled">
          <label for="textarea-4" class="osg-textarea__label">Disabled</label>
          <textarea id="textarea-4" class="osg-textarea__textarea" placeholder="Write something here..." disabled="disabled"></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <div class="osg-textarea osg-textarea--error">
          <label for="textarea-5" class="osg-textarea__label">Error/invalid</label>
          <textarea id="textarea-5" class="osg-textarea__textarea" placeholder="Write something here..."></textarea>
          <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
        </div>
      </div>
    </div>
  </div>
</div>
