@use "components/forms/input/mixins";

.osg-textarea {
  &::placeholder {
    color: inherit;
  }

  &__label {
    @include mixins.form-label;
    @extend %osg-text-5;
    font-weight: 500 !important;
  }

  &__textarea {
    @include mixins.form-component;
    resize: none;
  }

  &__countdown-characters {
    display: block;
    text-align: right;
    @extend %osg-text-7;
  }
}
