.osg-pagination
  &__item
    @include osg-common-button-circle
    &:not(:disabled)
      cursor: pointer
    &--active
      background-color: $osg-color-blue-dark
      color: $osg-color-white
      &:focus,
      &:hover:not(:disabled)
        background-color: $osg-color-hover
        color: $osg-color-white
    &-spacer
      display: inline-block
      margin: 0 $osg-space-2
      transform: translateY(-5px)
    &--next,
    &--prev
      transform: rotate(90deg)
      vertical-align: bottom
      &::before
        color: $osg-color-blue-dark
        content: map-get($osg-icons, "chevron-thin-up")
        display: inline-block
        font-family: "Oslo Icons"
        font-size: 32px
      &:focus,
      &:hover
        &::before
          color: $osg-color-hover
      &:disabled
        visibility: hidden
    &--prev
      transform: rotate(-90deg)
