<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-text-preset-3">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div id="vue1">
            <osg-image-carousel
              :images="[
              {
                large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/19.jpg',
                medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/19.jpg',
                small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/19.jpg',
                caption: 'Test Caption One',
                srDescription: 'srDescription One'
              },
              {
                large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/15.jpg',
                medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/15.jpg',
                small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/15.jpg',
                caption: 'Test Caption Two',
                srDescription: 'srDescription Two'
              },
              {
                large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/17.jpg',
                medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/17.jpg',
                small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/17.jpg',
                caption: 'Test Caption Three',
                srDescription: 'srDescription Three'
              },
              {
                large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/22.jpg',
                medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/22.jpg',
                small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/22.jpg',
                caption: 'Test Caption Four',
                srDescription: 'srDescription Four'
              }
            ]"
            ></osg-image-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter osg-margin-bottom-30">
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3">Default</h2>
      <div id="vue2">
        <osg-image-carousel
          :images="[
          {
            large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/19.jpg',
            medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/19.jpg',
            small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/19.jpg',
            caption: 'Test Caption One',
            srDescription: 'srDescription One'
          },
          {
            large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/15.jpg',
            medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/15.jpg',
            small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/15.jpg',
            caption: 'Test Caption Two',
            srDescription: 'srDescription Two'
          },
          {
            large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/17.jpg',
            medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/17.jpg',
            small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/17.jpg',
            caption: 'Test Caption Three',
            srDescription: 'srDescription Three'
          },
          {
            large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/22.jpg',
            medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/22.jpg',
            small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/22.jpg',
            caption: 'Test Caption Four',
            srDescription: 'srDescription Four'
          }
        ]"
        ></osg-image-carousel>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3">1 image</h2>
      <div id="vue3">
        <osg-image-carousel
          :images="[
          {
            large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/22.jpg',
            medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/22.jpg',
            small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/22.jpg',
            caption: 'Test Caption One',
            srDescription: 'srDescription One'
          }
        ]"
        ></osg-image-carousel>
      </div>
    </div>
  </div>
</div>
