@use "system/breakpoints";
@use "system/fonts";
@use "system/spacing";

$osg-carousel-image-height-small: 290;
$osg-carousel-image-height-medium: 540;
$osg-carousel-image-height-large: 725;
.osg-carousel {
  position: relative;

  &__content {
    position: relative;
    overflow: hidden;
  }

  &__track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__slides {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;

    img {
      object-fit: cover;
      width: 100%;
      height: #{$osg-carousel-image-height-small}px;

      @include breakpoints.medium {
        height: #{$osg-carousel-image-height-medium}px;
      }
      @include breakpoints.large {
        height: #{$osg-carousel-image-height-large}px;
      }
    }
  }

  &__slide {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;

    > * {
      @extend %osg-margin-horizontal-30-breakpoint-medium;

      @include breakpoints.large {
        padding: 1rem;

        & .osg-icon {
          font-size: fonts.$size-30;
        }
      }
    }
  }

  &__info {
    padding: 0 spacing.$space-15;
    @include breakpoints.large {
      padding: 0;
    }
  }
}
