<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div id="vue1">
            <osg-image-carousel
              :images="[
              {
                large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/19.jpg',
                medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/19.jpg',
                small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/19.jpg',
                description: 'Test description One',
                alt: 'alt One',
                credits: 'Credits: Jon snow'
              },
              {
                large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/15.jpg',
                medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/15.jpg',
                small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/15.jpg',
                description: 'Test description Two',
                alt: 'alt Two',
                credits: 'Credits: Jon snow'
              },
              {
                large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/17.jpg',
                medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/17.jpg',
                small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/17.jpg',
                description: 'Test description Three',
                alt: 'alt Three',
                credits: 'Credits: Jon snow'
              },
              {
                large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/22.jpg',
                medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/22.jpg',
                small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/22.jpg',
                description: 'Test description Four',
                credits: 'Credits: Jon snow'
              }
            ]"
            ></osg-image-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Default</h2>
      <div id="vue2">
        <osg-image-carousel
          :images="[
          {
            large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/19.jpg',
            medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/19.jpg',
            small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/19.jpg',
            description: 'Test description One',
            alt: 'alt One',
            credits: 'Credits: Jon snow'
          },
          {
            large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/15.jpg',
            medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/15.jpg',
            small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/15.jpg',
            description: 'Test description Two',
            alt: 'alt Two',
            credits: 'Credits: Jon snow'
          },
          {
            large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/17.jpg',
            medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/17.jpg',
            small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/17.jpg',
            description: 'Test description Three',
            alt: 'alt Three',
            credits: 'Credits: Jon snow'
          },
          {
            large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/22.jpg',
            medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/22.jpg',
            small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/22.jpg',
            description: 'Test description Four',
            alt: 'alt Four',
            credits: 'Credits: Jon snow'
          }
        ]"
        ></osg-image-carousel>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">1 image</h2>
      <div id="vue3">
        <osg-image-carousel
          :images="[
          {
            large: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1920/22.jpg',
            medium: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/22.jpg',
            small: 'https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/22.jpg',
            description: 'Test description One',
            alt: 'alt One',
            credits: 'Credits: Jon snow'
          }
        ]"
        ></osg-image-carousel>
      </div>
    </div>
  </div>
</div>
