@use "system/breakpoints";
@use "system/typography";
@use "system/spacing";

$osg-carousel-image-height-small: 290;
$osg-carousel-image-height-medium: 540;
$osg-carousel-image-height-large: 725;
.osg-carousel {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;

  &__wrapper {
    grid-column-end: span 12;
    grid-column-start: span 12;
    overflow: hidden;
  }

  &__content {
    position: relative;
    overflow: hidden;
  }

  &__track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__slides {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;

    img {
      object-fit: cover;
      width: 100%;
      height: #{$osg-carousel-image-height-small}px;

      @include breakpoints.medium {
        height: #{$osg-carousel-image-height-medium}px;
      }
      @include breakpoints.large {
        height: #{$osg-carousel-image-height-large}px;
      }
    }

    figure {
      line-height: 0;
    }
  }

  &__slide {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;

    > * {
      @extend %osg-margin-horizontal-8-breakpoint-medium;
      @extend %osg-padding-4-breakpoint-large;
      & .osg-icon {
        @extend %osg-text-size-delta-breakpoint-large;
        @extend %osg-text-weight-medium-breakpoint-large;
      }
    }
  }

  &__info {
    @extend %osg-padding-vertical-0, %osg-padding-horizontal-4, %osg-padding-0-breakpoint-large;
  }
}
