@use "system/breakpoints";
@use "system/typography";
@use "system/spacing";

.osg-carousel {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;

  &__content {
    grid-column: span 12 / span 12;
    position: relative;
    overflow: hidden;
  }

  &__track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__slides {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;

    img {
      object-fit: cover;
      width: 100%;
    }

    figure {
      line-height: 0;
    }
  }

  &__slide {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;

    > * {
      @extend %osg-margin-horizontal-8-breakpoint-medium;
      @extend %osg-padding-4-breakpoint-large;
      & .osg-icon {
        @extend %osg-text-size-delta-breakpoint-large;
        @extend %osg-text-weight-medium-breakpoint-large;
      }
    }
  }

  &__info {
    @extend %osg-padding-top-1, %osg-padding-top-2-breakpoint-large, %osg-padding-horizontal-4, %osg-padding-horizontal-0-breakpoint-large;
    grid-column: span 12 / span 12;
    white-space: pre-line;

    &__description {
      @extend %osg-margin-right-1;
    }
  }
}
