.osg-checkbox
  cursor: pointer
  display: inline-flex
  align-items: center
  user-select: none

  & input
    cursor: pointer
    opacity: 0
    position: absolute

  &__checkmark
    position: relative
    border: 2px solid $osg-color-blue-dark
    width: 20px
    height: 20px
    flex-shrink: 0
    align-self: baseline
    +osg-mq-desktop-and-up
      margin-top: 3px
  
  &__checkmark:after
    content: ""
    display: none
    position: absolute
    border: solid white
    border-width: 0 2px 2px 0
    height: 10px
    transform: translate(-50%, -50%) rotate(45deg)
    width: 5px
    top: 50%
    left: 50%
    
  &__text
    border-style: hidden

  &:hover span
    color: $osg-color-blue-hover
    border-color: $osg-color-blue-hover

  & input:focus ~ &__checkmark
    outline: -webkit-focus-ring-color auto 5px
    border-color: $osg-color-blue-hover
  
  & input:focus ~ &__text
    color: $osg-color-blue-hover

  & input:checked ~ &__checkmark:after
    display: block

  & input:checked ~ &__checkmark
    background-color: $osg-color-blue-hover

  & input:checked ~ span
    font-weight: 500
    color: $osg-color-blue-dark
    border-color: $osg-color-blue-hover
  & input:checked ~ span:hover
    color: $osg-color-blue-hover

  & input:disabled:checked ~ &__checkmark
    background-color: $osg-color-grayscale-40

  & input:disabled ~ span
    color: $osg-color-grayscale-40
    border-color: $osg-color-grayscale-40
    pointer-events: none
    background-color: none
    