<div class="osg-container osg-container--gutterless osg-container--no-overflow">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p>Spacing classes are available in both margin and padding, from none(0) to 100 (see sizes below), at all four sides and as
        horizontal (left|right) and vertical (top|bottom) groups. Additionally each class is available for the
        breakpoints small (default), medium and large.</p>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <span class="osg-color-bg-yellow osg-padding-none osg-inline-block">none</span>
      <span class="osg-color-bg-blue-light osg-padding-5 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">5</span>
      </span>
      <span class="osg-color-bg-blue-light osg-padding-10 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">10</span>
      </span>
      <span class="osg-color-bg-blue-light osg-padding-15 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">15</span>
      </span>
      <span class="osg-color-bg-blue osg-padding-20 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">20</span>
      </span>
      <span class="osg-color-bg-blue osg-padding-30 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">30</span>
      </span>
      <span class="osg-color-bg-blue osg-padding-40 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">40</span>
      </span>
      <span class="osg-color-bg-blue osg-padding-50 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">50</span>
      </span>
      <span class="osg-color-bg-blue-dark osg-color-text-white osg-padding-60 osg-inline-block">
        <span class="osg-color-bg-white osg-color-text-blue-dark">60</span>
      </span>
      <span class="osg-color-bg-blue-dark osg-color-text-white osg-padding-75 osg-inline-block">
        <span class="osg-color-bg-white osg-color-text-blue-dark">75</span>
      </span>
      <span class="osg-color-bg-blue-dark osg-color-text-white osg-padding-100 osg-inline-block">
        <span class="osg-color-bg-white osg-color-text-blue-dark">100</span>
      </span>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column">
      <h2 class="osg-text-2">Sizes</h2>
      <div class="osg-color-bg-gray osg-padding-15 osg-text-7">
        <span class="osg-inline-block">none = 0px</span>
        <span class="osg-inline-block osg-margin-left-30">5 = 5px</span>
        <span class="osg-inline-block osg-margin-left-30">10 = 10px</span>
        <span class="osg-inline-block osg-margin-left-30">15 = 15px</span>
        <span class="osg-inline-block osg-margin-left-30">20 = 20px</span>
        <span class="osg-inline-block osg-margin-left-30">30 = 30px</span>
        <span class="osg-inline-block osg-margin-left-30">40 = 40px</span>
        <span class="osg-inline-block osg-margin-left-30">50 = 50px</span>
        <span class="osg-inline-block osg-margin-left-30">60 = 60px</span>
        <span class="osg-inline-block osg-margin-left-30">75 = 75px</span>
        <span class="osg-inline-block osg-margin-left-30">100 = 100px</span>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--8">
      <h2 class="osg-text-2">Classes</h2>
      <pre class="osg-color-bg-gray osg-padding-15">
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-none{-breakpoint-medium|large}
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-5{-breakpoint-medium|large}
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-10{-breakpoint-medium|large}
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-15{-breakpoint-medium|large}
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-20{-breakpoint-medium|large}
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-30{-breakpoint-medium|large}
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-40{-breakpoint-medium|large}
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-50{-breakpoint-medium|large}
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-60{-breakpoint-medium|large}
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-75{-breakpoint-medium|large}
.osg-[padding|margin]{-top|right|bottom|left|horizontal|vertical}-100{-breakpoint-medium|large}
    </pre>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <h2 class="osg-text-2">Example</h2>
      <pre class="osg-color-bg-gray osg-padding-15">
.osg-margin-none
.osg-margin-horizontal-75
.osg-padding-30
.osg-padding-left-50
.osg-padding-horizontal-30-breakpoint-medium
.osg-margin-10-breakpoint-large
    </pre>
    </div>
  </div>
</div>
