<div class="osg-content">
  <p>Spacing classes are available in both margin and padding, from none(0) to 7, at all four sides and as horizontal (left|right) and vertical (top|bottom) groups.</p>
</div>
<div class="columns osg-margin-top-4">
  <div class="column is-offset-2 is-10">
    <span class="osg-color-bg-yellow osg-padding-none box">none</span>
    <span class="osg-color-bg-blue osg-padding-1 box">
      <span class="osg-color-bg-blue-dark osg-color-text-white">1</span>
    </span>
    <span class="osg-color-bg-blue osg-padding-2 osg-margin-top-1 box">
      <span class="osg-color-bg-blue-dark osg-color-text-white">2</span>
    </span>
    <span class="osg-color-bg-blue osg-padding-3 osg-margin-top-1 box">
      <span class="osg-color-bg-blue-dark osg-color-text-white">3</span>
    </span>
    <span class="osg-color-bg-blue osg-padding-4 osg-margin-top-1 box">
      <span class="osg-color-bg-blue-dark osg-color-text-white">4</span>
    </span>
    <span class="osg-color-bg-blue osg-padding-5 osg-margin-top-1 box">
      <span class="osg-color-bg-blue-dark osg-color-text-white">5</span>
    </span>
    <span class="osg-color-bg-blue-dark osg-color-text-white osg-padding-6 osg-margin-top-1 box">
      <span class="osg-color-bg-white osg-color-text-blue-dark">6</span>
    </span>
    <span class="osg-color-bg-blue-dark osg-color-text-white osg-padding-7 osg-margin-top-1 box">
      <span class="osg-color-bg-white osg-color-text-blue-dark">7</span>
    </span>
  </div>
</div>
<div class="columns">
  <div class="column">
    <h2 class="osg-text-2">Sizes</h2>
    <div class="osg-color-bg-gray osg-padding-3 osg-text-7">
      <span class="box">none = 0px</span>
      <span class="box osg-margin-left-4">1 = 5px</span>
      <span class="box osg-margin-left-4">2 = 10px</span>
      <span class="box osg-margin-left-4">3 = 15px</span>
      <span class="box osg-margin-left-4">4 = 30px</span>
      <span class="box osg-margin-left-4">5 = 50px</span>
      <span class="box osg-margin-left-4">6 = 75px</span>
      <span class="box osg-margin-left-4">7 = 100px</span>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <h2 class="osg-text-2">Classes</h2>
    <pre class="osg-color-bg-gray osg-padding-3">
      .osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-none
      .osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-1
      .osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-2
      .osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-3
      .osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-4
      .osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-5
      .osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-6
      .osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-7
    </pre>
  </div>
  <div class="column is-one-third">
    <h2 class="osg-text-2">Example</h2>
    <pre class="osg-color-bg-gray osg-padding-3">
      .osg-margin-none
      .osg-margin-horizontal-6
      .osg-padding-4
      .osg-padding-left-1
    </pre>
  </div>
</div>
