<div class="osg-container osg-container--gutterless osg-container--no-overflow-x">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--offset-2">
      <span class="osg-color-bg-yellow osg-padding-none osg-inline-block">none</span>
      <span class="osg-color-bg-blue osg-padding-1 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">1</span>
      </span>
      <span class="osg-color-bg-blue osg-padding-2 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">2</span>
      </span>
      <span class="osg-color-bg-blue osg-padding-3 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">3</span>
      </span>
      <span class="osg-color-bg-blue osg-padding-4 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">4</span>
      </span>
      <span class="osg-color-bg-blue osg-padding-5 osg-inline-block">
        <span class="osg-color-bg-blue-dark osg-color-text-white">5</span>
      </span>
      <span class="osg-color-bg-blue-dark osg-color-text-white osg-padding-6 osg-inline-block">
        <span class="osg-color-bg-white osg-color-text-blue-dark">6</span>
      </span>
      <span class="osg-color-bg-blue-dark osg-color-text-white osg-padding-7 osg-inline-block">
        <span class="osg-color-bg-white osg-color-text-blue-dark">7</span>
      </span>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column">
      <h2 class="osg-text-2">Sizes</h2>
      <div class="osg-color-bg-gray osg-padding-3 osg-text-7">
        <span class="osg-inline-block">none = 0px</span>
        <span class="osg-inline-block osg-margin-left-4">1 = 5px</span>
        <span class="osg-inline-block osg-margin-left-4">2 = 10px</span>
        <span class="osg-inline-block osg-margin-left-4">3 = 15px</span>
        <span class="osg-inline-block osg-margin-left-4">4 = 30px</span>
        <span class="osg-inline-block osg-margin-left-4">5 = 50px</span>
        <span class="osg-inline-block osg-margin-left-4">6 = 75px</span>
        <span class="osg-inline-block osg-margin-left-4">7 = 100px</span>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--8">
      <h2 class="osg-text-2">Classes</h2>
      <pre class="osg-color-bg-gray osg-padding-3">
.osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-none-{breakpoint-medium|large}
.osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-1-{breakpoint-medium|large}
.osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-2-{breakpoint-medium|large}
.osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-3-{breakpoint-medium|large}
.osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-4-{breakpoint-medium|large}
.osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-5-{breakpoint-medium|large}
.osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-6-{breakpoint-medium|large}
.osg-[padding|margin]-{top|right|bottom|left|horizontal|vertical}-7-{breakpoint-medium|large}
    </pre>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <h2 class="osg-text-2">Example</h2>
      <pre class="osg-color-bg-gray osg-padding-3">
.osg-margin-none
.osg-margin-horizontal-6
.osg-padding-4
.osg-padding-left-1
.osg-padding-horizontal-4-breakpoint-medium
.osg-margin-2-breakpoint-large
    </pre>
    </div>
  </div>
</div>
