<div class="container is-fluid osg-margin-vertical-3">
  <div class="columns is-multiline">
    <div class="column is-12">
      <h2 class="osg-heading-4 osg-margin-bottom-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-hero">
          <figure class="osg-hero__image">
            <img class="osg-image" src="https://picsum.photos/300">
          </figure>
          <div class="osg-hero__text">
            ...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
