@use "system/colors";
@use "system/typography";
@use "system/spacing";
@use "components/links/link/mixins";

.osg-service-link {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;

  &__icon {
    @extend %osg-heading-3, %osg-margin-right-15;

    > * {
      line-height: 1.2em !important;
    }
  }

  &__content {
    & .osg-service-link__heading {
      @extend %osg-heading-4;
      display: inline-block;
    }

    & .osg-service-link__text {
      @extend %osg-text-5;
    }
  }

  @include mixins.states {
    .osg-service-link__content .osg-service-link__heading {
      text-decoration: underline;
    }
  };

  &--external {
    & .osg-service-link__content .osg-service-link__heading {
      @include mixins.icon-right("new-window");
    }
  }
}
