<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-devtools-text-preset-3">Service link is a link variation that can be used in bigger grids and together with text.</p>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-infobox osg-infobox--yellow">
        <h2 class="osg-infobox__heading">Important</h2>
        <p>Element to be used in a grid with 3 columns.</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <p class="osg-paragraph">Service link variation with text or without text. Use text under link, when you need to give more information to what the next page contains. Use Chevron icon or a icon that works with the content.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
            <a class="osg-service-link" href="javascript:void(0)">
              <div class="osg-service-link__icon">
                <span class="osg-icon osg-icons--park" aria-hidden="true"></span>
              </div>
              <div class="osg-service-link__content">
                <h4 class="osg-service-link__heading">Link</h4>
                <p class="osg-service-link__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <a class="osg-service-link" href="javascript:void(0)">
            <div class="osg-service-link__icon">
              <span class="osg-icon osg-icons--chevron-right" aria-hidden="true"></span>
            </div>
            <div class="osg-service-link__content">
              <h4 class="osg-service-link__heading">Link</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">External</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
            <a class="osg-service-link osg-service-link--external" href="javascript:void(0)">
              <div class="osg-service-link__icon">
                <span class="osg-icon osg-icons--chevron-right" aria-hidden="true"></span>
              </div>
              <div class="osg-service-link__content">
                <h4 class="osg-service-link__heading">External link</h4>
                <p class="osg-service-link__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter osg-margin-bottom-30">
    <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Default</h2>
      <a class="osg-service-link" href="javascript:void(0)">
        <div class="osg-service-link__icon">
          <span class="osg-icon osg-icons--chevron-right" aria-hidden="true"></span>
        </div>
        <div class="osg-service-link__content">
          <h4 class="osg-service-link__heading">Title enim maximusmaximus a</h4>
          <p class="osg-service-link__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
        </div>
      </a>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Link</h2>
      <a class="osg-service-link" href="javascript:void(0)">
        <div class="osg-service-link__icon">
          <span class="osg-icon osg-icons--chevron-right" aria-hidden="true"></span>
        </div>
        <div class="osg-service-link__content">
          <h4 class="osg-service-link__heading">Title enim maximusmaximus a</h4>
        </div>
      </a>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">External</h2>
      <a class="osg-service-link osg-service-link--external" href="javascript:void(0)">
        <div class="osg-service-link__icon">
          <span class="osg-icon osg-icons--chevron-right" aria-hidden="true"></span>
        </div>
        <div class="osg-service-link__content">
          <h4 class="osg-service-link__heading">Title enim maximus a</h4>
          <p class="osg-service-link__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
        </div>
      </a>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">States</h2>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <a class="osg-service-link osg-service-link--external osg-service-link--visited" href="javascript:void(0)">
            <div class="osg-service-link__icon">
              <span class="osg-icon osg-icons--chevron-right" aria-hidden="true"></span>
            </div>
            <div class="osg-service-link__content">
              <h4 class="osg-service-link__heading">Visited</h4>
              <p class="osg-service-link__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
            </div>
          </a>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <a class="osg-service-link osg-service-link--external osg-service-link--hover" href="javascript:void(0)">
            <div class="osg-service-link__icon">
              <span class="osg-icon osg-icons--chevron-right" aria-hidden="true"></span>
            </div>
            <div class="osg-service-link__content">
              <h4 class="osg-service-link__heading">Hover</h4>
              <p class="osg-service-link__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
            </div>
          </a>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <a class="osg-service-link osg-service-link--external osg-service-link--focus" href="javascript:void(0)">
            <div class="osg-service-link__icon">
              <span class="osg-icon osg-icons--chevron-right" aria-hidden="true"></span>
            </div>
            <div class="osg-service-link__content">
              <h4 class="osg-service-link__heading">Focus</h4>
              <p class="osg-service-link__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
            </div>
          </a>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <a class="osg-service-link osg-service-link--external osg-service-link--active" href="javascript:void(0)">
            <div class="osg-service-link__icon">
              <span class="osg-icon osg-icons--chevron-right" aria-hidden="true"></span>
            </div>
            <div class="osg-service-link__content">
              <h4 class="osg-service-link__heading">Active</h4>
              <p class="osg-service-link__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit est sodales in.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
