<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-toc">
            <div class="osg-toc__item"><a href="javascript:void(0)" class="osg-toc__link">Link to header</a></div>
            <div class="osg-toc__item"><a href="javascript:void(0)" class="osg-toc__link">Link to header</a></div>
            <div class="osg-toc__item"><a href="javascript:void(0)" class="osg-toc__link">Link to header</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Default</h2>
      <div class="osg-toc">
        <div class="osg-toc__item"><a href="javascript:void(0)" class="osg-toc__link">Link to header</a></div>
        <div class="osg-toc__item"><a href="javascript:void(0)" class="osg-toc__link">Link to header</a></div>
        <div class="osg-toc__item"><a href="javascript:void(0)" class="osg-toc__link">Link to header</a></div>
      </div>
    </div>
  </div>
</div>
