<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <div class="osg-toc">
          <div class="osg-toc__item"><a href="javascript:void(0)" class="osg-toc__link">Link to header</a></div>
          <div class="osg-toc__item"><a href="javascript:void(0)" class="osg-toc__link">Link to header</a></div>
          <div class="osg-toc__item"><a href="javascript:void(0)" class="osg-toc__link">Link to header</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
