<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-toc">
            <div class="ods-toc__item"><span class="ods-toc__icon ods-icon--arrow" aria-hidden="true"></span><a href="javascript:void(0)" class="ods-toc__link">Link to header</a></div>
            <div class="ods-toc__item"><span class="ods-toc__icon ods-icon--arrow" aria-hidden="true"></span><a href="javascript:void(0)" class="ods-toc__link">Link to header</a></div>
            <div class="ods-toc__item"><span class="ods-toc__icon ods-icon--arrow" aria-hidden="true"></span><a href="javascript:void(0)" class="ods-toc__link">Link to header</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <div class="ods-toc">
        <div class="ods-toc__item"><span class="ods-toc__icon ods-icon--arrow" aria-hidden="true"></span><a href="javascript:void(0)" class="ods-toc__link">Link to header</a></div>
        <div class="ods-toc__item"><span class="ods-toc__icon ods-icon--arrow" aria-hidden="true"></span><a href="javascript:void(0)" class="ods-toc__link">Link to header</a></div>
        <div class="ods-toc__item"><span class="ods-toc__icon ods-icon--arrow" aria-hidden="true"></span><a href="javascript:void(0)" class="ods-toc__link">Link to header</a></div>
      </div>
    </div>
  </div>
</div>
