<div class="osg-searchbar {{ searchBar.variant | default('osg-v-default')  }} {{ searchBar.modifiers | default(null) }}">
  {% include 'atoms/forms/text/text.twig' %}
  {% include "atoms/buttons/button/button.twig" %}
</div>
