<div class="osg-searchbar {{ searchBar.variant | default('osg-v-default')  }} {{ searchBar.modifiers | default(null) }}">
  {% include 'atoms/forms/text/text.twig' %}
  <i class="fas fa-search osg-searchbar-icon"></i>
</div>
