{% set searchBarVariant = searchBar.variant | default('osg-v-default') %}
{% set searchBarModifiers = searchBar.modifiers | default(null) %}

{% set searchBarButtonContent %}
   {% block buttonContent %}
    <i class='fas fa-search osg-searchbar__icon'></i>
   {% endblock %}
{% endset %}

<div class="osg-searchbar {{ searchBarVariant }} {{ searchBarModifiers }}">
  {% include 'atoms/forms/text_field/text_field.twig' %}
  {% embed 'atoms/buttons/button/button.twig' %}
    {% block content %}
      {{ searchBarButtonContent }}
    {% endblock %}
  {% endembed %}
</div>
