.osg-searchbar
  display: flex
  position: relative
  .osg-text-field-input, .osg-text-field-input:focus
    font-size: 16px
  .osg-searchbar-icon
    position: absolute
    top: 30px
    right: 15px
    color: #000
    font-size: $osg-font-size-16
    +osg-mq-tablet-and-up
      top: 32px
      font-size: $osg-font-size-20
  &.osg-m-color-green
    .osg-text-field
      .osg-text-field-input
        color: $osg-color-green-dark
      .osg-text-field-floating-label
        color: $osg-color-green-light
    .osg-searchbar-icon
      color: $osg-color-green-dark
