{% set searchBarVariant = searchBar.variant | default('osg-v-default') %}
{% set searchBarModifiers = searchBar.modifiers | default(null) %}

<div class="osg-searchbar {{ searchBarVariant }} {{ searchBarModifiers }}">
  {% include 'atoms/forms/text/text.twig' %}
  {% embed "atoms/buttons/button/button.twig" %}
    {% block buttonContent %}
      {% if button.content is defined and button.content is not empty %}
        {{ button.content | raw }}
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>
