<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-large">
      <div class="osg-devtools-code">
        <p class="osg-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra ex lorem, sit
          amet iaculis ipsum tempus id. Praesent sit amet auctor turpis. Maecenas id quam turpis. In hac habitasse
          platea dictumst. Maecenas et sem commodo, aliquet erat sit amet, convallis magna.
        </p>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-50">Lead</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-large">
      <div class="osg-devtools-code">
        <p class="osg-paragraph osg-paragraph--lead">
          Nulla et risus semper, semper lacus vitae, congue est. Quisque dapibus tincidunt mi, vitae pretium velit
          interdum et. Fusce gravida condimentum maximus. Proin ut justo non ante convallis rutrum.
          Vestibulum hendrerit risus sit amet justo mattis elementum.
        </p>
      </div>
    </div>
  </div>
</div>
