<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <p class="osg-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Lead</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <p class="osg-paragraph osg-paragraph--lead">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-paragraph">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.</p>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Lead</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-paragraph osg-paragraph--lead">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.</p>
    </div>
  </div>
</div>
