<div class="container is-fluid osg-margin-vertical-3">
  <div class="columns">
    <div class="column">
      <h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
      <p class="osg-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra ex lorem, sit amet
        iaculis ipsum tempus id. Praesent sit amet auctor turpis. Maecenas id quam turpis. In hac habitasse platea
        dictumst. Maecenas et sem commodo, aliquet erat sit amet, convallis magna. Aenean faucibus sem ut libero auctor
        rhoncus. Morbi ut libero a leo volutpat elementum eget eu dui.</p>
      <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Lead</h2>
      <p class="osg-paragraph osg-paragraph--lead">Nulla et risus semper, semper lacus vitae, congue est. Quisque
        dapibus tincidunt mi, vitae pretium velit interdum et. Fusce gravida condimentum maximus. Proin ut justo non
        ante convallis rutrum. Vestibulum hendrerit risus sit amet justo mattis elementum. Sed aliquam imperdiet est, et
        vulputate ante tincidunt a. Suspendisse rutrum nisi id vehicula imperdiet. Nulla sit amet lectus lorem. Donec
        odio leo, blandit id iaculis nec, aliquam eget est. Nulla imperdiet fringilla ex eget vehicula. In hac habitasse
        platea dictumst. Vivamus lacinia dolor eget orci tristique mollis.</p>
    </div>
  </div>
</div>
