.osg-input-validation
  margin: $osg-space-1 0
  padding: $osg-space-2
  &--danger
    background-color: $osg-color-red
  &--warning
    background-color: $osg-color-yellow
  &--success
    background-color: $osg-color-green
