@use "system/icons";
@use "system/state";
@use "system/spacing";

@mixin external-icon() {
  &::after,
  &:hover::after {
    @extend %osg-margin-left-1;
    font-family: 'Oslo Icons' !important;
    font-size: 0.6em;
    content: map-get(icons.$icons, "new-window") !important;
    display: inline-block;
  }
}

@mixin chevron-icon() {
  text-decoration: none;
  position: relative;
  padding-left: 0.9em;

  &:hover {
    text-decoration: underline;
  }

  &::before,
  &:hover::before {
    @extend %osg-margin-right-1;
    font-family: 'Oslo Icons' !important;
    font-size: 1em;
    content: map-get(icons.$icons, "chevron-right") !important;
    display: inline-block;
    position: absolute;
    left: -0.2em;
    bottom: 0;
  }
}

@mixin states {
  &:visited, &--visited {
    @extend %osg-state-text-visited;
    @content;
  }
  &:hover, &--hover, &:focus, &--focus {
    @extend %osg-state-text-hover;
    @content;
  }
  &:active, &--active {
    @extend %osg-state-text-active;
    @content;
  }
}
