@use "system/icons";
@use "system/state";
@use "system/spacing";

@mixin external-icon() {
  &::after,
  &:hover::after {
    @extend %osg-margin-left-1;
    font-family: 'Oslo Icons' !important;
    font-size: 0.6em;
    content: map-get(icons.$icons, "new-window") !important;
    width: 1em;
    height: 1em;
    display: inline-block;
  }
}

@mixin underline($color) {
  /**
   * Links that wrap multiple lines does not get underline if using text-decoration,
   * using background-image fixes this. However, you are not allowed to style
   * background-image in :visited state, so it keeps the color set here.
   */
  background-image: linear-gradient(to right, $color, $color);
  background-position: 0 1.33em;
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

@mixin states {
  &:visited, &--visited {
    @extend %osg-state-text-visited;
  }
  &:hover, &--hover, &:focus, &--focus {
    @extend %osg-state-text-hover;
    @content;
  }
  &:active, &--active {
    @extend %osg-state-text-active;
    @content;
  }
}
