@use "system/colors";
@use "system/states";
@use "mixins";

.osg-link {
  text-decoration: underline;
  word-wrap: break-word;

  @include mixins.states;

  &--external {
    @include mixins.icon-right("new-window");
  }

  &--chevron-right {
    @include mixins.icon-left("chevron-right");
  }

  &--chevron-left {
    @include mixins.icon-left("chevron-left");
  }

  &--state-light {
    &:visited, &-visited {
      color: states.$visited-light !important;
    }
    &:hover, &-hover, &:focus, &-focus {
      color: states.$hover-light !important;
    }
    &:active, &-active {
      color: states.$active-light !important;
    }
  }
}
