<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <a href="javascript:void(0)" class="osg-link">Link</a>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">External</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <a href="javascript:void(0)" class="osg-link osg-link--external" target="_blank">Link</a>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Chevron</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <a href="javascript:void(0)" class="osg-link osg-link--chevron-left">Link</a>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <a href="javascript:void(0)" class="osg-link osg-link--chevron-right">Link</a>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">State light</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <a href="javascript:void(0)" class="osg-link osg-link--state-light">Link</a>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--visited">Visited</a>
      <a href="javascript:void(0)" class="osg-link osg-link--hover osg-margin-left-3">Hover</a>
      <a href="javascript:void(0)" class="osg-link osg-link--focus osg-margin-left-3">Focus</a>
      <a href="javascript:void(0)" class="osg-link osg-link--active osg-margin-left-3">Active</a>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--state-light osg-link--state-light-visited">Visited</a>
      <a href="javascript:void(0)"
        class="osg-link osg-link--state-light osg-link--state-light-hover osg-margin-left-3">Hover</a>
      <a href="javascript:void(0)"
        class="osg-link osg-link--state-light osg-link--state-light-focus osg-margin-left-3">Focus</a>
      <a href="javascript:void(0)"
        class="osg-link osg-link--state-light osg-link--state-light-active osg-margin-left-3">Active</a>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">In text</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-5">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <a
          href="javascript:void(0)" class="osg-link">unknown printer</a> took a galley of type and scrambled it to make
        a
        type
        specimen book. It has survived not only five centuries, but also the <a href="javascript:void(0)"
          class="osg-link osg-link--external">leap into electronic</a> typesetting, remaining essentially unchanged.</p>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Testcases</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-heading-1">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-heading-2 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-heading-3 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-heading-4 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-heading-5 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-heading-6 osg-margin-left-3">Link</a>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text-1">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text-2 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text-3 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text-4 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text-5 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text-6 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text-7 osg-margin-left-3">Link</a>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-heading-1">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-heading-2 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-heading-3 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-heading-4 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-heading-5 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-heading-6 osg-margin-left-3">Link</a>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text-1">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text-2 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text-3 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text-4 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text-5 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text-6 osg-margin-left-3">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text-7 osg-margin-left-3">Link</a>
    </div>
  </div>
  <div class="osg-row is-mobile">
    <div
      class="osg-row__column osg-row__column--6 osg-row__column--3-breakpoint-medium osg-row__column--2-breakpoint-large">
      <a href="javascript:void(0)" class="osg-link">Link spanning multiple lines</a>
    </div>
    <div
      class="osg-row__column osg-row__column--6 osg-row__column--3-breakpoint-medium osg-row__column--2-breakpoint-large">
      <a href="javascript:void(0)" class="osg-link osg-link--external">Link spanning multiple lines</a>
    </div>
    <div
      class="osg-row__column osg-row__column--6 osg-row__column--3-breakpoint-medium osg-row__column--2-breakpoint-large">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right">Link spanning multiple lines</a>
    </div>
    <div
      class="osg-row__column osg-row__column--6 osg-row__column--3-breakpoint-medium osg-row__column--2-breakpoint-large">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--external">Link spanning multiple
        lines</a>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--external osg-heading-1">External
        chevron
        link</a>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--external osg-text-1">External
        chevron
        link</a>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--external">External chevron link</a>
    </div>
  </div>
</div>
