@use "system/colors";
@use "mixins";

.osg-link {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  @include mixins.underline(colors.$blue-dark);
  @include mixins.states {
    background-image: linear-gradient(to right, colors.$blue-contrast, colors.$blue-contrast);
  };

  &--external {
    @include mixins.external-icon();
  }
}

p a.osg-link.osg-link--external {
  &::after,
  &:hover::after {
    margin-bottom: 0.4325em;
  }
}
