@use "system/colors";
@use "mixins";
@use "system/states";

.ods-link {
  display: inline;
  text-decoration: underline;
  word-wrap: break-word;

  @include mixins.states;

  &--external {
    display: inline-block;

    @include mixins.icon-right("new-window");
  }

  &--chevron-right {
    display: inline-flex;
    align-items: center;

    @include mixins.icon-left("chevron-right");
  }

  &--focus,
  &:focus-visible {
    box-shadow: 0 0 0 0.125rem colors.$blue-state;
    outline-offset: 0.125rem;
    outline: 0.25rem solid colors.$purple-light;
  }

  &--state-light {
    &:visited,
    &-visited {
      color: states.$visited-light !important;
    }

    &:hover,
    &-hover,
    &:focus,
    &-focus {
      color: states.$hover-light !important;
    }

    &:focus,
    &-focus {
      color: states.$hover-light !important;
      box-shadow: 0 0 0 0.125rem colors.$blue-state;
      outline-offset: 0.125rem;
      outline: 0.25rem solid colors.$purple-light;
    }

    &:focus-visible {
      box-shadow: 0 0 0 0.125rem colors.$blue-state;
      outline-offset: 0.125rem;
      outline: 0.25rem solid colors.$purple-light;
    }

    &:active,
    &-active {
      color: states.$active-light !important;
    }
  }

  &--no-decoration {
    display: inline-block;
    text-decoration: none;
  }
}
