<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-devtools-text-preset-3">Link language: "read more", "click here", "more info" for screen readers this will not give informative information.</p>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <p class="osg-paragraph">For best practice (Universal design) a link should open in the same window.</p>
      <p class="osg-paragraph">- There should be a good reason for not following this rule, (eks opening PDF files) you then also have to use the external link icon.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <a href="javascript:void(0)" class="osg-link">Link</a>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">External</h2>
      <p class="osg-paragraph">Rule for external link is that it requires an external link icon after the text. Use the external link when you want to link to another website or a new domain.</p>
      <p class="osg-paragraph">- Exception on the rule is when we link to subdomain. Then use default link.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <a href="javascript:void(0)" class="osg-link osg-link--external" target="_blank" aria-label="Opens in a new window">Link</a>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Chevron</h2>
      <p class="osg-paragraph">Chevron icon left is used for links that will take you back, chevron icon right is used for links that take you forward.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <a href="javascript:void(0)" class="osg-link osg-link--chevron-left">Link</a>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <a href="javascript:void(0)" class="osg-link osg-link--chevron-right">Link</a>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">In text</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <p class="osg-text--size-kilo osg-text--size-juliett-breakpoint-large osg-text--weight-light">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <a href="javascript:void(0)" class="osg-link">unknown printer</a> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            <a href="javascript:void(0)" class="osg-link osg-link--external" aria-label="Opens in a new window">leap into electronic</a> typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter osg-margin-bottom-30">
    <div class="osg-grid__column--4">
      <h2 class="osg-devtools-text-preset-2">Default</h2>
      <a href="javascript:void(0)" class="osg-link">Default Link</a>
    </div>
    <div class="osg-grid__column--4">
      <h2 class="osg-devtools-text-preset-2">External</h2>
      <a href="javascript:void(0)" class="osg-link osg-link--external" target="_blank" aria-label="Opens in a new window">External Link</a>
    </div>
    <div class="osg-grid__column--4">
      <h2 class="osg-devtools-text-preset-2">Chevron</h2>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-left osg-margin-right-4">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right">Link</a>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">States</h2>
      <a href="javascript:void(0)" class="osg-link osg-link--visited">Default link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--hover osg-margin-left-4">Default link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--focus osg-margin-left-4">Default link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--active osg-margin-left-4">Default link</a>
    </div>
    <div class="osg-grid__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--state-light osg-link--state-light-visited">Default link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--state-light osg-link--state-light-hover osg-margin-left-4">Default link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--state-light osg-link--state-light-focus osg-margin-left-4">Default link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--state-light osg-link--state-light-active osg-margin-left-4">Default link</a>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Testcases</h2>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-echo osg-text--size-bravo-breakpoint-medium osg-text--size-alfa-breakpoint-large">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-golf osg-text--size-delta-breakpoint-medium osg-text--size-charlie-breakpoint-large osg-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-hotel osg-text--size-foxtrot-breakpoint-medium osg-text--size-delta-breakpoint-large osg-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-india osg-text--size-hotel-breakpoint-medium osg-text--size-golf-breakpoint-large osg-text--weight-medium osg-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-juliett osg-text--size-india-breakpoint-medium osg-text--size-hotel-breakpoint-large osg-text--weight-medium osg-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-kilo osg-text-juliett-breakpoint-large osg-text--weight-medium osg-margin-left-4">Link</a>
    </div>
    <div class="osg-grid__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-hotel osg-text--size-golf-breakpoint-medium osg-text--size-delta-breakpoint-large osg-text--weight-light">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-india osg-text--size-hotel-breakpoint-medium osg-text--size-golf-breakpoint-large osg-text--weight-light osg-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-juliett osg-text-india-breakpoint-large osg-text--weight-light osg-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-kilo osg-text--size-juliett-breakpoint-large osg-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-kilo osg-text--size-juliett osg-text--weight-light osg-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-lima osg-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-lima osg-text--weight-light osg-margin-left-4">Link</a>
    </div>
    <div class="osg-grid__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-echo osg-text--size-bravo-breakpoint-medium osg-text--size-alfa-breakpoint-large" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-golf osg-text--size-delta-breakpoint-medium osg-text--size-charlie-breakpoint-large osg-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-hotel osg-text--size-foxtrot-breakpoint-medium osg-text--size-delta-breakpoint-large osg-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-india osg-text--size-hotel-breakpoint-medium osg-text--size-golf-breakpoint-large osg-text--weight-medium osg-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--externosg-text--size-juliett al osg-text--size-india-breakpoint-medium osg-text--size-hotel-breakpoint-large osg-text--weight-medium osg-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-kilo osg-text-juliett-breakpoint-large osg-text--weight-medium osg-margin-left-4" aria-label="Opens in a new window">Link</a>
    </div>
    <div class="osg-grid__column--12">
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-hotel osg-text--size-golf-breakpoint-medium osg-text--size-delta-breakpoint-large osg-text--weight-light" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-india osg-text--size-hotel-breakpoint-medium osg-text--size-golf-breakpoint-large osg-text--weight-light osg-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-juliett osg-text-india-breakpoint-large osg-text--weight-light osg-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-kilo osg-text--size-juliett-breakpoint-large osg-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-kilo osg-text--size-juliett osg-text--weight-light osg-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-lima osg-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="osg-link osg-link--external osg-text--size-lima osg-text--weight-light osg-margin-left-4" aria-label="Opens in a new window">Link</a>
    </div>
    <div class="osg-grid__column--4">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--external osg-text--size-india osg-text--size-hotel-breakpoint-medium osg-text--size-golf-breakpoint-large osg-text--weight-medium" aria-label="Opens in a new window"> External link </a>
    </div>
    <div class="osg-grid__column--4">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--external osg-text--size-india osg-text--size-hotel-breakpoint-medium osg-text--size-golf-breakpoint-large osg-text--weight-medium" aria-label="Opens in a new window"> External link </a>
    </div>
    <div class="osg-grid__column--4">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--external osg-text--size-india osg-text--size-hotel-breakpoint-medium osg-text--size-golf-breakpoint-large osg-text--weight-medium" aria-label="Opens in a new window"> External link </a>
    </div>
    <div class="osg-grid__column--3">
      <a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-text--size-hotel">Text that breaks on multiple lines</a>
    </div>
  </div>
</div>
