<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Link language: "read more", "click here", "more info" for screen readers this will not give informative information.</p>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <p class="ods-paragraph">For best practice (Universal design) a link should open in the same window.</p>
      <p class="ods-paragraph">- There should be a good reason for not following this rule, (i.e. opening PDF files) you then also have to use the external link icon.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <a href="javascript:void(0)" class="ods-link">Link</a>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">External</h2>
      <p class="ods-paragraph">Rule for external link is that it requires an external link icon after the text. Use the external link when you want to link to another website or a new domain.</p>
      <p class="ods-paragraph">- Exception on the rule is when we link to subdomain. Then use default link.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <a href="javascript:void(0)" class="ods-link ods-link--external" target="_blank" aria-label="Opens in a new window">Link</a>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Icon left</h2>
      <p class="ods-paragraph">Chevron and arrow icon is used for links that take you forward.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Link</a>
        </div>
      </div>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <a href="javascript:void(0)" class="ods-link ods-link--arrow-right">Link</a>
        </div>
      </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">In text</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <p class="ods-text--size-kilo ods-text--size-juliett-breakpoint-large ods-text--weight-light">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <a href="javascript:void(0)" class="ods-link">unknown printer</a> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            <a href="javascript:void(0)" class="ods-link ods-link--external" aria-label="Opens in a new window">leap into electronic</a> typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">No decoration</h2>
      <p class="ods-paragraph">Can be useful for standalone icons.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <p>
            <a href="javascript:void(0)" class="ods-link ods-link--no-decoration">
              <span class="ods-icon ods-icon--size-echo ods-icon--clock" aria-hidden="true"></span>
            </a>
            <a href="javascript:void(0)" class="ods-link ods-link--no-decoration">
              <span class="ods-icon ods-icon--size-echo ods-icon--information" aria-hidden="true"></span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter ods-margin-bottom-30">
    <div class="ods-grid__column--4">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <a href="javascript:void(0)" class="ods-link">Default Link</a>
    </div>
    <div class="ods-grid__column--4">
      <h2 class="ods-devtools-text-preset-2">External</h2>
      <a href="javascript:void(0)" class="ods-link ods-link--external" target="_blank" aria-label="Opens in a new window">External Link</a>
    </div>
    <div class="ods-grid__column--4">
      <h2 class="ods-devtools-text-preset-2">Chevron</h2>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Link</a>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">States</h2>
      <a href="javascript:void(0)" class="ods-link ods-link--visited">Visited</a>
      <a href="javascript:void(0)" class="ods-link ods-link--hover ods-margin-left-4">Hover</a>
      <a href="javascript:void(0)" class="ods-link ods-link--focus ods-margin-left-4">Focus</a>
      <a href="javascript:void(0)" class="ods-link ods-link--active ods-margin-left-4">Active</a>
    </div>
    <div class="ods-grid__column--12">
      <a href="javascript:void(0)" class="ods-link ods-link--state-light ods-link--state-light-visited">Visited</a>
      <a href="javascript:void(0)" class="ods-link ods-link--state-light ods-link--state-light-hover ods-margin-left-4">Hover</a>
      <a href="javascript:void(0)" class="ods-link ods-link--state-light ods-link--state-light-focus ods-margin-left-4">Focus</a>
      <a href="javascript:void(0)" class="ods-link ods-link--state-light ods-link--state-light-active ods-margin-left-4">Active</a>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Testcases</h2>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-echo ods-text--size-bravo-breakpoint-medium ods-text--size-alfa-breakpoint-large">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-golf ods-text--size-delta-breakpoint-medium ods-text--size-charlie-breakpoint-large ods-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-hotel ods-text--size-foxtrot-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium ods-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-juliett ods-text--size-india-breakpoint-medium ods-text--size-hotel-breakpoint-large ods-text--weight-medium ods-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-kilo ods-text-juliett-breakpoint-large ods-text--weight-medium ods-margin-left-4">Link</a>
    </div>
    <div class="ods-grid__column--12">
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-hotel ods-text--size-golf-breakpoint-medium ods-text--size-delta-breakpoint-large ods-text--weight-light">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-light ods-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-juliett ods-text-india-breakpoint-large ods-text--weight-light ods-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-kilo ods-text--size-juliett-breakpoint-large ods-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-kilo ods-text--size-juliett ods-text--weight-light ods-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-lima ods-margin-left-4">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-lima ods-text--weight-light ods-margin-left-4">Link</a>
    </div>
    <div class="ods-grid__column--12">
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-echo ods-text--size-bravo-breakpoint-medium ods-text--size-alfa-breakpoint-large" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-golf ods-text--size-delta-breakpoint-medium ods-text--size-charlie-breakpoint-large ods-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-hotel ods-text--size-foxtrot-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium ods-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--externods-text--size-juliett al ods-text--size-india-breakpoint-medium ods-text--size-hotel-breakpoint-large ods-text--weight-medium ods-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-kilo ods-text-juliett-breakpoint-large ods-text--weight-medium ods-margin-left-4" aria-label="Opens in a new window">Link</a>
    </div>
    <div class="ods-grid__column--12">
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-hotel ods-text--size-golf-breakpoint-medium ods-text--size-delta-breakpoint-large ods-text--weight-light" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-light ods-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-juliett ods-text-india-breakpoint-large ods-text--weight-light ods-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-kilo ods-text--size-juliett-breakpoint-large ods-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-kilo ods-text--size-juliett ods-text--weight-light ods-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-lima ods-margin-left-4" aria-label="Opens in a new window">Link</a>
      <a href="javascript:void(0)" class="ods-link ods-link--external ods-text--size-lima ods-text--weight-light ods-margin-left-4" aria-label="Opens in a new window">Link</a>
    </div>
    <div class="ods-grid__column--4">
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--external ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium" aria-label="Opens in a new window">External link</a>
    </div>
    <div class="ods-grid__column--4">
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--external ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium" aria-label="Opens in a new window">External link</a>
    </div>
    <div class="ods-grid__column--4">
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--external ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium" aria-label="Opens in a new window">External link</a>
    </div>
    <div class="ods-grid__column--3">
      <a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-text--size-hotel">Text that breaks on multiple lines</a>
    </div>
    <div class="ods-grid__column--12">
      <a href="javascript:void(0)" class="ods-link ods-link--no-decoration ods-text--size-hotel">No decoration. <span class="ods-icon ods-icon--clock" aria-hidden="true"></span> Useful for icons.</a>
      <a href="javascript:void(0)" class="ods-link ods-link--no-decoration"><span class="ods-icon ods-icon--size-echo ods-icon--clock" aria-hidden="true"></span> <span class="ods-icon ods-icon--size-echo ods-icon--information" aria-hidden="true"></span></a>
    </div>
  </div>
</div>
