<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-30">
        <h2 class="osg-infobox__heading">Component rules</h2>
        This component works with up to nine / 9 steps.
      </div>
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <ol class="osg-step-by-step">
            <li class="osg-step-by-step__item">
              <h3 class="osg-step-by-step__heading">Vestibulum ante ipsum primis</h3>
              <div class="osg-step-by-step__text">
                <p>Phasellus at turpis aliquet, congue nisi vel, aliquet arcu. Mauris luctus, magna vitae semper
                  malesuada, sapien tellus fermentum ipsum, vel sollicitudin felis dolor vulputate turpis.</p>
              </div>
            </li>
            <li class="osg-step-by-step__item">
              <h3 class="osg-step-by-step__heading">Morbi libero lectus</h3>
              <div class="osg-step-by-step__text">
                <p>Morbi aliquam varius magna, at tristique velit tincidunt sit amet. Class aptent taciti sociosqu ad
                  litora torquent per conubia nostra, per inceptos himenaeos.</p>
                <p>Etiam id suscipit nisi. Maecenas vehicula venenatis ex, quis ultricies est varius eget. Suspendisse
                  tristique interdum metus non congue.</p>
                <p>In quis sem venenatis, convallis elit non, finibus neque. Vivamus volutpat enim vitae nibh posuere
                  lobortis. Nullam urna nulla, volutpat congue ex et, convallis mollis velit. Pellentesque tempor
                  fermentum auctor.</p>
              </div>
            </li>
            <li class="osg-step-by-step__item">
              <h3 class="osg-step-by-step__heading">Pellentesque tempor fermentum auctor</h3>
              <div class="osg-step-by-step__text">
                <p>Suspendisse potenti. Vivamus malesuada ullamcorper tortor vel laoreet.</p>
              </div>
            </li>
            <li class="osg-step-by-step__item">
              <h3 class="osg-step-by-step__heading">Lorem ipsum dolor sit amet</h3>
              <div class="osg-step-by-step__text">
                <p>Vivamus malesuada ullamcorper tortor vel laoreet. Suspendisse potenti.</p>
                <p>Curabitur imperdiet interdum molestie. Proin bibendum, nibh id molestie aliquam, risus ante euismod
                  libero, ornare pharetra nunc lacus eget velit.</p>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <ol class="osg-step-by-step">
          <li class="osg-step-by-step__item">
            <h3 class="osg-step-by-step__heading">Vestibulum ante ipsum primis</h3>
            <div class="osg-step-by-step__text">
              <p>Phasellus at turpis aliquet, congue nisi vel, aliquet arcu. Mauris luctus, magna vitae semper
                malesuada, sapien tellus fermentum ipsum, vel sollicitudin felis dolor vulputate turpis.</p>
            </div>
          </li>
          <li class="osg-step-by-step__item">
            <h3 class="osg-step-by-step__heading">Morbi libero lectus</h3>
            <div class="osg-step-by-step__text">
              <p>Morbi aliquam varius magna, at tristique velit tincidunt sit amet. Class aptent taciti sociosqu ad
                litora torquent per conubia nostra, per inceptos himenaeos.</p>
              <p>Etiam id suscipit nisi. Maecenas vehicula venenatis ex, quis ultricies est varius eget. Suspendisse
                tristique interdum metus non congue.</p>
              <p>In quis sem venenatis, convallis elit non, finibus neque. Vivamus volutpat enim vitae nibh posuere
                lobortis. Nullam urna nulla, volutpat congue ex et, convallis mollis velit. Pellentesque tempor
                fermentum auctor.</p>
            </div>
          </li>
          <li class="osg-step-by-step__item">
            <h3 class="osg-step-by-step__heading">Pellentesque tempor fermentum auctor</h3>
            <div class="osg-step-by-step__text">
              <p>Suspendisse potenti. Vivamus malesuada ullamcorper tortor vel laoreet.</p>
            </div>
          </li>
          <li class="osg-step-by-step__item">
            <h3 class="osg-step-by-step__heading">Lorem ipsum dolor sit amet</h3>
            <div class="osg-step-by-step__text">
              <p>Vivamus malesuada ullamcorper tortor vel laoreet. Suspendisse potenti.</p>
              <p>Curabitur imperdiet interdum molestie. Proin bibendum, nibh id molestie aliquam, risus ante euismod
                libero, ornare pharetra nunc lacus eget velit.</p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
