<div class="container is-fluid osg-margin-vertical-3">
  <div class="columns is-multiline">
    <div class="column is-12 is-8-desktop">
      <h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
      <div class="osg-devtools-code">
        <ol class="osg-step-by-step" role="list">
          <li class="osg-step-by-step__item">
            <h3 class="osg-step-by-step__heading">Vestibulum ante ipsum primis</h3>
            <div class="osg-step-by-step__text">
              <p>Phasellus at turpis aliquet, congue nisi vel, aliquet arcu. Mauris luctus, magna vitae semper malesuada, sapien tellus fermentum ipsum, vel sollicitudin felis dolor vulputate turpis.</p>
            </div>
          </li>
          <li class="osg-step-by-step__item">
            <h3 class="osg-step-by-step__heading">Morbi libero lectus</h3>
            <div class="osg-step-by-step__text">
              <p>Morbi aliquam varius magna, at tristique velit tincidunt sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
              <p>Etiam id suscipit nisi. Maecenas vehicula venenatis ex, quis ultricies est varius eget. Suspendisse tristique interdum metus non congue.</p>
              <p>In quis sem venenatis, convallis elit non, finibus neque. Vivamus volutpat enim vitae nibh posuere lobortis. Nullam urna nulla, volutpat congue ex et, convallis mollis velit. Pellentesque tempor fermentum auctor.</p>
            </div>
          </li>
          <li class="osg-step-by-step__item">
            <h3 class="osg-step-by-step__heading">Pellentesque tempor fermentum auctor</h3>
            <div class="osg-step-by-step__text">
              <p>Suspendisse potenti. Vivamus malesuada ullamcorper tortor vel laoreet.</p>
            </div>
          </li>
          <li class="osg-step-by-step__item">
            <h3 class="osg-step-by-step__heading">Lorem ipsum dolor sit amet</h3>
            <div class="osg-step-by-step__text">
              <p>Vivamus malesuada ullamcorper tortor vel laoreet. Suspendisse potenti.</p>
              <p>Curabitur imperdiet interdum molestie. Proin bibendum, nibh id molestie aliquam, risus ante euismod libero, ornare pharetra nunc lacus eget velit.</p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
