{% set navbarMenuVariant = navbarMenu.variant | default('osg-v-default') %}
{% set navbarMenuModifiers = navbarMenu.modifiers | default(null) %}

<nav class="osg-navbar-menu {{ navbarMenuVariant }} {{ navbarMenuModifiers }}">
  <div class="osg-navbar-menu__overlay-wrapper">
    <div class="osg-navbar-menu__overlay">
    </div>
  </div>
  <div class="osg-navbar-menu__hamburger">
    <button class="osg-navbar-menu__hamburger-icon" aria-haspopup="true" aria-expanded="false" aria-label="Main menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div class="osg-navbar-menu__content">
    <div class="osg-navbar-menu__hamburger-close">
      <button class="osg-navbar-menu__hamburger-icon" aria-haspopup="true" aria-expanded="true" aria-label="Main menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>
    {% block content %}
    {% endblock %}
  </div>
</nav>
