{% set buttonHasDataAttrs = button.dataAttrs is defined and button.dataAttrs is not empty %}
{% set buttonVariant = button.variant | default('osg-v-default') %}
{% set buttonModifiers = button.modifiers | default(null) %}

<button
  class="osg-button {{ buttonVariant }} {{ buttonModifiers }} "
  {% if buttonHasDataAttrs %}
    {% for dataAttr in button.dataAttrs %}
      {{ dataAttr.key }}="{{ dataAttr.val }}"
    {% endfor %}
  {% endif %}
>
  {% block content %}
  {% endblock %}
</button>
