.osg-button, %osg-button
  color: $osg-color-blue-light
  background: $osg-color-blue-dark
  border: 2px solid $osg-color-blue-dark
  &:not(:disabled)
    &:visited
      color: $osg-color-blue-light
      background: $osg-color-blue-dark
      border: 2px solid $osg-color-blue-dark
    &:focus, &:hover
      color: white
      background: $osg-color-blue-hover
      border-color: $osg-color-blue-hover
      text-decoration: none
    &.osg-button--outline.osg-button--active
      &, &:focus, &:hover, &:visited
        color: $osg-color-blue-light
        background: $osg-color-blue-dark
  +osg-common-button
  font-size: inherit
  line-height: inherit
  font-weight: inherit
  cursor: pointer
  outline: none
  user-select: none
