<div class="osg-container">
  <div class="osg-padding-vertical-3">
    <h3 class="osg-heading-3">6/12-column</h3>
    <div class="osg-devtools-code osg-devtools-code--no-space">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
      </div>
    </div>
    <h3 class="osg-heading-3 osg-margin-top-5">Column size</h3>
    <div class="osg-devtools-code osg-devtools-code--no-space">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--8 osg-row__column--4-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">4</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
        <div class="osg-row__column osg-row__column--2 osg-row__column--1-breakpoint-medium">
          <div class="osg-color-bg-blue-light osg-text-center">C</div>
        </div>
      </div>
    </div>
    <div class="osg-devtools-code osg-devtools-code--no-space">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--8">
          <div class="osg-color-bg-blue-light osg-text-center">8</div>
        </div>
        <div class="osg-row__column osg-row__column--4">
          <div class="osg-color-bg-blue-light osg-text-center">4</div>
        </div>
      </div>
    </div>
    <h3 class="osg-heading-3 osg-margin-top-5">Gapless</h3>
    <div class="osg-devtools-code osg-devtools-code--no-space">
      <div class="osg-row osg-row--gapless">
        <div class="osg-row__column osg-row__column--8">
          <div class="osg-color-bg-green-light osg-text-center">8</div>
        </div>
        <div class="osg-row__column osg-row__column--4">
          <div class="osg-color-bg-blue-light osg-text-center">4</div>
        </div>
      </div>
    </div>
    <h3 class="osg-heading-3 osg-margin-top-5">Column offset</h3>
    <div class="osg-devtools-code osg-devtools-code--no-space">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--8 osg-row__column--offset-2">
          <div class="osg-color-bg-green-light osg-text-center">8</div>
        </div>
      </div>
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--8 osg-row__column--offset-2-breakpoint-medium">
          <div class="osg-color-bg-green-light osg-text-center">8</div>
        </div>
      </div>
    </div>
  </div>
</div>
