@use "sass:math";
@use "system/breakpoints";
@use "system/spacing";

$column-gap: math.div(spacing.$space-15, 2) !default;
$column-gap-large: math.div(spacing.$space-30, 2) !default;

$columns: (
  1: 8.3333%,
  2: 16.6666%,
  3: 25%,
  4: 33.3333%,
  5: 41.6666%,
  6: 50%,
  7: 58.3333%,
  8: 66.6666%,
  9: 75%,
  10: 83.3333%,
  11: 91.6666%,
  12: 100%
);

.osg-row {
  display: flex;
  flex-wrap: wrap;
  margin: -#{$column-gap};

  @include breakpoints.medium {
    margin: -#{$column-gap-large};
  }

  &--gapless {
    margin: 0;

    & > .osg-row__column {
      margin: 0;
      padding: 0 !important;
    }

    &:not(:last-child) {
      margin-bottom: $column-gap;

      @include breakpoints.medium {
        margin-bottom: $column-gap-large;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__column {
    box-sizing: border-box;
    flex: 1 1 0;
    max-width: 100%;
    padding: $column-gap;

    &--stack {
      padding-top: $column-gap * 2;
      padding-bottom: $column-gap * 2;
    }

    @include breakpoints.medium {
      padding: $column-gap-large;
    }

    @each $column-number, $column-size in $columns {
      &--#{$column-number} {
        flex: 0 0 auto;
        width: $column-size;
      }

      &--offset-#{$column-number} {
        margin-left: $column-size;
      }
    }

    @include breakpoints.medium {
      @each $column-number, $column-size in $columns {
        &--#{$column-number}-breakpoint-medium {
          flex: 0 0 auto;
          width: $column-size;
        }

        &--offset-#{$column-number}-breakpoint-medium {
          margin-left: $column-size;
        }
      }

      &--offset-none-breakpoint-medium {
        margin-left: 0;
      }
    }

    @include breakpoints.large {
      @each $column-number, $column-size in $columns {
        &--#{$column-number}-breakpoint-large {
          flex: 0 0 auto;
          width: $column-size;
        }

        &--offset-#{$column-number}-breakpoint-large {
          margin-left: $column-size;
        }
      }

      &--offset-none-breakpoint-large {
        margin-left: 0;
      }
    }
  }
}
