{% set promoVariant = promo.variant | default('osg-v-default') %}

<section class="osg-promo {{ promoVariant }}">
  {% include 'atoms/decorators/figure/figure.twig' %}
  <div class="osg-promo__content-container">
    <div class="osg-promo__content-wrapper">
      <div class="osg-promo__content">
        {% block content %}
          <h2 class="osg-u-text-1">{{ promo.title }}</h2>
        {% endblock %}
      </div>
    </div>
  </div>
</section>
