<div class="osg-content osg-u-docs-prototyping">
  <p>
    You can fork <a href="https://codepen.io/oslokommune/pen/zbLXbV">this codepen</a>
    and start experimenting by copy and pasting html from the different patterns into your
    codepen fork.
  </p>
  <p>
    The codepen is set up with a cdn without versioning, so be aware that the contents
    of the cdn will change over time. We are planning to support versioned cdns in the future.
  </p>
  <p>
    If you want to use the cdn in a different environment, copy this line into the head
    section of your html:
  </p>
  <pre>
  &lt;link rel="stylesheet" href="https://styleguide.oslo.kommune.no/styleguide.css"&gt;
  </pre>
</div>

