{% set menuButtonContent %}
  {% block menuButtonContent %}
    {% set menuText = menu.menuButton.text | default(null) %}
    <span class="osg-menu__button__text">{{ menuText }}</span>
    <span class="osg-menu__button__icon">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </span>
  {% endblock %}
{% endset %}

<div class="osg-menu">
  {% embed 'atoms/buttons/button/button.twig' with { button: menu.menuButton } %}
    {% block content %}
      {{ menuButtonContent }}
    {% endblock %}
  {% endembed %}

  {% block menuOtherContent %}
  {% endblock %}
</div>
