<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2 osg-margin-bottom-30">Breadcrumb is a secondary navigation system that shows a user's location in a site or web app.</p>
      <h2 class="osg-heading-3">Default</h2>
      <p class="osg-paragraph">Single level back. Same function as back button in browser, but shows the name of the previous site name.</p>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <nav class="osg-breadcrumb" aria-label="breadcrumbs">
            <ul class="osg-breadcrumb__list">
              <li class="osg-breadcrumb__item">
                <a class="osg-link osg-link--chevron-left" href="javascript:void(0)">Item 1</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Multiple level</h2>
      <p class="osg-paragraph">Instead of using the browser's "Back" button or the site's primary navigation to return to a higher-level page, visitors can use the breadcrumbs with multiple levels.</p>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <nav class="osg-breadcrumb" aria-label="breadcrumbs">
            <ul class="osg-breadcrumb__list">
              <li class="osg-breadcrumb__item">
                <a class="osg-link osg-link--chevron-left" href="javascript:void(0)">Item 1</a>
              </li>
              <li class="osg-breadcrumb__item">
                <a class="osg-link osg-link--chevron-left" href="javascript:void(0)">Item 2</a>
              </li>
              <li class="osg-breadcrumb__item">
                <a class="osg-link osg-link--chevron-left" href="javascript:void(0)">Item 3</a>
              </li>
              <li class="osg-breadcrumb__item">
                <a class="osg-link osg-link--chevron-left" href="javascript:void(0)">Item 4</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
