<h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
<ul class="osg-breadcrumb">
  <li><a href="#breadcrumb" class="osg-link">Item 1</a></li>
  <li><a href="#breadcrumb" class="osg-link">Item 2</a></li>
  <li><a href="#breadcrumb" class="osg-link">Item 3</a></li>
  <li><a href="#breadcrumb" class="osg-link">Item 4</a></li>
</ul>
