<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-text-size-delta">Breadcrumb is a secondary navigation system that shows a page or user's location in a site or web app.</p>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <p class="osg-paragraph">Single level back takes the visitor to a higher-level page.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <nav class="osg-breadcrumb" aria-label="Default breadcrumbs">
            <ul class="osg-breadcrumb__list">
              <li class="osg-breadcrumb__item">
                <a class="osg-breadcrumb__link" href="javascript:void(0)">Item 1</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Multiple levels</h2>
      <p class="osg-paragraph">Instead of using the browser's "Back" button or the site's primary navigation to return to a higher-level page, visitors can use the breadcrumb with multiple levels.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <nav class="osg-breadcrumb" aria-label="Multiple levels breadcrumbs">
            <ul class="osg-breadcrumb__list">
              <li class="osg-breadcrumb__item">
                <a class="osg-breadcrumb__link" href="javascript:void(0)">Item 1</a>
              </li>
              <li class="osg-breadcrumb__item">
                <a class="osg-breadcrumb__link" href="javascript:void(0)">Item 2</a>
              </li>
              <li class="osg-breadcrumb__item">
                <a class="osg-breadcrumb__link" href="javascript:void(0)">Item 3</a>
              </li>
              <li class="osg-breadcrumb__item">
                <a class="osg-breadcrumb__link" href="javascript:void(0)">Item 4</a>
              </li>
              <li class="osg-breadcrumb__item">
                <span class="osg-breadcrumb__active">Active</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3">Default</h2>
      <nav class="osg-breadcrumb" aria-label="Default breadcrumbs2">
        <ul class="osg-breadcrumb__list">
          <li class="osg-breadcrumb__item">
            <a class="osg-breadcrumb__link" href="javascript:void(0)">Item 1</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3">Multiple levels</h2>
      <nav class="osg-breadcrumb" aria-label="Multiple levels breadcrumbs2">
        <ul class="osg-breadcrumb__list">
          <li class="osg-breadcrumb__item">
            <a class="osg-breadcrumb__link" href="javascript:void(0)">Item 1</a>
          </li>
          <li class="osg-breadcrumb__item">
            <a class="osg-breadcrumb__link" href="javascript:void(0)">Item 2</a>
          </li>
          <li class="osg-breadcrumb__item">
            <a class="osg-breadcrumb__link" href="javascript:void(0)">Item 3</a>
          </li>
          <li class="osg-breadcrumb__item">
            <a class="osg-breadcrumb__link" href="javascript:void(0)">Item 4</a>
          </li>
          <li class="osg-breadcrumb__item">
            <span class="osg-breadcrumb__active">Active</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
