<div class="container is-fluid osg-margin-vertical-3">
  <div class="columns">
    <div class="column">
      <h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
      <div class="osg-devtools-code">
        <nav class="osg-breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a class="osg-link osg-link--chevron-left" href="#breadcrumb">Item 1</a></li>
            <li><a class="osg-link osg-link--chevron-left" href="#breadcrumb">Item 2</a></li>
            <li><a class="osg-link osg-link--chevron-left" href="#breadcrumb">Item 3</a></li>
            <li><a class="osg-link osg-link--chevron-left" href="#breadcrumb">Item 4</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
