<div class="osg-content">
  <h1>Heading h1</h1>
  <h2>Heading h2</h2>
  <h3>Heading h3</h3>
  <h4>Heading h4</h4>
  <h5>Heading h5</h5>
  <h6>Heading h6</h6>
  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <a href="#text" class="osg-link">unknown printer</a> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <a href="#text" class="osg-link">unknown printer</a> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  <ul>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>
  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <a href="#text" class="osg-link">unknown printer</a> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  <ol>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ol>
  <figure>
    <blockquote>
        "That monster custom, who all sense doth eat
        Of habit’s devil," <abbr title="et cetera">&c.</abbr> not in Folio

        "What a falling off was there !
        From me, whose love was of that dignity
        That it went hand in hand even with the vow
        I made to her in marriage, and to decline
        Upon a wretch."
    </blockquote>

    <footer>
        — <cite class="title">Shakespeare manual</cite>
        by <cite class="author">Frederick Gard Fleay</cite>,
        p19 (in Google Books)
    </footer>
  </figure>
</div>
