<div class="container is-fluid osg-margin-vertical-3">
  <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Dropdown</h2>
  <div class="columns is-multiline">
    <div class="column is-4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Dropdown label
          <div class="osg-dropdown">
            <select class="osg-form-component">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>
          </div>
        </label>
      </div>
    </div>
    <div class="column is-4">
      <div class="osg-devtools-code">
        <label class="osg-label osg-label--disabled">
          Dropdown label
          <div class="osg-dropdown">
            <select class="osg-form-component osg-form-component--disabled" disabled="disabled">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>