@use "system/colors";
@use "system/spacing";
@use "system/breakpoints";

.ods-logo {
  @extend %ods-color-text-blue-dark;

  padding: 1.25rem 1rem;
  line-height: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  svg {
    fill: currentcolor;
    height: 3.1875rem;

    @include breakpoints.medium {
      height: 4.0625rem;
    }
  }

  &--green-dark svg {
    fill: colors.$green-dark;
  }

  &--green-light svg {
    fill: colors.$green-light;
  }

  &--blue-light svg {
    fill: colors.$blue-light;
  }

  &--black svg {
    fill: colors.$black;
  }

  &--white svg {
    fill: colors.$white;
  }
}
