@use "system/colors";
@use "system/spacing";
@use "system/breakpoints";

.osg-logo {
  @extend %osg-color-text-blue-dark;
  padding: 1.25rem;
  line-height: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  svg {
    fill: currentColor;
    height: 3.1875rem;

    @include breakpoints.medium {
      height: 4.0625rem;
    }
  }
}
