<div class="ods-grid">
  <div class="ods-grid__column--12">
    <div class="ods-color-bg-blue-light ods-padding-4 ods-padding-horizontal-8-breakpoint-medium">Header</div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-grid">
      <div class="ods-grid__column--12 ods-color-bg-beige">
        <div class="ods-grid ods-grid--gutter">
          <div class="ods-grid__column--12">
            <div class="ods-grid ods-grid--center">
              <div class="ods-grid__column--12">
                <h2 class="ods-margin-vertical-4">Alert</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-padding-horizontal-4 ods-padding-horizontal-8-breakpoint-medium ods-margin-top-3">Breadcrumb</div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-grid ods-grid--gutter ods-margin-top-13 ods-margin-top-19-breakpoint-medium ods-margin-bottom-8 ods-margin-bottom-13-breakpoint-medium">
      <div class="ods-grid__column--12">
        <div class="ods-grid ods-grid--gap-column ods-grid--gap-row-large ods-grid--center">
          <div class="ods-grid__column--12">
            <h1 class="ods-text--size-india ods-text--size-charlie-breakpoint-medium ods-text--size-alfa-breakpoint-large">Title</h1>
            <p class="ods-paragraph ods-paragraph--lead">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          </div>
          <div class="ods-grid__column--12">
            <div class="ods-color-bg-beige ods-padding-8">Important messages</div>
          </div>
          <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
            <div class="ods-grid ods-grid--gap-column ods-grid--gap-row-large">
              <div class="ods-grid__column--12">
                <div class="ods-color-bg-red-light ods-padding-8">Image carousel</div>
              </div>
              <div class="ods-grid__column--12">
                <div class="ods-color-bg-green-light ods-padding-8">Table of contents</div>
              </div>
              <div class="ods-grid__column--12">
                <div class="ods-content">
                  <h2>Subtitle</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus pulvinar erat vitae scelerisque. Morbi placerat lacus a sollicitudin sagittis. Phasellus aliquam ante urna, ac interdum erat sagittis ut. Morbi sapien augue, ultrices vel dolor id, sollicitudin pharetra diam. Quisque semper lacus et dui molestie finibus. Donec mattis ex justo, eget efficitur libero porta
                    ullamcorper. Suspendisse ac metus scelerisque, accumsan sem a, ultricies risus. Quisque feugiat volutpat massa eget imperdiet. Proin vulputate dictum condimentum. Fusce aliquam, metus vel pharetra fermentum, leo arcu euismod erat, id porta quam nulla sed justo. Pellentesque dapibus interdum viverra.
                  </p>
                  <h2>Another subtitle</h2>
                  <p>
                    Pellentesque et finibus augue, at dictum urna. Maecenas accumsan, velit sed fermentum varius, nisi sem suscipit lacus, in consectetur velit ante nec quam. Aenean ultrices id tortor vel dictum. Vivamus diam risus, bibendum gravida nisi a, consectetur tempor dui. Vivamus mauris est, vulputate eu pretium porttitor, commodo sed risus. Duis dignissim nec mauris sollicitudin rhoncus.
                    Donec vel diam sit amet lacus luctus accumsan. Etiam auctor fringilla dui, non finibus justo mollis a. Sed lacinia lobortis orci sit amet porta. Sed fermentum metus quis lectus egestas imperdiet at ac mi. Donec eu accumsan neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eros metus, aliquam a arcu vitae, accumsan porta lacus. Vivamus non mattis sem.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
            <div class="ods-grid ods-grid--gap-row ods-grid--gap-row-large-breakpoint-medium">
              <div class="ods-grid__column--12">
                <div class="ods-color-bg-yellow ods-padding-4">Contact</div>
                <div class="ods-color-bg-beige ods-padding-4">Map</div>
              </div>
              <div class="ods-grid__column--12">
                <div class="ods-color-bg-gray-light ods-padding-4">Opening hours</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-grid">
      <div class="ods-grid__column--12 ods-color-bg-yellow">
        <div class="ods-grid ods-grid--gutter">
          <div class="ods-grid__column--12">
            <div class="ods-grid ods-grid--center">
              <div class="ods-grid__column--12">
                <h2 class="ods-margin-vertical-13">Banner</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-color-bg-blue-dark ods-color-text-white ods-padding-vertical-13">
      <div class="ods-grid ods-grid--gutter">
        <div class="ods-grid__column--12">
          <div class="ods-grid ods-grid--center ods-grid--gap">
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <h3 class="ods-heading-3">Title</h3>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <h3 class="ods-heading-3">Title</h3>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <h3 class="ods-heading-3">Title</h3>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
