{% set infoListModifiers = infoList.modifiers | default(null) %}

<div class="osg-info-list {{ infoListModifiers }}">
  <ul>
    {% for icon in infoList.icons.entries %}
    <li>
      {% include 'atoms/icons/icon/icon.twig' with { modifiers: icon.modifiers } %}
      {% if icon.text is defined and icon.text is not empty %}
        <p>{{ icon.text|raw }}</p>
      {% endif %}

      {% set hasLinkText = icon.linkText is defined and icon.linkText is not empty %}
      {% set hasLink = icon.link is defined and icon.link is not empty %}

      {% if hasLinkText and hasLink %}
        <a href="{{ icon.link }}">{{ icon.linkText }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% block content %}
  {% endblock %}

</div>
