@use "system/states";

.osg-states-primary {
  background-color: states.$primary !important;
  border: 2px solid states.$primary !important;
  color: states.$primary-text !important;
}

.osg-states-disabled {
  background-color: states.$disabled !important;
  border: 2px solid states.$disabled !important;
  color: states.$disabled-text !important;
}

.osg-states-success {
  background-color: states.$success !important;
  border: 2px solid states.$success !important;
  color: states.$success-text !important;
}

.osg-states-warning {
  background-color: states.$warning !important;
  border: 2px solid states.$warning !important;
  color: states.$warning-text !important;
}

.osg-states-danger {
  background-color: states.$danger !important;
  border: 2px solid states.$danger !important;
  color: states.$danger-text !important;
}

.osg-states-active {
  background-color: states.$active !important;
  border: 2px solid states.$active !important;
  color: states.$active-text !important;
}

.osg-states-active-light {
  background-color: states.$active-light !important;
  border: 2px solid states.$active-light !important;
  color: states.$active-light-text !important;
}

.osg-states-hover {
  background-color: states.$hover !important;
  border: 2px solid states.$hover !important;
  color: states.$hover-text !important;
}

.osg-states-hover-light {
  background-color: states.$hover-light !important;
  border: 2px solid states.$hover-light !important;
  color: states.$hover-light-text !important;
}

.osg-states-visited {
  background-color: states.$visited !important;
  border: 2px solid states.$visited !important;
  color: states.$visited-text !important;
}

.osg-states-visited-light {
  background-color: states.$visited-light !important;
  border: 2px solid states.$visited-light !important;
  color: states.$visited-light-text !important;
}
