$shape-size-mobile: 73px
$shape-size-tablet: 97px
$box-margin-top-mobile: -50px
$box-margin-top-tablet: -60px

=osg-shape-card--left($size)
  .osg-content-box
    order: 1
  .osg-shape
    order: 0
    left: 0
    right: unset
=osg-shape-card--right
  .osg-content-box
    margin-left: unset
    order: 0
  .osg-shape
    order: 1
    right: 0
    left: unset
=osg-shape-card--shape-in-image($size, $margin)
  .osg-shape-card__box-shape-wrapper
    position: relative
  .osg-content-box
    width: 100%
  .osg-shape
    position: absolute
    top: calc(#{$margin} - #{$size})

.osg-shape-card
  $root: &
  $image-container: #{$root}__image-container

  +osg-common-card
  +osg-common-card-with-state-modifier

  .osg-shape
    padding: 0
    height: $shape-size-mobile
    width: $shape-size-mobile
    overflow: unset
    right: 0
    order: 2
    span
      white-space: nowrap
    +osg-mq-tablet-and-up
      height: $shape-size-tablet
      width: $shape-size-tablet
      padding: 15px

  #{$image-container}
    position: relative

  &--right
    +osg-shape-card--right
    +osg-mq-tablet-and-up
      +osg-shape-card--right
  &--left
    +osg-shape-card--left($shape-size-mobile)
    +osg-mq-tablet-and-up
      +osg-shape-card--left($shape-size-tablet)
  &--shape-in-image
    +osg-shape-card--shape-in-image($shape-size-mobile, $box-margin-top-mobile)

  &--shape-in-image-mobile-only
    +osg-mq-mobile-only
      +osg-shape-card--shape-in-image($shape-size-mobile, $box-margin-top-mobile)

  &--right-tablet
    +osg-mq-tablet-and-up
      +osg-shape-card--right
  &--left-tablet
    +osg-mq-tablet-and-up
      +osg-shape-card--left($shape-size-tablet)
  &--shape-in-image-tablet
    +osg-mq-tablet-and-up
      +osg-shape-card--shape-in-image($shape-size-tablet, $box-margin-top-tablet)

  &--right-desktop
    +osg-mq-desktop-and-up
      +osg-shape-card--right
  &--left-desktop
    +osg-mq-desktop-and-up
      +osg-shape-card--left($shape-size-tablet)
  &--shape-in-image-desktop
    +osg-mq-desktop-and-up
      +osg-shape-card--shape-in-image($shape-size-tablet, $box-margin-top-tablet)
