<div class="osg-container osg-container--gutterless osg-container--no-overflow-x">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-container">
        <h2 class="osg-heading-3">Default</h2>
      </div>
      <div class="osg-devtools-code osg-devtools-code--container osg-devtools-code--no-space">
        <div class="osg-container">
          <div class="osg-row">
            <div class="osg-row__column">
              <div class="osg-color-bg-blue-light osg-padding-3">Container</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-container">
        <h2 class="osg-heading-3 osg-margin-top-5">No gutter</h2>
      </div>
      <div class="osg-devtools-code osg-devtools-code--container osg-devtools-code--no-space">
        <div class="osg-container osg-container--gutterless">
          <div class="osg-row">
            <div class="osg-row__column">
              <div class="osg-color-bg-blue-light osg-padding-3">Container</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-container">
        <h2 class="osg-heading-3 osg-margin-top-5">No overflow-x</h2>
      </div>
      <div class="osg-devtools-code osg-devtools-code--container osg-devtools-code--no-space">
        <div class="osg-container osg-container--gutterless osg-container--no-overflow-x">
          <div class="osg-row">
            <div class="osg-row__column">
              <div class="osg-color-bg-blue-light osg-padding-3">Container</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-container">
        <h2 class="osg-heading-3 osg-margin-top-5">Content limit</h2>
      </div>
      <div class="osg-devtools-code osg-devtools-code--container osg-devtools-code--no-space">
        <div class="osg-container osg-container--content-limit">
          <div class="osg-row">
            <div class="osg-row__column">
              <div class="osg-color-bg-blue-light osg-padding-3">Container</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
