@use "system/breakpoints";
@use "system/spacing";

$gutter: spacing.$space-3 !default;
$gutter-large: spacing.$space-4 !default;

.osg-container {
  margin: 0 $gutter;

  @include breakpoints.medium {
    margin: 0 $gutter-large;
  }

  &--gutterless {
    margin: 0;
  }

  &--no-overflow {
    overflow: hidden;
  }

  &--content-limit {
    max-width: 1236px;
    margin: 0 auto;
  }
}
