// ============================================================================
// COMMON MIXINS
// ============================================================================
//
// This is where we put styles that is used across more than one pattern
// Is prefixed with osg-common-

=osg-common-blockquote
  @extend %osg-text-1
  position: relative
  background-color: $osg-color-beige
  padding: 105px 15px 50px 30px
  +osg-mq-tablet-and-up
    padding: 130px 120px 100px 120px
    line-height: 45px
  a
    text-decoration: none
  p
    @extend %osg-text-1
  footer, & > cite
    @extend %osg-text-3
    display: block
    line-height: 33px
    padding-top: 20px
    +osg-mq-tablet-and-up
      padding-top: 40px
  &:before
    @extend %osg-heading-1
    content: '"'
    position: absolute
    top: 50px
    left: 30px
    +osg-mq-tablet-and-up
      left: 50px
