@use "system/breakpoints";
@use "system/grid";

.osg-container {
  margin: 0 grid.$gutter;

  @include breakpoints.medium {
    margin: 0 grid.$gutter-large;
  }

  &--gutterless {
    margin: 0;
    overflow: hidden;
  }

  &--content-limit {
    max-width: grid.$content-width;
    margin: 0 auto;
  }
}
