@use "system/breakpoints";
@use "system/spacing";

$gutter: spacing.$space-15 !default;
$gutter-large: spacing.$space-30 !default;

.osg-container {
  margin: 0 $gutter;

  @include breakpoints.medium {
    margin: 0 $gutter-large;
  }

  &--gutterless {
    margin: 0;
    overflow: hidden;
  }

  &--content-limit {
    max-width: 1236px;
    margin: 0 auto;
  }
}
