.osg-ingress,
.osg-ingress p
  @extend .osg-u-text-1
  line-height: 30px
  +osg-mq-desktop-and-up
    line-height: 40px
  >h2
    @extend .osg-u-heading-2
    line-height: 56px
    +osg-mq-desktop-and-up
        line-height: 80px
