@use "system/colors";
@use "system/icons";
@use "system/typography";
@use "system/spacing";
@use "system/units";
@use "sass:map";

.osg-contactbox {
  background-color: colors.$yellow;

  &__trigger {
    @extend %osg-text--size-hotel, %osg-text--size-foxtrot-breakpoint-medium, %osg-text--size-delta-breakpoint-large;
    @extend %osg-padding-5, %osg-padding-8-breakpoint-large;

    display: block;
    position: relative;
    text-decoration: none;

    &.osg-collapsible-trigger {
      &::after {
        font-family: "Oslo Icons", sans-serif;
        content: map.get(icons.$icons, "plus-sign");
        position: absolute;
        right: units.unit-to-rem(5);
      }
    }

    &.osg-collapsible-trigger--expanded {
      &::after {
        content: map.get(icons.$icons, "minus-sign");
      }
    }
  }

  &__group {
    @extend %osg-padding-horizontal-5, %osg-padding-horizontal-8-breakpoint-large;
    @extend %osg-padding-bottom-4;
  }

  &__group:last-of-type {
    @extend %osg-padding-bottom-5, %osg-padding-bottom-8-breakpoint-large;
  }

  &__label {
    @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large, %osg-text--weight-medium;
    word-wrap: break-word;
  }

  &__value {
    @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large, %osg-text--weight-light;

    .osg-link {
      word-break: break-all;
    }
  }
}
