<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Contact box description.</p>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <p class="ods-paragraph">Default contactbox.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-large">
              <div class="ods-devtools-code__box__code">
                <section class="ods-contactbox" id="ods-contactbox-1">
                  <h2><a class="ods-contactbox__trigger">Contact us</a></h2>
                  <div class="ods-contactbox__content">
                    <dl class="ods-contactbox__group">
                      <dt class="ods-contactbox__label">Phone number</dt>
                      <dd class="ods-contactbox__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></dd>
                      <dd class="ods-contactbox__time">15:00–18:00 mon.–sun.</dd>
                    </dl>
                    <dl class="ods-contactbox__group">
                      <dt class="ods-contactbox__label">E-mail</dt>
                      <dd class="ods-contactbox__value"><a href="javascript:void(0)" class="ods-link">some.long.email.address@oslo.kommune.no</a></dd>
                    </dl>
                    <dl class="ods-contactbox__group">
                      <dt class="ods-contactbox__label">Postal address</dt>
                      <dd class="ods-contactbox__value">
                        Mailbox 123 Furuset<br />
                        1001 Oslo
                      </dd>
                    </dl>
                    <dl class="ods-contactbox__group">
                      <dt class="ods-contactbox__label">Visiting address</dt>
                      <dd class="ods-contactbox__value">
                        Trygve Lies plass 1<br />
                        1001 Oslo
                      </dd>
                    </dl>
                    <div class="ods-contactbox__group">
                      <div class="ods-contactbox__value">
                        <p><a class="ods-link" href="javascript:void(0)">Some link</a></p>
                        <p><a class="ods-link ods-link--external" href="javascript:void(0)">Some link II</a></p>
                        <p><a class="ods-link" href="javascript:void(0)">Some link III</a></p>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-large">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <section class="ods-contactbox" id="ods-contactbox-2">
        <h2><a class="ods-contactbox__trigger">Contact us</a></h2>
        <div class="ods-contactbox__content">
          <dl class="ods-contactbox__group">
            <dt class="ods-contactbox__label">Phone number</dt>
            <dd class="ods-contactbox__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></dd>
          </dl>
          <dl class="ods-contactbox__group">
            <dt class="ods-contactbox__label">E-mail</dt>
            <dd class="ods-contactbox__value"><a href="javascript:void(0)" class="ods-link">some.long.email.address@oslo.kommune.no</a></dd>
          </dl>
          <dl class="ods-contactbox__group">
            <dt class="ods-contactbox__label">Postal address</dt>
            <dd class="ods-contactbox__value">
              Mailbox 123 Furuset<br />
              1001 Oslo
            </dd>
          </dl>
          <dl class="ods-contactbox__group">
            <dt class="ods-contactbox__label">Visiting address</dt>
            <dd class="ods-contactbox__value">
              Trygve Lies plass 1<br />
              1001 Oslo
            </dd>
          </dl>
          <div class="ods-contactbox__group">
            <div class="ods-contactbox__value">
              <p><a class="ods-link" href="javascript:void(0)">Some link</a></p>
              <p><a class="ods-link ods-link--external" href="javascript:void(0)">Some link II</a></p>
              <p><a class="ods-link" href="javascript:void(0)">Some link III</a></p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-large">
      <h2 class="ods-devtools-text-preset-2">Custom content</h2>
      <section class="ods-contactbox" id="ods-contactbox-3">
        <h2><a class="ods-contactbox__trigger">Contact us</a></h2>
        <div class="ods-contactbox__content">
          <dl class="ods-contactbox__group">
            <dt class="ods-contactbox__label">Phone number</dt>
            <dd class="ods-contactbox__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></dd>
          </dl>
          <dl class="ods-contactbox__group">
            <dt class="ods-contactbox__label">E-mail</dt>
            <dd class="ods-contactbox__value"><a href="javascript:void(0)" class="ods-link">some.long.email.address@oslo.kommune.no</a></dd>
          </dl>
          <dl class="ods-contactbox__group">
            <dt class="ods-contactbox__label">Postal address</dt>
            <dd class="ods-contactbox__value">
              Mailbox 123 Furuset<br />
              1001 Oslo
            </dd>
          </dl>
          <dl class="ods-contactbox__group">
            <dt class="ods-contactbox__label">Visiting address</dt>
            <dd class="ods-contactbox__value">
              Trygve Lies plass 1<br />
              1001 Oslo
            </dd>
          </dl>
          <div class="ods-contactbox__group">
            <div class="ods-contactbox__value">
              <p><a class="ods-link" href="javascript:void(0)">Some link</a></p>
              <p><a class="ods-link ods-link--external" href="javascript:void(0)">Some link II</a></p>
              <p><a class="ods-link" href="javascript:void(0)">Some link III</a></p>
            </div>
          </div>
          <div class="ods-contactbox__custom-content">
            <div class="ods-map" id="ods-contactbox-custom-content-map">
              <ods-map ref="odsMap" api-key="VW1Tn0fx1t3b6t0CHP6Q" :points="[{ longitude: 10.74981, latitude: 59.913008, openPopup: true, popupContent: '<h2>Bob the Builder</h2>' }]" ratio="ods-ratio-1-1 ods-ratio-21-9-breakpoint-medium"></ods-map>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
