<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-devtools-text-preset-3">Contact box description.</p>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <p class="osg-paragraph">Default contactbox.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-large">
              <div class="osg-devtools-code__box__code">
                <section class="osg-contactbox" id="osg-contactbox-1">
                  <h2><a class="osg-contactbox__trigger">Contact us</a></h2>
                  <div class="osg-contactbox__content">
                    <div class="osg-contactbox__group">
                      <div class="osg-contactbox__label">Phone number</div>
                      <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
                    </div>
                    <div class="osg-contactbox__group">
                      <div class="osg-contactbox__label">E-mail</div>
                      <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">some.long.email.address@oslo.kommune.no</a></div>
                    </div>
                    <div class="osg-contactbox__group">
                      <div class="osg-contactbox__label">Postal address</div>
                      <div class="osg-contactbox__value">
                        Mailbox 123 Furuset<br />
                        1001 Oslo
                      </div>
                    </div>
                    <div class="osg-contactbox__group">
                      <div class="osg-contactbox__label">Visiting address</div>
                      <div class="osg-contactbox__value">
                        Trygve Lies plass 1<br />
                        1001 Oslo
                      </div>
                    </div>
                    <div class="osg-contactbox__group">
                      <div class="osg-contactbox__value">
                        <div><a class="osg-link" href="javascript:void(0)">Some link</a></div>
                        <div><a class="osg-link osg-link--external" href="javascript:void(0)">Some link II</a></div>
                        <div><a class="osg-link" href="javascript:void(0)">Some link III</a></div>
                      </div>
                    </div>
                    <div class="osg-contactbox__group">
                      <div class="osg-contactbox__value">
                        <p class="osg-paragraph">
                          <a href="javascript:void(0)" class="osg-link"><span class="osg-icon osg-icon--space-right osg-icon--paragraph osg-icons--facebook" aria-hidden="true"></span>Follow us on Facebook</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-large">
      <h2 class="osg-devtools-text-preset-2">Default</h2>
      <section class="osg-contactbox" id="osg-contactbox-2">
        <h2><a class="osg-contactbox__trigger">Contact us</a></h2>
        <div class="osg-contactbox__content">
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__label">Phone number</div>
            <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
          </div>
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__label">E-mail</div>
            <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">some.long.email.address@oslo.kommune.no</a></div>
          </div>
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__label">Postal address</div>
            <div class="osg-contactbox__value">
              Mailbox 123 Furuset<br />
              1001 Oslo
            </div>
          </div>
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__label">Visiting address</div>
            <div class="osg-contactbox__value">
              Trygve Lies plass 1<br />
              1001 Oslo
            </div>
          </div>
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__value">
              <div><a class="osg-link" href="javascript:void(0)">Some link</a></div>
              <div><a class="osg-link osg-link--external" href="javascript:void(0)">Some link II</a></div>
              <div><a class="osg-link" href="javascript:void(0)">Some link III</a></div>
            </div>
          </div>
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__value">
              <p class="osg-paragraph">
                <a href="javascript:void(0)" class="osg-link"><span class="osg-icon osg-icon--space-right osg-icon--paragraph osg-icons--facebook" aria-hidden="true"></span>Follow us on Facebook</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-large">
      <h2 class="osg-devtools-text-preset-2">Custom content</h2>
      <section class="osg-contactbox" id="osg-contactbox-3">
        <h2><a class="osg-contactbox__trigger">Contact us</a></h2>
        <div class="osg-contactbox__content">
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__label">Phone number</div>
            <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
          </div>
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__label">E-mail</div>
            <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">some.long.email.address@oslo.kommune.no</a></div>
          </div>
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__label">Postal address</div>
            <div class="osg-contactbox__value">
              Mailbox 123 Furuset<br />
              1001 Oslo
            </div>
          </div>
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__label">Visiting address</div>
            <div class="osg-contactbox__value">
              Trygve Lies plass 1<br />
              1001 Oslo
            </div>
          </div>
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__value">
              <div><a class="osg-link" href="javascript:void(0)">Some link</a></div>
              <div><a class="osg-link osg-link--external" href="javascript:void(0)">Some link II</a></div>
              <div><a class="osg-link" href="javascript:void(0)">Some link III</a></div>
            </div>
          </div>
          <div class="osg-contactbox__group">
            <div class="osg-contactbox__value">
              <p class="osg-paragraph">
                <a href="javascript:void(0)" class="osg-link"><span class="osg-icon osg-icon--space-right osg-icon--paragraph osg-icons--facebook" aria-hidden="true"></span>Follow us on Facebook</a>
              </p>
            </div>
          </div>
          <div class="osg-contactbox__custom-content">
            <div class="osg-map" id="osg-contactbox-custom-content-map">
              <osg-map ref="osgMap" api-key="VW1Tn0fx1t3b6t0CHP6Q" :points="[{ longitude: 10.74981, latitude: 59.913008, openPopup: true, popupContent: '<h2>Bob the Builder</h2>' }]" ratio="osg-ratio-1-1 osg-ratio-21-9-breakpoint-medium"></osg-map>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
