{% set limit = pagination.limit | default(2)%}

<div class="osg-pagination">
  <button
    class="osg-pagination__item osg-pagination__item--prev"
    {% if pagination.activeIndex == pagination.indexes[0] %}
    disabled="disabled"
    {% endif %}
  >
    <span class="osg-sr-only">Vis forrige side</span>
  </button>
  {% for index in pagination.indexes %}
  {% if index == 1 or index == pagination.indexes|length or index >= pagination.activeIndex - limit and index <= pagination.activeIndex + limit %}
  <button
    class="osg-pagination__item {{index == pagination.activeIndex ? 'osg-pagination__item--active' : '' }}"
  >
    <span class="osg-sr-only">Vis side </span>
    {{ index }}
  </button>
  {% elseif index >= pagination.activeIndex - limit - 1 and index <= pagination.activeIndex + limit + 1 %}
  <span class="osg-pagination__item-spacer">&hellip;</span>
  {% endif %}
  {% endfor %}
  <button
    class="osg-pagination__item osg-pagination__item--next"
    {% if pagination.activeIndex == pagination.indexes[pagination.indexes|length - 1] %}
    disabled="disabled"
    {% endif %}
  >
    <span class="osg-sr-only">Vis neste side</span>
  </button>
</div>
