<div class="osg-pagination">
  <button
    class="osg-pagination__item osg-pagination__item--prev"
    disabled="disabled"
  >
    <span class="osg-sr-only">Vis forrige side</span>
  </button>
  <button
    class="osg-pagination__item osg-pagination__item--active"
  >
    <span class="osg-sr-only">Vis side </span>
    1
  </button>
  <button
    class="osg-pagination__item"
  >
    <span class="osg-sr-only">Vis side </span>
    2
  </button>
  <span class="osg-pagination__item-spacer">&hellip;</span>
  <button
    class="osg-pagination__item osg-pagination__item--next"
  >
    <span class="osg-sr-only">Vis neste side</span>
  </button>
</div>
