@use "core/config/icons" as *;

.osg-icon {
  font-size: 2rem;
  display: inline-block;

  &:before {
    font-family: 'Oslo Icons';
    font-style: normal;
    line-height: 1;
  }
  &:before,
  &:hover:before {
    color: inherit;
  }
}

// Generating icon classes
@each $name, $content in $icons {
  .osg-icon--#{$name}, %osg-icon--#{$name} {
    &:before {
      content: "#{$content}";
    }
  }
}
