@use "system/spacing";

.osg-icon {
  display: inline-block;

  &--space-left {
    @extend %osg-margin-left-3;
  }

  &--space-right {
    @extend %osg-margin-right-3;
  }

  &--space-both {
    @extend %osg-margin-horizontal-3;
  }

  &--paragraph {
    line-height: 1.7em;
    vertical-align: bottom;
  }
}
