<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-text-preset-3">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <span class="osg-icon osg-icons--email" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-text-preset-3">Sizes</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <span class="osg-icon osg-icons--email osg-heading-1" aria-hidden="true"></span>
          <span class="osg-icon osg-icons--email osg-heading-2" aria-hidden="true"></span>
          <span class="osg-icon osg-icons--email osg-text-1" aria-hidden="true"></span>
          <span class="osg-icon osg-icons--email osg-text-2" aria-hidden="true"></span>
          <span class="osg-icon osg-icons--email osg-text-3" aria-hidden="true"></span>
          <span class="osg-icon osg-icons--email osg-text-4" aria-hidden="true"></span>
          <span class="osg-icon osg-icons--email osg-text-6" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-text-preset-3">Colors</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <span class="osg-icon osg-icons--email osg-text-1 osg-color-text-red" aria-hidden="true"></span>
          <span class="osg-icon osg-icons--email osg-text-1 osg-color-text-yellow" aria-hidden="true"></span>
          <span class="osg-icon osg-icons--email osg-text-1 osg-color-text-blue" aria-hidden="true"></span>
          <span class="osg-icon osg-icons--email osg-text-1 osg-color-text-green" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-text-preset-3">Alignment</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <span class="osg-icon osg-icon--paragraph osg-icon--space-right osg-icons--email"
            aria-hidden="true"></span>Text<br>
          Text<span class="osg-icon osg-icon--paragraph osg-icon--space-left osg-icons--email"
            aria-hidden="true"></span><br>
          Text<span class="osg-icon osg-icon--paragraph osg-icon--space-both osg-icons--email"
            aria-hidden="true"></span>Text
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-text-preset-3">In text</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <p class="osg-paragraph"><span class="osg-icon osg-icon--paragraph osg-icons--email" aria-hidden="true"></span>
            Nulla nunc turpis,
            mollis sit amet rutrum non, mollis eget dolor. Morbi et odio diam.
            Cras a mi vulputate justo lacinia laoreet.
            Sed metus libero,
            porttitor ac auctor vitae, facilisis ac urna.
            Nulla hendrerit efficitur diam vel convallis <span class="osg-icon osg-icon--paragraph osg-icons--park"
              aria-hidden="true"></span>. Pellentesque
            velit risus, dictum consectetur dui non, tristique
            varius odio. Proin at justo eros. Praesent vitae tincidunt leo. <span
              class="osg-icon osg-icon--paragraph osg-icons--clock" aria-hidden="true"></span>
            Proin ipsum eros, commodo ut velit nec,
            hendrerit venenatis magna.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter osg-margin-bottom-30">
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3 osg-margin-bottom-30">Default</h2>
        <span class="osg-icon osg-icons--email" aria-hidden="true"></span>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3 osg-margin-bottom-30">Sizes</h2>
      <span class="osg-icon osg-icons--email osg-heading-1" aria-hidden="true"></span>
      <span class="osg-icon osg-icons--email osg-heading-2" aria-hidden="true"></span>
      <span class="osg-icon osg-icons--email osg-text-1" aria-hidden="true"></span>
      <span class="osg-icon osg-icons--email osg-text-2" aria-hidden="true"></span>
      <span class="osg-icon osg-icons--email osg-text-3" aria-hidden="true"></span>
      <span class="osg-icon osg-icons--email osg-text-4" aria-hidden="true"></span>
      <span class="osg-icon osg-icons--email osg-text-6" aria-hidden="true"></span>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3 osg-margin-bottom-30">Colors</h2>
      <span class="osg-icon osg-icons--email osg-text-1 osg-color-text-red" aria-hidden="true"></span>
      <span class="osg-icon osg-icons--email osg-text-1 osg-color-text-yellow" aria-hidden="true"></span>
      <span class="osg-icon osg-icons--email osg-text-1 osg-color-text-blue" aria-hidden="true"></span>
      <span class="osg-icon osg-icons--email osg-text-1 osg-color-text-green" aria-hidden="true"></span>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3 osg-margin-bottom-30">Alignment</h2>
      <p class="osg-paragraph">
        <span class="osg-icon osg-icon--paragraph osg-icon--space-right osg-icons--email"
          aria-hidden="true"></span>Text<br>
        Text<span class="osg-icon osg-icon--paragraph osg-icon--space-left osg-icons--email"
          aria-hidden="true"></span><br>
        Text<span class="osg-icon osg-icon--paragraph osg-icon--space-both osg-icons--email"
          aria-hidden="true"></span>Text
      </div>
      </p>
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3 osg-margin-bottom-30">In text</h2>
      <p class="osg-paragraph"><span class="osg-icon osg-icon--paragraph osg-icons--email" aria-hidden="true"></span>
        Nulla nunc turpis,
        mollis sit amet rutrum non, mollis eget dolor. Morbi et odio diam.
        Cras a mi vulputate justo lacinia laoreet.
        Sed metus libero,
        porttitor ac auctor vitae, facilisis ac urna.
        Nulla hendrerit efficitur diam vel convallis <span class="osg-icon osg-icon--paragraph osg-icons--park"
          aria-hidden="true"></span>. Pellentesque
        velit risus, dictum consectetur dui non, tristique
        varius odio. Proin at justo eros. Praesent vitae tincidunt leo. <span
          class="osg-icon osg-icon--paragraph osg-icons--clock" aria-hidden="true"></span>
        Proin ipsum eros, commodo ut velit nec,
        hendrerit venenatis magna.
      </p>
    </div>
  </div>
</div>
