<div class="container is-fluid osg-margin-vertical-3">
  <div class="columns is-multiline">
    <div class="column is-12">
      <h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
      <div class="osg-devtools-code">
        <span class="osg-icon osg-icon--email" aria-hidden="true"></span>
      </div>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-12">
      <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Sizes</h2>
      <div class="osg-devtools-code">
        <span class="osg-icon osg-icon--email osg-heading-1" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-heading-2" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-1" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-2" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-3" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-4" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-6" aria-hidden="true"></span>
      </div>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-12">
      <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Colors</h2>
      <div class="osg-devtools-code">
        <span class="osg-icon osg-icon--email osg-text-1 osg-color-text-red" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-1 osg-color-text-yellow" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-1 osg-color-text-blue" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-1 osg-color-text-green" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>
