<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <span class="osg-icon osg-icon--email" aria-hidden="true"></span>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-5">Sizes</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <span class="osg-icon osg-icon--email osg-heading-1" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-heading-2" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-1" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-2" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-3" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-4" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-6" aria-hidden="true"></span>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-5">Colors</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <span class="osg-icon osg-icon--email osg-text-1 osg-color-text-red" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-1 osg-color-text-yellow" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-1 osg-color-text-blue" aria-hidden="true"></span>
        <span class="osg-icon osg-icon--email osg-text-1 osg-color-text-green" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>
