.ods-collapsible--rotate::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

.ods-collapsible__trigger::after {
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 0.3s ease;
}