{% set infoListModifiers = infoList.modifiers | default(null) %}

<div class="osg-simple-table {{ infoList.modifiers }}">
  <table>
    {% for row in simpleTable.rows %}
      {% set isHead =  row.isHead is defined and row.isHead == true %}
      <tr>
        {% for cell in row.cells %}
          {% if isHead %}
            <th class="osg-content">
              {{ cell.content|raw }}
            </th>
          {% else %}
            <td class="osg-content">
              {{ cell.content|raw }}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</div>
