<div class="osg-container">
  <div class="osg-container osg-container--content-limit">
    <div class="osg-row">
      <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
        <div class="osg-devtools-code">
          <div class="osg-memberlist">
            <div class="osg-row">
              <div class="osg-row__column osg-row__column--12">
                <h2 class="osg-memberlist__heading">The Transport and Environment Committee</h2>
              </div>
              <div class="osg-row__column osg-row__column--12">
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div
                      class="osg-row__column osg-row__column--6 osg-row__column--offset-3 osg-row__column--4-breakpoint-medium osg-row__column--offset-none-breakpoint-medium osg-flex osg-flex-justify-content-center">
                      <div class="osg-memberlist__image">
                        <img class="osg-image" src="https://picsum.photos/220/275" alt="Image description">
                      </div>
                    </div>
                    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
                      <h3 class="osg-memberlist__name">Clara Laura Walker (Political party or group affiliation)</h3>
                      <div class="osg-memberlist__info">
                        <ul class="osg-unordered-list osg-unordered-list--clean">
                          <li class="osg-unordered-list__item">Chair of the Election Board</li>
                          <li class="osg-unordered-list__item">Member of the Culture and Education Committee</li>
                          <li class="osg-unordered-list__item">Deputy member of the Transport and Environment Committee</li>
                          <li class="osg-unordered-list__item">Deputy chair of the City of Oslo's Appeals Board</li>
                          <li class="osg-unordered-list__item">Phone number: <a href="javascript:void(0)" class="osg-link">12 34 56 79</a></li>
                          <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link">very.long.email.address.example@oslobystyre.no</a></li>
                          <li class="osg-unordered-list__item">Born in: 1969</li>
                          <li class="osg-unordered-list__item">Lives in: Bydel Østensjø</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div
                      class="osg-row__column osg-row__column--6 osg-row__column--offset-3 osg-row__column--4-breakpoint-medium osg-row__column--offset-none-breakpoint-medium osg-flex osg-flex-justify-content-center">
                      <div class="osg-memberlist__image">
                        <img class="osg-image" src="https://picsum.photos/220/275" alt="Image description">
                      </div>
                    </div>
                    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
                      <h3 class="osg-memberlist__name">Joe-Allan Tristan Johnson (Political party or group affiliation)</h3>
                      <div class="osg-memberlist__info">
                        <ul class="osg-unordered-list osg-unordered-list--clean">
                          <li class="osg-unordered-list__item">Chair of the Health and Social Affairs Committee</li>
                          <li class="osg-unordered-list__item">Member of the Transport and Environment Committee</li>
                          <li class="osg-unordered-list__item">Member of the Election Board</li>
                          <li class="osg-unordered-list__item">Phone number: <a href="javascript:void(0)" class="osg-link">12 34 56 79</a></li>
                          <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link">long.email.address.example@oslobystyre.no</a></li>
                          <li class="osg-unordered-list__item">Born in: 1969</li>
                          <li class="osg-unordered-list__item">Lives in: Bydel Østensjø</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div
                      class="osg-row__column osg-row__column--6 osg-row__column--offset-3 osg-row__column--4-breakpoint-medium osg-row__column--offset-none-breakpoint-medium osg-flex osg-flex-justify-content-center">
                      <div class="osg-memberlist__image">
                        <img class="osg-image" src="https://picsum.photos/220/275" alt="Image description">
                      </div>
                    </div>
                    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
                      <h3 class="osg-memberlist__name">Hector C. Platt (Joining member in personnel law cases)</h3>
                      <div class="osg-memberlist__info">
                        <ul class="osg-unordered-list osg-unordered-list--clean">
                          <li class="osg-unordered-list__item">Deputy chair of the Transport and Environment Committee</li>
                          <li class="osg-unordered-list__item">Born in: 1969</li>
                          <li class="osg-unordered-list__item">Lives in: Bydel Østensjø</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div class="osg-row__column osg-row__column--12">
                      <h3 class="osg-memberlist__name">Sandra Lizette Henderson Smith (Political party or group affiliation)</h3>
                      <div class="osg-memberlist__info">
                        <ul class="osg-unordered-list osg-unordered-list--clean">
                          <li class="osg-unordered-list__item">Deputy member of the Transport and Environment Committee</li>
                          <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link">humongus.extra.long.email.address.example@oslobystyre.no</a></li>
                          <li class="osg-unordered-list__item">Born in: 1969</li>
                          <li class="osg-unordered-list__item">Lives in: Bydel Østensjø</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
