@use "system/colors";
@use "system/fonts";
@use "system/spacing";

.osg-memberlist {

  @extend %osg-text-5;

  &__heading {
    @extend %osg-heading-2;
  }
  &__member {
    @extend %osg-padding-vertical-15;
    border-bottom: 1px solid colors.$gray;
  }
  &__image {

  }
  &__name {
    @extend %osg-heading-5;
    @extend %osg-margin-bottom-50;
  }
  &__info {

  }
}
