<div class="osg-container">
  <div class="osg-container osg-container--content-limit">
    <div class="osg-row">
      <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
        <div class="osg-devtools-code">
          <div class="osg-memberlist">
            <div class="osg-row">
              <div class="osg-row__column osg-row__column--12"><h2 class="osg-memberlist__heading">Medlemmer</h2></div>
              <div class="osg-row__column osg-row__column--12">
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div class="osg-row__column osg-row__column--6 osg-row__column--offset-3 osg-row__column--4-breakpoint-medium osg-row__column--offset-none-breakpoint-medium osg-flex osg-flex-justify-content-center">
                      <div class="osg-memberlist__image">
                        <img class="osg-image" src="https://picsum.photos/220/275" alt="Image description">
                      </div>
                    </div>
                    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
                      <h3 class="osg-memberlist__name">Navn Navnesen (Politisk parti eller gruppe)</h3>
                      <div class="osg-memberlist__info">
                        <div>Varamedlem av Forretningsutvalget</div>
                        <div>Nestleder av Helse- og sosialutvalget</div>
                        <div>Medlem av Samevalgstyret</div>
                        <div>Leder av Valgstyret</div>
                        <div class="osg-margin-top-2">Født: 1970</div>
                        <div>Bosted: Bydel St. Hanshaugen</div>
                        <div>Telefon: <a href="#link-default" class="osg-link">12 34 56 78</a></div>
                        <div><a href="#link-default" class="osg-link">navn.navnesen@oslobystyre.no</a></div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div class="osg-row__column osg-row__column--6 osg-row__column--offset-3 osg-row__column--4-breakpoint-medium osg-row__column--offset-none-breakpoint-medium osg-flex osg-flex-justify-content-center">
                      <div class="osg-memberlist__image">
                        <img class="osg-image" src="https://picsum.photos/220/275" alt="Image description">
                      </div>
                    </div>
                    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
                      <h3 class="osg-memberlist__name">Navn Navnesen (Politisk parti eller gruppe)</h3>
                      <div class="osg-memberlist__info">
                        <ul class="osg-unordered-list osg-unordered-list--clean">
                          <li class="osg-unordered-list__item">Leder av Samevalgstyret</li>
                          <li class="osg-unordered-list__item">Medlem av Valgstyret</li>
                          <li class="osg-unordered-list__item">Telefon: <a href="#link-default" class="osg-link">12 34 56 79</a></li>
                          <li class="osg-unordered-list__item"><a href="#link-default" class="osg-link">navn.navnesen.ekstra.veldig.langt@oslobystyre.no</a></li>
                          <li class="osg-unordered-list__item">Født: 1969</li>
                          <li class="osg-unordered-list__item">Bosted: Bydel Østensjø</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div class="osg-row__column osg-row__column--6 osg-row__column--offset-3 osg-row__column--4-breakpoint-medium osg-row__column--offset-none-breakpoint-medium osg-flex osg-flex-justify-content-center">
                      <div class="osg-memberlist__image">
                        <img class="osg-image" src="https://picsum.photos/220/275" alt="Image description">
                      </div>
                    </div>
                    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
                      <h3 class="osg-memberlist__name">Navn Navnesen (Politisk parti eller gruppe)</h3>
                      <div class="osg-memberlist__info">
                        <ul class="osg-unordered-list osg-unordered-list--clean">
                          <li class="osg-unordered-list__item">Leder av Samevalgstyret</li>
                          <li class="osg-unordered-list__item">Født: 1969</li>
                          <li class="osg-unordered-list__item">Bosted: Bydel Østensjø</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div class="osg-row__column osg-row__column--12">
                      <h3 class="osg-memberlist__name">Navn Navnesen (Politisk parti eller gruppe)</h3>
                      <div class="osg-memberlist__info">
                        <ul class="osg-unordered-list osg-unordered-list--clean">
                          <li class="osg-unordered-list__item">Varamedlem av Helse- og sosialutvalget</li>
                          <li class="osg-unordered-list__item"><a href="#link-default" class="osg-link">navn.navnesen@oslobystyre.no</a></li>
                          <li class="osg-unordered-list__item">Født: 1969</li>
                          <li class="osg-unordered-list__item">Bosted: Bydel Østensjø</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
