<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">Memberlist is a combination of image and personal information<p>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <p class="osg-paragraph">
        Lorem ipsum is simply dummy text of the printing and typesetting industry
      </p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-memberlist">
            <div class="osg-row">
              <div class="osg-row__column osg-row__column--12">
                <h2 class="osg-memberlist__heading">The Transport and Environment Committee</h2>
              </div>
              <div class="osg-row__column osg-row__column--12">
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div
                      class="osg-row__column
                        osg-row__column--6
                        osg-row__column--offset-3
                        osg-row__column--4-breakpoint-medium
                        osg-row__column--offset-none-breakpoint-medium
                        osg-flex osg-flex-justify-content-center--breakpoint-small">
                      <div class="osg-memberlist__image">
                        <img class="osg-image" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/220x275/30.jpg" alt="Image description">
                      </div>
                    </div>
                    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium osg-flex-justify-content-left--breakpoint-medium">
                      <h3 class="osg-memberlist__name">Clara Laura Walker (Political party or group affiliation)</h3>
                      <div class="osg-memberlist__info">
                        <div>Chair of the Election Board</div>
                        <div>Member of the Culture and Education Committee</div>
                        <div>Deputy member of the Transport and Environment Committee</div>
                        <div>Deputy chair of the City of Oslo's Appeals Board</div>
                        <div class="osg-margin-top-10">Phone number: <a href="javascript:void(0)" class="osg-link">12 34 56 79</a></div>
                        <div><a href="javascript:void(0)" class="osg-link">very.long.email.address.example@oslobystyre.no</a></div>
                        <div>Born in: 1969</div>
                        <div>Lives in: Bydel Østensjø</div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div
                      class="osg-row__column
                        osg-row__column--6
                        osg-row__column--offset-3
                        osg-row__column--4-breakpoint-medium
                        osg-row__column--offset-none-breakpoint-medium
                        osg-flex osg-flex-justify-content-center--breakpoint-small">
                      <div class="osg-memberlist__image">
                        <img class="osg-image" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/220x275/20.jpg" alt="Image description">
                      </div>
                    </div>
                    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
                      <h3 class="osg-memberlist__name">Joe-Allan Tristan Johnson (Political party or group affiliation)</h3>
                      <div class="osg-memberlist__info">
                        <div>Chair of the Health and Social Affairs Committee</div>
                        <div>Member of the Transport and Environment Committee</div>
                        <div>Member of the Election Board</div>
                        <div class="osg-margin-top-10">Phone number: <a href="javascript:void(0)" class="osg-link">12 34 56 79</a></div>
                        <div><a href="javascript:void(0)" class="osg-link">long.email.address.example@oslobystyre.no</a></div>
                        <div>Born in: 1969</div>
                        <div>Lives in: Bydel Østensjø</div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div
                      class="osg-row__column
                        osg-row__column--6
                        osg-row__column--offset-3
                        osg-row__column--4-breakpoint-medium
                        osg-row__column--offset-none-breakpoint-medium
                        osg-flex osg-flex-justify-content-center--breakpoint-small">
                      <div class="osg-memberlist__image">
                        <img class="osg-image" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/220x275/20.jpg" alt="Image description">
                      </div>
                    </div>
                    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
                      <h3 class="osg-memberlist__name">Hector C. Platt (Political party or group affiliation, joining member in personnel law cases)</h3>
                      <div class="osg-memberlist__info">
                        <div>Deputy chair of the Transport and Environment Committee</div>
                        <div class="osg-margin-top-10">Born in: 1969</div>
                        <div>Lives in: Bydel Østensjø</div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="osg-memberlist__member">
                  <div class="osg-row">
                    <div class="osg-row__column osg-row__column--12">
                      <h3 class="osg-memberlist__name">Sandra Lizette Henderson Smith (Political party or group affiliation)</h3>
                      <div class="osg-memberlist__info">
                        <div>Deputy member of the Transport and Environment Committee</div>
                        <div><a href="javascript:void(0)" class="osg-link">humongus.extra.long.email.address.example@oslobystyre.no</a></div>
                        <div class="osg-margin-top-10">Born in: 1969</div>
                        <div>Lives in: Bydel Østensjø</div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3 osg-margin-bottom-10">Default</h3>
      <div class="osg-memberlist">
        <div class="osg-row">
          <div class="osg-row__column osg-row__column--12">
            <h2 class="osg-memberlist__heading">The Transport and Environment Committee</h2>
          </div>
          <div class="osg-row__column osg-row__column--12">
            <article class="osg-memberlist__member">
              <div class="osg-row">
                <div
                  class="osg-row__column
                    osg-row__column--6
                    osg-row__column--offset-3
                    osg-row__column--4-breakpoint-medium
                    osg-row__column--offset-none-breakpoint-medium
                    osg-flex osg-flex-justify-content-center--breakpoint-small">
                  <div class="osg-memberlist__image">
                    <img class="osg-image" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/220x275/30.jpg" alt="Image description">
                  </div>
                </div>
                <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium osg-flex-justify-content-left--breakpoint-medium">
                  <h3 class="osg-memberlist__name">Clara Laura Walker (Political party or group affiliation)</h3>
                  <div class="osg-memberlist__info">
                    <div>Chair of the Election Board</div>
                    <div>Member of the Culture and Education Committee</div>
                    <div>Deputy member of the Transport and Environment Committee</div>
                    <div>Deputy chair of the City of Oslo's Appeals Board</div>
                    <div class="osg-margin-top-10">Phone number: <a href="javascript:void(0)" class="osg-link">12 34 56 79</a></div>
                    <div><a href="javascript:void(0)" class="osg-link">very.long.email.address.example@oslobystyre.no</a></div>
                    <div>Born in: 1969</div>
                    <div>Lives in: Bydel Østensjø</div>
                  </div>
                </div>
              </div>
            </article>
            <article class="osg-memberlist__member">
              <div class="osg-row">
                <div
                  class="osg-row__column
                    osg-row__column--6
                    osg-row__column--offset-3
                    osg-row__column--4-breakpoint-medium
                    osg-row__column--offset-none-breakpoint-medium
                    osg-flex osg-flex-justify-content-center--breakpoint-small">
                  <div class="osg-memberlist__image">
                    <img class="osg-image" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/220x275/20.jpg" alt="Image description">
                  </div>
                </div>
                <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
                  <h3 class="osg-memberlist__name">Joe-Allan Tristan Johnson (Political party or group affiliation)</h3>
                  <div class="osg-memberlist__info">
                    <div>Chair of the Health and Social Affairs Committee</div>
                    <div>Member of the Transport and Environment Committee</div>
                    <div>Member of the Election Board</div>
                    <div class="osg-margin-top-10">Phone number: <a href="javascript:void(0)" class="osg-link">12 34 56 79</a></div>
                    <div><a href="javascript:void(0)" class="osg-link">long.email.address.example@oslobystyre.no</a></div>
                    <div>Born in: 1969</div>
                    <div>Lives in: Bydel Østensjø</div>
                  </div>
                </div>
              </div>
            </article>
            <article class="osg-memberlist__member">
              <div class="osg-row">
                <div
                  class="osg-row__column
                    osg-row__column--6
                    osg-row__column--offset-3
                    osg-row__column--4-breakpoint-medium
                    osg-row__column--offset-none-breakpoint-medium
                    osg-flex osg-flex-justify-content-center--breakpoint-small">
                  <div class="osg-memberlist__image">
                    <img class="osg-image" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/220x275/20.jpg" alt="Image description">
                  </div>
                </div>
                <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
                  <h3 class="osg-memberlist__name">Hector C. Platt (Political party or group affiliation, joining member in personnel law cases)</h3>
                  <div class="osg-memberlist__info">
                    <div>Deputy chair of the Transport and Environment Committee</div>
                    <div class="osg-margin-top-10">Born in: 1969</div>
                    <div>Lives in: Bydel Østensjø</div>
                  </div>
                </div>
              </div>
            </article>
            <article class="osg-memberlist__member">
              <div class="osg-row">
                <div class="osg-row__column osg-row__column--12">
                  <h3 class="osg-memberlist__name">Sandra Lizette Henderson Smith (Political party or group affiliation)</h3>
                  <div class="osg-memberlist__info">
                    <div>Deputy member of the Transport and Environment Committee</div>
                    <div><a href="javascript:void(0)" class="osg-link">humongus.extra.long.email.address.example@oslobystyre.no</a></div>
                    <div class="osg-margin-top-10">Born in: 1969</div>
                    <div>Lives in: Bydel Østensjø</div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
