<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-text-2">Divider is used to divide.</p>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <p class="osg-paragraph">Default divider.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3">Default</h2>
      <hr class="osg-divider" />
    </div>
  </div>
</div>
