<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-devtools-text-preset-3">Divider is used to divide.</p>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <p class="osg-paragraph">Default divider.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider" />
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Colors</h2>
      <p class="osg-paragraph">Color modifiers.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--green-dark" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--green" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--green-light" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--blue-dark" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--blue" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--blue-light" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--beige-dark" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--beige" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--yellow" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--red" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--gray-dark" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--gray" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--gray-light" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--grayscale-10" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--grayscale-20" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--grayscale-30" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--grayscale-40" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--grayscale-50" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--grayscale-60" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--grayscale-70" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--grayscale-80" />
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <hr class="osg-divider osg-divider--grayscale-90" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Default</h2>
      <hr class="osg-divider" />
    </div>
  </div>
</div>
