@use "system/colors";

.ods-divider {
  background-color: colors.$grayscale-10;
  border: none;
  display: block;
  height: 2px;
  margin: 0;
  padding: 0;

  @each $name, $color in colors.$colors {
    &.ods-divider--#{$name} {
      @extend %ods-color-bg-#{$name};
    }
  }
}
