// --------------- SPACING ---------------*/
$space-none: 0 !default;
$space-1: 5px !default;
$space-2: 10px !default;
$space-3: 15px !default;
$space-4: 30px !default;
$space-5: 50px !default;
$space-6: 75px !default;
$space-7: 100px !default;
