@use "system/breakpoints";
@use "system/colors";
@use "system/fonts";
@use "system/spacing";
@use "components/links/link/mixins";

.osg-alert {
  background-color: colors.$white;

  a {
    @extend %osg-padding-3, %osg-padding-4-breakpoint-large;
    align-items: flex-start;
    color: inherit;
    display: flex;
    font-size: inherit;
    text-decoration: none;
  }

  &--illustration {
    a {
      align-items: center;
    }
  }

  &__illustration {
    @extend %osg-margin-right-3;
    flex: 0 0 auto;
    line-height: 0;

    img {
      width: 60px;
      height: 60px;

      @include breakpoints.large {
        width: 70px;
        height: 70px;
      }
    }
  }

  &__main {
    flex-grow: 4;

    h2 {
      @extend %osg-heading-6, %osg-margin-bottom-1;
      display: inline-block;
    }

    p {
      @extend %osg-text-7;
    }
  }

  @include mixins.states {
    .osg-alert__main h2 {
      text-decoration: underline;
    }
  }

  &__status {
    @extend %osg-margin-left-3;
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    line-height: 0;

    .osg-icon {
      line-height: 1em !important;
    }
  }

  &--critical {
    .osg-alert__status .osg-alert__symbol {
      &:after {
        animation: alert-critical-pulse 2s infinite;
        background-color: colors.$red;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba(colors.$red, 0.7);
        content: "";
        display: inline-block;
        height: 12px;
        margin-right: 9px;
        margin-top: 9px;
        width: 12px;
      }
    }
  }
}

@keyframes alert-critical-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(colors.$red, 0.8);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(colors.$red, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(colors.$red, 0);
  }
}
