<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">Alert is used on top of the page to give important information to the user as the first information after header.</p>
      <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-30">
        <h2 class="osg-infobox__heading">Important</h2>
        An alert component should never occupy more than 6 columns in the breakpoints medium and up.
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3 osg-margin-bottom-5">Default</h3>
      <p class="osg-paragraph">Alert contains an informative header, publish date and time.</p>
      <div class="osg-devtools-code osg-margin-top-30">
        <div class="osg-devtools-code__box osg-devtools-code__box--beige">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
              <article class="osg-alert">
                <a href="javascript:void(0)">
                  <div class="osg-alert__main">
                    <h2>Title enim maximus a</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3 osg-margin-bottom-5">Illustration</h3>
      <p class="osg-paragraph">Alert contains an informative header and one line of extra information.<br>Illustration is used as a campaign alert, if you publish multiple alerts about the same topic you can use illustration to link to a page that contains all of the different information.</p>
      <div class="osg-devtools-code osg-margin-top-30">
        <div class="osg-devtools-code__box osg-devtools-code__box--beige">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
              <article class="osg-alert osg-alert--illustration">
                <a href="javascript:void(0)">
                  <div class="osg-alert__illustration">
                    <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/illustrations/70x70/1.png" alt="Eksempel">
                  </div>
                  <div class="osg-alert__main">
                    <h2>Title enim maximus a</h2>
                    <p>Aenean sollicitudin vehicula elit. Lorem ipsum dolor sit amet elit.</p>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3 osg-margin-top-5">Importancy levels</h3>
      <p class="osg-paragraph">Alert contains an informative header, importancy level and publish date.<br>There are two levels, the difference is important and critical. Important is used if the information is importent to some.</p>
      <div class="osg-devtools-code osg-margin-top-30">
        <div class="osg-devtools-code__box osg-devtools-code__box--beige">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
              <article class="osg-alert osg-alert--important">
                <a href="javascript:void(0)">
                  <div class="osg-alert__main">
                    <h2>Integer in lectus ut nulla placerat gravida</h2>
                    <p>Viktig melding - fredag 12. september, 13:37</p>
                  </div>
                  <div class="osg-alert__status" aria-label="Important alert">
                    <span class="osg-icon osg-icons--exclamation-mark-square osg-text-1" aria-label="Important alert"></span>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-paragraph">Critical is used if the information is critical to all users.</p>
      <div class="osg-devtools-code osg-margin-top-30">
        <div class="osg-devtools-code__box osg-devtools-code__box--beige">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
              <article class="osg-alert osg-alert--critical">
                <a href="javascript:void(0)">
                  <div class="osg-alert__main">
                    <h2>Integer in lectus ut nulla placerat gravida dolor</h2>
                    <p>Kritisk melding - torsdag 11. september, 13:37</p>
                  </div>
                  <div class="osg-alert__status" aria-label="Critical alert">
                    <span class="osg-alert__symbol"></span>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-heading-3">In use</h3>
      <div class="osg-devtools-code osg-margin-top-30">
        <div class="osg-devtools-code__box osg-devtools-code__box--beige">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
              <article class="osg-alert osg-alert--important">
                <a href="javascript:void(0)">
                  <div class="osg-alert__main">
                    <h2>Integer in lectus ut nulla placerat gravida</h2>
                    <p>Viktig melding - fredag 12. september, 13:37</p>
                  </div>
                  <div class="osg-alert__status" aria-label="Important alert">
                    <span class="osg-icon osg-icons--exclamation-mark-square osg-text-1" aria-label="Important alert"></span>
                  </div>
                </a>
              </article>
            </div>
            <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
              <article class="osg-alert osg-alert--critical">
                <a href="javascript:void(0)">
                  <div class="osg-alert__main">
                    <h2>Integer in lectus ut nulla placerat gravida dolor</h2>
                    <p>Kritisk melding - torsdag 11. september, 13:37</p>
                  </div>
                  <div class="osg-alert__status" aria-label="Critical alert">
                    <span class="osg-alert__symbol"></span>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Default</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <article class="osg-alert">
              <a href="javascript:void(0)">
                <div class="osg-alert__main">
                  <h2>Title enim maximus a</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </a>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Illustration</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <article class="osg-alert osg-alert--illustration">
              <a href="javascript:void(0)">
                <div class="osg-alert__illustration">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/illustrations/70x70/1.png" alt="Eksempel">
                </div>
                <div class="osg-alert__main">
                  <h2>Title enim maximus a</h2>
                  <p>Aenean sollicitudin vehicula elit. Lorem ipsum dolor sit amet elit.</p>
                </div>
              </a>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-50">Importancy levels</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <article class="osg-alert osg-alert--important">
          <a href="javascript:void(0)">
            <div class="osg-alert__main">
              <h2>Integer in lectus ut nulla placerat gravida</h2>
              <p>Viktig melding - fredag 12. september, 13:37</p>
            </div>
            <div class="osg-alert__status" aria-label="Important alert">
              <span class="osg-icon osg-icons--exclamation-mark-square osg-text-1" aria-label="Important alert"></span>
            </div>
          </a>
        </article>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <article class="osg-alert osg-alert--critical">
          <a href="javascript:void(0)">
            <div class="osg-alert__main">
              <h2>Integer in lectus ut nulla placerat gravida dolor</h2>
              <p>Kritisk melding - torsdag 11. september, 13:37</p>
            </div>
            <div class="osg-alert__status" aria-label="Critical alert">
              <span class="osg-alert__symbol"></span>
            </div>
          </a>
        </article>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-50">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <article class="osg-alert osg-alert--visited">
        <a href="javascript:void(0)">
          <div class="osg-alert__main">
            <h2>Visited</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit
              est sodales in.</p>
          </div>
        </a>
      </article>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <article class="osg-alert osg-alert--hover">
        <a href="javascript:void(0)">
          <div class="osg-alert__main">
            <h2>Hover</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit
              est sodales in.</p>
          </div>
        </a>
      </article>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <article class="osg-alert osg-alert--focus">
        <a href="javascript:void(0)">
          <div class="osg-alert__main">
            <h2>Focus</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit
              est sodales in.</p>
          </div>
        </a>
      </article>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <article class="osg-alert osg-alert--active">
        <a href="javascript:void(0)">
          <div class="osg-alert__main">
            <h2>Active</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit
              est sodales in.</p>
          </div>
        </a>
      </article>
    </div>
  </div>
</div>
