<div class="container is-fluid osg-margin-vertical-3">
  <h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
  <div class="columns">
    <div class="column">
      <article class="osg-alert">
        <a href="#alert">
          <div class="osg-alert__main">
            <h2>Title enim maximus a</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </a>
      </article>
    </div>
    <div class="column">
      <article class="osg-alert">
        <a href="#alert">
          <div class="osg-alert__main">
            <h2>Phasellus ac pretium lectus, eget finibus purus convallis vel</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </a>
      </article>
    </div>
  </div>
  <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Illustration</h2>
  <div class="columns">
    <div class="column">
      <article class="osg-alert osg-alert--illustration">
        <a href="#alert">
          <div class="osg-alert__illustration">
            <img src="https://fakeimg.pl/70x70/" alt="Eksempel">
          </div>
          <div class="osg-alert__main">
            <h2>Title enim maximus a</h2>
            <p>Aenean sollicitudin vehicula elit. Lorem ipsum dolor sit amet elit.</p>
          </div>
        </a>
      </article>
    </div>
    <div class="column">
      <article class="osg-alert osg-alert--illustration">
        <a href="#alert">
          <div class="osg-alert__illustration">
            <img src="https://fakeimg.pl/70x70/" alt="Eksempel">
          </div>
          <div class="osg-alert__main">
            <h2>Integer in lectus ut nulla placerat gravida.</h2>
            <p>Vivamus placerat faucibus fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </a>
      </article>
    </div>
  </div>
  <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Importancy levels</h2>
  <div class="columns">
    <div class="column">
      <article class="osg-alert osg-alert--important">
        <a href="#alert">
          <div class="osg-alert__main">
            <h2>Integer in lectus ut nulla placerat gravida</h2>
            <p>Viktig melding - fredag 12. september, 13:37</p>
          </div>
          <div class="osg-alert__status" aria-label="Important alert">
            <span class="osg-icon osg-icon--exclamation-mark-square" aria-label="Important alert"></span>
          </div>
        </a>
      </article>
    </div>
    <div class="column">
      <article class="osg-alert osg-alert--critical">
        <a href="#alert">
          <div class="osg-alert__main">
            <h2>Integer in lectus ut nulla placerat gravida dolor</h2>
            <p>Kritisk melding - torsdag 11. september, 13:37</p>
          </div>
          <div class="osg-alert__status" aria-label="Critical alert">
            <span class="osg-alert__symbol"></span>
          </div>
        </a>
      </article>
    </div>
  </div>
  <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">States</h2>
  <div class="columns">
    <div class="column">
      <article class="osg-alert osg-alert--visited">
        <a href="#alert">
          <div class="osg-alert__main">
            <h2>Visited</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit
              est sodales in.</p>
          </div>
        </a>
      </article>
    </div>
    <div class="column">
      <article class="osg-alert osg-alert--hover">
        <a href="#alert">
          <div class="osg-alert__main">
            <h2>Hover</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit
              est sodales in.</p>
          </div>
        </a>
      </article>
    </div>
    <div class="column">
      <article class="osg-alert osg-alert--focus">
        <a href="#alert">
          <div class="osg-alert__main">
            <h2>Focus</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit
              est sodales in.</p>
          </div>
        </a>
      </article>
    </div>
    <div class="column">
      <article class="osg-alert osg-alert--active">
        <a href="#alert">
          <div class="osg-alert__main">
            <h2>Active</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis fringilla velit, in blandit
              est sodales in.</p>
          </div>
        </a>
      </article>
    </div>
  </div>
</div>
