@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/spacing";
@use "system/states";

.osg-status-card {
  &__link {
    text-decoration: none;

    &:hover {
      .osg-status-card__content {
        color: states.$hover !important;
      }

      .osg-status-card__heading {
        text-decoration: underline;
      }
    }
  }

  &__content {
    @extend %osg-padding-vertical-4, %osg-padding-horizontal-3, %osg-padding-vertical-8-breakpoint-medium, %osg-padding-horizontal-4-breakpoint-medium, %osg-padding-8-breakpoint-large;
    background-color: colors.$gray-light;
  }

  &__heading {
    @extend %osg-text--size-juliett, %osg-text--size-india-breakpoint-medium, %osg-text--size-hotel-breakpoint-large, %osg-text--weight-medium, %osg-margin-bottom-4;
  }

  &__text {
    @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large, %osg-text--weight-light;
  }

  &__pretext {
    @extend %osg-text--size-lima, %osg-text--weight-light, %osg-margin-bottom-4;
  }

  &__actions {
    @extend %osg-padding-top-8;
  }

  &__footer {
    @extend %osg-padding-3, %osg-padding-vertical-3-breakpoint-medium, %osg-padding-horizontal-4-breakpoint-medium, %osg-padding-vertical-3-breakpoint-large, %osg-padding-horizontal-8-breakpoint-large;
    @extend %osg-text--size-lima, %osg-text--weight-light;
    background-color: colors.$gray;
    flex-basis: 100%;
  }

  &__status {
    @extend %osg-margin-left-4;

    .osg-icon {
      line-height: 1em !important;
      @extend %osg-text--size-foxtrot;
    }
  }

  &__symbol {
    &:after {
      animation: status-card-red-pulse 2s infinite;
      background-color: colors.$red;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(colors.$red, 0.7);
      content: "";
      display: inline-block;
      height: 12px;
      margin-right: 9px;
      margin-top: 9px;
      width: 12px;
    }
  }

  &--status {
    border-left: 10px solid colors.$gray;

    &--yellow {
      border-color: colors.$yellow;

      & .osg-status-card__footer {
        background-color: colors.$beige;
      }
    }

    &--red,
    &--blue {
      border-color: colors.$red;

      & .osg-status-card__content {
        display: flex;
      }

      & .osg-status-card__footer {
        background-color: colors.$red-light;
      }

      & .osg-status-card__actions {
        background-color: colors.$gray-light;
        flex-basis: 100%;
        @extend %osg-padding-horizontal-3, %osg-padding-top-3, %osg-padding-bottom-8;
      }
    }

    &--blue {
      border-color: colors.$blue;

      & .osg-status-card__content {
        display: flex;
      }

      & .osg-status-card__footer {
        background-color: colors.$blue-light;
      }
    }

    &--green {
      border-color: colors.$green;

      & .osg-status-card__footer {
        background-color: colors.$green-light;
      }
    }

    &--no-bar {
      border-left: none;
    }

    & .osg-status-card__collapsible {
      &:active,
      &:hover,
      &:focus {
        text-decoration: none !important;
      }
    }
  }
}

@keyframes status-card-red-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(colors.$red, 0.8);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(colors.$red, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(colors.$red, 0);
  }
}
