<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-status-card">
          <a class="ods-status-card__link" href="javascript:void(0)">
            <div class="ods-status-card__content">
              <h3 class="ods-status-card__heading">Heading</h3>
              <p class="ods-status-card__pretext">Over 2000 years old</p>
              <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </a>
          <div class="ods-status-card__footer">Footer</div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-1">Card with actions</h2>
      <div class="ods-devtools-code">
        <div class="ods-status-card">
          <div class="ods-status-card__content">
            <h3 class="ods-status-card__heading">Heading</h3>
            <p class="ods-status-card__text"><strong>Aliquam:</strong> Over 2000 years old</p>
            <div class="ods-status-card__actions">
              <button class="ods-button ods-button--outline">Action text</button>
            </div>
          </div>
          <div class="ods-status-card__footer">Footer</div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Card with status</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-devtools-code">
            <div class="ods-status-card ods-status-card--status">
              <div class="ods-status-card__content">
                <p class="ods-status-card__pretext">Default status</p>
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="ods-status-card__footer">Footer</div>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-devtools-code">
            <div class="ods-status-card ods-status-card--status ods-status-card--status--yellow">
              <div class="ods-status-card__content">
                <p class="ods-status-card__pretext">Warning status</p>
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="ods-status-card__footer">Footer</div>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-devtools-code">
            <div class="ods-status-card ods-status-card--status ods-status-card--status--green">
              <div class="ods-status-card__content">
                <p class="ods-status-card__pretext">Success status</p>
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="ods-status-card__footer">Footer</div>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-devtools-code">
            <div class="ods-status-card ods-status-card--status ods-status-card--status--red">
              <div class="ods-status-card__content">
                <div class="ods-card__untitled__content__share">
                  <p class="ods-status-card__pretext">Danger status</p>
                  <h3 class="ods-status-card__heading">Heading</h3>
                  <p class="ods-status-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="ods-status-card__status" aria-label="Red status" role="img">
                  <span class="ods-status-card__symbol"></span>
                </div>
              </div>
              <div class="ods-status-card__footer">Footer</div>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-devtools-code">
            <div class="ods-status-card ods-status-card--status ods-status-card--status--blue">
              <div class="ods-status-card__content">
                <div class="ods-status-card__content__share">
                  <p class="ods-status-card__pretext">Info status</p>
                  <h3 class="ods-status-card__heading">Heading</h3>
                  <p class="ods-status-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="ods-status-card__status" aria-label="Info status" role="img">
                  <span class="ods-icon ods-icon--exclamation-mark-square"></span>
                </div>
              </div>
              <div class="ods-status-card__footer">Footer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Card with status, no bar</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-devtools-code">
            <div class="ods-status-card ods-status-card--status ods-status-card--status--yellow ods-status-card--status--no-bar">
              <div class="ods-status-card__content">
                <p class="ods-status-card__pretext">Warning status</p>
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="ods-status-card__footer">Footer</div>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-devtools-code">
            <div class="ods-status-card ods-status-card--status ods-status-card--status--green ods-status-card--status--no-bar">
              <div class="ods-status-card__content">
                <p class="ods-status-card__pretext">Success status</p>
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="ods-status-card__footer">Footer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Card with custom content</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-devtools-code">
            <div class="ods-status-card">
              <a class="ods-status-card__link" href="javascript:void(0)">
                <div class="ods-status-card__content">
                  <p class="ods-status-card__pretext ods-flex ods-flex-align-items-center">
                    <span class="ods-icon ods-icon--space-right ods-icon--briefcase ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-gold-breakpoint-large ods-text--weight-light" aria-label="briefcase" role="img"></span>
                    <span>Over 2000 years old </span>
                  </p>
                  <h3 class="ods-status-card__heading">Heading</h3>
                  <p class="ods-status-card__pretext">Over 2000 years old</p>
                  <p class="ods-status-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
              </a>
              <div class="ods-status-card__footer">Footer</div>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-devtools-code">
            <div class="ods-status-card ods-status-card--status ods-status-card--status--yellow">
              <div class="ods-status-card__content">
                <p class="ods-status-card__pretext ods-flex ods-flex-align-items-center">
                  <span class="ods-icon ods-icon--space-right ods-icon--briefcase ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-gold-breakpoint-large ods-text--weight-light"></span>
                  <span>Over 2000 years old </span>
                </p>
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div class="ods-status-card__actions">
                  <h3 class="ods-flex ods-flex-justify-content-center">
                    <button class="ods-status-card__collapsible ods-text--size-lima ods-text--weight-medium ods-padding-vertical-1 ods-collapsible-trigger ods-collapsible-trigger--link" aria-expanded="false" aria-controls="custom-map-content-1">Collapsible content</button>
                  </h3>
                  <div id="custom-map-content-1" class="ods-collapsible-content ods-collapsible-content--collapsed ods-collapsible-content--ease">
                    <div class="ods-map ods-margin-top-3" id="ods-map">
                      <ods-map ref="odsMap" api-key="VW1Tn0fx1t3b6t0CHP6Q" :points="[{ longitude: 10.74981, latitude: 59.913008 }]"> </ods-map>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-devtools-code">
            <div class="ods-status-card ods-status-card--status ods-status-card--status--red">
              <div class="ods-status-card__content">
                <div class="ods-card__untitled__content__share">
                  <p class="ods-status-card__pretext">Danger status</p>
                  <h3 class="ods-status-card__heading">Heading</h3>
                  <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
                <div class="ods-status-card__status" aria-label="Red status" role="img">
                  <span class="ods-status-card__symbol"></span>
                </div>
              </div>
              <div class="ods-status-card__actions">
                <h3 class="ods-flex ods-flex-justify-content-center">
                  <button class="ods-status-card__collapsible ods-text--size-lima ods-text--weight-medium ods-padding-vertical-1 ods-collapsible-trigger ods-collapsible-trigger--link" aria-expanded="false" aria-controls="custom-map-content-2">Collapsible content</button>
                </h3>
                <div id="custom-map-content-2" class="ods-collapsible-content ods-collapsible-content--collapsed ods-collapsible-content--ease">
                  <div class="ods-map ods-margin-top-3" id="ods-map2">
                    <ods-map ref="odsMap2" api-key="VW1Tn0fx1t3b6t0CHP6Q" :points="[{ longitude: 10.74981, latitude: 59.913008 }]"> </ods-map>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
          <div class="ods-status-card">
            <a class="ods-status-card__link" href="javascript:void(0)">
              <div class="ods-status-card__content">
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__pretext">Not simply random text</p>
                <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              </div>
            </a>
            <div class="ods-status-card__footer">Footer</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Card with actions</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
          <div class="ods-status-card">
            <div class="ods-status-card__content">
              <h3 class="ods-status-card__heading">Heading</h3>
              <p class="ods-status-card__text"><strong>Aliquam:</strong> Not simply random text</p>
              <div class="ods-status-card__actions">
                <button class="ods-button ods-button--outline">Action text</button>
              </div>
            </div>
            <div class="ods-status-card__footer">Footer</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Card with status</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-status-card ods-status-card--status">
            <div class="ods-status-card__content">
              <p class="ods-status-card__pretext">Default status</p>
              <h3 class="ods-status-card__heading">Heading</h3>
              <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-status-card__footer">Footer</div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-status-card ods-status-card--status ods-status-card--status--yellow">
            <div class="ods-status-card__content">
              <p class="ods-status-card__pretext">Warning status</p>
              <h3 class="ods-status-card__heading">Heading</h3>
              <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-status-card__footer">Footer</div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-status-card ods-status-card--status ods-status-card--status--green">
            <div class="ods-status-card__content">
              <p class="ods-status-card__pretext">Success status</p>
              <h3 class="ods-status-card__heading">Heading</h3>
              <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-status-card__footer">Footer</div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-status-card ods-status-card--status ods-status-card--status--red">
            <div class="ods-status-card__content">
              <div class="ods-card__untitled__content__share">
                <p class="ods-status-card__pretext">Danger status</p>
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              </div>
              <div class="ods-status-card__status" aria-label="Red status" role="img">
                <span class="ods-status-card__symbol"></span>
              </div>
            </div>
            <div class="ods-status-card__footer">Footer</div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-status-card ods-status-card--status ods-status-card--status--blue">
            <div class="ods-status-card__content">
              <div class="ods-status-card__content__share">
                <p class="ods-status-card__pretext">Info status</p>
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              </div>
              <div class="ods-status-card__status" aria-label="Info status" role="img">
                <span class="ods-icon ods-icon--exclamation-mark-square"></span>
              </div>
            </div>
            <div class="ods-status-card__footer">Footer</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Card with status, no bar</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-status-card ods-status-card--status ods-status-card--status--yellow ods-status-card--status--no-bar">
            <div class="ods-status-card__content">
              <p class="ods-status-card__pretext">Warning status</p>
              <h3 class="ods-status-card__heading">Heading</h3>
              <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-status-card__footer">Footer</div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-status-card ods-status-card--status ods-status-card--status--green ods-status-card--status--no-bar">
            <div class="ods-status-card__content">
              <p class="ods-status-card__pretext">Success status</p>
              <h3 class="ods-status-card__heading">Heading</h3>
              <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-status-card__footer">Footer</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Card with custom content</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-status-card">
            <a class="ods-status-card__link" href="javascript:void(0)">
              <div class="ods-status-card__content">
                <p class="ods-status-card__pretext ods-flex ods-flex-align-items-center">
                  <span class="ods-icon ods-icon--space-right ods-icon--briefcase ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-gold-breakpoint-large ods-text--weight-light"></span>
                  <span>Pulvinar ex sapien at neque</span>
                </p>
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__pretext">Pulvinar ex sapien at neque</p>
                <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              </div>
            </a>
            <div class="ods-status-card__footer">Footer</div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-status-card ods-status-card--status ods-status-card--status--yellow">
            <div class="ods-status-card__content">
              <p class="ods-status-card__pretext ods-flex ods-flex-align-items-center">
                <span class="ods-icon ods-icon--space-right ods-icon--briefcase ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-gold-breakpoint-large ods-text--weight-light"></span>
                <span>Pulvinar ex sapien at neque</span>
              </p>
              <h3 class="ods-status-card__heading">Heading</h3>
              <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <div class="ods-status-card__actions">
                <h3 class="ods-flex ods-flex-justify-content-center">
                  <button class="ods-status-card__collapsible ods-text--size-lima ods-text--weight-medium ods-padding-vertical-1 ods-collapsible-trigger ods-collapsible-trigger--link" aria-expanded="false" aria-controls="custom-map-content-dev-1">Collapsible content</button>
                </h3>
                <div id="custom-map-content-dev-1" class="ods-collapsible-content ods-collapsible-content--collapsed ods-collapsible-content--ease">
                  <div class="ods-map ods-margin-top-3" id="ods-map3">
                    <ods-map ref="odsMap2" api-key="VW1Tn0fx1t3b6t0CHP6Q" :points="[{ longitude: 10.74981, latitude: 59.913008 }]"> </ods-map>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <div class="ods-status-card ods-status-card--status ods-status-card--status--red">
            <div class="ods-status-card__content">
              <div class="ods-card__untitled__content__share">
                <p class="ods-status-card__pretext">Danger status</p>
                <h3 class="ods-status-card__heading">Heading</h3>
                <p class="ods-status-card__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              </div>
              <div class="ods-status-card__status" aria-label="Red status" role="img">
                <span class="ods-status-card__symbol"></span>
              </div>
            </div>
            <div class="ods-status-card__actions">
              <h3 class="ods-flex ods-flex-justify-content-center">
                <button class="ods-status-card__collapsible ods-text--size-lima ods-text--weight-medium ods-padding-vertical-1 ods-collapsible-trigger ods-collapsible-trigger--link" aria-expanded="false" aria-controls="custom-map-content-dev-2">Collapsible content</button>
              </h3>
              <div id="custom-map-content-dev-2" class="ods-collapsible-content ods-collapsible-content--collapsed ods-collapsible-content--ease">
                <div class="ods-map ods-margin-top-3" id="ods-map4">
                  <ods-map ref="odsMap2" api-key="VW1Tn0fx1t3b6t0CHP6Q" :points="[{ longitude: 10.74981, latitude: 59.913008 }]"> </ods-map>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
