<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-status-card">
          <a class="osg-status-card__link" href="javascript:void(0)">
            <div class="osg-status-card__content">
              <h5 class="osg-status-card__heading">Heading</h5>
              <p class="osg-status-card__smalltext">Pulvinar ex sapien at neque</p>
              <p class="osg-status-card__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
                sollicitudin, velit nec pharetra auctor, odio nisi
                interdum ipsum, ut pulvinar ex sapien at neque.</p>
            </div>
          </a>
          <div class="osg-status-card__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Card with actions</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-status-card">
          <div class="osg-status-card__content">
            <h5 class="osg-status-card__heading">Heading</h5>
            <p class="osg-status-card__text"><strong>Aliquam:</strong> Ut pulvinar ex sapien at neque.</p>
            <div class="osg-status-card__actions">
              <button class="osg-button osg-button--outline">Action text</button>
            </div>
          </div>
          <div class="osg-status-card__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Card with status</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-status-card osg-status-card--status">
          <div class="osg-status-card__content">
            <p class="osg-status-card__smalltext">Default status</p>
            <h5 class="osg-status-card__heading">Heading</h5>
            <p class="osg-status-card__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
              sollicitudin, velit nec pharetra auctor, odio nisi
              interdum ipsum, ut pulvinar ex sapien at neque.</p>
          </div>
          <div class="osg-status-card__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-status-card osg-status-card--status osg-status-card--status--yellow">
          <div class="osg-status-card__content">
            <p class="osg-status-card__smalltext">Warning status</p>
            <h5 class="osg-status-card__heading">Heading</h5>
            <p class="osg-status-card__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
              sollicitudin, velit nec pharetra auctor, odio nisi
              interdum ipsum, ut pulvinar ex sapien at neque.</p>
          </div>
          <div class="osg-status-card__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-status-card osg-status-card--status osg-status-card--status--green">
          <div class="osg-status-card__content">
            <p class="osg-status-card__smalltext">Success status</p>
            <h5 class="osg-status-card__heading">Heading</h5>
            <p class="osg-status-card__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
              sollicitudin, velit nec pharetra auctor, odio nisi
              interdum ipsum, ut pulvinar ex sapien at neque.</p>
          </div>
          <div class="osg-status-card__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-status-card osg-status-card--status osg-status-card--status--red">
          <div class="osg-status-card__content">
            <div class="osg-card__untitled__content__share">
              <p class="osg-status-card__smalltext">Danger status</p>
              <h5 class="osg-status-card__heading">Heading</h5>
              <p class="osg-status-card__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
                sollicitudin, velit nec pharetra auctor, odio nisi
                interdum ipsum, ut pulvinar ex sapien at neque.</p>
            </div>
            <div class="osg-status-card__status" aria-label="Red status">
              <span class="osg-status-card__symbol"></span>
            </div>
          </div>
          <div class="osg-status-card__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-status-card osg-status-card--status osg-status-card--status--blue">
          <div class="osg-status-card__content">
            <div class="osg-status-card__content__share">
              <p class="osg-status-card__smalltext">Info status</p>
              <h5 class="osg-status-card__heading">Heading</h5>
              <p class="osg-status-card__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
                sollicitudin, velit nec pharetra auctor, odio nisi
                interdum ipsum, ut pulvinar ex sapien at neque.</p>
            </div>
            <div class="osg-status-card__status" aria-label="Blue status">
              <span class="osg-icon osg-icon--exclamation-mark-square"></span>
            </div>
          </div>
          <div class="osg-status-card__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Card with status, no bar</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div
          class="osg-status-card osg-status-card--status osg-status-card--status--yellow osg-status-card--status--no-bar">
          <div class="osg-status-card__content">
            <p class="osg-status-card__smalltext">Warning status</p>
            <h5 class="osg-status-card__heading">Heading</h5>
            <p class="osg-status-card__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
              sollicitudin, velit nec pharetra auctor, odio nisi
              interdum ipsum, ut pulvinar ex sapien at neque.</p>
          </div>
          <div class="osg-status-card__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div
          class="osg-status-card osg-status-card--status osg-status-card--status--green osg-status-card--status--no-bar">
          <div class="osg-status-card__content">
            <p class="osg-status-card__smalltext">Success status</p>
            <h5 class="osg-status-card__heading">Heading</h5>
            <p class="osg-status-card__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
              sollicitudin, velit nec pharetra auctor, odio nisi
              interdum ipsum, ut pulvinar ex sapien at neque.</p>
          </div>
          <div class="osg-status-card__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Card with custom content</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-status-card">
          <a class="osg-status-card__link" href="javascript:void(0)">
            <div class="osg-status-card__content">
              <p class="osg-status-card__smalltext osg-flex osg-flex-align-items-center">
                <span class="osg-icon osg-icon--briefcase osg-text-2 osg-margin-right-2"></span>
                <span>Pulvinar ex sapien at neque</span>
              </p>
              <h5 class="osg-status-card__heading">Heading</h5>
              <p class="osg-status-card__smalltext">Pulvinar ex sapien at neque</p>
              <p class="osg-status-card__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
                sollicitudin, velit nec pharetra auctor, odio nisi
                interdum ipsum, ut pulvinar ex sapien at neque.</p>
            </div>
          </a>
          <div class="osg-status-card__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <style>
        .osg-link {
          position: relative;
        }

        .osg-link.osg-collapsible__trigger::after {
          font-family: 'Oslo Icons' !important;
          font-size: 1em;
          content: "\ea0f";
          padding-left: 5px;
          position: absolute;
        }

        .osg-link.osg-collapsible__trigger--expanded::after {
          content: "\ea0d";
        }
      </style>
      <div class="osg-devtools-code">
        <div class="osg-status-card osg-status-card--status osg-status-card--status--yellow">
          <div class="osg-status-card__content">
            <p class="osg-status-card__smalltext osg-flex osg-flex-align-items-center">
              <span class="osg-icon osg-icon--briefcase osg-text-2 osg-margin-right-2"></span>
              <span>Pulvinar ex sapien at neque</span>
            </p>
            <h5 class="osg-status-card__heading">Heading</h5>
            <p class="osg-status-card__text">Aliquam erat volutpat. Aliquam congue malesuada est vitae dictum. Ut
              sollicitudin, velit nec pharetra auctor, odio nisi
              interdum ipsum, ut pulvinar ex sapien at neque.</p>
            <div class="osg-status-card__actions">
              <p class="osg-text-center osg-margin-top-3">
                <a href="javascript:void(0)" class="osg-link osg-collapsible__trigger"
                  aria-controls="custom-map-content">Collapsible content</a>
              </p>
              <div id="custom-map-content" class="osg-collapsible osg-collapsible--collapsed osg-collapsible--ease">
                Insert MAP component here
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
