@use "system/breakpoints";
@use "system/colors";
@use "system/fonts";
@use "system/spacing";
@use "system/state";

.osg-status-card {
  &__link {
    text-decoration: none;

    &:hover {
      * {
        @extend %osg-state-text-hover;
      }

      .osg-status-card__heading {
        text-decoration: underline;
      }
    }
  }

  &__content {
    @extend %osg-padding-vertical-3, %osg-padding-horizontal-2;
    background-color: colors.$gray-light;

    @include breakpoints.medium {
      padding: spacing.$space-4 spacing.$space-3 !important;
    }

    @include breakpoints.large {
      padding: spacing.$space-4 !important;
    }
  }

  &__heading {
    @extend %osg-heading-5, %osg-margin-bottom-3;
  }

  &__text {
    @extend %osg-text-5;
  }

  &__smalltext {
    @extend %osg-text-7, %osg-margin-bottom-3;
  }

  &__actions {
    @extend %osg-margin-top-4;
  }

  &__footer {
    @extend %osg-padding-2;
    @extend %osg-text-7;
    background-color: colors.$gray;
    flex-basis: 100%;

    @include breakpoints.medium {
      padding: spacing.$space-2 spacing.$space-3 !important;
    }

    @include breakpoints.large {
      padding: spacing.$space-2 spacing.$space-4 !important;
    }
  }

  &__status {
    @extend %osg-margin-left-3;

    .osg-icon {
      line-height: 1em !important;
      font-size: fonts.$size-26;
    }
  }

  &__symbol {
    &:after {
      animation: status-card-red-pulse 2s infinite;
      background-color: colors.$red;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(colors.$red, 0.7);
      content: "";
      display: inline-block;
      height: 12px;
      margin-right: 9px;
      margin-top: 9px;
      width: 12px;
    }
  }

  &--status {
    border-left: 10px solid colors.$gray;

    &--yellow {
      border-color: colors.$yellow;

      & .osg-status-card__footer {
        background-color: colors.$beige;
      }
    }

    &--red {
      border-color: colors.$red;

      & .osg-status-card__content {
        display: flex;
      }

      & .osg-status-card__footer {
        background-color: colors.$red-light;
      }
    }

    &--blue {
      border-color: colors.$blue;

      & .osg-status-card__content {
        display: flex;
      }

      & .osg-status-card__footer {
        background-color: colors.$blue-light;
      }
    }

    &--green {
      border-color: colors.$green;

      & .osg-status-card__footer {
        background-color: colors.$green-light;
      }
    }

    &--no-bar {
      border-left: none;
    }
  }
}

@keyframes status-card-red-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(colors.$red, 0.8);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(colors.$red, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(colors.$red, 0);
  }
}
