@use "system/colors";
@use "system/fonts";
@use "system/icons";
@use "system/spacing";

.osg-collapsible-trigger {
  &--block {
    @extend %osg-padding-15;
    @extend %osg-text-4;
    background-color: colors.$gray-light;
    border: none;
    color: inherit;
    display: block;
    font-family: inherit;
    position: relative;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: colors.$gray;
      cursor: pointer;
    }

    &::after {
      font-family: 'Oslo Icons';
      font-size: 1.5rem;
      content: map-get(icons.$icons, 'chevron-thin-down');
      position: absolute;
      right: spacing.$space-15;
    }
  }

  &--link {
    @extend %osg-text-4;
    color: inherit;
    display: inline-block;
    font-family: inherit;

    &:hover {
      color: colors.$blue-contrast;
      cursor: pointer;
    }

    &::after {
      @extend %osg-margin-left-5;
      content: map-get(icons.$icons, 'chevron-thin-down');
      font-family: 'Oslo Icons';
      font-size: 1.5rem;
      vertical-align: top;
    }
  }

  &--expanded {
    &.osg-collapsible-trigger--block::after,
    &.osg-collapsible-trigger--link::after {
      content: map-get(icons.$icons, 'chevron-thin-up');
    }
  }
}

.osg-collapsible-content {
  visibility: visible;

  &--collapsed {
    border: none !important;
    margin: 0 !important;
    max-height: 0;
    overflow: hidden;
    padding: 0 !important;
    visibility: hidden;
  }

  &--ease {
    transition: opacity 0.3s ease-in;
    transform: translateZ(0);
    opacity: 1;

    &.osg-collapsible-content--collapsed {
      opacity: 0;
    }
  }

  &--block {
    @extend %osg-padding-15;
  }
}
