@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/icons";
@use "system/spacing";

.osg-collapsible-trigger {
  &--block {
    @extend %osg-padding-15;
    @extend %osg-text-4;
    background-color: colors.$gray-light;
    border: none;
    color: inherit;
    display: block;
    font-family: inherit;
    position: relative;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: colors.$gray;
      cursor: pointer;
    }

    &::after {
      font-family: "Oslo Icons";
      font-size: typography.$size-24;
      content: map-get(icons.$icons, "chevron-thin-down");
      position: absolute;
      top: spacing.$space-15;
      right: spacing.$space-15;
    }
  }

  &--big-block {
    @extend %osg-padding-horizontal-20;
    @extend %osg-padding-vertical-30;
    @extend %osg-heading-3;
    background-color: colors.$gray-light;
    border: none;
    color: inherit;
    display: block;
    font-family: inherit;
    position: relative;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: colors.$gray;
      cursor: pointer;
    }

    &::after {
      font-family: "Oslo Icons";
      font-size: typography.$size-30;
      content: map-get(icons.$icons, "plus-sign");
      position: absolute;
      top: spacing.$space-30;
      right: spacing.$space-20;
    }
  }

  &--link {
    @extend %osg-text-4;
    color: inherit;
    background-color: white;
    border: none;
    display: inline-block;
    font-family: inherit;
    padding-left: spacing.$space-none;

    &:hover {
      color: colors.$blue-contrast;
      cursor: pointer;
    }

    &::after {
      @extend %osg-margin-left-5;
      content: map-get(icons.$icons, "chevron-thin-down");
      font-family: "Oslo Icons";
      font-size: typography.$size-24;
      vertical-align: top;
    }

    &:active,
    &:hover,
    &:focus {
      text-decoration: none !important;
    }
  }

  &--expanded {
    &.osg-collapsible-trigger--big-block::after {
      content: map-get(icons.$icons, "minus-sign");
    }
    &.osg-collapsible-trigger--block::after,
    &.osg-collapsible-trigger--link::after {
      content: map-get(icons.$icons, "chevron-thin-up");
    }
  }

  &--hidden-breakpoint-medium {
    @include breakpoints.medium {
      display: none;
    }
  }

  &--hidden-breakpoint-large {
    @include breakpoints.medium {
      display: none;
    }
  }
}

.osg-collapsible-content {
  visibility: visible;

  &--collapsed {
    border: none !important;
    margin: 0 !important;
    max-height: 0;
    overflow: hidden;
    padding: 0 !important;
    visibility: hidden;
  }

  &--expanded-breakpoint-medium {
    @include breakpoints.medium {
      border: initial !important;
      margin: initial !important;
      max-height: initial !important;
      overflow: initial !important;
      padding: initial !important;
      visibility: initial !important;
      opacity: 1 !important;
    }
  }

  &--expanded-breakpoint-large {
    @include breakpoints.large {
      border: initial !important;
      margin: initial !important;
      max-height: initial !important;
      overflow: initial !important;
      padding: initial !important;
      visibility: initial !important;
      opacity: 1 !important;
    }
  }

  &--ease {
    transition: opacity 0.3s ease-in;
    transform: translateZ(0);
    opacity: 1;

    &.osg-collapsible-content--collapsed {
      opacity: 0;
    }
  }

  &--block {
    @extend %osg-padding-15;
  }
  &--big-block {
    @extend %osg-padding-horizontal-20;
    @extend %osg-padding-vertical-15;
  }
}
