@use "system/colors";
@use "system/typography";
@use "system/spacing";

.osg-contactbox {
  @extend %osg-padding-20;
  @extend %osg-padding-30-breakpoint-large;

  &__heading {
    @extend %osg-heading-3;
  }

  &__label {
    @extend %osg-text-4;
  }

  &__value {
    @extend %osg-text-5;
  }

  &--yellow {
    background-color: colors.$yellow;
  }

  &--gray {
    background-color: colors.$gray;
  }
}
