@use "system/colors";
@use "system/typography";
@use "system/spacing";

.osg-contactbox {
  &__heading {
    @extend %osg-heading-3;
  }

  &__description {
    @extend %osg-heading-6;
  }

  &__additional-info {
    @extend %osg-text-5;
  }

  &__label {
    @extend %osg-text-4;
    word-wrap: break-word;
  }

  &__value {
    @extend %osg-text-5;
    .osg-link {
      word-break: break-all;
    }
  }

  &--yellow,
  &--gray {
    @extend %osg-padding-20;
    @extend %osg-padding-30-breakpoint-large;
  }

  &--yellow {
    background-color: colors.$yellow;
  }

  &--gray {
    background-color: colors.$gray;
  }
}
