<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>The fixed size for breakpoint medium and up is intended to be overridden by consumer using scss. Assign a value to <code class="ods-code">$ods-modal-popup-height</code> and/or <code class="ods-code">$ods-modal-popup-width</code> or add a class with custom css to control an individual modal.</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <p class="ods-paragraph">The component is bare by design to accomodate different types of content.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box" style="position: relative; height: 650px">
          <button class="ods-button ods-modal-trigger" aria-controls="modal-1">Open modal</button>
          <div id="modal-1" class="ods-modal ods-modal--scoped" aria-labelledby="modal-title1" role="dialog" aria-modal="true">
            <div class="ods-modal__popup">
              <div class="ods-modal__button">
                <div></div>
                <button class="ods-button ods-button--circle ods-button--yellow ods-modal-trigger" aria-controls="modal-1" aria-label="Close">
                  <span class="ods-button__icon ods-icon--close"></span>
                </button>
              </div>
              <div class="ods-modal__content">
                <div class="ods-grid ods-grid--gap">
                  <div class="ods-grid__column--12">
                    <h3 class="sg-text-size-hotel ods-text--size-foxtrot-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-bottom-8" id="modal-title2">Modal box example</h3>
                    <fieldset class="ods-fieldset ods-fieldset--no-border">
                      <legend>Lorem Ipsum is not simply random text.</legend>
                      <label class="ods-checkbox">
                        <input type="checkbox" />
                        <span class="ods-checkbox__checkmark"></span>
                        <span class="ods-checkbox__text"> Text </span>
                      </label>
                      <label class="ods-checkbox">
                        <input type="checkbox" />
                        <span class="ods-checkbox__checkmark"></span>
                        <span class="ods-checkbox__text"> Text </span>
                      </label>
                    </fieldset>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
                    <div class="ods-input">
                      <label class="ods-input__label">
                        Label text
                        <input class="ods-input__input" type="text" autocomplete="on" placeholder="Input text" />
                      </label>
                    </div>
                  </div>
                  <div class="ods-grid__column--12">
                    <h3 class="ods-text--size-kilo ods-text--size-juliett-breakpoint-large ods-text--weight-medium">Lorem Ipsum is not simply random text.</h3>
                    <ul class="ods-unordered-list">
                      <li class="ods-unordered-list__item">Item</li>
                      <li class="ods-unordered-list__item">Item</li>
                      <li class="ods-unordered-list__item">Item</li>
                    </ul>
                  </div>
                  <div class="ods-grid__column--12">
                    <button class="ods-button ods-margin-right-8">Button</button>
                    <button class="ods-button ods-button--outline">Button 2</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <button class="ods-button ods-modal-trigger" aria-controls="modal-2">Open modal</button>
      <div id="modal-2" class="ods-modal" aria-labelledby="modal-title2" role="dialog" aria-modal="true">
        <div class="ods-modal__popup">
          <div class="ods-modal__button">
            <div></div>
            <button class="ods-button ods-button--circle ods-button--yellow ods-modal-trigger" aria-controls="modal-2" aria-label="Close">
              <span class="ods-button__icon ods-icon--close"></span>
            </button>
          </div>
          <div class="ods-modal__content">
            <div class="ods-grid ods-grid--gap">
              <div class="ods-grid__column--12">
                <h3 class="ods-devtools-text-preset-1 ods-margin-bottom-8" id="modal-title2">Modal box example</h3>
                <fieldset class="ods-fieldset ods-fieldset--no-border">
                  <legend>Lorem Ipsum is not simply random text.</legend>
                  <label class="ods-checkbox">
                    <input type="checkbox" />
                    <span class="ods-checkbox__checkmark"></span>
                    <span class="ods-checkbox__text"> Text </span>
                  </label>
                  <label class="ods-checkbox">
                    <input type="checkbox" />
                    <span class="ods-checkbox__checkmark"></span>
                    <span class="ods-checkbox__text"> Text </span>
                  </label>
                </fieldset>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
                <div class="ods-input">
                  <label class="ods-input__label">
                    Label text
                    <input class="ods-input__input" type="text" autocomplete="on" placeholder="Input text" />
                  </label>
                </div>
              </div>
              <div class="ods-grid__column--12">
                <h3 class="ods-text--size-kilo ods-text--size-juliett-breakpoint-large ods-text--weight-medium">Lorem Ipsum is not simply random text.</h3>
                <ul class="ods-unordered-list">
                  <li class="ods-unordered-list__item">Item</li>
                  <li class="ods-unordered-list__item">Item</li>
                  <li class="ods-unordered-list__item">Item</li>
                </ul>
              </div>
              <div class="ods-grid__column--12">
                <button class="ods-button ods-margin-right-8">Button</button>
                <button class="ods-button ods-button--outline">Button 2</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
