<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-8">
        <h2 class="osg-infobox__heading">Important</h2>
        <p class="osg-paragraph">The fixed size for breakpoint medium and up is intended to be overridden by consumer using scss. Assign a value to <code>$osg-modal-popup-height</code> and/or <code>$osg-modal-popup-width</code> or add a class with custom css to control an individual modal.</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <p class="osg-paragraph">The component is bare by design to accomodate different types of content.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box" style="position: relative; height: 650px">
          <button class="osg-button osg-modal-trigger" aria-controls="modal-1">Open modal</button>
          <div id="modal-1" class="osg-modal osg-modal--scoped" aria-labelledby="modal-title1" role="dialog" aria-modal="true">
            <div class="osg-modal__popup">
              <div class="osg-modal__button">
                <div></div>
                <button class="osg-button osg-button--circle osg-button--yellow" aria-label="Close">
                  <span class="osg-button__icon osg-icons--close"></span>
                </button>
              </div>
              <div class="osg-modal__content">
                <div class="osg-grid osg-grid--gap">
                  <div class="osg-grid__column--12">
                    <h3 class="sg-text-size-hotel osg-text-size-foxtrot-breakpoint-medium osg-text-size-delta-breakpoint-large osg-margin-bottom-8" id="modal-title2">Modal box example</h3>
                    <fieldset class="osg-fieldset osg-fieldset--no-border">
                      <legend>Lorem Ipsum is not simply random text.</legend>
                      <label class="osg-checkbox">
                        <input type="checkbox" />
                        <span class="osg-checkbox__checkmark"></span>
                        <span class="osg-checkbox__text"> Text </span>
                      </label>
                      <label class="osg-checkbox">
                        <input type="checkbox" />
                        <span class="osg-checkbox__checkmark"></span>
                        <span class="osg-checkbox__text"> Text </span>
                      </label>
                    </fieldset>
                  </div>
                  <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
                    <div class="osg-input">
                      <label class="osg-input__label">
                        Label text
                        <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text" />
                      </label>
                    </div>
                  </div>
                  <div class="osg-grid__column--12">
                    <h3 class="osg-text-size-kilo osg-text-size-juliett-breakpoint-large osg-text-weight-medium">Lorem Ipsum is not simply random text.</h3>
                    <ul class="osg-unordered-list">
                      <li class="osg-unordered-list__item">Item</li>
                      <li class="osg-unordered-list__item">Item</li>
                      <li class="osg-unordered-list__item">Item</li>
                    </ul>
                  </div>
                  <div class="osg-grid__column--12">
                    <button class="osg-button osg-margin-right-8">Button</button>
                    <button class="osg-button osg-button--outline">Button 2</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <p class="osg-text-preset-8">This component can contain different types of content. The component is just the box that you trigger.</p>
    </div>
    <div class="osg-grid__column--12">
      <button class="osg-button osg-modal-trigger" aria-controls="modal-2">Open modal</button>
      <div id="modal-2" class="osg-modal" aria-labelledby="modal-title2" role="dialog" aria-modal="true">
        <div class="osg-modal__popup">
          <div class="osg-modal__button">
            <div></div>
            <button class="osg-button osg-button--circle osg-button--yellow" aria-label="Close">
              <span class="osg-button__icon osg-icons--close"></span>
            </button>
          </div>
          <div class="osg-modal__content">
            <div class="osg-grid osg-grid--gap">
              <div class="osg-grid__column--12">
                <h3 class="osg-devtools-text-preset-1 osg-margin-bottom-8" id="modal-title2">Modal box example</h3>
                <fieldset class="osg-fieldset osg-fieldset--no-border">
                  <legend>Lorem Ipsum is not simply random text.</legend>
                  <label class="osg-checkbox">
                    <input type="checkbox" />
                    <span class="osg-checkbox__checkmark"></span>
                    <span class="osg-checkbox__text"> Text </span>
                  </label>
                  <label class="osg-checkbox">
                    <input type="checkbox" />
                    <span class="osg-checkbox__checkmark"></span>
                    <span class="osg-checkbox__text"> Text </span>
                  </label>
                </fieldset>
              </div>
              <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
                <div class="osg-input">
                  <label class="osg-input__label">
                    Label text
                    <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text" />
                  </label>
                </div>
              </div>
              <div class="osg-grid__column--12">
                <h3 class="osg-text-size-kilo osg-text-size-juliett-breakpoint-large osg-text-weight-medium">Lorem Ipsum is not simply random text.</h3>
                <ul class="osg-unordered-list">
                  <li class="osg-unordered-list__item">Item</li>
                  <li class="osg-unordered-list__item">Item</li>
                  <li class="osg-unordered-list__item">Item</li>
                </ul>
              </div>
              <div class="osg-grid__column--12">
                <button class="osg-button osg-margin-right-8">Button</button>
                <button class="osg-button osg-button--outline">Button 2</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
