<div class="osg-content osg-u-docs-build-setup">
  <h2>
    Build setup
  </h2>
  <p>
    In your project folder run:
  </p>
  <pre>
    npm install minireset.css git+ssh://git@github.com/oslokommune/styleguide.git
  </pre>
  <p>
    Your package.json should now contains theese two lines under "dependencies":
  </p>
  <pre>
    "minireset.css": "0.0.3",
    "styleguide": "git+ssh://git@github.com/oslokommune/styleguide.git#0.33.2"
  </pre>
  <p>
    The version number of the packages might naturally be higher than this snippet.
  </p>
</div>

