<div class="osg-grid">
  <div class="osg-grid__column--12">
    <div class="osg-color-bg-blue-light osg-padding-4 osg-padding-horizontal-8-breakpoint-medium">Header</div>
  </div>
  <div class="osg-grid__column--12">
    <div class="osg-grid">
      <div class="osg-grid__column--12 osg-color-bg-beige">
        <div class="osg-grid osg-grid--gutter">
          <div class="osg-grid__column--12">
            <div class="osg-grid osg-grid--center">
              <div class="osg-grid__column--12">
                <h2 class="osg-margin-vertical-4">Alert</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-grid__column--12">
    <div class="osg-grid osg-grid--gutter osg-margin-vertical-8 osg-margin-vertical-13-breakpoint-medium">
      <div class="osg-grid__column--12">
        <div class="osg-grid osg-grid--gap-row-large osg-grid--center">
          <div class="osg-grid__column--12">
            <div class="osg-color-bg-yellow osg-padding-8">
              <h1 class="osg-text--size-india osg-text--size-charlie-breakpoint-medium osg-text--size-alfa-breakpoint-large">Search</h1>
            </div>
          </div>
          <div class="osg-grid__column--12">
            <div class="osg-grid osg-grid--gap">
              <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                <div class="osg-color-bg-blue-light osg-padding-5">Service Link 1</div>
              </div>
              <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                <div class="osg-color-bg-green-light osg-padding-5">Service Link 2</div>
              </div>
              <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                <div class="osg-color-bg-green-light osg-padding-5">Service Link 3</div>
              </div>
              <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                <div class="osg-color-bg-blue-light osg-padding-5">Service Link 4</div>
              </div>
              <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                <div class="osg-color-bg-green-light osg-padding-5">Service Link 5</div>
              </div>
              <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                <div class="osg-color-bg-green-light osg-padding-5">Service Link 6</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-grid__column--12">
    <div class="osg-grid">
      <div class="osg-grid__column--12 osg-color-bg-beige">
        <div class="osg-grid osg-grid--gutter">
          <div class="osg-grid__column--12">
            <div class="osg-grid osg-grid--center">
              <div class="osg-grid__column--12">
                <h2 class="osg-margin-vertical-8">Banner</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-grid__column--12">
    <div class="osg-grid">
      <div class="osg-grid__column--12 osg-color-bg-gray-light">
        <div class="osg-grid osg-grid--gutter">
          <div class="osg-grid__column--12">
            <div class="osg-grid osg-grid--center">
              <div class="osg-grid__column--12">
                <h2 class="osg-margin-vertical-13">News</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-grid__column--12">
    <div class="osg-color-bg-blue-dark osg-color-text-white osg-padding-vertical-13">
      <div class="osg-grid osg-grid--gutter">
        <div class="osg-grid__column--12">
          <div class="osg-grid osg-grid--center osg-grid--gap">
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <h3 class="osg-heading-3">Title</h3>
              <p class="osg-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <h3 class="osg-heading-3">Title</h3>
              <p class="osg-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <h3 class="osg-heading-3">Title</h3>
              <p class="osg-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
