<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12 osg-row__column--7-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Default</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <div class="osg-portrait-card">
              <a class="osg-portrait-card__link" href="#osg-portrait-card">
                <div class="osg-portrait-card__media">
                  <img src="https://picsum.photos/seed/1491/700/280" alt="Image description" />
                </div>
                <div class="osg-portrait-card__content">
                  <h4 class="osg-portrait-card__heading">Heading</h4>
                  <p class="osg-portrait-card__text">Lorem ipsum</p>
                  <p class="osg-portrait-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--5-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">White</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <div class="osg-portrait-card osg-portrait-card--white">
              <a class="osg-portrait-card__link" href="#osg-portrait-card">
                <div class="osg-portrait-card__media">
                  <img src="https://picsum.photos/seed/1927/600/400" alt="Image description" />
                </div>
                <div class="osg-portrait-card__content">
                  <h4 class="osg-portrait-card__heading">Heading</h4>
                  <p class="osg-portrait-card__text">Lorem ipsum</p>
                  <p class="osg-portrait-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-portrait-card">
        <a class="osg-portrait-card__link" href="#osg-portrait-card">
          <div class="osg-portrait-card__media">
            <img src="https://picsum.photos/seed/2000/600/400" />
          </div>
          <div class="osg-portrait-card__content">
            <h4 class="osg-portrait-card__heading">Heading</h4>
            <p class="osg-portrait-card__text">Lorem ipsum</p>
            <p class="osg-portrait-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-portrait-card">
        <a class="osg-portrait-card__link" href="#osg-portrait-card">
          <div class="osg-portrait-card__media">
            <img src="https://picsum.photos/seed/1929/600/400" />
          </div>
          <div class="osg-portrait-card__content">
            <h4 class="osg-portrait-card__heading">Heading</h4>
            <p class="osg-portrait-card__text">Lorem ipsum</p>
            <p class="osg-portrait-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card">
          <a class="osg-portrait-card__link" href="#osg-portrait-card">
            <div class="osg-portrait-card__content">
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
              <p class="osg-portrait-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Extra small</h2>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--3-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card osg-portrait-card--xs">
          <a class="osg-portrait-card__link" href="#osg-portrait-card">
            <div class="osg-portrait-card__media">
              <img src="https://picsum.photos/seed/1930/600/400" />
            </div>
            <div class="osg-portrait-card__content">
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
              <p class="osg-portrait-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--3-breakpoint-large">
      <div class="osg-portrait-card osg-portrait-card--xs">
        <a class="osg-portrait-card__link" href="#osg-portrait-card">
          <div class="osg-portrait-card__media">
            <img src="https://picsum.photos/seed/1930/600/400" />
          </div>
          <div class="osg-portrait-card__content">
            <h4 class="osg-portrait-card__heading">Heading</h4>
            <p class="osg-portrait-card__text">Lorem ipsum</p>
            <p class="osg-portrait-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--3-breakpoint-large">
      <div class="osg-portrait-card osg-portrait-card--xs">
        <a class="osg-portrait-card__link" href="#osg-portrait-card">
          <div class="osg-portrait-card__media">
            <img src="https://picsum.photos/seed/1930/600/400" />
          </div>
          <div class="osg-portrait-card__content">
            <h4 class="osg-portrait-card__heading">Heading</h4>
            <p class="osg-portrait-card__text">Lorem ipsum</p>
            <p class="osg-portrait-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--3-breakpoint-large">
      <div class="osg-portrait-card osg-portrait-card--xs">
        <a class="osg-portrait-card__link" href="#osg-portrait-card">
          <div class="osg-portrait-card__media">
            <img src="https://picsum.photos/seed/1930/600/400" />
          </div>
          <div class="osg-portrait-card__content">
            <h4 class="osg-portrait-card__heading">Heading</h4>
            <p class="osg-portrait-card__text">Lorem ipsum</p>
            <p class="osg-portrait-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Card actions</h2>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card osg-portrait-card--white osg-portrait-card--actions">
          <a class="osg-portrait-card__link" href="#osg-portrait-card">
            <div class="osg-portrait-card__media">
              <img src="https://picsum.photos/seed/1930/600/400" />
            </div>
            <div class="osg-portrait-card__content">
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
            </div>
          </a>
          <div class="osg-portrait-card__actions">
            <button class="osg-button osg-button--text osg-button--small  osg-button--icon-large">
              <span class="osg-icon osg-icon--calendar osg-icon--icon-left"></span>Add to calendar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card osg-portrait-card--actions">
          <a class="osg-portrait-card__link" href="#osg-portrait-card">
            <div class="osg-portrait-card__media">
              <img src="https://picsum.photos/seed/1930/600/400" />
            </div>
            <div class="osg-portrait-card__content">
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
            </div>
          </a>
          <div class="osg-portrait-card__actions">
            <a href="#osg-portrait-card" class="osg-link"><span
                class="osg-icon osg-icon--download osg-margin-right-2"></span>Download</a>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Cards with custom content</h2>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card">
          <a class="osg-portrait-card__link" href="#osg-portrait-card">
            <div class="osg-portrait-card__media">
              <img src="https://picsum.photos/seed/1930/600/400" />
            </div>
            <div class="osg-portrait-card__content">
              <p class="osg-text-5 osg-margin-bottom-3 osg-flex osg-flex-align-items-center">
                <span class="osg-icon osg-icon--calendar osg-text-1"></span>
                <span class="osg-margin-left-1">30. august</span>
                <span class="osg-icon osg-icon--clock osg-text-1 osg-margin-left-3"></span>
                <span class="osg-margin-left-1">10:00</span>
              </p>
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
              <p class="osg-portrait-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card">
          <a class="osg-portrait-card__link" href="#osg-portrait-card">
            <div class="osg-portrait-card__media">
              <img src="https://picsum.photos/seed/1930/600/400" />
            </div>
            <div class="osg-portrait-card__content">
              <p class="osg-text-6 osg-margin-bottom-3 osg-color-text-red">PLANER</p>
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
              <p class="osg-portrait-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
