<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12 osg-row__column--7-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Default</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <div class="osg-portrait-card">
              <a class="osg-portrait-card__link" href="javascript:void(0)">
                <div class="osg-portrait-card__media">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/23.jpg" alt="Bike in a rack" />
                </div>
                <div class="osg-portrait-card__content">
                  <h4 class="osg-portrait-card__heading">Heading</h4>
                  <p class="osg-portrait-card__text">Lorem ipsum</p>
                  <p class="osg-portrait-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--5-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">White</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <div class="osg-portrait-card osg-portrait-card--white">
              <a class="osg-portrait-card__link" href="javascript:void(0)">
                <div class="osg-portrait-card__media">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/28.jpg" alt="Tree with cutted branches" />
                </div>
                <div class="osg-portrait-card__content">
                  <h4 class="osg-portrait-card__heading">Heading</h4>
                  <p class="osg-portrait-card__text">Lorem ipsum</p>
                  <p class="osg-portrait-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--8-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Animated</h2>
        </div>
        <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
          <div class="osg-devtools-code">
            <div class="osg-portrait-card osg-portrait-card--zoom">
              <a class="osg-portrait-card__link" href="javascript:void(0)">
                <div class="osg-portrait-card__media">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/32.jpg" alt="Statues from Vigeland park" />
                </div>
                <div class="osg-portrait-card__content">
                  <h4 class="osg-portrait-card__heading">Heading</h4>
                  <p class="osg-portrait-card__text">Lorem ipsum</p>
                  <p class="osg-portrait-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
          <div class="osg-devtools-code osg-portrait-card--white osg-portrait-card--zoom">
            <div class="osg-portrait-card">
              <a class="osg-portrait-card__link" href="javascript:void(0)">
                <div class="osg-portrait-card__media">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/27.jpg" alt="Path close to a green house" />
                </div>
                <div class="osg-portrait-card__content">
                  <h4 class="osg-portrait-card__heading">Heading</h4>
                  <p class="osg-portrait-card__text">Lorem ipsum</p>
                  <p class="osg-portrait-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">No image</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <div class="osg-portrait-card">
              <a class="osg-portrait-card__link" href="javascript:void(0)">
                <div class="osg-portrait-card__content">
                  <h4 class="osg-portrait-card__heading">Heading</h4>
                  <p class="osg-portrait-card__text">Lorem ipsum</p>
                  <p class="osg-portrait-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Extra small</h2>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--3-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card osg-portrait-card--xs">
          <a class="osg-portrait-card__link" href="javascript:void(0)">
            <div class="osg-portrait-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
            </div>
            <div class="osg-portrait-card__content">
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
              <p class="osg-portrait-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--3-breakpoint-large">
      <div class="osg-portrait-card osg-portrait-card--xs">
        <a class="osg-portrait-card__link" href="javascript:void(0)">
          <div class="osg-portrait-card__media">
            <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/2.jpg" alt="Sunset in the mountain close to a lake" />
          </div>
          <div class="osg-portrait-card__content">
            <h4 class="osg-portrait-card__heading">Heading</h4>
            <p class="osg-portrait-card__text">Lorem ipsum</p>
            <p class="osg-portrait-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--3-breakpoint-large">
      <div class="osg-portrait-card osg-portrait-card--xs">
        <a class="osg-portrait-card__link" href="javascript:void(0)">
          <div class="osg-portrait-card__media">
            <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/3.jpg" alt="Boy doing cross country sky" />
          </div>
          <div class="osg-portrait-card__content">
            <h4 class="osg-portrait-card__heading">Heading</h4>
            <p class="osg-portrait-card__text">Lorem ipsum</p>
            <p class="osg-portrait-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--3-breakpoint-large">
      <div class="osg-portrait-card osg-portrait-card--xs">
        <a class="osg-portrait-card__link" href="javascript:void(0)">
          <div class="osg-portrait-card__media">
            <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/4.jpg" alt="Children running on the snow" />
          </div>
          <div class="osg-portrait-card__content">
            <h4 class="osg-portrait-card__heading">Heading</h4>
            <p class="osg-portrait-card__text">Lorem ipsum</p>
            <p class="osg-portrait-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Card actions</h2>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card osg-portrait-card--white osg-portrait-card--actions">
          <a class="osg-portrait-card__link" href="javascript:void(0)">
            <div class="osg-portrait-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/5.jpg" alt="Girl drinking from a yellow cup" />
            </div>
            <div class="osg-portrait-card__content">
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
            </div>
          </a>
          <div class="osg-portrait-card__actions">
            <button class="osg-button osg-button--text osg-button--small  osg-button--icon-large">
              <span class="osg-button__icon osg-button__icon--left osg-icons--calendar"></span>Add to calendar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card osg-portrait-card--actions">
          <a class="osg-portrait-card__link" href="javascript:void(0)">
            <div class="osg-portrait-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/6.jpg" alt="Bridge next to the museum" />
            </div>
            <div class="osg-portrait-card__content">
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
            </div>
          </a>
          <div class="osg-portrait-card__actions">
            <a href="javascript:void(0)" class="osg-link"><span
                class="osg-icon osg-icon--space-right osg-icons--download"></span>Download</a>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Cards with custom content</h2>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card">
          <a class="osg-portrait-card__link" href="javascript:void(0)">
            <div class="osg-portrait-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/7.jpg" alt="Two girls walkint close to the fjord" />
            </div>
            <div class="osg-portrait-card__content">
              <p class="osg-text-5 osg-margin-bottom-15 osg-flex osg-flex-align-items-center">
                <span class="osg-icon osg-icons--calendar osg-text-1"></span>
                <span class="osg-margin-left-5">30. august</span>
                <span class="osg-icon osg-icons--clock osg-text-1 osg-margin-left-15"></span>
                <span class="osg-margin-left-5">10:00</span>
              </p>
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
              <p class="osg-portrait-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-portrait-card">
          <a class="osg-portrait-card__link" href="javascript:void(0)">
            <div class="osg-portrait-card__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/8.jpg" alt="People looking at the fjord" />
            </div>
            <div class="osg-portrait-card__content">
              <p class="osg-text-6 osg-margin-bottom-15 osg-color-text-red">PLANER</p>
              <h4 class="osg-portrait-card__heading">Heading</h4>
              <p class="osg-portrait-card__text">Lorem ipsum</p>
              <p class="osg-portrait-card__published">Published: 01.01.2021</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
