@use "system/breakpoints";
@use "system/colors";
@use "system/icons";
@use "system/spacing";
@use "system/states";
@use "system/typography";

$osg-portrait-card-image-height-small: 200px;
$osg-portrait-card-image-height-medium: 230px;
$osg-portrait-card-image-height-large: 290px;

.osg-portrait-card {
  &__link {
    text-decoration: none;

    &:hover {
      .osg-portrait-card__content {
        color: states.$hover !important;
      }

      .osg-portrait-card__heading {
        text-decoration: underline;
      }
    }
  }

  &__media {
    img {
      display: block;
      height: $osg-portrait-card-image-height-small;
      line-height: 0;
      object-fit: cover;
      width: 100%;

      @include breakpoints.medium {
        height: $osg-portrait-card-image-height-medium;
      }

      @include breakpoints.large {
        height: $osg-portrait-card-image-height-large;
      }
    }
  }

  &__image-breakpoint--small {
    & .osg-portrait-card__media {
      img {
        display: none;
        @include breakpoints.medium {
          display: block;
        }
      }
    }
  }

  &__content {
    @extend %osg-padding-horizontal-10;
    @extend %osg-padding-vertical-15;
    @extend %osg-color-bg-gray-light;

    @include breakpoints.medium {
      padding: spacing.$space-30 spacing.$space-15 !important;
    }

    @include breakpoints.large {
      padding: spacing.$space-30 !important;
    }
  }

  &__actions {
    @extend %osg-padding-horizontal-10;
    @extend %osg-padding-bottom-15;
    @extend %osg-color-bg-gray-light;

    @include breakpoints.medium {
      padding: 0 spacing.$space-15 spacing.$space-30 spacing.$space-15 !important;
    }

    @include breakpoints.large {
      padding: 0 spacing.$space-30 spacing.$space-30 spacing.$space-30 !important;
    }
  }

  &__heading {
    @extend %osg-heading-4, %osg-margin-bottom-5;
  }

  &__text {
    @extend %osg-text-5;
  }

  &__published {
    @extend %osg-text-7, %osg-margin-top-30;
  }

  &--actions {
    & .osg-portrait-card__content {
      @include breakpoints.medium {
        padding: spacing.$space-30 spacing.$space-15 spacing.$space-15 spacing.$space-15 !important;
      }

      @include breakpoints.large {
        padding: spacing.$space-30 spacing.$space-30 spacing.$space-15 spacing.$space-30 !important;
      }
    }
  }

  &--white {
    & .osg-portrait-card__content,
    & .osg-portrait-card__actions {
      @extend %osg-color-bg-white;
    }
  }

  &--xs {
    & .osg-portrait-card__content {
      @include breakpoints.medium {
        padding: spacing.$space-15 !important;
      }

      @include breakpoints.large {
        padding: spacing.$space-15 !important;
      }
    }

    & .osg-portrait-card__heading {
      @extend %osg-heading-5;
    }

    & .osg-portrait-card__text {
      font-size: typography.$size-16 !important;
    }

    & .osg-portrait-card__published {
      @extend %osg-margin-top-15;
    }

    & .osg-portrait-card__media {
      img {
        @include breakpoints.large {
          height: 213px;
        }
      }
    }

    & .osg-portrait-card__actions {
      @include breakpoints.large {
        padding: 0 spacing.$space-15 spacing.$space-15 spacing.$space-15 !important;
      }
    }
  }

  &--zoom {
    & .osg-portrait-card__link {
      & .osg-portrait-card__media {
        overflow: hidden;

        img {
          transform: scale(1);
          transition: all 0.5s;
        }
      }

      &:hover {
        & .osg-portrait-card__media {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &--external {
    & .osg-portrait-card__link .osg-portrait-card__heading {
      &::after,
      &:hover::after {
        font-family: "Oslo Icons" !important;
        font-size: 0.6em;
        content: map-get(icons.$icons, "new-window") !important;
        display: inline-block;
        margin-left: 0.4em;
      }
    }
  }
}
