<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">A card is flexible-size container that groups a few short, related pieces of information. Cards are used to guide the user info specific content. In the service www.oslo.kommune.no cards are used as a point of entry for dissemination content like news, activities, projects and different institutions.</p>
      <p class="ods-text--size-india ods-text--size-hotel-brekpoint-medium ods-text--size-golf-brekapoint-large ods-text--weight-light">A modular panelsystem which scales towards the different panel needs have been established. Examples of card variations are shown below.</p>
    </div>
    <div class="ods-grid__column--6">
      <h2 class="ods-devtools-text-preset-1">White</h2>
      <p class="ods-paragraph">White card is used on colored backgrounds. White card supports all the different card variations.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-portrait-card ods-portrait-card--white">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/5.jpg" alt="Tree with cutted branches" />
              </div>
              <div class="ods-portrait-card__content">
                <a class="ods-portrait-card__link ods-portrait-card__heading" href="javascript:void(0)">
                  <h3 class="ods-portrait-card__heading">Heading</h3>
                </a>
                <p class="ods-portrait-card__text">Simply dummy text</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--6">
      <h2 class="ods-devtools-text-preset-1">Light gray</h2>
      <p class="ods-paragraph">Light gray card is used on white backgrounds. Light gray card supports all the different card variations.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-portrait-card">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/28.jpg" alt="Tree with cutted branches" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Simply dummy text</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--9">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <p class="ods-paragraph">Portrait card is used in most cases.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-portrait-card">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/29.jpg" alt="Tree with cutted branches" />
              </div>
              <div class="ods-portrait-card__content">
                <h4 class="ods-portrait-card__heading">Heading</h4>
                <p class="ods-portrait-card__text">Simply dummy text</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--9">
      <h2 class="ods-devtools-text-preset-1">Hide image on small screens</h2>
      <p class="ods-paragraph">Hide image on small screens only</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-portrait-card ods-portrait-card--image-breakpoint-medium">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/29.jpg" alt="Tree with cutted branches" />
              </div>
              <div class="ods-portrait-card__content">
                <h4 class="ods-portrait-card__heading">Heading</h4>
                <p class="ods-portrait-card__text">Simply dummy text</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--9">
      <h2 class="ods-devtools-text-preset-1">No image</h2>
      <p class="ods-paragraph">Cards can be used without image when an image is not available. If used together with other cards images are recommended to ensure good flow and consitency in the overall design.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-portrait-card">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Simply dummy text</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--9">
      <h2 class="ods-devtools-text-preset-1">Animated</h2>
      <p class="ods-paragraph">Animates card on mouseover. Used to enhance "Call To Action".</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-portrait-card ods-portrait-card--zoom">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/32.jpg" alt="Statues from Vigeland park" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Simply dummy text</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
      <div class="ods-grid__column--4">
        <h2 class="ods-devtools-text-preset-1">Extra small</h2>
        <p class="ods-paragraph">Extra small card.</p>
        <div class="ods-devtools-code">
          <div class="ods-devtools-code__box">
            <div class="ods-portrait-card ods-portrait-card--xs">
              <a class="ods-portrait-card__link" href="javascript:void(0)">
                <div class="ods-portrait-card__media">
                  <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
                </div>
                <div class="ods-portrait-card__xs-content">
                  <h3 class="ods-portrait-card__heading">Heading</h4>
                  <p class="ods-portrait-card__text">Simply dummy text</p>
                  <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ods-grid__column--12">
        <h2 class="ods-devtools-text-preset-1">Actions</h2>
        <p>A card can have actions.</p>
        <div class="ods-grid ods-grid--gap">
          <div class="ods-grid__column--6">
            <div class="ods-devtools-code">
              <div class="ods-devtools-code__box">
                <div class="ods-portrait-card ods-portrait-card--white ods-portrait-card--actions">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/5.jpg" alt="Girl drinking from a yellow cup" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <a class="ods-portrait-card__link" href="javascript:void(0)">
                      <h4 class="ods-portrait-card__heading">Heading</h4>
                    </a>
                      <p class="ods-portrait-card__text">Simply dummy text</p>
                    </div>
                  <div class="ods-portrait-card__actions">
                    <button class="ods-button ods-button--text ods-button--small ods-button--icon-large"><span class="ods-button__icon ods-button__icon--left ods-icon--calendar"></span>Add to calendar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ods-grid__column--6">
            <div class="ods-devtools-code">
              <div class="ods-devtools-code__box">
                <div class="ods-portrait-card ods-portrait-card--actions">
                  <a class="ods-portrait-card__link" href="javascript:void(0)">
                    <div class="ods-portrait-card__media">
                      <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/6.jpg" alt="Bridge next to the museum" />
                    </div>
                    <div class="ods-portrait-card__content">
                      <h4 class="ods-portrait-card__heading">Heading</h4>
                      <p class="ods-portrait-card__text">Simply dummy text</p>
                    </div>
                  </a>
                  <div class="ods-portrait-card__actions">
                    <a href="javascript:void(0)" class="ods-link"><span class="ods-icon ods-icon--space-right ods-icon--download"></span>Download</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Custom content</h2>
      <p>A card can have custom content.</p>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--6">
        <div class="ods-devtools-code">
            <div class="ods-devtools-code__box">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/7.jpg" alt="Two girls walkint close to the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <p class="ods-text--size-lima ods-text--weight-medium ods-margin-bottom-4 ods-margin-bottom-1-breakpoint-medium ods-flex ods-flex-align-items-center">
                      <span class="ods-icon ods-icon--calendar ods-text--size-hotel ods-text--size-golf-breakpoint-medium ods-text--size-delta-brekapoint-large ods-text--weight-light" aria-label="Date"></span>
                      <span class="ods-margin-left-1">30. august</span>
                      <span class="ods-icon ods-icon--clock ods-text--size-hotel ods-text--size-golf-breakpoint-medium ods-text--size-delta-brekapoint-large ods-text--weight-light ods-margin-left-4" aria-label="Time"></span>
                      <span class="ods-margin-left-1">10:00</span>
                    </p>
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--6">
          <div class="ods-devtools-code">
            <div class="ods-devtools-code__box">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/8.jpg" alt="People looking at the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <p class="ods-text--size-lima ods-text--weight-medium ods-margin-bottom-4 ods-color-text-red">PLANER</p>
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Grid layout example</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid ods-grid--gap">
            <div class="ods-grid__column--4">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="ods-grid__column--4">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="ods-grid__column--4">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="ods-grid__column--4">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="ods-grid__column--4">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="ods-grid__column--4">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="ods-grid__column--4">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="ods-grid__column--4">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="ods-grid__column--4">
              <div class="ods-portrait-card">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Simply dummy text</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12 ods-grid__column--7-breakpoint-medium">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Default</h2>
        </div>
        <div class="ods-grid__column--12">
          <div class="ods-portrait-card">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/23.jpg" alt="Bike in a rack" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--5-breakpoint-medium">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">White</h2>
        </div>
        <div class="ods-grid__column--12">
          <div class="ods-portrait-card ods-portrait-card--white">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/28.jpg" alt="Tree with cutted branches" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-portrait-card ods-portrait-card--image-breakpoint-medium">
        <a class="ods-portrait-card__link" href="javascript:void(0)">
          <div class="ods-portrait-card__media">
            <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/29.jpg" alt="Tree with cutted branches" />
          </div>
          <div class="ods-portrait-card__content">
            <h4 class="ods-portrait-card__heading">Hide image on small size</h4>
            <p class="ods-portrait-card__text">I will hide my image on small screensize!</p>
            <p class="ods-portrait-card__published">Published: 01.01.2021</p>
          </div>
        </a>
      </div>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Animated</h2>
          <div class="ods-grid ods-grid--gap">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-portrait-card ods-portrait-card--zoom">
                <a class="ods-portrait-card__link" href="javascript:void(0)">
                  <div class="ods-portrait-card__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/32.jpg" alt="Statues from Vigeland park" />
                  </div>
                  <div class="ods-portrait-card__content">
                    <h3 class="ods-portrait-card__heading">Heading</h3>
                    <p class="ods-portrait-card__text">Lorem ipsum</p>
                    <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-portrait-card--white ods-portrait-card--zoom">
                <div class="ods-portrait-card">
                  <a class="ods-portrait-card__link" href="javascript:void(0)">
                    <div class="ods-portrait-card__media">
                      <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/27.jpg" alt="Path close to a green house" />
                    </div>
                    <div class="ods-portrait-card__content">
                      <h3 class="ods-portrait-card__heading">Heading</h3>
                      <p class="ods-portrait-card__text">Lorem ipsum</p>
                      <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">No image</h2>
          <div class="ods-grid__column--12">
            <div class="ods-portrait-card">
              <a class="ods-portrait-card__link" href="javascript:void(0)">
                <div class="ods-portrait-card__content">
                  <h3 class="ods-portrait-card__heading">Heading</h3>
                  <p class="ods-portrait-card__text">Lorem ipsum</p>
                  <p class="ods-portrait-card__published">Published: 01.01.2021</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Extra small</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--3-breakpoint-large">
          <div class="ods-portrait-card ods-portrait-card--xs">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/1.jpg" alt="Lighthouse in the middle of the fjord" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--3-breakpoint-large">
          <div class="ods-portrait-card ods-portrait-card--xs">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/2.jpg" alt="Sunset in the mountain close to a lake" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--3-breakpoint-large">
          <div class="ods-portrait-card ods-portrait-card--xs">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/3.jpg" alt="Boy doing cross country sky" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--3-breakpoint-large">
          <div class="ods-portrait-card ods-portrait-card--xs ods-portrait-card--actions-clean">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/4.jpg" alt="Children running on the snow" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
            <div class="ods-portrait-card__actions">
              <button class="ods-button ods-button--text ods-button--small ods-button--icon-large"><span class="ods-button__icon ods-button__icon--left ods-icon--calendar" aria-label="Add to calendar"></span>Add to calendar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Card actions</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
          <div class="ods-portrait-card ods-portrait-card--white ods-portrait-card--actions-clean">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/5.jpg" alt="Girl drinking from a yellow cup" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
              </div>
            </a>
            <div class="ods-portrait-card__actions">
              <button class="ods-button ods-button--text ods-button--small ods-button--icon-large"><span class="ods-button__icon ods-button__icon--left ods-icon--calendar" aria-label="Add to calendar"></span>Add to calendar</button>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
          <div class="ods-portrait-card ods-portrait-card--actions">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/6.jpg" alt="Bridge next to the museum" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
              </div>
            </a>
            <div class="ods-portrait-card__actions">
              <a href="javascript:void(0)" class="ods-link"><span class="ods-icon ods-icon--space-right ods-icon--download"></span>Download</a>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
          <div class="ods-portrait-card ods-portrait-card--actions">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/2.jpg" alt="Bridge next to the museum" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Card thats not a link</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
              </div>
            <div class="ods-portrait-card__actions">
              <a href="javascript:void(0)" class="ods-link"><span class="ods-icon ods-icon--space-right ods-icon--download"></span>Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Cards with custom content</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
          <div class="ods-portrait-card">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/7.jpg" alt="Two girls walkint close to the fjord" />
              </div>
              <div class="ods-portrait-card__content">
                <p class="ods-text--size-lima ods-text--weight-medium ods-margin-bottom-4 ods-margin-bottom-1-breakpoint-medium ods-flex ods-flex-align-items-center">
                  <span class="ods-icon ods-icon--calendar ods-text--size-hotel ods-text--size-golf-breakpoint-medium ods-text--size-delta-breakpoint-large ods-text--weight-light"></span>
                  <span class="ods-margin-left-1">30. august</span>
                  <span class="ods-icon ods-icon--clock ods-text--size-hotel ods-text--size-golf-breakpoint-medium ods-text--size-delta-breakpoint-large ods-text--weight-light ods-margin-left-4"></span>
                  <span class="ods-margin-left-1">10:00</span>
                </p>
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
          <div class="ods-portrait-card">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/8.jpg" alt="People looking at the fjord" />
              </div>
              <div class="ods-portrait-card__content">
                <p class="ods-text--size-lima ods-text--weight-medium ods-margin-bottom-4 ods-color-text-red">PLANER</p>
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">External</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
          <div class="ods-portrait-card ods-portrait-card--external">
            <a class="ods-portrait-card__link" href="javascript:void(0)">
              <div class="ods-portrait-card__media">
                <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/768/23.jpg" alt="Bike in a rack" />
              </div>
              <div class="ods-portrait-card__content">
                <h3 class="ods-portrait-card__heading">Heading</h3>
                <p class="ods-portrait-card__text">Lorem ipsum</p>
                <p class="ods-portrait-card__published">Published: 01.01.2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
