@use "system/breakpoints";
@use "system/colors";
@use "system/icons";
@use "system/spacing";
@use "system/typography";

$osg-portrait-card-image-height-small: 200px;
$osg-portrait-card-image-height-medium: 230px;
$osg-portrait-card-image-height-large: 290px;

.osg-portrait-card {
  &__link {
    text-decoration: none;

    &:hover {
      .osg-portrait-card__content {
        color: colors.$blue-state !important;
      }

      .osg-portrait-card__heading {
        text-decoration: underline;
      }
    }
  }

  &__media {
    img {
      display: block;
      height: $osg-portrait-card-image-height-small;
      line-height: 0;
      object-fit: cover;
      width: 100%;

      @include breakpoints.medium {
        height: $osg-portrait-card-image-height-medium;
      }

      @include breakpoints.large {
        height: $osg-portrait-card-image-height-large;
      }
    }
  }

  &__content {
    @extend %osg-color-bg-gray-light;
    @extend %osg-padding-5, %osg-padding-8-breakpoint-medium;
  }

  &__actions {
    @extend %osg-padding-horizontal-3, %osg-padding-bottom-4, %osg-padding-top-0-breakpoint-medium, %osg-padding-horizontal-4-breakpoint-medium, %osg-padding-bottom-8-breakpoint-medium, %osg-padding-top-0-breakpoint-large, %osg-padding-horizontal-8-breakpoint-large, %osg-padding-bottom-8-breakpoint-large;
    @extend %osg-color-bg-gray-light;
  }

  &__heading {
    @extend %osg-margin-bottom-1;
    @extend %osg-text-size-india, %osg-text-size-golf-breakpoint-medium;
    @extend %osg-text-weight-medium;
  }

  &__text {
    @extend %osg-text-size-kilo, %osg-text-size-juliett-breakpoint-medium;
    @extend %osg-text-weight-light;
  }

  &__published {
    @extend %osg-margin-top-3, %osg-margin-top-4-breakpoint-medium;
    @extend %osg-text-size-lima;
    @extend %osg-text-weight-light;
  }

  &--actions {
    & .osg-portrait-card__content {
      @extend %osg-padding-top-8-breakpoint-medium, %osg-padding-bottom-4-breakpoint-medium, %osg-padding-horizontal-4-breakpoint-medium, %osg-padding-top-8-breakpoint-large, %osg-padding-vertical-8-breakpoint-large, %osg-padding-bottom-4-breakpoint-large;
    }
  }

  &--white {
    & .osg-portrait-card__content,
    & .osg-portrait-card__actions {
      @extend %osg-color-bg-white;
    }
  }

  &--xs {
    & .osg-portrait-card__content {
      @extend %osg-padding-5, %osg-padding-4-breakpoint-medium, %osg-padding-5-breakpoint-large;
    }

    & .osg-portrait-card__heading {
      @extend %osg-text-size-juliett, %osg-text-size-india-breakpoint-medium, %osg-text-size-hotel-breakpoint-large;
      @extend %osg-margin-bottom-1;
    }

    & .osg-portrait-card__text {
      @extend %osg-text-size-kilo;
      @extend %osg-text-weight-medium;
    }

    & .osg-portrait-card__published {
      @extend %osg-margin-top-3;
    }

    & .osg-portrait-card__media {
      img {
        @include breakpoints.large {
          height: 213px;
        }
      }
    }

    & .osg-portrait-card__actions {
      @extend %osg-padding-top-0-breakpoint-large, %osg-padding-horizontal-8-breakpoint-large, %osg-padding-bottom-4-breakpoint-large;
    }
  }

  &--zoom {
    & .osg-portrait-card__link {
      & .osg-portrait-card__media {
        overflow: hidden;

        img {
          transform: scale(1);
          transition: all 0.5s;
        }
      }

      &:hover {
        & .osg-portrait-card__media {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &--external {
    & .osg-portrait-card__link .osg-portrait-card__heading {
      &::after,
      &:hover::after {
        font-family: "Oslo Icons" !important;
        font-size: 0.6em;
        content: map-get(icons.$icons, "new-window") !important;
        display: inline-block;
        margin-left: 0.4em;
      }
    }
  }

  &--image-breakpoint-medium {
    & .osg-portrait-card__media {
      img {
        display: none;
        @include breakpoints.medium {
          display: block;
        }
      }
    }
  }
}
