// helper mixin for styling buttons
=osg-button-helper($color-name, $foreground, $background)
  .osg-link-button.osg-v-default
    @extend .osg-u-text-3
    box-sizing: content-box
    display: inline-block
    padding: 15px 30px
    border-radius: 0
    line-height: 1.5
    min-height: 1.5em
    min-width: 60px
    &.osg-link-button-#{$color-name}
      &,
      &:active,
      &:focus,
      &:visited
        color: $foreground
        border: 1px solid $background
        background-color: $background
      &:hover
        background-color: lighten($background, 5%)

  .osg-link-button.osg-link-button--circle
    &.osg-button-#{$color-name}
      &:focus
        .osg-shape
          box-shadow: 0 0 2px 2px Highlight
      &:active
        .osg-shape
          background-color: $background
      .osg-shape
        border: 1px solid rgba(0, 0, 0, 0)
        background-color: $background
        color: $foreground
      &:hover
        .osg-shape
          background-color: lighten($background, 5%)
      &:active
        .osg-shape
          background-color: $background
          transform: scale(0.97)

// looping map from maps.scss
@each $name, $text, $background in $osg-button-colors
  +osg-button-helper($name, $text, $background)

.osg-link-button.osg-link-button--circle
    background: none
    border: none
    color: inherit
    cursor: pointer
    display: inline-flex
    font: inherit
    outline: inherit
    padding: 0
    border-radius: 50%
    user-select: none

    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      padding-top: 100%

    i
      margin: 5px

    span
      margin: auto
      padding-left: 15px
      padding-right: 15px
