<div class="ods-grid">
  <div class="ods-grid__column--12">
    <div class="ods-color-bg-blue-light ods-padding-4 ods-padding-horizontal-8-breakpoint-medium">Header</div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-grid">
      <div class="ods-grid__column--12 ods-color-bg-beige">
        <div class="ods-grid ods-grid--gutter">
          <div class="ods-grid__column--12">
            <div class="ods-grid ods-grid--center">
              <div class="ods-grid__column--12">
                <h2 class="ods-margin-vertical-4">Alert</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-padding-horizontal-4 ods-padding-horizontal-8-breakpoint-medium ods-margin-top-3">Breadcrumb</div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-grid ods-grid--gutter ods-margin-top-13 ods-margin-top-19-breakpoint-medium ods-margin-bottom-8 ods-margin-bottom-13-breakpoint-medium">
      <div class="ods-grid__column--12">
        <div class="ods-grid ods-grid--gap-column ods-grid--gap-row-large ods-grid--center">
          <div class="ods-grid__column--12">
            <h1 class="ods-text--size-india ods-text--size-charlie-breakpoint-medium ods-text--size-alfa-breakpoint-large">Title</h1>
            <p class="ods-paragraph ods-paragraph--lead">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          </div>
          <div class="ods-grid__column--8">
            <div class="ods-content">
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </div>
          <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
            <div class="ods-grid ods-grid--gap">
              <div class="ods-grid__column--12">
                <div class="ods-color-bg-red-light ods-padding-8">Filter</div>
              </div>
              <div class="ods-grid__column--12">
                <div class="ods-grid ods-grid--gap">
                  <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
                    <div class="ods-color-bg-gray ods-padding-4">Card</div>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
                    <div class="ods-color-bg-gray ods-padding-4">Card</div>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
                    <div class="ods-color-bg-gray ods-padding-4">Card</div>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
                    <div class="ods-color-bg-gray ods-padding-4">Card</div>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
                    <div class="ods-color-bg-gray ods-padding-4">Card</div>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
                    <div class="ods-color-bg-gray ods-padding-4">Card</div>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
                    <div class="ods-color-bg-gray ods-padding-4">Card</div>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
                    <div class="ods-color-bg-gray ods-padding-4">Card</div>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium ods-grid__column--4-breakpoint-large">
                    <div class="ods-color-bg-gray ods-padding-4">Card</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
            <div class="ods-grid ods-grid--gap-row ods-grid--gap-row-large-breakpoint-medium">
              <div class="ods-grid__column--12">
                <div class="ods-color-bg-green-light ods-padding-4">Filters</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-grid">
      <div class="ods-grid__column--12 ods-color-bg-yellow">
        <div class="ods-grid ods-grid--gutter">
          <div class="ods-grid__column--12">
            <div class="ods-grid ods-grid--center">
              <div class="ods-grid__column--12">
                <h2 class="ods-margin-vertical-13">Banner</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-color-bg-blue-dark ods-color-text-white ods-padding-vertical-13">
      <div class="ods-grid ods-grid--gutter">
        <div class="ods-grid__column--12">
          <div class="ods-grid ods-grid--center ods-grid--gap">
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <h3 class="ods-heading-3">Title</h3>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <h3 class="ods-heading-3">Title</h3>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <h3 class="ods-heading-3">Title</h3>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
