// ============================================================================
// COMMON MIXINS
// ============================================================================
//
// This is where we put styles that is used across more than one pattern
// Is prefixed with osg-common-

=osg-common-blockquote
  @extend %osg-u-text-1
  position: relative
  background-color: $osg-color-beige
  padding: 105px 15px 50px 30px
  +osg-mq-tablet-and-up
    padding: 130px 120px 100px 120px
    line-height: 45px
  a
    text-decoration: none
  p
    @extend %osg-u-text-1
  footer, & > cite
    @extend %osg-u-text-3
    display: block
    line-height: 33px
    padding-top: 20px
    +osg-mq-tablet-and-up
      padding-top: 40px
  &:before
    @extend %osg-u-heading-1
    content: '"'
    position: absolute
    top: 50px
    left: 30px
    +osg-mq-tablet-and-up
      left: 50px

=osg-common-button
  display: inline-flex
  justify-content: center
  align-items: center
  padding: 15px
  min-width: 60px
  min-height: 50px
  text-decoration: none
  &:disabled
    background-color: $osg-color-grey-light
    border-color: $osg-color-white
    color: $osg-color-disabled
    cursor: default

  .osg-icon
    margin: -8px 0
  &--icon-right
    .osg-icon
      margin-left: $osg-space-2
  &--icon-left
    .osg-icon
      margin-right: $osg-space-2

  &--circle
    +osg-common-button--circle

  @each $name, $text, $background in $osg-button-colors
    &--#{$name}
      color: $text
      background-color: $background
      border: 2px solid $background
      &:not(:disabled)
        &:visited
          color: $text
          background-color: $background
          border: 2px solid $background
        &:focus, &:hover
          color: white
          background-color: $osg-color-blue-hover
          border-color: $osg-color-blue-hover
          text-decoration: none
      &.osg-button--outline.osg-button--active
        &:not(:disabled)
          &, &:focus, &:hover, &:visited
            color: $text
            background-color: $background

  &--outline
    background-color: transparent
    color: $osg-color-blue-dark
    &:not(:disabled)
      &:visited
        background-color: transparent
        color: $osg-color-blue-dark
      &:focus, &:hover
        background-color: transparent
        color: $osg-color-blue-hover

  &--ghost
    background-color: transparent
    border-color: transparent
    color: $osg-color-blue-dark
    &:not(:disabled)
      \:not(.osg-icon)
        +osg-common-underline($osg-color-blue-dark)
      &:focus,
      &:hover
        background-color: $osg-color-grey-light
        border-color: $osg-color-grey-light
        color: $osg-color-blue-hover
        \:not(.osg-icon)
          background-image: none
    &:disabled
      background-color: transparent
      border-color: transparent

=osg-common-button--circle
  border-radius: 50%
  // force 1x1 ratio
  &:before
    content: ''
    display: inline-block
    vertical-align: middle
    padding-top: 100%

=osg-common-button-circle
  $border-size: 2px
  $size: 36px
  background-color: transparent
  border: $border-size solid transparent
  border-radius: 50%
  display: inline-block
  font-size: inherit
  height: $size
  line-height: $size - ($border-size * 2)
  margin: $osg-space-1 / 2
  outline: none
  padding: 0
  width: $size
  &:focus,
  &:hover:not(:disabled)
    background-color: $osg-color-grey-light
    border-color: $osg-color-grey-light
    color: $osg-color-blue-hover

=osg-common-underline($color)
  background-image: linear-gradient(to right, $color, $color)
  background-position: 0 1.33em
  background-repeat: repeat-x
  background-size: 1px 1px
