{% set searchBarVariant = searchBar.variant | default('osg-v-default') %}
{% set searchBarModifiers = searchBar.modifiers | default(null) %}

{% set textFieldValue = textField.value | default(null) %}

<div class="osg-searchbar {{ searchBarVariant }} {{ searchBarModifiers }}">
  {% include 'components/forms/input/text_field.twig' %}
  {% embed 'components/buttons/button/button.twig' %}
    {% block content %}
      <span class='osg-icon osg-icon--{{ searchBar.buttonIcon | default('magnifying-glass-small') }}' aria-hidden="true"></span>
    {% endblock %}
  {% endembed %}
</div>
