=osg-hero--top($root)
  #{$root}__image
    grid-row: 2 / 3
  #{$root}__content
    grid-row: 1 / 2

=osg-hero--left($root)
  grid-template-rows: 1fr
  grid-template-columns: 2fr 1fr
  #{$root}__image
    grid-column: 2 / 3
    grid-row: 1 / 2
    align-self: center
    justify-self: stretch
  #{$root}__content
    grid-column: 1 / 2
    grid-row: 1 / 2
    align-self: center
    justify-self: stretch

=osg-hero--right($root)
  grid-template-rows: 1fr
  grid-template-columns: 1fr 2fr
  #{$root}__image
    grid-column: 1 / 2
    grid-row: 1 / 2
    align-self: center
  #{$root}__content
    grid-column: 2 / 3
    grid-row: 1 / 2
    align-self: center

.osg-hero
  display: grid
  grid-template-columns: auto
  grid-template-rows: auto auto
  grid-row-gap: $osg-space-4
  column-gap: $osg-space-4
  text-decoration: none
  &__image
    grid-row: 1 / 2
  &__content
    grid-row: 2 / 3

  &--center-mobile-only &
    +osg-mq-mobile-only
      &__image
        text-align: center

  &--right
    +osg-hero--right('.osg-hero')
  &--left
    +osg-hero--left('.osg-hero')
  &--top
    +osg-hero--top('.osg-hero')
  &--left-tablet-and-up
    +osg-mq-tablet-and-up
      +osg-hero--left('.osg-hero')
  &--right-tablet-and-up
    +osg-mq-tablet-and-up
      +osg-hero--right('.osg-hero')
  &--top-tablet-and-up
    +osg-mq-tablet-and-up
      +osg-hero--top('.osg-hero')
