{% set breadcrumbsModifiers = breadcrumbs.modifiers | default(null) %}

<ul class="osg-breadcrumbs {{ breadcrumbsModifiers }}">
  {% for path in breadcrumbs.paths %}
    <li class="osg-u-text-6">
      {% if loop.last %}
        {{ path.name }}
      {% else %}
        <a href="{{ path.url }}">{{ path.name }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
