@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/spacing";

@mixin error-message() {
  background: colors.$red-light;
  @extend %osg-margin-top-3;
  @extend %osg-padding-4;
  @extend %osg-text-size-lima;
  @extend %osg-text-weight-light;
}

@mixin form-states() {
  &--hover &__input,
  &__input:hover,
  &--hover &__textarea,
  &__textarea:hover,
  &--hover &__select select,
  &__select select:hover,
  &--error &__input:hover,
  &--error &__textarea:hover,
  &--error &__select select:hover {
    border-color: colors.$blue-state;
  }

  &__input:focus,
  &__textarea:focus,
  &__select select:focus,
  &--error &__input:focus,
  &--error &__textarea:focus,
  &--error &__select select:focus,
  &--focus &__input,
  &--focus &__textarea,
  &--focus &__select select {
    border: 4px solid colors.$blue-state;
    padding: 0.375rem 0.875rem !important;
  }

  &--error &__input,
  &--error &__textarea,
  &--error &__select select {
    border: 2px solid colors.$red-light;
  }

  &:disabled,
  &--disabled &__input,
  &--disabled &__textarea,
  &--disabled &__label,
  &--disabled &__select select {
    border-color: colors.$grayscale-40;
    color: colors.$grayscale-40;

    &:after {
      color: colors.$grayscale-40 !important;
    }
  }
}

@mixin form-component() {
  @extend %osg-padding-horizontal-4, %osg-padding-vertical-2;
  @extend %osg-text-size-kilo, %osg-text-size-juliett-breakpoint-large;
  @extend %osg-text-weight-light;

  appearance: none;
  -webkit-appearance: none;
  background-color: colors.$white;
  border: 2px solid colors.$blue-dark;
  border-radius: 0;
  color: colors.$blue-dark;
  font-family: inherit;
  line-height: 1.5rem;
  outline-style: none;
  position: relative;
  width: 100%;

  @include breakpoints.large {
    line-height: 1.75rem;
  }

  & + span.osg-icon {
    cursor: default !important;
    bottom: 0.625rem;
    font-size: inherit;
    position: absolute;
    right: 1rem;
  }
}

@mixin form-label() {
  cursor: pointer;
  display: block;
  position: relative;
  @extend %osg-text-size-kilo, %osg-text-size-juliett-breakpoint-large;
  @extend %osg-text-weight-medium;

  &--disabled {
    color: colors.$grayscale-40;
  }
}
