@use "system/colors";
@use "system/typography";
@use "system/spacing";
@use "system/states";

@mixin error-message() {
  background: colors.$red-light;
  @extend %osg-margin-top-3;
  @extend %osg-padding-4;
  @extend %osg-text-size-lima;
  @extend %osg-text-weight-light;
}

@mixin form-states() {
  &--hover &__input,
  &__input:hover,
  &--hover &__textarea,
  &__textarea:hover,
  &--hover &__select select,
  &__select select:hover,
  &--error &__input:hover,
  &--error &__textarea:hover,
  &--error &__select select:hover {
    border-color: states.$hover;
  }

  &__input:focus,
  &__textarea:focus,
  &__select select:focus,
  &--error &__input:focus,
  &--error &__textarea:focus,
  &--error &__select select:focus,
  &--focus &__input,
  &--focus &__textarea,
  &--focus &__select select {
    border: 4px solid states.$hover;
    padding: 0.625rem 0.813rem !important;
  }

  &--error &__input,
  &--error &__textarea,
  &--error &__select select {
    border: 2px solid states.$danger;
  }

  &:disabled,
  &--disabled &__input,
  &--disabled &__textarea,
  &--disabled &__label,
  &--disabled &__select select {
    border-color: states.$disabled-text;
    color: states.$disabled-text;

    &:after {
      color: states.$disabled-text !important;
    }
  }
}

@mixin form-component() {
  appearance: none;
  -webkit-appearance: none;
  background-color: colors.$white;
  border: 2px solid states.$primary;
  border-radius: 0;
  color: states.$primary;
  font-family: inherit;
  outline-style: none;
  @extend %osg-padding-vertical-3, %osg-padding-horizontal-4;
  position: relative;
  width: 100%;
  @extend %osg-text-size-kilo, %osg-text-size-juliett-breakpoint-large;
  @extend %osg-text-weight-light;

  & + span.osg-icon {
    cursor: default !important;
    bottom: 15px;
    font-size: inherit;
    position: absolute;
    right: 15px;
  }
}

@mixin form-label() {
  cursor: pointer;
  display: block;
  position: relative;
  @extend %osg-text-size-kilo, %osg-text-size-juliett-breakpoint-large;
  @extend %osg-text-weight-medium;

  &--disabled {
    color: states.$disabled-text;
  }
}
