@use "system/colors";
@use "system/fonts";
@use "system/spacing";
@use "system/state";

@mixin error-message() {
  background: colors.$red-light;
  margin-top: spacing.$space-10;
  padding: spacing.$space-15;
  @extend %osg-text-7;
}

@mixin form-states() {
  &--hover &__input, &__input:hover,
  &--hover &__textarea, &__textarea:hover,
  &--hover &__select select, &__select select:hover,
  &--error &__input:hover, &--error &__textarea:hover, &--error &__select select:hover {
    border-color: colors.$blue-contrast;
  }

  &__input:focus, &__textarea:focus, &__select select:focus,
  &--error &__input:focus, &--error &__textarea:focus, &--error &__select select:focus,
  &--focus &__input, &--focus &__textarea, &--focus &__select select {
    border: 4px solid colors.$blue-contrast;
    padding: .5rem .813rem;
  }

  &--error &__input,
  &--error &__textarea,
  &--error &__select select {
    border: 2px solid colors.$red;
  }

  &:disabled,
  &--disabled &__input, &--disabled &__textarea,
  &--disabled &__label,
  &--disabled &__select select {
    border-color: colors.$grayscale-40;
    color: colors.$grayscale-40;

    &:after {
      color: colors.$grayscale-40 !important;
    }
  }
}

@mixin form-component() {
  appearance: none;
  background-color: colors.$white;
  border: 2px solid colors.$blue-dark;
  border-radius: 0;
  color: colors.$blue-dark;
  font: inherit;
  height: 3.188rem;
  margin-top: spacing.$space-5;
  outline-style: none;
  padding: spacing.$space-10 spacing.$space-15;
  position: relative;
  width: 100%;
  @extend %osg-text-5;

  & + span.osg-icon {
    cursor: default !important;
    bottom: spacing.$space-15;
    font-size: inherit;
    position: absolute;
    right: spacing.$space-15;
  }
}

@mixin form-label() {
  cursor: pointer;
  display: block;
  font: inherit;
  position: relative;
  @extend %osg-text-4;

  &--disabled {
    color: colors.$grayscale-40;
  }
}
