<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input">
          <input class="osg-input__input" type="text" autocomplete="on" aria-label="Label text" placeholder="Input text">
        </div>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Input text with label</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input">
          <label class="osg-input__label">
            Label text
            <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text">
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input osg-input--hover">
          <label class="osg-input__label">
            Hover
            <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text">
          </label>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input osg-input--focus">
          <label class="osg-input__label">
            Focus/active
            <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text">
          </label>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input osg-input--disabled">
          <label class="osg-input__label">
            Disabled
            <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text" disabled="disabled">
          </label>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input osg-input--error">
          <label class="osg-input__label">
            Error/invalid
            <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text" aria-describedby="error-1">
            <span class="osg-icon osg-icon--exclamation-mark-circle"></span>
          </label>
          <div class="osg-input__error-message" id="error-1">Error message</div>
        </div>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Input types</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input osg-input--search">
          <label class="osg-input__label">
            Search
            <input class="osg-input__input" type="search" autocomplete="on" placeholder="Search word">
          </label>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input">
          <label class="osg-input__label">
            Required text
            <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text">
          </label>
          <div class="osg-input__required">* Required</div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input">
          <label class="osg-input__label">
            Optional text
            <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text">
          </label>
        </div>
        <div class="osg-input__required">(optional)</div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input">
          <label class="osg-input__label">
            Phone nr
            <input class="osg-input__input" type="telf" autocomplete="on" placeholder="+47">
          </label>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input">
          <label class="osg-input__label">
            E-mail
            <input class="osg-input__input" type="email" autocomplete="on" placeholder="your@email.com">
          </label>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-input">
          <label class="osg-input__label">
            Counter
            <input class="osg-input__input" type="number" placeholder="number" min="0" max="15">
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
