@use "system/breakpoints";
@use "system/spacing";
@use "system/typography";
@use "mixins";

.osg-input {
  @include mixins.form-states;

  &__input {
    @include mixins.form-component;
    @extend %osg-margin-top-2;

    &::placeholder {
      color: inherit;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }

    &[type="number"] {
      appearance: textfield;
    }
  }

  &__label {
    @include mixins.form-label;
  }

  &__required {
    @extend %osg-margin-top-1;

    padding: 0;
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-light;
  }

  &__error-message {
    @include mixins.error-message;
  }

  &__counter-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0.125rem;
    right: 1rem;

  }

  &__counter-button {
    border: none;
    background: none;
    cursor: pointer;
    @extend %osg-text--size-juliett;
    @extend %osg-text--weight-light;

    height: 1.25rem;
    line-height: 0;
    padding: 0;
    text-align: center;
    user-select: none;
    width: 1.25rem;
  }
}
