<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">
        Input is used to create interactive controls for web-based forms in order to accept data from the user; a wide variety of types of input data and control widgets are available, depending on the device.
      </p>
      <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-30">
        <h2 class="osg-infobox__heading">Rules for components</h2>
        <p class="osg-paragraph">
          The input element should never take the 100% width of the page in medium and up breakpoints.
        </p>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-input">
                  <input class="osg-input__input" type="text" autocomplete="on" aria-label="Label text" placeholder="Input text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">With label</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-input">
                  <label class="osg-input__label">
                    Label text
                    <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-padding-bottom-none">
      <h2 class="osg-devtools-heading">Input types</h2>
      <p class="osg-paragraph">Use the correct input type when setting up.</p>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-input">
            <label class="osg-input__label">
              Counter
              <input class="osg-input__input osg-input__input--number" type="number" min="1" max="9" step="1" value="1">
              <div class="osg-input__counter-nav">
                <button class="osg-input__counter-nav-button osg-input__counter-nav-button--up">
                  <span class="osg-icons--chevron-thin-up" role="img" aria-label="increase"></span>
                </button>
                <button class="osg-input__counter-nav-button osg-input__counter-nav-button--down">
                  <span class="osg-icons--chevron-thin-down" role="img" aria-label="decrease"></span>
                </button>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-input">
            <label class="osg-input__label">
              Required text
              <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text" aria-describedby="required-1">
            </label>
            <div class="osg-input__required" id="required-1">* Required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-input">
            <label class="osg-input__label">
              Optional text
              <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text" aria-describedby="optional-1">
            </label>
            <div class="osg-input__required" id="optional-1">(optional)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-input">
            <label class="osg-input__label">
              E-mail
              <input class="osg-input__input" type="email" autocomplete="on" placeholder="your@email.com">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-input">
            <label class="osg-input__label">
              Phone nr
              <input class="osg-input__input" type="tel" autocomplete="on" placeholder="+47">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input">
        <input class="osg-input__input" type="text" autocomplete="on" aria-label="Label text" placeholder="Input text">
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-50">Input text with label</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input">
        <label class="osg-input__label">
          Label text
          <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text">
        </label>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-50">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input osg-input--hover">
        <label class="osg-input__label">
          Hover
          <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input osg-input--focus">
        <label class="osg-input__label">
          Focus/active
          <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input osg-input--disabled">
        <label class="osg-input__label">
          Disabled
          <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text" disabled="disabled">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input osg-input--error">
        <label class="osg-input__label">
          Error/invalid
          <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text" aria-describedby="error-1">
          <span class="osg-icon osg-icons--exclamation-mark-circle"></span>
        </label>
        <div class="osg-input__error-message" id="error-1">Error message</div>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-50">Input types</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input">
        <label class="osg-input__label">
          Required text
          <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text" aria-describedby="required-1">
        </label>
        <div class="osg-input__required" id="required-1">* Required</div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input">
        <label class="osg-input__label">
          Optional text
          <input class="osg-input__input" type="text" autocomplete="on" placeholder="Input text" aria-describedby="optional-1">
        </label>
      </div>
      <div class="osg-input__required" id="optional-1">(optional)</div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input">
        <label class="osg-input__label">
          Phone nr
          <input class="osg-input__input" type="tel" autocomplete="on" placeholder="+47">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input">
        <label class="osg-input__label">
          E-mail
          <input class="osg-input__input" type="email" autocomplete="on" placeholder="your@email.com">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-input">
        <label class="osg-input__label">
          Counter
          <input class="osg-input__input osg-input__input--number" type="number" min="1" max="9" step="1" value="1">
          <div class="osg-input__counter-nav">
            <button class="osg-input__counter-nav-button osg-input__counter-nav-button-up">
              <span class="osg-icons--chevron-thin-up" role="img" aria-label="increase"></span>
            </button>
            <button class="osg-input__counter-nav-button osg-input__counter-nav-button-down">
              <span class="osg-icons--chevron-thin-down" role="img" aria-label="decrease"></span>
            </button>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
