@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/spacing";

.osg-opening-hours {
  @extend %osg-padding-8;
  @extend %osg-text-preset-11;

  border: 2px solid colors.$yellow;

  table {
    @extend %osg-padding-bottom-1;
    text-align: left;
    width: 100%;

    th {
      @include typography.weight("light");
    }

    tr {
      td:first-child {
        width: 35%;
      }
      td + td {
        width: 65%;
      }
    }
  }

  &--without-border {
    border: 2px solid transparent;
  }

  &__heading {
    @extend %osg-margin-bottom-4;
    @extend %osg-text-preset-3;
  }

  &__navigation {
    @extend %osg-margin-bottom-3;
    @include typography.size("lima");
    @include typography.weight("medium");
  }

  &__week {
    @include typography.size("lima");
    @include typography.weight("light");
  }

  &__extra {
    @extend %osg-margin-top-3;
  }

  &__exception-indicator {
    @extend %osg-margin-left-1;
  }

  &__day {
    @extend %osg-margin-top-1;

    &--today,
    &--today th {
      @include typography.weight("medium");
    }
    &--past {
      color: colors.$grayscale-40;
    }
  }

  &__time-separator {
    @extend %osg-margin-horizontal-1;
  }

  &__not-ordinary {
    @extend %osg-margin-top-4;

    h3.osg-collapsable--heading {
      @extend %osg-text-preset-10;

      button {
        all: inherit;
        cursor: pointer;

        &:focus {
          outline: 2px dotted;
        }
      }
    }

    p {
      @extend %osg-margin-top-1;
    }
  }
}
