@use "system/breakpoints";
@use "system/colors";
@use "system/fonts";
@use "system/spacing";


.osg-opening-hours {
  @extend %osg-padding-30;
  @extend %osg-text-5;
  border: 2px solid colors.$yellow;

  table {
    @extend %osg-padding-bottom-5;
    text-align: left;
    width: 100%;

    th {
      font-weight: 300;
    }

    tr {
      td:first-child {
        width: 35%;
      }
      td + td {
        width: 65%;
      }
    }
  }

  &--without-border {
    border: 2px solid transparent;
  }

  &__heading {
    @extend %osg-heading-3;
    @extend %osg-margin-bottom-15;
  }

  &__navigation {
    @extend %osg-margin-bottom-10;
    @extend %osg-text-6;
  }

  &__week {
    @extend %osg-text-7;
  }

  &__extra {
    @extend %osg-margin-top-10;
  }

  &__exception-indicator {
    @extend %osg-margin-left-5;
  }

  &__day {
    @extend %osg-margin-top-5;

    &--today,
    &--today th {
      @extend %osg-text-medium;
    }
    &--past {
      color: colors.$grayscale-40;
    }
  }

  &__time-separator {
    @extend %osg-margin-horizontal-5;
  }

  &__not-ordinary {
    @extend %osg-margin-top-15;

    h3.osg-collapsable--heading {
      @extend %osg-heading-6;

      button {
        all: inherit;
        cursor: pointer;

        &:focus {
          outline: 2px dotted;
        }
      }
    }

    p {
      margin-top: spacing.$space-5;
    }
  }
}
