@use "system/colors";
@use "system/fonts";
@use "system/spacing";
@use "system/state";


.osg-opening-hours {
  @extend %osg-padding-4;
  @extend %osg-text-5;
  border: 2px solid colors.$yellow;

  &--without-border {
    border: 2px solid transparent;
  }

  &__heading {
    @extend %osg-heading-3;
    @extend %osg-margin-bottom-3;
  }

  &__navigation {
    @extend %osg-margin-bottom-2;
    @extend %osg-text-6;
  }

  &__week {
    @extend %osg-text-7;
  }

  &__extra {
    @extend %osg-margin-top-2;
  }

  &__exception-indicator {
    @extend %osg-margin-left-1;
  }

  &__day {
    @extend %osg-margin-top-1;

    &--today {
      @extend %osg-text-medium;
    }
    &--past {
      color: colors.$grayscale-40;
    }
  }

  &__time-separator {
    @extend %osg-margin-horizontal-1;
  }
}
