<div class="osg-container">
  <div class="osg-container osg-container--content-limit">
    <div class="osg-row">
      <div class="osg-row__column osg-row__column--12">
        <h2 class="osg-heading-3">Default</h2>
      </div>
      <div class="osg-row__column osg-row__column--12">
        <div class="osg-devtools-code">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
              <div class="osg-opening-hours">
                <div class="osg-opening-hours__heading">
                  <h2>Åpningstider id arcu lectus erat</h2>
                </div>
                <div class="osg-opening-hours__week">
                  27. september - 03. september
                </div>
                <div class="osg-opening-hours__navigation">
                  <a class="osg-link" href="#oo">Forrige uke</a> - <a class="osg-link" href="#oo">Neste uke</a>
                </div>
                <div class="osg-opening-hours__day osg-opening-hours__day--past">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Mandag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">07:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day osg-opening-hours__day--past">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Tirsdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      Åpent hele døgnet
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day osg-opening-hours__day--today">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Onsdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">07:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Torsdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">07:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Fredag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">09:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time><span class="osg-opening-hours__exception-indicator">*</span>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Lørdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      Stengt
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Søndag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      Stengt
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__extra">
                  <span class="osg-text-7">* Avvik fra ordinære åpningstider.</span>
                </div>
                <div class="osg-opening-hours__extra">
                  <p class="osg-paragraph"><span class="osg-icon osg-icon--information" aria-hidden="true"></span> Vestibulum ullamcorper fermentum fermentum. Aenean leo auctor fermentum.</p>
                </div>
                <div class="osg-opening-hours__extra">
                  <a href="#oo" class="osg-link">Lorem ipsum dolor sit amet</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="osg-row__column osg-row__column--12">
        <h2 class="osg-heading-3">Without border</h2>
      </div>

      <div class="osg-row__column osg-row__column--12">
        <div class="osg-devtools-code">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
              <div class="osg-opening-hours osg-opening-hours--without-border">
                <div class="osg-opening-hours__heading">
                  <h2>Åpningstider id arcu lectus erat</h2>
                </div>
                <div class="osg-opening-hours__week">
                  27. september - 03. september
                </div>
                <div class="osg-opening-hours__navigation">
                  <a class="osg-link" href="#oo">Forrige uke</a> - <a class="osg-link" href="#oo">Neste uke</a>
                </div>
                <div class="osg-opening-hours__day osg-opening-hours__day--past">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Mandag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">07:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day osg-opening-hours__day--past">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Tirsdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      Åpent hele døgnet
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day osg-opening-hours__day--today">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Onsdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">07:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Torsdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">07:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Fredag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">09:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time><span class="osg-opening-hours__exception-indicator">*</span>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Lørdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      Stengt
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Søndag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      Stengt
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__extra">
                  <span class="osg-text-7">* Avvik fra ordinære åpningstider.</span>
                </div>
                <div class="osg-opening-hours__extra">
                  <p class="osg-paragraph"><span class="osg-icon osg-icon--information" aria-hidden="true"></span> Vestibulum ullamcorper fermentum fermentum. Aenean leo auctor fermentum.</p>
                </div>
                <div class="osg-opening-hours__extra">
                  <a href="#oo" class="osg-link">Lorem ipsum dolor sit amet</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="osg-row__column osg-row__column--12">
        <h2 class="osg-heading-3">Plain without navigation</h2>
      </div>

      <div class="osg-row__column osg-row__column--12">
        <div class="osg-devtools-code">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium osg-row__column--4-breakpoint-large">
              <div class="osg-opening-hours">
                <div class="osg-opening-hours__heading">
                  <h2>Åpningstider id arcu lectus erat</h2>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Mandag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">07:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Tirsdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      Åpent hele døgnet
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Onsdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">07:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Torsdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">07:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Fredag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      <time class="osg-opening-hours__time">09:30</time><span class="osg-opening-hours__time-separator">-</span><time class="osg-opening-hours__time">13:37</time>
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Lørdag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      Stengt
                    </div>
                  </div>
                </div>
                <div class="osg-opening-hours__day">
                  <div class="osg-row osg-row--gapless">
                    <div class="osg-row__column osg-row__column--4">
                      <span>Søndag:</span>
                    </div>
                    <div class="osg-row__column osg-row__column--8">
                      Stengt
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
