<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <input class="osg-input-field" type="text" autocomplete="on" aria-label="Label text" placeholder="Input text">
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Input text with label</h2>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Label text
          <input class="osg-input-field" type="text" autocomplete="on" placeholder="Input text">
        </label>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">states</h2>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Hover
          <input class="osg-input-field osg-input-field--hover" type="text" autocomplete="on" placeholder="Input text">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Focus/active
          <input class="osg-input-field osg-input-field--focus" type="text" autocomplete="on" placeholder="Input text">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label osg-label--disabled">
          Disabled
          <input class="osg-input-field" type="text" autocomplete="on" placeholder="Input text" disabled="disabled">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Error/invalid
          <input class="osg-input-field osg-input-field--error" type="text" autocomplete="on" placeholder="Input text">
          <span class="osg-icon osg-icon--exclamation-mark-circle" aria-label="Invalid value"></span>
        </label>
        <div class="osg-input-field__error-message" aria-live="polite">Error message</div>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Input types</h2>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Search
          <input class="osg-input-field osg-input-field" type="search" autocomplete="on" placeholder="Search word">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Required text
          <input class="osg-input-field osg-input-field" type="text" autocomplete="on" placeholder="Input text">
        </label>
        <div class="osg-input-field__required">* Required</div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Optional text
          <input class="osg-input-field osg-input-field" type="text" autocomplete="on" placeholder="Input text">
        </label>
        <div class="osg-input-field__required">(optional)</div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Phone nr
          <input class="osg-input-field osg-input-field" type="telf" autocomplete="on" placeholder="+47">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          E-mail
          <input class="osg-input-field osg-input-field" type="email" autocomplete="on" placeholder="your@email.com">
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Counter
          <input class="osg-input-field osg-input-field" type="number" placeholder="number" min="0" max="15">
        </label>
      </div>
    </div>
  </div>
</div>
