=osg-text-field-helper($osg-color-name, $background, $foreground)
  .osg-text-field.osg-text-field-#{$osg-color-name}
    .osg-text-field-input
      color: $foreground
      background-color: $background

// looping map from maps.scss
@each $name, $tuple in $osg-named-colors
  // button-colors is a map from name to a tuple with two color values which we extract using the nth function
  +osg-text-field-helper($name, nth($tuple, 1), nth($tuple, 2))

.osg-text-field
  display: flex
  flex-direction: column
  flex-grow: 1
  position: relative
  .osg-text-field-input
    border: none
    background-color: $osg-color-grey-lighter
    padding: 5px 5px 5px 10px
    height: 35px
    font-size: $osg-font-size-14
    +osg-mq-tablet-and-up
      height: 44px
      font-size: $osg-font-size-16
    &::placeholder
      color: transparent
  .osg-text-field-label
    position: absolute
    left: 13px
    top: 10px
  .osg-text-field-input:valid + .osg-text-field-label
    opacity: 0
  &.osg-v-floating-label
    .osg-text-field-input:valid + .osg-text-field-label
      opacity: 1
    margin-top: 20px
    .osg-text-field-label
      position: absolute
      pointer-events: none
      transition: .2s ease-out
      left: 13px
      // Positions the label in the middle of the textfield
      top: 7px
      font-size: $osg-font-size-14
      +osg-mq-tablet-and-up
        top: 10px
        font-size: $osg-font-size-16
    .osg-text-field-input:focus + .osg-text-field-label,
    .osg-text-field-input:not(:focus):valid + .osg-text-field-label
      // Positions the label above the textfield when the textfield is focused
      font-size: $osg-font-size-13
      top: -19px
      +osg-mq-tablet-and-up
        font-size: $osg-font-size-14
        top: -21px
    .osg-text-field-input::placeholder
      opacity: 0
      color: transparent
  &.osg-m-big
    .osg-text-field-label
      left: 18px
      top: 30px
    .osg-text-field-input
      padding: 15px
      height: 83px
      font-size: $osg-font-size-16
    &.osg-v-floating-label
      .osg-text-field-input:focus + .osg-text-field-label,
      .osg-text-field-input:not(:focus):valid + .osg-text-field-label
        // Positions the label above the textfield when the textfield is focused
        top: -17px
        font-size: $osg-font-size-13
