
<link href="/assets/css/grid.css" type="text/css" rel="stylesheet">
<div class="osg-content">
  <p>12 column grid. Using <a href="https://bulma.io/documentation/columns/basics/" target="_blank">bulma grid</a>.</p>
</div>
<div class="columns">
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">1</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">2</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">3</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">4</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">5</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">6</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">7</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">8</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">9</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">10</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">11</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">12</div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <div class="osg-color-bg-red osg-text-center">1</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">2</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">3</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">4</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">5</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">6</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">7</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">8</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">9</div>
  </div>
</div>
<div class="columns">
  <div class="column is-half">
    <div class="osg-color-bg-red osg-text-center">1</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">2</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">3</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">4</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">5</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">6</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">7</div>
  </div>
</div>
<div class="columns">
  <div class="column is-two-thirds">
    <div class="osg-color-bg-red osg-text-center">1</div>
  </div>
  <div class="column is-four">
    <div class="osg-color-bg-red osg-text-center">2</div>
  </div>
</div>
<div class="columns">
  <div class="column is-9">
    <div class="osg-color-bg-red osg-text-center">1</div>
  </div>
  <div class="column is-3">
    <div class="osg-color-bg-red osg-text-center">2</div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <h2 class="osg-text-2">Sizes</h2>
    <div class="osg-color-bg-gray osg-padding-3 osg-text-7">
      <span class="box">gutter</span>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <h2 class="osg-text-2">Classes</h2>
    <pre class="osg-color-bg-gray osg-padding-3">
      .osg-...
    </pre>
  </div>
  <div class="column is-one-third">
    <h2 class="osg-text-2">Example</h2>
    <pre class="osg-color-bg-gray osg-padding-3">
      .osg-...
    </pre>
  </div>
</div>
