<div class="ods-grid">
  <div class="ods-grid__column--12">
    <div class="ods-color-bg-blue-light ods-padding-4 ods-padding-horizontal-8-breakpoint-medium">Header</div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-grid">
      <div class="ods-grid__column--12 ods-color-bg-beige">
        <div class="ods-grid ods-grid--gutter">
          <div class="ods-grid__column--12">
            <div class="ods-grid ods-grid--center">
              <div class="ods-grid__column--12">
                <h2 class="ods-margin-vertical-4">Alert</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-grid ods-grid--gutter ods-margin-vertical-8 ods-margin-vertical-13-breakpoint-medium">
      <div class="ods-grid__column--12">
        <div class="ods-grid ods-grid--gap-row-large ods-grid--center">
          <div class="ods-grid__column--12">
            <div class="ods-color-bg-yellow ods-padding-8">
              <h1 class="ods-text--size-india ods-text--size-charlie-breakpoint-medium ods-text--size-alfa-breakpoint-large">Search</h1>
            </div>
          </div>
          <div class="ods-grid__column--12">
            <div class="ods-grid ods-grid--gap">
              <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                <div class="ods-color-bg-blue-light ods-padding-5">Service Link 1</div>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                <div class="ods-color-bg-green-light ods-padding-5">Service Link 2</div>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                <div class="ods-color-bg-green-light ods-padding-5">Service Link 3</div>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                <div class="ods-color-bg-blue-light ods-padding-5">Service Link 4</div>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                <div class="ods-color-bg-green-light ods-padding-5">Service Link 5</div>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                <div class="ods-color-bg-green-light ods-padding-5">Service Link 6</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-grid">
      <div class="ods-grid__column--12 ods-color-bg-beige">
        <div class="ods-grid ods-grid--gutter">
          <div class="ods-grid__column--12">
            <div class="ods-grid ods-grid--center">
              <div class="ods-grid__column--12">
                <h2 class="ods-margin-vertical-8">Banner</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-grid">
      <div class="ods-grid__column--12 ods-color-bg-gray-light">
        <div class="ods-grid ods-grid--gutter">
          <div class="ods-grid__column--12">
            <div class="ods-grid ods-grid--center">
              <div class="ods-grid__column--12">
                <h2 class="ods-margin-vertical-13">News</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ods-grid__column--12">
    <div class="ods-color-bg-blue-dark ods-color-text-white ods-padding-vertical-13">
      <div class="ods-grid ods-grid--gutter">
        <div class="ods-grid__column--12">
          <div class="ods-grid ods-grid--center ods-grid--gap">
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <h3 class="ods-heading-3">Title</h3>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <h3 class="ods-heading-3">Title</h3>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <h3 class="ods-heading-3">Title</h3>
              <p class="ods-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
