<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>Video must follow rules set up by <a class="ods-link" href="https://designmanual.oslo.kommune.no/video" target="_blank">https://designmanual.oslo.kommune.no/video</a>.</p>
        <p>The following attributes are required on the video-tag:</p>
        <p>controls - <a class="ods-link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-controls" target="_blank">see documentation on MDN</a></p>
        <p>preload="metadata" - <a class="ods-link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-preload" target="_blank">see documentation on MDN</a></p>
        <p>Additional relevant attributes:</p>
        <p>poster - <a class="ods-link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-poster" target="_blank">see documentation on MDN</a></p>
        <p>loop - <a class="ods-link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-loop" target="_blank">see documentation on MDN</a></p>
        <p>muted - <a class="ods-link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-muted" target="_blank">see documentation on MDN</a></p>
        <p>crossorigin - <a class="ods-link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-crossorigin" target="_blank">see documentation on MDN</a></p>
        <p>role="presentation" - <a class="ods-link" href="https://www.w3.org/TR/wai-aria-1.1/#presentation" target="_blank">see documentation on W3C</a></p>
        <p>You can add the sandbox attribute to an iframe to restrict permissions - <a class="ods-link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe#attr-sandbox">see documentation on MDN</a></p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-video">
            <h2 class="ods-video__heading">Video heading</h2>
            <video class="ods-video__video" aria-describedby="transcription1" poster="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/poster.jpg" controls preload="metadata" crossorigin="anonymous">
              <source type="video/webm" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/video.webm" />
              <source type="video/mp4" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/video.mp4" />
              <track kind="captions" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/captions_no.vtt" label="Norsk" srclang="no" default />
              <track kind="captions" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/captions_en.vtt" label="English" srclang="en" />
              <p class="ods-paragraph">To view this video please upgrade to a web browser that supports HTML5 video</p>
            </video>
            <p class="ods-video__attribution">Video: Lorem ipsum, dolor sit amet. Creative Something License Example 4.0</p>
            <div class="ods-video__transcription">
              <h3 class="ods-video__transcription-heading" id="transcription1">Transcription of the video</h3>
              <div class="ods-video__transcription-text">
                <p class="ods-paragraph">Transcription of, and info about, the video "Lorem ipsum dolor sit amet".</p>
                <p class="ods-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p class="ods-paragraph">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <p class="ods-paragraph">when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p class="ods-paragraph">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ods-infobox ods-infobox--yellow ods-margin-vertical-8">
        <h2 class="ods-infobox__heading">Hosting your own video and CORS</h2>
        <p>When hosting your own video, you must provide one or more source-tags with webm and/or mp4 file types.</p>
        <p>You might have issues with CORS if you serve the video from another domain than the one used for the HTML.</p>
        <p>To help fix this, add the attribute crossorigin="anonymous" to the video-tag.</p>
        <p>Be sure to also send the correct "Access-Control-*" headers from the server(s)/CDN-service you're using. Typically "Access-Control-Allow-Origin" and "Access-Control-Allow-Methods".</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Animation</h2>
      <div class="ods-infobox ods-infobox--yellow ods-margin-vertical-8">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>
          Animation clips are the only video clips that are allowed to auto start and go on a loop. No audio allowed.<br />
          Small animations can be fun, but think about what you want to add to the rest of the content.
        </p>
        <p>The following technical changes to the attributes of the video-tag are required:</p>
        <ul class="ods-unordered-list">
          <li class="ods-unordered-list__item">Add role="presentation" if the video is purley for used decoration</li>
          <li class="ods-unordered-list__item">Remove "controls" and "poster"</li>
          <li class="ods-unordered-list__item">Change preload="metadata" to preload="auto"</li>
          <li class="ods-unordered-list__item">Add "autoplay", "loop" and "muted"</li>
        </ul>
      </div>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-video" role="presentation">
            <video class="ods-video__video" poster="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/animation_poster.png" preload="auto" loop autoplay muted crossorigin="anonymous">
              <source src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/animation.mp4" type="video/mp4" />
              <p class="ods-paragraph">To view this video please upgrade to a web browser that supports HTML5 video</p>
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">YouTube video</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-video ods-video--16x9">
            <iframe class="ods-video__video ods-video__video--16x9" src="https://www.youtube-nocookie.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Vimeo video</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-video ods-video--16x9">
            <iframe class="ods-video__video ods-video__video--16x9" src="https://player.vimeo.com/video/1084537?dnt=1" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter ods-margin-bottom-8">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <div class="ods-video">
        <h2 class="ods-video__heading">Video heading</h2>
        <video class="ods-video_video" aria-describedby="transcription" poster="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/poster.jpg" controls preload="metadata" crossorigin="anonymous">
          <source type="video/webm" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/video.webm" />
          <source type="video/mp4" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/video.mp4" />
          <track kind="captions" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/captions_no.vtt" label="Norsk" srclang="no" default />
          <track kind="captions" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/captions_en.vtt" label="English" srclang="en" />
          <p class="ods-paragraph">To view this video please upgrade to a web browser that supports HTML5 video</p>
        </video>
        <p class="ods-video__attribution">Video: Lorem ipsum, dolor sit amet. Creative Something License Example 4.0</p>
        <div class="ods-video__transcription" id="transcription">
          <h3 class="ods-video__transcription-heading">Transcription</h3>
          <div class="ods-video__transcription-text">
            <p class="ods-paragraph">Transcription of, and info about, the video "Lorem ipsum dolor sit amet".</p>
            <p class="ods-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p class="ods-paragraph">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <p class="ods-paragraph">when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p class="ods-paragraph">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Animation</h2>
      <div class="ods-video" role="presentation">
        <video class="ods-video__video" poster="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/animation_poster.png" preload="auto" loop autoplay muted crossorigin="anonymous">
          <source src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/animation.mp4" type="video/mp4" />
          <p class="ods-paragraph">To view this video please upgrade to a web browser that supports HTML5 video</p>
        </video>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">YouTube video</h2>
      <div class="ods-video ods-video--16x9">
        <iframe class="ods-video__video ods-video__video--16x9" src="https://www.youtube-nocookie.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Vimeo video</h2>
      <div class="ods-video ods-video--16x9">
        <iframe class="ods-video__video ods-video__video--16x9" src="https://player.vimeo.com/video/1084537?dnt=1" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
      </div>
    </div>
  </div>
</div>
