<div class="osg-container">
  <div class="osg-container osg-container--content-limit">
    <div class="osg-row">
      <div class="osg-row__column osg-row__column--12">
        <h2 class="osg-heading-3">Default</h2>
      </div>
      <div class="osg-row__column osg-row__column--12 osg-row__column--12-breakpoint-medium">
        <div class="osg-devtools-code">
          <h2 class="osg-video__heading">Lorem ipsum dolor sit amet</h2>
          <div class="osg-video__video">
            <video class="osg-video" aria-describedby="transcription" poster="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/poster.jpg" controls preload="metadata">
              <source type="video/webm" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/video.webm">
              <source type="video/mp4" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/video.mp4">
              <track kind="captions" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/captions_no.vtt" label="Norsk" srclang="no" default>
              <track kind="captions" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/captions_en.vtt" label="english" srclang="en">
              <p class="osg-paragraph">To view this video please upgrade to a web browser that supports HTML5 video</p>
            </video>
            <p class="osg-video__attribution">Video: Lorem ipsum, dolor sit amet. Creative Something License Example 4.0</p>
            <div class="osg-video__transcription" id="transcription">
              <h3 class="osg-video__transcription-heading">Transcription</h3>
              <div class="osg-video__transcription-text">
                <p class="osg-paragraph">Transcription of, and info about, the video "Lorem ipsum dolor sit amet".</p>
                <p class="osg-paragraph">Pellentesque faucibus odio non lectus vestibulum pulvinar ac vitae justo.</p>
                <p class="osg-paragraph">Duis et sagittis ipsum. In iaculis ex vitae ullamcorper bibendum. Aliquam erat volutpat.</p>
                <p class="osg-paragraph">Ut fringilla nulla ante, non vulputate nisi dictum non. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="osg-paragraph">Quisque condimentum euismod sapien, ut viverra tellus fermentum non.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-row__column osg-row__column--12">
        <h2 class="osg-heading-3">As animation</h2>
      </div>
      <div class="osg-row__column osg-row__column--12 osg-row__column--12-breakpoint-medium">
        <div class="osg-devtools-code">
          <div class="osg-video" role="presentation">
            <video class="osg-video__video" poster="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/animation_poster.png" preload="auto" loop autoplay muted>
              <source src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/video/animation.mp4" type="video/mp4">
              <p class="osg-paragraph">To view this video please upgrade to a web browser that supports HTML5 video</p>
            </video>
          </div>
        </div>
      </div>
      <div class="osg-row__column osg-row__column--12">
        <h2 class="osg-heading-3">From YouTube</h2>
      </div>
      <div class="osg-row__column osg-row__column--12 osg-row__column--12-breakpoint-medium">
        <div class="osg-devtools-code">
          <div class="osg-video osg-video--16x9">
            <iframe class="osg-video__video osg-video__video--16x9" src="https://www.youtube-nocookie.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="osg-row__column osg-row__column--12">
        <h2 class="osg-heading-3">From Vimeo</h2>
      </div>
      <div class="osg-row__column osg-row__column--12 osg-row__column--12-breakpoint-medium">
        <div class="osg-devtools-code">
          <div class="osg-video osg-video--16x9">
            <iframe class="osg-video__video osg-video__video--16x9" src="https://player.vimeo.com/video/1084537" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
