@use "system/typography";
@use "system/spacing";
@use "system/breakpoints";

.osg-video {
  &--16x9 {
    padding-top: calc(100% / 16 * 9);
    position: relative;
    background-color: black;
  }

  &__heading {
    @extend %osg-margin-bottom-4;
    @extend %osg-text-size-hotel, %osg-text-size-foxtrot-breakpoint-medium, %osg-text-size-delta-breakpoint-large;
    @include typography.weight("light");
  }

  &__video {
    width: 100%;

    &--16x9 {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
    }
  }

  &__transcription-heading {
    @extend %osg-margin-vertical-3;
    @extend %osg-text-size-india, %osg-text-size-hotel-breakpoint-medium, %osg-text-size-golf-breakpoint-large;
    @include typography.weight("medium");
  }
}
