<div class="container is-fluid osg-margin-vertical-3">
  <div class="columns">
    <div class="column">
      <h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
      <figure class="osg-blockquote">
        <blockquote>
          "That monster custom, who all sense doth eat
          Of habit’s devil," <abbr title="et cetera">&c.</abbr> not in Folio

          "What a falling off was there !
          From me, whose love was of that dignity
          That it went hand in hand even with the vow
          I made to her in marriage, and to decline
          Upon a wretch."
        </blockquote>

        <footer>
          — <cite class="title">Shakespeare manual</cite>
          by <cite class="author">Frederick Gard Fleay</cite>,
          p19 (in Google Books)
        </footer>
      </figure>
    </div>
  </div>
</div>
