<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-text-size-delta">Blockquote is a lengthy quotation that is formatted so as to be set off from the main text on a webpage.</p>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <figure class="osg-blockquote">
            <blockquote>"That monster custom, who all sense doth eat Of habit’s devil," <abbr title="et cetera">&c.</abbr> not in Folio "What a falling off was there ! From me, whose love was of that dignity That it went hand in hand even with the vow I made to her in marriage, and to decline Upon a wretch."</blockquote>
            <figcaption class="osg-blockquote__caption">— <cite>Shakespeare manual</cite> by <cite>Frederick Gard Fleay</cite>, p19 (in Google Books)</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-text-size-hotel osg-text-size-foxtrot-breakpoint-medium osg-text-size-delta-breakpoint-large">Default</h2>
      <figure class="osg-blockquote">
        <blockquote>"That monster custom, who all sense doth eat Of habit’s devil," <abbr title="et cetera">&c.</abbr> not in Folio "What a falling off was there ! From me, whose love was of that dignity That it went hand in hand even with the vow I made to her in marriage, and to decline Upon a wretch."</blockquote>
        <figcaption class="osg-blockquote__caption">— <cite>Shakespeare manual</cite> by <cite>Frederick Gard Fleay</cite>, p19 (in Google Books)</figcaption>
      </figure>
    </div>
  </div>
</div>
