@use "system/colors";
@use "system/spacing";
@use "system/fonts";
@use "system/mixins/mq";

.osg-blockquote {
  @extend %osg-text-1;

  background-color: colors.$beige;
  padding: spacing.$space-5 spacing.$space-4;

  @include mq.tablet-and-up {
    padding: spacing.$space-7 spacing.$space-6;
  }

  a {
    text-decoration: none;
  }

  p {
    @extend %osg-text-1;
  }

  footer, & > cite {
    @extend %osg-text-3;
    display: block;
    padding-top: spacing.$space-3;
    @include mq.tablet-and-up {
      padding-top: spacing.$space-4;
    }
  }
}
