.osg-blockquote {
  @extend %osg-text-1;

  background-color: $osg-color-beige;
  padding: 50px 30px;

  @include osg-mq-tablet-and-up {
    padding: 100px 75px;
  }

  a {
    text-decoration: none;
  }

  p {
    @extend %osg-text-1;
  }

  footer, & > cite {
    @extend %osg-text-3;
    display: block;
    padding-top: 15px;
    @include osg-mq-tablet-and-up {
      padding-top: 30px;
    }
  }
}
