@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/spacing";

.osg-blockquote {
  @extend %osg-text-1;

  background-color: colors.$beige;
  padding: spacing.$space-50 spacing.$space-30;

  @include breakpoints.medium {
    padding: spacing.$space-100 spacing.$space-75;
  }

  &__caption {
    @extend %osg-text-3;
    display: block;
    padding-top: spacing.$space-15;
    @include breakpoints.medium {
      padding-top: spacing.$space-30;
    }
  }
}
