<div class="container is-fluid osg-margin-vertical-3">
  <div class="columns">
    <div class="column">
      <h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
      <div class="osg-devtools-code">
        <figure class="osg-blockquote">
          <blockquote>
            "That monster custom, who all sense doth eat
            Of habit’s devil," <abbr title="et cetera">&c.</abbr> not in Folio

            "What a falling off was there !
            From me, whose love was of that dignity
            That it went hand in hand even with the vow
            I made to her in marriage, and to decline
            Upon a wretch."
          </blockquote>
          <figcaption class="osg-blockquote__figcaption">
            — <cite>Shakespeare manual</cite>
            by <cite>Frederick Gard Fleay</cite>,
            p19 (in Google Books)
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
