
<div class="osg-content">
  <p>There are no global styles for font sizes, but you can either wrap your whole content
  in a class "osg-content" to get default styles for most elements, or you can use
  spesific classes for spesific elements.</p>
  <p>A good use of the "osg-content" class is when wrapping output from a wysiwyg component.
  An example where the spesific classes are needed are when an h2 element needs the be a smaller size than what the default size for the h2 element is.<p>
  <p>All font classes have spesific sizes and weights for each of the systems breakpoints (mobile-only, tablet-and-up and desktop-and-up)</p>
  <p>All font util classes are prefixed with osg-u-heading and osg-u-text followed by a number.</p>
</div>
<h2 class="osg-u-text-2">Heading classes</h2>
<div class="osg-u-padding-top-medium osg-u-padding-bottom-medium osg-bg-grayscale-10">
  <p class="osg-u-heading-1">osg-u-heading-1</p>
  <p class="osg-u-heading-2">osg-u-heading-2</p>
  <p class="osg-u-heading-3">osg-u-heading-3</p>
  <p class="osg-u-heading-4">osg-u-heading-4</p>
  <p class="osg-u-heading-5">osg-u-heading-5</p>
  <p class="osg-u-heading-6">osg-u-heading-6</p>
</div>
<h2 class="osg-u-text-2">Text classes</h2>
<div class="osg-u-padding-top-medium osg-u-padding-bottom-medium osg-bg-grayscale-10">
  <p class="osg-u-text-1">osg-u-text-1</p>
  <p class="osg-u-text-2">osg-u-text-2</p>
  <p class="osg-u-text-3">osg-u-text-3</p>
  <p class="osg-u-text-4">osg-u-text-4</p>
  <p class="osg-u-text-5">osg-u-text-5</p>
  <p class="osg-u-text-6">osg-u-text-6</p>
  <p>Paragraph with no class</p>
</div>

