@use "system/breakpoints";
@use "system/colors";
@use "system/spacing";
@use "system/states";
@use "system/typography";

.osg-status-message {
  @extend %osg-padding-5;
  @include typography.size("kilo");
  @include typography.weight("light");

  @include breakpoints.large {
    @include typography.size("juliett");
  }
  background-color: colors.$gray;

  &--success {
    background-color: states.$success;
  }

  &--info {
    background-color: colors.$blue-light;
  }

  &--warning {
    background-color: states.$warning;
  }

  &--danger {
    background-color: states.$danger;
  }
}
