@use "system/breakpoints";
@use "system/colors";
@use "system/spacing";
@use "system/typography";

.osg-status-message {
  @extend %osg-padding-horizontal-6, %osg-padding-vertical-4;
  @extend %osg-text--size-kilo, %osg-text--size-juliett-breakpoint-large, %osg-text--weight-medium;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));

  background-color: colors.$gray-light;
  border-left: 0.375rem solid colors.$grayscale-30;
  display: grid;
  grid-template-columns: 35px 1fr;
  word-break: break-word;

  &--no-icon {
    grid-template-columns: 1fr;
  }

  &__heading,
  &__content {
    @extend %osg-text--size-juliett;
    @extend %osg-text--weight-medium;
    line-height: 1.5rem;

    @include breakpoints.large {
      line-height: 1.75rem;
    }
  }

  &__text {
    @extend %osg-margin-top-4;
    @extend %osg-text--weight-light;
  }

  &__small-text {
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-light;
    @extend %osg-margin-top-6;
  }

  &__text,
  &__small-text {
    display: grid;
    grid-column: 1 / span 2;
  }

  &--success {
    background-color: colors.$green-30;
    border-left: 0.375rem solid colors.$green;
  }

  &--info {
    background-color: colors.$blue-60;
    border-left: 0.375rem solid colors.$blue;
  }

  &--warning {
    background-color: colors.$yellow-50;
    border-left: 0.375rem solid colors.$yellow;
  }

  &--danger {
    background-color: colors.$red-30;
    border-left: 0.375rem solid colors.$red;
  }

  &__icon {
    @extend %osg-text--size-hotel, %osg-text--size-golf-breakpoint-large;
    @extend %osg-margin-right-3;
    line-height: 1.5rem;

    @include breakpoints.large {
      line-height: 1.75rem;
    }
  }
}
