<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-status-message">
          <p><span class="osg-status-message__icon osg-icon--exclamation-mark-circle" aria-hidden="true"></span>A status message</p>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Info</h2>
      <div class="osg-devtools-code">
        <div class="osg-status-message osg-status-message--info">
          <p><span class="osg-status-message__icon osg-icon--information" aria-hidden="true"></span>A status message</p>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Success</h2>
      <div class="osg-devtools-code">
        <div class="osg-status-message osg-status-message--success">
          <p><span class="osg-status-message__icon osg-icon--success-square" aria-hidden="true"></span>A status message</p>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Warning</h2>
      <div class="osg-devtools-code">
        <div class="osg-status-message osg-status-message--warning">
          <p><span class="osg-status-message__icon osg-icon--warning-triangle" aria-hidden="true"></span>A status message</p>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Danger</h2>
      <div class="osg-devtools-code">
        <div class="osg-status-message osg-status-message--danger">
          <p><span class="osg-status-message__icon osg-icon--error-hexa" aria-hidden="true"></span>A status message</p>
        </div>
      </div>
    </div>

    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Status message with more information</h2>
      <div class="osg-devtools-code">
        <div class="osg-status-message osg-status-message--info">
          <h2 class="osg-status-message__heading"><span class="osg-status-message__icon osg-icon--information" aria-hidden="true"></span>Lorem Ipsum is simply dummy text</h2>
          <p class="osg-status-message__content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p class="osg-status-message__date">Lorem Ipsum is simply dummy text</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Default</h2>
      <div class="osg-status-message">
        <p><span class="osg-status-message__icon osg-icon--exclamation-mark-circle" aria-hidden="true"></span>A status message</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Info</h2>
      <div class="osg-status-message osg-status-message--info">
        <p><span class="osg-status-message__icon osg-icon--information" aria-hidden="true"></span>A status message</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Success</h2>
      <div class="osg-status-message osg-status-message--success">
        <p><span class="osg-status-message__icon osg-icon--success-square" aria-hidden="true"></span>A status message</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Warning</h2>
      <div class="osg-status-message osg-status-message--warning">
        <p><span class="osg-status-message__icon osg-icon--warning-triangle" aria-hidden="true"></span>A status message</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Danger</h2>
      <div class="osg-status-message osg-status-message--danger">
        <p><span class="osg-status-message__icon osg-icon--error-hexa" aria-hidden="true"></span>A status message</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Testcase</h2>
      <div class="osg-devtools-code">
        <div class="osg-status-message osg-status-message--danger">
          <p><span class="osg-status-message__icon osg-icon--error-hexa" aria-hidden="true"></span>Stacktrace: /foo/bar/baz/foo/bar/baz/foo/bar/baz/foo/bar/baz/foo/bar/baz/foo/bar/baz/foo/bar/baz/foo/bar/baz/foo.file</p>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-2">Long text</h2>
      <div class="osg-status-message osg-status-message--info">
        <h2 class="osg-status-message__heading"><span class="osg-status-message__icon osg-icon--information" aria-hidden="true"></span>Lorem Ipsum is simply dummy text</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="osg-status-message__date">Lorem Ipsum is simply dummy text</p>
      </div>
    </div>
  </div>
</div>
