@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/spacing";
@use "system/grid";

.ods-footer {
  @extend %ods-color-bg-blue-dark, %ods-color-text-white;
  @extend %ods-text--size-juliett, %ods-text--size-india-breakpoint-large, %ods-text--weight-light;
  @extend %ods-padding-vertical-13;

  &__gutter {
    margin-left: grid.$gutter-size;
    margin-right: grid.$gutter-size;

    @include breakpoints.medium {
      margin-left: grid.$gutter-size-large;
      margin-right: grid.$gutter-size-large;
    }
  }

  &__content {
    margin-left: auto;
    margin-right: auto;
    max-width: grid.$max-grid-size-for-centered-content;
  }
}
