<div class="osg-container osg-container--gutterless osg-container--no-overflow-x">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-container">
        <h2 class="osg-heading-3">Default</h2>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code osg-devtools-code--container">
        <footer class="osg-footer">
          <div class="osg-container">
            <div class="osg-container osg-container--content-limit">
              <div class="osg-row">
                <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
                  <h2 class="osg-heading-4 osg-margin-bottom-3">Column 1 - Lorem sit</h2>
                  <ul class="osg-unordered-list osg-unordered-list--clean">
                    <li class="osg-unordered-list__item"><a href="#link-chevron"
                        class="osg-link osg-link--chevron-right osg-link--state-light">Link
                        chevron greie</a></li>
                    <li class="osg-unordered-list__item"><a href="#link-chevron"
                        class="osg-link osg-link--chevron-right osg-link--state-light">In
                        purus enim, suscipit</a></li>
                    <li class="osg-unordered-list__item"><a href="#link-chevron"
                        class="osg-link osg-link--chevron-right osg-link--state-light">Test
                        in purus enim, suscipit</a></li>
                  </ul>
                </div>
                <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
                  <h2 class="osg-heading-4 osg-margin-bottom-3">Column 2</h2>
                  <ul class="osg-unordered-list osg-unordered-list--clean">
                    <li class="osg-unordered-list__item"><a href="#link-chevron"
                        class="osg-link osg-link--chevron-right osg-link--state-light">Donec
                        fringilla lacinia</a></li>
                    <li class="osg-unordered-list__item"><a href="#link-chevron"
                        class="osg-link osg-link--chevron-right osg-link--state-light">Fusce
                        libero</a></li>
                  </ul>
                </div>
                <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
                  <h2 class="osg-heading-4 osg-margin-bottom-3">Column 3 - Dolor sit megalangtorium sit amet</h2>
                  <ul class="osg-unordered-list osg-unordered-list--clean">
                    <li class="osg-unordered-list__item"><a href="#link-chevron"
                        class="osg-link osg-link--chevron-right osg-link--state-light">Mauris
                        viverra nibh</a></li>
                    <li class="osg-unordered-list__item"><a href="#link-chevron"
                        class="osg-link osg-link--chevron-right osg-link--state-light">Ut
                        faucibus faucibus</a></li>
                  </ul>
                </div>
              </div>
              <div class="osg-row">
                <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
                  Space for more content here if needed
                </div>
                <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
                  Space for more content here if needed
                </div>
                <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
                  Space for more content here if needed
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
