<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Footer is used at the bottom of the page.</p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>The background is always 100% width, and the content is set up in a grid.</p>
        <p>The main principle of logo use is that we only use Oslologoen, but if there is a need to add a partners logo to the design, always have Oslologoen as the first one. More info here <a href="https://designmanual.oslo.kommune.no/avsenderidentitet" target="_blank">https://designmanual.oslo.kommune.no/avsenderidentitet</a></p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <p class="ods-paragraph">Default footer.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <footer class="ods-footer">
            <div class="ods-footer__gutter">
              <div class="ods-footer__content">
                <div class="ods-grid ods-grid--gap">
                  <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                    <h2 class="ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium ods-margin-bottom-4">Heading 1</h2>
                    <ul class="ods-unordered-list ods-unordered-list--clean">
                      <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 1</a></li>
                      <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 2 - long link text spanning multiple lines</a></li>
                      <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 3</a></li>
                    </ul>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                    <h2 class="ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium ods-margin-bottom-4">Heading 2</h2>
                    <ul class="ods-unordered-list ods-unordered-list--clean">
                      <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 1</a></li>
                      <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 2</a></li>
                    </ul>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                    <h2 class="ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium ods-margin-bottom-4">Heading 3 - Long heading spanning multiple lines</h2>
                    <ul class="ods-unordered-list ods-unordered-list--clean">
                      <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 1</a></li>
                      <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 2</a></li>
                    </ul>
                  </div>
                  <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">Adding multiple rows and columns give more options for content placement.</div>
                  <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">SoMe links</div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <footer class="ods-footer">
        <div class="ods-footer__gutter">
          <div class="ods-footer__content">
            <div class="ods-grid ods-grid--gap">
              <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                <h2 class="ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium ods-margin-bottom-4">Heading 1</h2>
                <ul class="ods-unordered-list ods-unordered-list--clean">
                  <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 1</a></li>
                  <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 2 - long link text spanning multiple lines</a></li>
                  <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 3</a></li>
                </ul>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                <h2 class="ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium ods-margin-bottom-4">Heading 2</h2>
                <ul class="ods-unordered-list ods-unordered-list--clean">
                  <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 1</a></li>
                  <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 2</a></li>
                </ul>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
                <h2 class="ods-text--size-india ods-text--size-hotel-breakpoint-medium ods-text--size-golf-breakpoint-large ods-text--weight-medium ods-margin-bottom-4">Heading 3 - Long heading spanning multiple lines</h2>
                <ul class="ods-unordered-list ods-unordered-list--clean">
                  <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 1</a></li>
                  <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right ods-link--state-light">Link text 2</a></li>
                </ul>
              </div>
              <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">Adding multiple rows and columns give more options for content placement.</div>
              <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">SoMe links</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
