<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-text-2">Footer is used at the bottom of the page.</p>
      <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-30">
        <h2 class="osg-infobox__heading">Important</h2>
        <p class="osg-paragraph">The background is always 100% width, and the content is set up in a grid.</p>
        <p class="osg-paragraph">The main principle of logo use is that we only use Oslologoen, but if there is a need to add a partners logo to the design, always have Oslologoen as the first one. More info here <a href="https://designmanual.oslo.kommune.no/avsenderidentitet" target="_blank">https://designmanual.oslo.kommune.no/avsenderidentitet</a></p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-text-preset-3">Default</h2>
      <p class="osg-paragraph">Default footer.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <footer class="osg-footer">
            <div class="osg-footer__gutter">
              <div class="osg-footer__content">
                <div class="osg-grid osg-grid--gap">
                  <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                    <h2 class="osg-heading-4 osg-margin-bottom-15">Heading 1</h2>
                    <ul class="osg-unordered-list osg-unordered-list--clean">
                      <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 1</a></li>
                      <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 2 - long link text spanning multiple lines</a></li>
                      <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 3</a></li>
                    </ul>
                  </div>
                  <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                    <h2 class="osg-heading-4 osg-margin-bottom-15">Heading 2</h2>
                    <ul class="osg-unordered-list osg-unordered-list--clean">
                      <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 1</a></li>
                      <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 2</a></li>
                    </ul>
                  </div>
                  <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                    <h2 class="osg-heading-4 osg-margin-bottom-15">Heading 3 - Long heading spanning multiple lines</h2>
                    <ul class="osg-unordered-list osg-unordered-list--clean">
                      <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 1</a></li>
                      <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 2</a></li>
                    </ul>
                  </div>
                  <div class="osg-grid__column--12 osg-grid__column--8-breakpoint-medium">Adding multiple rows and columns give more options for content placement.</div>
                  <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">SoMe links</div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3">Default</h2>
      <footer class="osg-footer">
        <div class="osg-footer__gutter">
          <div class="osg-footer__content">
            <div class="osg-grid osg-grid--gap">
              <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                <h2 class="osg-heading-4 osg-margin-bottom-15">Heading 1</h2>
                <ul class="osg-unordered-list osg-unordered-list--clean">
                  <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 1</a></li>
                  <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 2 - long link text spanning multiple lines</a></li>
                  <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 3</a></li>
                </ul>
              </div>
              <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                <h2 class="osg-heading-4 osg-margin-bottom-15">Heading 2</h2>
                <ul class="osg-unordered-list osg-unordered-list--clean">
                  <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 1</a></li>
                  <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 2</a></li>
                </ul>
              </div>
              <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
                <h2 class="osg-heading-4 osg-margin-bottom-15">Heading 3 - Long heading spanning multiple lines</h2>
                <ul class="osg-unordered-list osg-unordered-list--clean">
                  <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 1</a></li>
                  <li class="osg-unordered-list__item"><a href="javascript:void(0)" class="osg-link osg-link--chevron-right osg-link--state-light">Link text 2</a></li>
                </ul>
              </div>
              <div class="osg-grid__column--12 osg-grid__column--8-breakpoint-medium">Adding multiple rows and columns give more options for content placement.</div>
              <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">SoMe links</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
