@use "system/breakpoints";
@use "system/spacing";

.osg-modal-content {
  background: white;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &--open,
  &--open ~ .osg-modal-overlay {
    display: block;
  }

  @include breakpoints.medium {
    background: none;
    bottom: 0;
    height: 66.666%;
    left: 50%;
    position: relative;
    right: 50%;
    top: 0;
    transform: translate(-50%, -30%);
    width: 66.666%;
    z-index: 100;
  }

  &--scoped {
    height: unset;
    margin: 1.875rem;
    left: unset;
    position: relative;
    right: unset;
    transform: none;
    width: 94%;
  }

  &__button {
    background: white;
    display: flex;
    justify-content: flex-end;
    padding: spacing.$space-15;

    @include breakpoints.medium {
      background: transparent;
      padding: 0;
    }

    div {
      background-color: white;
      flex-grow: 1;
    }
  }

  &__content {
    background: white;
    overflow: auto;
    padding: 0 spacing.$space-50 spacing.$space-50 spacing.$space-50;

    @include breakpoints.medium {
      height: 100vh;
    }
  }
}

.osg-modal-overlay {
  background: none;
  display: none;

  @include breakpoints.medium {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    position: fixed;
    right: 0;
    top: -5px;
    z-index: 10;
  }

  &--scoped {
    bottom: 0.938rem;
    height: unset;
    left: 0.938rem;
    position: absolute;
    right: 0.938rem;
    top: 0.938rem;
    width: unset;
  }
}
