@use "system/colors";
@use "system/icons";
@use "system/spacing";
@use "system/typography";
@use "../input/mixins";
@use "system/states";

.osg-date {
  @include mixins.form-states;
  position: relative;

  &__required {
    @extend %osg-margin-top-1;
    @extend %osg-padding-0;
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-light;
  }

  &__error-message {
    @include mixins.error-message;
  }

  &__label {
    @include mixins.form-label;

    &::after {
      content: map-get(icons.$icons, "calendar") !important;
      font-family: "Oslo Icons" !important;
      @extend %osg-text--size-delta;
      line-height: 1em;
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }

  &__input {
    @include mixins.form-component;
    @extend %osg-margin-top-2;

    &::placeholder {
      color: inherit;
    }
  }

  &__datepicker {
    $padding: 10px;
    background-color: colors.$white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    padding: $padding;
    position: absolute;
    width: 290px + ($padding * 2);
    z-index: 99;

    &__nav,
    &__button {
      border: 0 none;
    }
    &__button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      background-color: transparent;
      @extend %osg-text--size-golf;
      line-height: 30px;
      text-align: center;

      @extend %osg-margin-vertical-0, %osg-margin-horizontal-1;
      position: absolute;
      top: 10px;

      &:disabled {
        cursor: not-allowed;
        color: states.$disabled-text;
        &:hover {
          background-color: transparent;
          color: states.$disabled-text;
        }
      }
      &:not(:disabled) {
        cursor: pointer;
      }
      &:hover {
        background-color: colors.$gray;
        color: colors.$blue-state;
      }
      &--next {
        right: 5px;

        &::after {
          content: map-get(icons.$icons, "chevron-thin-right") !important;
          font-family: "Oslo Icons" !important;
        }
      }
      &--prev {
        left: 5px;

        &::after {
          content: map-get(icons.$icons, "chevron-thin-left") !important;
          font-family: "Oslo Icons" !important;
        }
      }
    }

    /**
    * nrk-core-datepicker styling
    * - Element styles since missing classes on child component
    */
    &__calendar {
      width: 100%;

      caption,
      th {
        font-weight: normal;
      }
      caption {
        @extend %osg-text--size-juliett;
        @extend %osg-margin-bottom-3, %osg-margin-top-1;
        text-transform: capitalize;
      }
      thead {
        border-bottom: 1px solid colors.$blue-dark;
        border-top: 1px solid colors.$blue-dark;
      }
      th {
        @extend %osg-text--size-lima;
        @extend %osg-padding-vertical-1, %osg-padding-horizontal-0;
        @extend %osg-text--align-center;
        // text-align: center;
        text-transform: capitalize;
      }
      td {
        // text-align: center;
        @extend %osg-text--align-center;
        button {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          border: 2px solid transparent;
          background-color: transparent;
          font-size: inherit;

          &:hover {
            background-color: colors.$blue-dark;
            color: colors.$white;
          }
          // next/prev month
          &[data-adjacent="true"] {
            @extend %osg-text--size-lima;
            // font-size: typography.$size-14;
          }
          &:not(:disabled) {
            cursor: pointer;
          }
          // today
          &[aria-current="date"] {
            background-color: colors.$beige;
          }
          // selected
          &[autofocus] {
            background-color: colors.$blue-dark;
            border-color: colors.$blue-dark;
            color: colors.$white;
            &:focus,
            &:hover {
              background-color: colors.$blue-state;
              border-color: colors.$blue-state;
              color: colors.$white;
            }
          }
          &:disabled {
            color: states.$disabled-text;
            &:hover {
              background-color: transparent;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
