<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Date (datepicker) is used for setting dates in a form.</p>
    </div>
    <div class="ods-grid__column--12">
      <h3 class="ods-devtools-text-preset-1">Default</h3>
      <p class="ods-paragraph">Simple form element for date input.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-date">
                  <label class="ods-date__label">
                    Type date
                    <input type="text" class="ods-date__input" autocomplete="off" placeholder="dd.mm.yyyy" />
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h3 class="ods-devtools-text-preset-1">Required</h3>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-date">
                  <label class="ods-date__label">
                    Type date
                    <input type="text" class="ods-date__input" autocomplete="off" placeholder="dd.mm.yyyy" />
                  </label>
                  <div class="ods-date__required" id="required-1">* Required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h3 class="ods-devtools-text-preset-1">Datepicker</h3>
      <p class="ods-paragraph">Vue version which includes a datepicker.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div id="ods-date-vue">
                  <ods-date :date="date" :display-date="displayDate" label="Pick a date" v-on:set="setDate" :min="minDate" :max="maxDate"></ods-date>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12 ods-grid__column--7-breakpoint-medium">
      <h3 class="ods-devtools-text-preset-2">Default</h3>
      <div class="ods-date">
        <label class="ods-date__label">
          Type date
          <input type="text" class="ods-date__input" autocomplete="off" />
        </label>
      </div>
    </div>

    <div class="ods-grid__column--12 ods-grid__column--7-breakpoint-medium">
      <div class="ods-date ods-date--error">
        <label class="ods-date__label">
          Error/invalid
          <input type="text" class="ods-date__input" autocomplete="off" aria-describedby="error-11" />
        </label>
        <div class="ods-status-message ods-status-message--danger">
          <h2 class="ods-status-message__heading" id="error-11"><span class="ods-status-message__icon ods-icon--error-hexa" aria-hidden="true"></span>Error message</h2>
        </div>
      </div>
    </div>

    <div class="ods-grid__column--12 ods-grid__column--7-breakpoint-medium">
      <div class="ods-date">
        <label class="ods-date__label">
          Type date
          <input type="text" class="ods-date__input" autocomplete="off" aria-describedby="required-1" />
        </label>
        <div class="ods-date__required" id="required-1">* Required</div>
      </div>
    </div>

    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <h3 class="ods-devtools-text-preset-2">Datepicker</h3>
      <div id="ods-date-vue-dev">
        <ods-date :date="date" :display-date="displayDate" label="Pick a date" v-on:set="setDate" :min="minDate" :max="maxDate"></ods-date>
      </div>
    </div>
  </div>
</div>
