<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-devtools-text-preset-3">Date (datepicker) is used for setting dates in a form.</p>
    </div>
    <div class="osg-grid__column--12">
      <h3 class="osg-devtools-text-preset-1">Default</h3>
      <p class="osg-paragraph">Simple form element for date input.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-date">
            <label class="osg-date__label">
              Type date
              <input type="text" class="osg-date__input" autocomplete="off" placeholder="dd/mm/yyyy" />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h3 class="osg-devtools-text-preset-1">Required</h3>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-date">
            <label class="osg-date__label">
              Type date
              <input type="text" class="osg-date__input" autocomplete="off" placeholder="dd/mm/yyyy" />
            </label>
            <div class="osg-date__required" id="required-1">* Required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h3 class="osg-devtools-text-preset-1">Datepicker</h3>
      <p class="osg-paragraph">Vue version which includes a datepicker.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div id="osg-date-vue">
            <osg-date :date="date" :display-date="displayDate" label="Pick a date" v-on:set="setDate" :min="minDate" :max="maxDate"></osg-date>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h3 class="osg-devtools-text-preset-2">Default</h3>
      <div class="osg-date">
        <label class="osg-date__label">
          Type date
          <input type="text" class="osg-date__input" autocomplete="off" />
        </label>
      </div>
    </div>

    <div class="osg-grid__column--12">
      <div class="osg-date osg-date--error">
        <label class="osg-date__label">
          Error/invalid
          <input type="text" class="osg-date__input" autocomplete="off" />
        </label>
        <div class="osg-date__error-message" id="error-1">Error message</div>
      </div>
    </div>

    <div class="osg-grid__column--12">
      <div class="osg-date">
        <label class="osg-date__label">
          Type date
          <input type="text" class="osg-date__input" autocomplete="off" />
        </label>
        <div class="osg-date__required" id="required-1">* Required</div>
      </div>
    </div>

    <div class="osg-grid__column--12">
      <h3 class="osg-devtools-text-preset-2">Datepicker</h3>
      <div id="osg-date-vue-dev">
        <osg-date :date="date" :display-date="displayDate" label="Pick a date" v-on:set="setDate" :min="minDate" :max="maxDate"></osg-date>
      </div>
    </div>
  </div>
</div>
