@use "system/colors";
@use "system/spacing";

.ods-code {
  @extend %ods-padding-1;

  font-size: 0.875rem;
  line-height: 1rem;
  display: inline-block;
  background-color: colors.$gray-light;
  border: 1px solid colors.$grayscale-20;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  overflow-x: auto;
  vertical-align: bottom;

  &--block {
    @extend %ods-padding-4;

    width: 100%;
  }

  &--multi-line {
    // See https://developer.mozilla.org/en-US/docs/Web/CSS/white-space#values
    white-space: pre-wrap;
  }
}
