<div class="osg-content">
  <p>Here are some font weigth helpers. The font weight util classes are prefixed with osg-u-text-is-.</p>
</div>
<div class="osg-padding-top-4 osg-padding-bottom-4">
  <p class="osg-text-is-light">osg-text-is-light</p>
  <p class="osg-text-is-regular">osg-text-is-regular</p>
  <p class="osg-text-is-medium">osg-text-is-medium</p>
  <p class="osg-text-is-bold">osg-text-is-bold</p>
  <p class="osg-text-is-italic">osg-text-is-italic</p>
</div>
