<div class="osg-content">
  <p>Here are some font weigth helpers. The font weight util classes are prefixed with osg-u-text-is-.</p>
</div>
<div class="osg-u-padding-top-medium osg-u-padding-bottom-medium osg-bg-grayscale-10">
  <p class="osg-u-text-is-light">osg-u-text-is-light</p>
  <p class="osg-u-text-is-regular">osg-u-text-is-regular</p>
  <p class="osg-u-text-is-medium">osg-u-text-is-medium</p>
  <p class="osg-u-text-is-bold">osg-u-text-is-bold</p>
  <p class="osg-u-text-is-italic">osg-u-text-is-italic</p>
</div>
