.osg-event
  position: relative
  +osg-mq-desktop-and-up
    .osg-event-header
      padding-right: 570px
  h2
    font-size: $osg-font-size-26
    font-weight: bold
    +osg-mq-tablet-and-up
      font-size: $osg-font-size-40
    span
      margin-left: 5px
      font-size: $osg-font-size-18
  .osg-tags
    margin-top: 25px
  .osg-event-image
    .osg-figure
      display: block
    +osg-mq-mobile-only()
      margin-bottom: -80px
    +osg-mq-desktop-and-up
      margin-top: 40px
    picture
      order: 2
      +osg-mq-desktop-and-up
        order: 1
        display: block
        margin-right: 60px
        padding-right: 100px
    figcaption
      display: none
      +osg-mq-desktop-and-up
        display: block
    .osg-event-info
      color: $osg-color-green-dark
      font-size: $osg-font-size-14
      i
        font-size: $osg-font-size-18
      width: 100%
      position: relative
      top: -100px
      padding-left: 10px
      padding-right: 10px
      +osg-mq-until($osg-desktop)
        order: 3
      +osg-mq-desktop-and-up
        width: 500px
        position: absolute
        top: 0
        right: 0

  .osg-state-text
    display: none
    position: absolute
    font-size: $osg-font-size-40
    text-align: center
    z-index: 1
    width: 100%
    top: calc(50% - 50px)
    +osg-mq-desktop-and-up
      top: calc(50% + 50px)
      width: 90%

  &.osg-m-with-state
    .osg-state-text
      display: block
      color: white
      +osg-mq-desktop-and-up
        font-size: $osg-font-size-60
    +osg-mq-until($osg-desktop)
      .osg-image-container
        +osg-helper-filter($osg-color-green-dark)
    +osg-mq-desktop-and-up
      picture
        +osg-helper-filter($osg-color-green-dark)
        &:after
          margin-right: 100px

  .osg-event-caption
    // osg-event-caption is a hack to display the image
    // figcaption below info_list on mobile and tablet
    color: #6A6A6A
    font-size: $osg-font-size-12
    padding: 15px 0 0
    +osg-mq-tablet-and-up
      font-size: $osg-font-size-14
    +osg-mq-desktop-and-up
      display: none
