.osg-event
  $root: &
  $state-text: #{$root}__state-text
  $image: #{$root}__image
  $info: #{$root}__info
  $image-container: #{$root}__image-container
  $caption: #{$root}__caption

  position: relative
  +osg-mq-desktop-and-up
    &__header
      padding-right: 570px
  h2
    @extend .osg-u-heading-2
    font-weight: bold
    span
      @extend .osg-u-text-4
      margin-left: 5px

  .osg-tags
    margin-top: 25px

  #{$image}
    .osg-figure
      display: block
    +osg-mq-mobile-only()
      margin-bottom: -80px
    +osg-mq-desktop-and-up
      margin-top: 40px
    picture
      order: 2
      +osg-mq-desktop-and-up
        order: 1
        display: block
        margin-right: 60px
        padding-right: 100px
    figcaption
      display: none
      +osg-mq-desktop-and-up
        display: block

  #{$info}
    @extend .osg-u-text-6
    color: $osg-color-green-dark
    width: 100%
    position: relative
    top: -100px
    padding-left: 10px
    padding-right: 10px
    i
      @extend .osg-u-text-4
    +osg-mq-until($osg-desktop)
      order: 3
    +osg-mq-desktop-and-up
      width: 500px
      position: absolute
      top: 0
      right: 0

  #{$image-container}
    position: relative
  .osg-state-text
    @extend .osg-u-heading-1
    display: none
    position: absolute
    text-align: center
    z-index: 1
    width: 100%
    top: calc(50% - 50px)
    font-weight: 600
    color: white
    +osg-mq-desktop-and-up
      width: 80%

  #{$caption}
    // osg-event-caption is a hack to display the image
    // figcaption below info_list on mobile and tablet
    @extend .osg-u-text-6
    color: #6A6A6A
    padding: 15px 0 0
    +osg-mq-desktop-and-up
      display: none

  &--with-state
    #{$state-text}
      display: block
    picture
      +osg-helper-filter($osg-color-green-dark)
      +osg-mq-desktop-and-up
        &:after
          margin-right: 100px
