body
  margin: 20px 10px 20px 10px
  padding-bottom: 200px

.osg-dropdownfield
  position: relative
  &--left 
    & .icon-test-button
      display: flex
      left: 10px
    & .osg-dropdown__input
      padding-left: 50px
      padding-right: 20px
      &:focus
        padding-left: 48px
        
  &--right 
    & .icon-test-button
      display: flex
      right: 10px
    & .osg-dropdown__input
      padding-left: 20px
      padding-right: 50px
  &::after
    // @extend .osg-u-icon-chevron-thin-down
    color: inherit
    content: "\e92a"
    bottom: 8px
    right: 14px
    position: absolute
    font-family: 'Oslo Icons'
    line-height: 1
    font-style: normal
    font-size: 32px
    display: inline-flex
    pointer-events: none
  &:hover
    color: $osg-color-blue-hover

.osg-dropdown
  display: flex
  flex-direction: column
  flex-grow: 1
  position: relative

  &__input
    background-color: white
    outline: none
    border: none
    height: 50px
    width: 100%
    padding: 5px 20px 5px 20px
    border: 2px solid $osg-color-blue-dark
    cursor: pointer
    text-align: left

    &:hover
      border-color: $osg-color-blue-hover
      & ~ .icon-test-button
        color: $osg-color-blue-hover

    &:focus
      border-width: 4px
      padding-left: 18px
      border-color: $osg-color-blue-hover
      &:hover
        border-color: $osg-color-blue-hover
      & ~ .options
        display: block
      & ~ .icon-test-button
        color: $osg-color-blue-hover

.icon-test-button
  pointer-events: none
  display: none
  position: absolute
  bottom: 9px


select 
  background-color: white
  outline: none
  border: none
  border-radius: 0
  height: 50px
  width: 100%
  padding: 5px 50px 5px 20px
  border: 2px solid $osg-color-blue-dark
  cursor: pointer
  text-align: left
  appearance: none
  -webkit-appearance: none
  -mox-appearance: none
  // -webkit-border-radius: 0px;
  &:hover
    border-color: $osg-color-blue-hover
    & ~ .icon-test-button
      color: $osg-color-blue-hover

  &:focus
    border-width: 4px
    padding-left: 18px
    border-color: $osg-color-blue-hover
    &:hover
      border-color: $osg-color-blue-hover
    & ~ .options
      display: block
    & ~ .icon-test-button
      color: $osg-color-blue-hover
  &::after
    color: red
    content: "\e906"
    bottom: 9px
    position: absolute
    pointer-events: none

.options
  // display: none
  position: absolute
  width: 100%
  background-color: white
  border: 2px solid $osg-color-grayscale-20
  // margin: 5px
  margin-top: 20px
  // margin-left: 10px
  // margin-right: 10px
  box-shadow: 0px 5px 30px -10px $osg-color-grayscale-20


.option
  width: 100%
  height: 50px
  // line-height: 50px
  padding: 5px 20px 5px 20px
  display: inline-block
  vertical-align: middle
  background-color: white
  outline: none
  border: none
  text-align: left
  cursor: pointer
  &:hover
    background-color: $osg-color-grey-light


.select-box 
  // position: relative
  display: block
  // min-height: 250px
  padding-bottom: 30px
  width: 100%
  margin: 0 auto
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif
  font-size: 18px
  color: #60666d
  
  
  &__current 
    position: relative
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9)
    cursor: pointer
    outline: none
    margin-bottom: 20px;
    
    &:focus 
      & + .select-box__list 
        opacity: 1

        // We have to set "animation-name: none" to make the list visible (read below how it works)

        animation-name: none
        
        .select-box__option 
          cursor: pointer
        
      
      
      .select-box__icon 
        transform: translateY(-50%) rotate(180deg)
      
    
  
  
  &__icon 
    position: absolute
    top: 50%
    right: 15px
    transform: translateY(-50%)
    width: 20px
    opacity: 0.3
    transition: 0.2s ease
  
  
  &__value 
    display: flex
  
  
  &__input 
    display: none
    
    &:checked + .select-box__input-text 
      display: block
    
  
  
  &__input-text 
    display: none
    width: 100%
    margin: 0
    padding: 15px
    background-color: #fff
  
  
  &__list 
    position: absolute
    width: 100%
    max-height: 500px
    overflow: scroll
    padding: 0
    list-style: none
    opacity: 1
    
    // We need to use animation with delay.
    // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
    // This delay will not be noticed because we set "opacity" to "0".
    // We also use "animation-fill-mode: forwards" to make the list stay hidden.
    
    // animation-name: HideList
    animation-duration: 0.5s
    animation-delay: 0.5s
    animation-fill-mode: forwards
    animation-timing-function: step-start
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9)
  
  
  &__option 
    display: block
    padding: 15px
    background-color: #fff
    
    &:hover,
    &:focus 
      color: #546c84
      background-color: #fbfbfb
    
  


@keyframes HideList 
  from 
    transform: scaleY(1)
  
  to 
    transform: scaleY(0)
  
