{% set dropdownFieldId = dropdownField.id | default('dropdownfield-id') %}
{% set options = dropdownField.options | default([]) %}

<div class="osg-dropdownfield">

  <select id="{{dropdownFieldId}}" class="select-form osg-u-text-5 osg-form-component">
    {% if options is defined %}
      {% for option in options %}
        <option value="{{option.value}}">{{option.name}}</option>
      {% endfor %}
    {% endif %}
  </select>

</div>
