.osg-dropdownfield
  position: relative

  &:after
    color: inherit
    content: "\e92a"
    right: 14px
    position: absolute
    top: 50%
    transform: translateY(-50%)
    pointer-events: none

    font-family: 'Oslo Icons'
    line-height: 1
    font-style: normal
    font-size: 32px

  &[disabled]
    color: $osg-color-grayscale-40
  select
    outline: none
    padding-right: 50px
    cursor: pointer
    &:focus
      padding-right: 48px
    &:disabled
      color: $osg-color-grayscale-40
      border-color: $osg-color-grayscale-40
      cursor: default
