@use "system/colors";
@use "system/icons";
@use "system/spacing";
@use "components/forms/input/mixins";

.osg-select {
  position: relative;

  &:after {
    color: inherit;
    content: map-get(icons.$icons, "chevron-thin-down");
    font-family: 'Oslo Icons';
    font-size: 32px;
    pointer-events: none;
    position: absolute;
    right: 14px;
    top: 32px;
    transform: translateY(-50%);
  }

  &__select {
    @include mixins.form-component;
    @include mixins.form-states;

    cursor: pointer;
    padding-right: spacing.$space-5;
  }
}
