<div class="container is-fluid osg-margin-vertical-3">
  <h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
  <div class="columns is-multiline">
    <div class="column is-4">
      <div class="osg-devtools-code">
        <div class="osg-select">
          <select class="osg-select__select" aria-label="Select an option">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">Select with Label</h2>
  <div class="columns is-multiline">
    <div class="column is-4">
      <div class="osg-devtools-code">
        <label class="osg-label">
          Label select
          <div class="osg-select">
            <select class="osg-select__select">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>
          </div>
        </label>
      </div>
    </div>
  </div>

  <h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">States</h2>
  <div class="columns is-multiline">
    <div class="column is-4">
      <div class="osg-devtools-code">
        <label class="osg-label osg-label">
          Hover
          <div class="osg-select osg-select">
            <select class="osg-select__select osg-select__select--hover">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>
          </div>
        </label>
      </div>
    </div>
    <div class="column is-4">
      <div class="osg-devtools-code">
        <label class="osg-label osg-label">
          Focus/active
          <div class="osg-select osg-select">
            <select class="osg-select__select osg-select__select--focus">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>
          </div>
        </label>
      </div>
    </div>
    <div class="column is-4">
      <div class="osg-devtools-code">
        <label class="osg-label osg-label--disabled">
          Disabled
          <div class="osg-select osg-select--disabled">
            <select class="osg-select__select" disabled="disabled">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
