<ul class="osg-tags {{ tags.variant }} {{ tags.modifiers | default(null) }}">
  {% for item in tags.items %}
    <li>
      {% include 'atoms/buttons/tag/tag.twig' with{ tag: item.tag } %}
    </li>
  {% endfor %}
</ul>
