.osg-tags
  li
    display: inline-block
  li:not(:last-child)
    margin-right: $osg-space-large
  &.osg-v-underline
    li
      padding: 0
      margin: 0
      &:not(:last-child):after
        content: "-"
        display: inline-block
        margin: 0 4px
      .osg-tag
        border: none
        padding: 0
        text-decoration: underline
        color: $osg-color-green-dark
        &:hover
          background-color: transparent
          color: black
