{% set tagsVariant = tags.variant | default('osg-v-default') %}
{% set tagsModifiers = tags.modifiers | default(null) %}

<ul class="osg-tags {{ tagsVariant }} {{ tagsModifiers }}">
  {% for item in tags.items %}
    <li>
      {% include 'atoms/buttons/tag/tag.twig' with{ tag: item.tag } %}
    </li>
  {% endfor %}
</ul>
