<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-devtools-text-preset-3">Used for information that needs focus in a right column or in the middle of a text</p>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <aside class="osg-infobox">
                  <h2 class="osg-infobox__heading">Proin vitae pretium ultricies</h2>
                  <div class="osg-content">
                    <p>Nullam lorem ex, dapibus quis fermentum eu, placerat a diam. Donec a augue vitae justo convallis ullamcorper ut facilisis mauris.</p>
                    <ul>
                      <li>Item 1</li>
                      <li>Item 2</li>
                      <li>Item 3</li>
                    </ul>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Alternative color</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <aside class="osg-infobox osg-infobox--yellow">
                  <h2 class="osg-infobox__heading">Proin vitae pretium ultricies</h2>
                  <div class="osg-content">
                    <p>Nullam lorem ex, dapibus quis fermentum eu, placerat a diam. Donec a augue vitae justo convallis ullamcorper ut facilisis mauris.</p>
                    <ul>
                      <li>Item 1</li>
                      <li>Item 2</li>
                      <li>Item 3</li>
                    </ul>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Collapsible</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--12 osg-grid__column--8-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <div class="osg-infobox osg-infobox--collapsible">
                  <h3>
                    <a class="osg-infobox__container osg-collapsible-trigger" aria-expanded="false" aria-controls="osg-infobox-1" tabindex="0">
                      <span class="osg-infobox__text-trigger">Lorem Ipsum is simply dummy text</span>
                      <div class="osg-infobox__icon-trigger">
                        <span class="osg-icon--chevron-thin-down"></span>
                      </div>
                    </a>
                  </h3>
                  <div class="osg-infobox__container osg-collapsible-content osg-collapsible-content--collapsed" id="osg-infobox-1">
                    <div class="osg-infobox__collapsible-content">
                      <h2 class="osg-infobox__heading">Proin vitae pretium ultricies</h2>
                      <div class="osg-content">
                        <p>Nullam lorem ex, dapibus quis fermentum eu, placerat a diam. Donec a augue vitae justo convallis ullamcorper ut facilisis mauris.</p>
                        <ul>
                          <li>Item 1</li>
                          <li>Item 2</li>
                          <li>Item 3</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h3 class="osg-devtools-text-preset-2">Default</h3>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
          <aside class="osg-infobox">
            <h2 class="osg-infobox__heading">Proin vitae pretium ultricies</h2>
            <div class="osg-content">
              <p>Nullam lorem ex, dapibus quis fermentum eu, placerat a diam. Donec a augue vitae justo convallis ullamcorper ut facilisis mauris.</p>
              <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>

    <div class="osg-grid__column--12">
      <h3 class="osg-devtools-text-preset-2">Alternative color</h3>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
          <aside class="osg-infobox osg-infobox--yellow">
            <h2 class="osg-infobox__heading">Proin vitae pretium ultricies</h2>
            <div class="osg-content">
              <p>Nullam lorem ex, dapibus quis fermentum eu, placerat a diam. Donec a augue vitae justo convallis ullamcorper ut facilisis mauris.</p>
              <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>

    <div class="osg-grid__column--12">
      <h3 class="osg-devtools-text-preset-2">Collapsible</h3>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
          <div class="osg-infobox osg-infobox--collapsible">
            <h3>
              <a class="osg-infobox__container osg-collapsible-trigger" aria-expanded="false" aria-controls="osg-infobox-2" tabindex="0">
                <span class="osg-infobox__text-trigger">Lorem Ipsum is simply dummy text</span>
                <div class="osg-infobox__icon-trigger">
                  <span class="osg-icon--chevron-thin-down"></span>
                </div>
              </a>
            </h3>
            <div class="osg-infobox__container osg-collapsible-content osg-collapsible-content--collapsed" id="osg-infobox-2">
              <div class="osg-infobox__collapsible-content">
                <h2 class="osg-infobox__heading">Proin vitae pretium ultricies</h2>
                <div class="osg-content">
                  <p>Nullam lorem ex, dapibus quis fermentum eu, placerat a diam. Donec a augue vitae justo convallis ullamcorper ut facilisis mauris.</p>
                  <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
