<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <h2 class="osg-heading-3 osg-margin-bottom-5">Default</h2>
      <p class="osg-paragraph">Used for information that needs focus in a right column or in the middle of a text</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <aside class="osg-infobox">
            <h2 class="osg-infobox__heading">Proin vitae pretium ultricies</h2>
            <div class="osg-content">
              <p>Nullam lorem ex, dapibus quis fermentum eu, placerat a diam. Donec a augue vitae justo convallis ullamcorper ut facilisis mauris.</p>
              <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <h2 class="osg-heading-3 osg-margin-bottom-5">Color</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <aside class="osg-infobox osg-infobox--yellow">
            <h2 class="osg-infobox__heading">Proin vitae pretium ultricies</h2>
            <div class="osg-content">
              <p>Nullam lorem ex, dapibus quis fermentum eu, placerat a diam. Donec a augue vitae justo convallis ullamcorper ut facilisis mauris.</p>
              <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <aside class="osg-infobox">
          <h2 class="osg-infobox__heading">Proin vitae pretium ultricies</h2>
          <div class="osg-content">
            <p>Nullam lorem ex, dapibus quis fermentum eu, placerat a diam. Donec a augue vitae justo convallis ullamcorper ut facilisis mauris.</p>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Color</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <aside class="osg-infobox osg-infobox--yellow">
          <h2 class="osg-infobox__heading">Proin vitae pretium ultricies</h2>
          <div class="osg-content">
            <p>Nullam lorem ex, dapibus quis fermentum eu, placerat a diam. Donec a augue vitae justo convallis ullamcorper ut facilisis mauris.</p>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
