// ============================================================================
// GLOBALS
// ============================================================================
//
// Provides a set of global styles available for consumers and patterns.

/* ---------------- GENERAL -----------------*/
@import '~minireset.css/minireset.sass'
@import 'global/osloSans'
@import 'global/osloIcons'
@import 'global/content'

body, html
  font-family: 'Oslo Sans', sans-serif
  font-size: 100%
  font-weight: 300
  color: $osg-color-blue-dark

p
  font-size: $osg-font-size-16
  line-height: 1.5em
  font-weight: 300
  +osg-mq-tablet-and-up
    font-size: $osg-font-size-18

a
  text-decoration: none
  color: $osg-color-blue-dark
  &:visited
    color: $osg-color-purple-visited
  &:hover
    color: $osg-color-blue-hover
  &:active
    color: $osg-color-blue-dark

hr
  height: 1px
  background: inherit
  border-bottom: 1px solid #DCDCDC

.osg-sr-only
  +osg-sr-only
  &--focusable
    &:focus
      clip: auto
      clip-path: none
      height: auto
      margin: auto
      overflow: visible
      width: auto
      white-space: normal

h1, h2, h3, h4, h5
  hyphens: auto

.osg-content, %osg-content
  @extend %osg-content-wrapper
  blockquote
    +osg-common-blockquote
  p
    @extend %osg-u-text-5
  h1, h2, h3, h4, h5
    margin-bottom: 0.4em
    hyphens: auto
  h1
    @extend %osg-u-heading-1
  h2
    @extend %osg-u-heading-2
  h3
    @extend %osg-u-heading-3
  h4
    @extend %osg-u-heading-4
  h5
    @extend %osg-u-heading-5
  ul li, ol li
    @extend %osg-u-text-5
  strong
    font-weight: 500
  a
    +osg-common-underline($osg-color-blue-dark)
    text-decoration: none
    &:active, &:visited
      color: $osg-color-blue-dark
    &:hover, &:focus
      background-image: linear-gradient(to right, $osg-color-blue-hover, $osg-color-blue-hover)
      color: $osg-color-blue-hover

.container.osg-is-big
  width: 100%
  max-width: 1920 - (2 * $osg-gap)
