// ============================================================================
// VARIABLES
// ============================================================================
//
// Using scss syntax for this to enable multiline maps
// https://github.com/sass/sass/issues/1088

$osg-colors: (
"blue": $osg-color-blue,
"blue-light": $osg-color-blue-light,
"purple": $osg-color-purple,
"grey-lighter": $osg-color-grey-lighter,
"grey-light": $osg-color-grey-light,
"grey-dark": $osg-color-grey-dark,
"grey-darker": $osg-color-grey-darker,
"green": $osg-color-green,
"green-dark": $osg-color-green-dark,
"green-light": $osg-color-green-light,
"green-lighter": $osg-color-green-lighter,
"green-faded": $osg-color-green-faded,
"brown": $osg-color-brown,
"brown-beige": $osg-color-brown-beige,
"orange": $osg-color-orange,
"red": $osg-color-red,
"yellow": $osg-color-yellow,
"white": $osg-color-white
);

$osg-named-colors: (
  "muted": $osg-color-grayscale-10 $osg-color-grayscale-80,
  "primary": $osg-color-blue-light $osg-color-green-dark,
  "success": $osg-color-green-lighter $osg-color-green-dark,
  "warning": $osg-color-orange $osg-color-green-dark,
  "danger": $osg-color-red $osg-color-green-dark
);

$osg-grayscale: (
  10: $osg-color-grayscale-10,
  20: $osg-color-grayscale-20,
  30: $osg-color-grayscale-30,
  40: $osg-color-grayscale-40,
  50: $osg-color-grayscale-50,
  60: $osg-color-grayscale-60,
  70: $osg-color-grayscale-70,
  80: $osg-color-grayscale-80,
  90: $osg-color-grayscale-90
);

// used to generate spacing classes in utils.sass
$osg-spacing-sizes: (
  "none": $osg-space-none,
  "tiny": $osg-space-tiny,
  "small": $osg-space-small,
  "medium": $osg-space-medium,
  "large": $osg-space-large,
  "huge": $osg-space-huge
);

// used to generate typography classes in utils.sass
$osg-typographies-header: (
  ("1", $osg-font-size-28, $osg-font-size-40, $osg-font-size-60),
  ("2", $osg-font-size-24, $osg-font-size-30, $osg-font-size-36),
  ("3", $osg-font-size-22, $osg-font-size-26, $osg-font-size-28),
  ("4", $osg-font-size-20, $osg-font-size-22, $osg-font-size-24),
  ("5", $osg-font-size-18, $osg-font-size-20, $osg-font-size-20),
  ("6", $osg-font-size-16, $osg-font-size-17, $osg-font-size-18)
);

$osg-typographies: (
  ("1", $osg-font-size-20, $osg-font-size-24, $osg-font-size-30),
  ("2", $osg-font-size-20, $osg-font-size-22, $osg-font-size-24),
  ("3", $osg-font-size-18, $osg-font-size-19, $osg-font-size-20),
  ("4", $osg-font-size-16, $osg-font-size-17, $osg-font-size-18),
  ("5", $osg-font-size-14, $osg-font-size-14, $osg-font-size-16),
  ("6", $osg-font-size-13, $osg-font-size-13, $osg-font-size-14)
);

$osg-font-weights: (
  "light": 300,
  "regular": 500,
  "medium": 700,
  "bold": 900
);

// used to generate icon classes in utils.sass
$osg-icon-names: (
  "calendar",
  "location",
  "payment",
  "smiley",
  "sun",
  "chevron-right"
);

// used to generate alignment classes in utils.sass
$osg-alignment: (
  "left",
  "right",
  "center"
);

// used to generate flex direction classes in utils.sass
$osg-direction: (
  "row-reverse",
  "column-reverse"
);
