// ============================================================================
// VARIABLES
// ============================================================================
//
// Using scss syntax for this to enable multiline maps
// https://github.com/sass/sass/issues/1088

$osg-colors: (
"blue": $color-blue,
"blue-light": $color-blue-light,
"purple": $color-purple,
"grey-lighter": $color-grey-lighter,
"grey-light": $color-grey-light,
"grey-dark": $color-grey-dark,
"grey-darker": $color-grey-darker,
"green": $color-green,
"green-dark": $color-green-dark,
"green-light": $color-green-light,
"green-lighter": $color-green-lighter,
"green-faded": $color-green-faded,
"brown": $color-brown,
"brown-beige": $color-brown-beige,
"orange": $color-orange,
"red": $color-red,
"yellow": $color-yellow,
"white": $color-white
);

$grayscale: (
  10: $color-grayscale-10,
  20: $color-grayscale-20,
  30: $color-grayscale-30,
  40: $color-grayscale-40,
  50: $color-grayscale-50,
  60: $color-grayscale-60,
  70: $color-grayscale-70,
  80: $color-grayscale-80,
  90: $color-grayscale-90
);

// used to generate spacing classes in utils.sass
$spacing-sizes: (
  "none": $space-none,
  "tiny": $space-tiny,
  "small": $space-small,
  "medium": $space-medium,
  "large": $space-large,
  "huge": $space-huge
);

// used to generate font-size classes in utils.sass
$font-sizes: (
  ("1", $font-size-48, $font-size-36),
  ("2", $font-size-36, $font-size-24),
  ("3", $font-size-28, $font-size-20),
  ("4", $font-size-24, $font-size-18),
  ("5", $font-size-20, $font-size-16)
);

$font-weights: (
  "light": 300,
  "regular": 500,
  "medium": 700,
  "bold": 900
);

// used to generate icon classes in utils.sass
$icon-names: (
  "calendar",
  "location",
  "payment",
  "smiley",
  "sun"
);

// used to generate alignment classes in utils.sass
$alignment: (
  "left",
  "right",
  "center"
);

// used to generate flex direction classes in utils.sass
$direction: (
  "row-reverse",
  "column-reverse"
);
