// ============================================================================
// VARIABLES
// ============================================================================
//
// Using scss syntax for this to enable multiline maps
// https://github.com/sass/sass/issues/1088

$osg-colors: (
  "white": white,
  "beige": $osg-color-beige,
  "beige-dark": $osg-color-beige-dark,
  "black": $osg-color-black,
  "blue": $osg-color-blue,
  "blue-dark": $osg-color-blue-dark,
  "blue-hover": $osg-color-blue-hover,
  "blue-light": $osg-color-blue-light,
  "green": $osg-color-green,
  "green-dark": $osg-color-green-dark,
  "green-light": $osg-color-green-light,
  "grey": $osg-color-grey,
  "grey-light": $osg-color-grey-light,
  "purple-visited": $osg-color-purple-visited,
  "purple-visited-light": $osg-color-purple-visited-light,
  "red": $osg-color-red,
  "yellow": $osg-color-yellow
);

$osg-button-colors: (
  ("red", $osg-color-blue-dark, $osg-color-red),
  ("blue-dark", $osg-color-blue-light, $osg-color-blue-dark),
  ("green-dark", $osg-color-green-light, $osg-color-green-dark),
  ("green-light", $osg-color-green-dark, $osg-color-green-light),
  ("yellow", $osg-color-blue-dark, $osg-color-yellow)
);

$osg-named-colors: (
  "muted": $osg-color-grayscale-10 $osg-color-grayscale-80,
  "primary": $osg-color-blue-light $osg-color-green-dark,
  "success": $osg-color-green-light $osg-color-green-dark,
  "warning": $osg-color-yellow $osg-color-green-dark,
  "danger": $osg-color-red $osg-color-green-dark
);

$osg-grayscale: (
  10: $osg-color-grayscale-10,
  20: $osg-color-grayscale-20,
  30: $osg-color-grayscale-30,
  40: $osg-color-grayscale-40,
  50: $osg-color-grayscale-50,
  60: $osg-color-grayscale-60,
  70: $osg-color-grayscale-70,
  80: $osg-color-grayscale-80,
  90: $osg-color-grayscale-90
);

// used to generate spacing classes in utils.sass
$osg-spacing-sizes: (
  "none": $osg-space-none,
  "tiny": $osg-space-tiny,
  "small": $osg-space-small,
  "medium": $osg-space-medium,
  "large": $osg-space-large,
  "huge": $osg-space-huge,
  "1": $osg-space-1,
  "2": $osg-space-2,
  "3": $osg-space-3,
  "4": $osg-space-4,
  "5": $osg-space-5,
  "6": $osg-space-6,
  "7": $osg-space-7
);

// used to generate typography classes in utils.sass
// they represent: id, mobile size, tablet size and desktop size
$osg-typographies-header: (
  ("1", $osg-font-size-28, $osg-font-size-40, $osg-font-size-54, 400),
  ("2", $osg-font-size-24, $osg-font-size-30, $osg-font-size-36, 400),
  ("3", $osg-font-size-22, $osg-font-size-26, $osg-font-size-30, 400),
  ("4", $osg-font-size-18, $osg-font-size-22, $osg-font-size-24, 500),
  ("5", $osg-font-size-16, $osg-font-size-16, $osg-font-size-18, 500),
);

$osg-typographies: (
  ("1", $osg-font-size-22, $osg-font-size-24, $osg-font-size-30, 300),
  ("2", $osg-font-size-20, $osg-font-size-22, $osg-font-size-24, 300),
  ("3", $osg-font-size-18, $osg-font-size-18, $osg-font-size-20, 300),
  ("4", $osg-font-size-16, $osg-font-size-16, $osg-font-size-18, 500),
  ("5", $osg-font-size-16, $osg-font-size-16, $osg-font-size-18, 300),
  ("6", $osg-font-size-14, $osg-font-size-14, $osg-font-size-14, 500),
  ("7", $osg-font-size-14, $osg-font-size-14, $osg-font-size-14, 300)
);

$osg-font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700
);

// used to generate icon classes in utils.sass
$osg-icons: (
  "chevron-right": "\e908",
  "chevron-down": "\e906",
  "chevron-left": "\e907",
  "chevron-up": "\e909",
  "24h": "\e900",
  "backpack": "\e901",
  "bike": "\e902",
  "bus": "\e903",
  "cafe": "\e904",
  "calendar": "\e905",
  "coin-stacks": "\e90a",
  "crane": "\e90b",
  "dog": "\e90c",
  "drone": "\e90d",
  "exclamation-mark-circle": "\e90e",
  "filter": "\e910",
  "fire-emblem": "\e911",
  "handicap": "\e912",
  "house-heart": "\e913",
  "location-pin": "\e914",
  "magnifying-glass-big": "\e915",
  "magnifying-glass-small": "\e916",
  "menu": "\e917",
  "minus-sign": "\e918",
  "museum": "\e919",
  "park": "\e91a",
  "plus-sign": "\e91b",
  "recycling": "\e91c",
  "restaurant": "\e91d",
  "swingset": "\e91e",
  "toilet": "\e91f",
  "tram": "\e920",
  "user": "\e921",
  "water-faucet": "\e922",
  "x": "\e923",
  "facebook": "\e924",
  "instagram": "\e925",
  "linked-in": "\e926",
  "twitter": "\e927",
  "heart-plus": "\e928",
  "clock": "\e935",
  "garbage": "\e942",
  "tickets": "\e938",
  "email": "\e929",
  "chevron-thin-up": "\e939",
  "chevron-thin-down": "\e92a",
  "elevator": "\e92b",
  "street-vendor": "\e92c",
  "coffee-cup": "\e92d",
  "defibrillator": "\e92f",
  "bathroom": "\e930",
  "fullscreen": "\e931",
  "livingroom": "\e932",
  "wardrobe": "\e933",
  "bedroom": "\e934"
);

// used to generate alignment classes in utils.sass
$osg-alignment: (
  "left",
  "right",
  "center"
);

// used to generate flex direction classes in utils.sass
$osg-direction: (
  "row-reverse",
  "column-reverse"
);
