// ============================================================================
// UTILS
// ============================================================================
//
//  Provide a set of generated utility classes that can be used or extended by
//  the consumer or in patterns.

// Make header white
.osg-u-header-inverted
  .osg-u-header, .osg-u-header-underline
    color: white
    box-shadow: 0px 2px 2px -2px rgba(255,255,255,1)
    a
      color: white
    .osg-u-header-title
      text-shadow: 0 2px 4px rgba(53,53,53,0.5)
    .osg-u-navbar-menu
      .osg-u-navbar-hamburger .osg-u-navbar-hamburger-icon span
        background: white
      &.osg-u-v-with-mobile-action-button .osg-u-navbar-hamburger .osg-u-navbar-hamburger-icon span
        background: $osg-color-green-dark
        +osg-mq-tablet-and-up
          background: white
    .osg-u-header-link
      text-shadow: 0 2px 4px rgba(53,53,53,0.5)
      i
        color: $osg-color-green-light

// Overlay header with first promo element
.osg-u-header-overlay
  .osg-u-header
    position: absolute
    top: 0
    left: 0
    z-index: 9999

// Remove underline from header
.osg-u-header-no-underline
  .osg-u-header
    box-shadow: none

.osg-u-animate-scale-up
  +osg-animation-scale-up(1.2s)

.osg-u-animate-scale-in
  +osg-animation-scale-in(1.2s)

.osg-u-animate-scale-in-text
  +osg-animation-scale-in-text(1.2s)

// Form field standard style
.osg-form-component
  appearance: none
  border-radius: 0
  background-color: $osg-color-white
  height: 50px
  width: 100%
  padding: 5px 20px 5px 20px
  border: 2px solid $osg-color-blue-dark
  &:hover
    border-color: $osg-color-blue-contrast
  &:focus
    border-width: 4px
    padding-left: 18px
    padding-right: 18px
    border-color: $osg-color-blue-contrast

.osg-input-validation
  margin: $osg-space-1 0
  padding: $osg-space-2
  &--danger
    background-color: $osg-color-red
  &--warning
    background-color: $osg-color-yellow
  &--success
    background-color: $osg-color-green

/* animations */
@keyframes scale-up
  from
    opacity: 0
    transform: scale(.7)
  to
    opacity: 1
    transform: scale(1)
@keyframes scale-in
  from
    transform: scale(0)
  to
    transform: scale(1)
@keyframes scale-in-text
  0%
    opacity: 0
    transform: scale(.9)
  75%
    opacity: 0
    transform: scale(.9)
  100%
    opacity: 1
    transform: scale(1)
@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1
