// ============================================================================
// VARIABLES
// ============================================================================
//
// Provide a set of global variables for commonly used values. This include
// common values for things like colors, spacing and font-size.

// --------------- NEW COLOR PALETTE -------------*/

$osg-color-beige: #f8f0dd
$osg-color-beige-dark: #d0bfae
$osg-color-black: #2c2c2c
$osg-color-blue: #6fe9ff
$osg-color-blue-dark: #2a2859
$osg-color-blue-hover: #1f42aa
$osg-color-blue-light: b3f5ff
$osg-color-green: #43f8b6
$osg-color-green-dark: #034b45
$osg-color-green-light: #c7f6c9
$osg-color-grey: #f2f2f2
$osg-color-grey-light: #f9f9f9
$osg-color-purple: #8d50b1
$osg-color-purple-light: #e0adff
$osg-color-red: #ff8274
$osg-color-yellow: #f9c66b

// --------------- DEPRECATED COLOR PALETTE ---------------*/
//TODO: Remove these colors when they are not in use
$osg-color-grey-lighter: #f2f2f2
$osg-color-grey-dark: #333333
$osg-color-grey-darker: #171414
$osg-color-green-darker: #007982
$osg-color-green-lighter: #c7f6c9
$osg-color-green-faded: #628c89
$osg-color-brown: #d0bfae
$osg-color-brown-beige: #f8f0dd
$osg-color-orange: #f9c66b
$osg-color-white: #FFFFFF

$osg-color-grayscale-10: darken(white, 10%)
$osg-color-grayscale-20: darken(white, 20%)
$osg-color-grayscale-30: darken(white, 30%)
$osg-color-grayscale-40: darken(white, 40%)
$osg-color-grayscale-50: darken(white, 50%)
$osg-color-grayscale-60: darken(white, 60%)
$osg-color-grayscale-70: darken(white, 70%)
$osg-color-grayscale-80: darken(white, 80%)
$osg-color-grayscale-90: darken(white, 90%)

// --------------- FONT SIZES ---------------*/

$osg-font-size-60: 3.75rem
$osg-font-size-48: 3rem
$osg-font-size-40: 2.5rem
$osg-font-size-36: 2.25rem
$osg-font-size-34: 2.125rem
$osg-font-size-32: 2rem
$osg-font-size-30: 1.875rem
$osg-font-size-28: 1.75rem
$osg-font-size-26: 1.625rem
$osg-font-size-24: 1.5rem
$osg-font-size-21: 1.313rem
$osg-font-size-20: 1.25rem
$osg-font-size-18: 1.125rem
$osg-font-size-16: 1rem
$osg-font-size-15: .938rem
$osg-font-size-14: .875rem
$osg-font-size-13: .812rem
$osg-font-size-12: .75rem

// --------------- SPACING SIZES ---------------*/

$osg-space-none: 0
$osg-space-tiny: 10px
$osg-space-small: 20px
$osg-space-medium: 30px
$osg-space-large: 40px
$osg-space-huge: 60px

/* ------------------ MEDIA QUERIES -----------------*/

// The container horizontal gap, which acts as the offset for breakpoints
// media query defaults mimicks the bulma defaults
$osg-gap: 64px !default
$osg-tablet: 769px !default
$osg-desktop: 960px + (2 * $osg-gap) !default
$osg-widescreen: 1152px + (2 * $osg-gap) !default
$osg-fullhd: 1344px + (2 * $osg-gap) !default

/* ------------------ MISC -----------------*/
$osg-cubic-bezier: cubic-bezier(.22,.57,.25,1)
