<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-radio">
          <span class="osg-radio__input">
            <input type="radio" name="radio">
            <span class="osg-radio__control">
          </span>
          <span class="osg-radio__label">Option 1</span>
        </label>
        <label class="osg-radio">
          <span class="osg-radio__input">
            <input type="radio" name="radio">
            <span class="osg-radio__control">
          </span>
          <span class="osg-radio__label">Option 2</span>
        </label>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-radio osg-radio--hover">
          <span class="osg-radio__input">
            <input type="radio" name="radio" checked="checked">
            <span class="osg-radio__control">
          </span>
          <span class="osg-radio__label">Hover</span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-radio osg-radio--focus">
          <span class="osg-radio__input">
            <input type="radio" name="radio" checked="checked">
            <span class="osg-radio__control">
          </span>
          <span class="osg-radio__label">Focus/active</span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-radio">
          <span class="osg-radio__input">
            <input type="radio" name="radio" checked="checked" disabled="disabled">
            <span class="osg-radio__control">
          </span>
          <span class="osg-radio__label">Disabled</span>
        </label>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div class="osg-devtools-code">
        <label class="osg-radio osg-radio--error">
          <span class="osg-radio__input">
            <input type="radio" name="radio" checked="checked" aria-describedby="error-1">
            <span class="osg-radio__control">
          </span>
          <span class="osg-radio__label">Error/invalid</span>
        </label>
        <div class="osg--error-message" id="error-1">Error message</div>
      </div>
    </div>
  </div>
</div>
