<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">A radio button is a graphical control element that allows the user to choose only one of a predefined set of mutually exclusive options.</p>
      <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-30">
        <h2 class="osg-infobox__heading">Rules for components</h2>
        <p class="osg-paragraph">The radio button text should never take the 100% width of the page in medium and up breakpoints. Radio button groups should always be grouped using <b> &lt;fieldset&gt; </b> .</p>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h3 class="osg-devtools-heading">Default</h3>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <label class="osg-radio">
                  <span class="osg-radio__input">
                    <input type="radio" name="radio-11" />
                    <span class="osg-radio__control"></span>
                  </span>
                  <span class="osg-radio__label">Text</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <label class="osg-radio">
                  <span class="osg-radio__input">
                    <input type="radio" name="radio-11" checked="checked" />
                    <span class="osg-radio__control"></span>
                  </span>
                  <span class="osg-radio__label">Text</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <label class="osg-radio osg-radio--text-align-top">
                  <span class="osg-radio__input">
                    <input type="radio" name="radio-11" />
                    <span class="osg-radio__control"></span>
                  </span>
                  <span class="osg-radio__label"> Lorem Ipsum is simply dummy text of the print and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <label class="osg-radio osg-radio--text-align-top">
                  <span class="osg-radio__input">
                    <input type="radio" name="radio-11" />
                    <span class="osg-radio__control"></span>
                  </span>
                  <span class="osg-radio__label">Text</span>
                </label>
                <div class="osg-radio__required" id="required-1">* Required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">States</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <label class="osg-radio osg-radio--disabled">
                  <span class="osg-radio__input">
                    <input type="radio" name="radio-44" disabled="disabled" />
                    <span class="osg-radio__control"></span>
                  </span>
                  <span class="osg-radio__label">Disabled</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="osg-paragraph osg-margin-top-20">
        When error is used think about what information you give the user in the error message.<br />
        The length of the error message shouldn't take 100% of the width of the page.
      </p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <div class="osg-row">
                <div class="osg-row__column osg-row__column--6-breakpoint-medium">
                  <div class="osg-devtools-code__box__code">
                    <label class="osg-radio osg-radio--error">
                      <span class="osg-radio__input">
                        <input type="radio" name="radio-55" aria-describedby="error-1" />
                        <span class="osg-radio__control"></span>
                      </span>
                      <span class="osg-radio__label">Error/invalid</span>
                    </label>
                    <div class="osg-radio__error-message" id="error-1">Error message</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <h2 class="osg-heading-3">Default</h2>
      <label class="osg-radio">
        <span class="osg-radio__input">
          <input type="radio" name="radio-1" checked="checked" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Checked</span>
      </label>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium osg-flex-align-self-flex-end">
      <label class="osg-radio">
        <span class="osg-radio__input">
          <input type="radio" name="radio-1" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Unchecked</span>
      </label>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <h2 class="osg-heading-3 osg-margin-top-50">States</h2>
      <label class="osg-radio osg-radio--hover">
        <span class="osg-radio__input">
          <input type="radio" name="radio-2" checked="checked" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Hover</span>
      </label>
      <label class="osg-radio osg-radio--hover">
        <span class="osg-radio__input">
          <input type="radio" name="radio-2" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Hover</span>
      </label>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium osg-flex-align-self-flex-end">
      <label class="osg-radio osg-radio--focus">
        <span class="osg-radio__input">
          <input type="radio" name="radio-3" checked="checked" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Focus/active</span>
      </label>
      <label class="osg-radio osg-radio--focus">
        <span class="osg-radio__input">
          <input type="radio" name="radio-3" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Focus/active</span>
      </label>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium osg-flex-align-self-flex-end">
      <label class="osg-radio osg-radio--disabled">
        <span class="osg-radio__input">
          <input type="radio" name="radio-4" checked="checked" disabled="disabled" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Disabled</span>
      </label>
      <label class="osg-radio osg-radio--disabled">
        <span class="osg-radio__input">
          <input type="radio" name="radio-4" disabled="disabled" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Disabled</span>
      </label>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium osg-flex-align-self-flex-end">
      <label class="osg-radio osg-radio--error">
        <span class="osg-radio__input">
          <input type="radio" name="radio-5" checked="checked" aria-describedby="error-2" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Error/invalid</span>
      </label>
      <label class="osg-radio osg-radio--error">
        <span class="osg-radio__input">
          <input type="radio" name="radio-5" aria-describedby="error-2" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Error/invalid</span>
      </label>
      <div class="osg-radio__error-message" id="error-2">Error message</div>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium osg-flex-align-self-flex-end">
      <label class="osg-radio">
        <span class="osg-radio__input">
          <input type="radio" name="radio-6" checked="checked" aria-describedby="required-2" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Required</span>
      </label>
      <label class="osg-radio">
        <span class="osg-radio__input">
          <input type="radio" name="radio-5" aria-describedby="required-2" />
          <span class="osg-radio__control"></span>
        </span>
        <span class="osg-radio__label">Required</span>
      </label>
      <div class="osg-radio__required" id="required-1">* Required</div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12 osg-padding-bottom-none">
      <h2 class="osg-heading-3 osg-margin-top-30">Vue</h2>
    </div>
    <div class="osg-row__column osg-row__column--4-breakpoint-medium">
      <div id="osg-radio-vue-1">
        <ul>
          <li>
            <osg-radio selected="2" error-id="osg-vue-radio-component-1" label="Item 1" name="item" value="1" />
          </li>
          <li>
            <osg-radio selected="2" error-id="osg-vue-radio-component-2" label="Item 2" name="item" value="2" />
          </li>
          <li>
            <osg-radio selected="2" error-id="osg-vue-radio-component-3" label="Item 3" name="item" value="3" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
