<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">A radio button is a graphical control element that allows the user to choose only one of a predefined set of mutually exclusive options.</p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>The radio button text should never take the 100% width of the page in medium and up breakpoints. Radio button groups should always be grouped using <b> &lt;fieldset&gt; </b> .</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h3 class="ods-devtools-text-preset-1">Default</h3>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-radio">
                  <label class="ods-radio__input">
                    <input type="radio" name="radio-11" />
                    <span class="ods-radio__control"></span>
                    <span class="ods-radio__text">Text</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-radio">
                  <span class="ods-radio__label"> Label </span>
                  <label class="ods-radio__input">
                    <input type="radio" name="radio-11" checked="checked" />
                    <span class="ods-radio__control"></span>
                    <span class="ods-radio__text">Text</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-radio">
                  <label class="ods-radio__input ods-radio--text-align-top">
                    <input type="radio" name="radio-11" />
                    <span class="ods-radio__control"></span>
                    <span class="ods-radio__text"> Lorem Ipsum is simply dummy text of the print and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-radio">
                  <label class="ods-radio__input">
                    <input type="radio" name="radio-11" />
                    <span class="ods-radio__control"></span>
                    <span class="ods-radio__text">Text</span>
                  </label>
                </div>
                <div class="ods-radio__required" id="required-1">* Required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">States</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <div class="ods-radio ods-radio--disabled">
                  <label class="ods-radio__input">
                    <input type="radio" name="radio-44" disabled="disabled" />
                    <span class="ods-radio__control"></span>
                    <span class="ods-radio__text">Disabled</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="ods-paragraph ods-margin-top-20">
        When error is used think about what information you give the user in the error message.<br />
        The length of the error message shouldn't take 100% of the width of the page.
      </p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-grid">
                <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
                  <div class="ods-devtools-code__box__code">
                    <div class="ods-radio ods-radio--error">
                      <label class="ods-radio__input">
                        <input type="radio" name="radio-55" aria-describedby="error-1" />
                        <span class="ods-radio__control"></span>
                        <span class="ods-radio__text">Error/invalid</span>
                      </label>
                    </div>
                    <div class="ods-radio__error-message" id="error-1"><span class="ods-radio__icon ods-icon--error-hexa" aria-hidden="true"></span>Error message</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Default</h2>
        </div>
      </div>
      <div class="ods-grid">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-radio">
            <label class="ods-radio__input">
              <input type="radio" name="radio-1" checked="checked" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Checked</span>
            </label>
          </div>
          <div class="ods-radio">
            <label class="ods-radio__input">
              <input type="radio" name="radio-1" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Unchecked</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">States</h2>
        </div>
      </div>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-radio ods-radio--hover">
            <label class="ods-radio__input">
              <input type="radio" name="radio-2" checked="checked" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Hover</span>
            </label>
          </div>
          <div class="ods-radio ods-radio--hover">
            <label class="ods-radio__input">
              <input type="radio" name="radio-2" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Hover</span>
            </label>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-radio ods-radio--focus">
            <label class="ods-radio__input">
              <input type="radio" name="radio-3" checked="checked" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Focus/active</span>
            </label>
          </div>
          <div class="ods-radio ods-radio--focus">
            <label class="ods-radio__input">
              <input type="radio" name="radio-3" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Focus/active</span>
            </label>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-radio ods-radio--disabled">
            <label class="ods-radio__input">
              <input type="radio" name="radio-4" disabled="disabled" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Disabled</span>
            </label>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-radio ods-radio--error">
            <label class="ods-radio__input">
              <input type="radio" name="radio-5" checked="checked" aria-describedby="error-2" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Error/invalid</span>
            </label>
          </div>
          <div class="ods-radio ods-radio--error">
            <label class="ods-radio__input">
              <input type="radio" name="radio-5" aria-describedby="error-2" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Error/invalid</span>
            </label>
          </div>
          <div class="ods-radio__error-message" id="error-2"><span class="ods-radio__icon ods-icon--error-hexa" aria-hidden="true"></span>Error message</div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-radio">
            <label class="ods-radio__input">
              <input type="radio" name="radio-6" checked="checked" aria-describedby="required-2" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Required</span>
            </label>
          </div>
          <div class="ods-radio">
            <label class="ods-radio__input">
              <input type="radio" name="radio-5" aria-describedby="required-2" />
              <span class="ods-radio__control"></span>
              <span class="ods-radio__text">Required</span>
            </label>
          </div>
          <div class="ods-radio__required" id="required-1">* Required</div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Vue</h2>
      <div id="ods-radio-vue-1">
        <ods-radiogroup name="radiogrouptest" :fieldset-text="fieldsetText" :selected="selectedValue" error-id="radiogrouptest-error" :items="items" v-on:select="(value) => {selectedValue = value}"></ods-radiogroup>
        <p class="ods-paragraph ods-margin-top-20">Value: {{ selectedValue }}</p>
      </div>
    </div>
  </div>
</div>
