{% set hasContent = contentBox.content is defined and contentBox.content is not empty %}
{% set contentBoxVariant = contentBox.variant | default('osg-v-default') %}
{% set contentBoxModifiers = contentBox.modifiers | default(null) %}

<div class="osg-content-box {{ contentBox.variant | default('osg-v-default')  }} {{ contentBox.modifiers | default(null) }}">
  <div class="osg-container">
    {% block head %}
    {% endblock %}
    {% block body %}
    {% if hasContent %}
      <div class="osg-content">
        {{ contentBox.content | raw }}
      </div>
    {% endif %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
  </div>
</div>
