@use "system/breakpoints";
@use "system/colors";
@use "system/fonts";
@use "system/spacing";

.osg-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  @extend %osg-text-left;

  &__caption {
    @extend %osg-heading-4;
    @extend %osg-text-left;
  }

  &__head {
    .osg-table__heading {
      vertical-align: top;
      @extend %osg-heading-4;
    }
  }

  &__body {
    .osg-table__row:nth-child(odd) {
      @extend %osg-color-bg-beige;
    }
  }

  &__heading, &__cell {
    @extend %osg-padding-15;
  }

  &__heading:first-child, &__cell:first-child {
    @extend %osg-padding-left-30-breakpoint-medium;
    @extend %osg-padding-left-75-breakpoint-large;
  }

  &__heading:last-child, &__cell:last-child {
    @extend %osg-padding-right-30-breakpoint-medium;
    @extend %osg-padding-right-75-breakpoint-large;
  }

  &--left-right {
    .osg-table__heading:last-child, .osg-table__cell:last-child {
      @extend %osg-text-right;
    }
  }
}
