@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/spacing";

.ods-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  text-align: left;

  &__caption {
    text-align: left;
    @extend %ods-text--size-india, %ods-text--size-hotel-breakpoint-medium, %ods-text--size-golf-breakpoint-large;
    @include typography.weight("medium");
  }

  &__heading,
  &__cell {
    @extend %ods-padding-4;
  }

  &__head {
    .ods-table__heading {
      vertical-align: top;
      @extend %ods-text--size-kilo, %ods-text--size-juliett-breakpoint-large;
      @extend %ods-text--weight-medium;
    }
  }

  &__body {
    .ods-table__row:nth-child(odd) {
      @extend %ods-color-bg-beige;
    }
  }


  &__heading:first-child,
  &__cell:first-child {
    @extend %ods-padding-left-8-breakpoint-medium;
  }

  &__heading:last-child,
  &__cell:last-child {
    @extend %ods-padding-right-8-breakpoint-medium;
  }

  &--left-right {
    .ods-table__heading:last-child,
    .ods-table__cell:last-child {
      text-align: right;
    }
  }

  &--full-width {
    width: 100%;
    display: inline-table;
  }
}
