@use "core/config/colors" as *;

.osg-table {
  th, td {
    padding: 10px 0;
  }

  thead {
    tr {
      th {
        border-bottom: 1px solid $black;
      }
      th:not(:first-child) {
        padding-left: 60px;
      }
    }
  }

  tbody {
    tr {
      th, td {
        border-bottom: 1px solid $gray;
      }
      td:not(:first-child) {
        padding-left: 60px;
      }
    }
  }
}
