<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-30">
        <h2 class="osg-infobox__heading">Important</h2>
        <p class="osg-paragraph">
          It is important to see if the information flow works on Small devices. 
          Table is a component that is difficult to get responsive.
        </p>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <table class="osg-table">
            <thead class="osg-table__head">
              <tr class="osg-table__row">
                <th class="osg-table__heading">Header</th>
                <th class="osg-table__heading">Header</th>
                <th class="osg-table__heading">Header</th>
                <th class="osg-table__heading">Header</th>
                <th class="osg-table__heading">Header</th>
              </tr>
            </thead>
            <tbody class="osg-table__body">
              <tr class="osg-table__row">
                <th class="osg-table__heading">First row header</th>
                <td class="osg-table__cell">Value of the current item</td>
                <td class="osg-table__cell">3.1415926535</td>
                <td class="osg-table__cell">3.1415926535</td>
                <td class="osg-table__cell">3.1415926535</td>
              </tr>
              <tr class="osg-table__row">
                <th class="osg-table__heading">Second row header</th>
                <td class="osg-table__cell">Value of the current item</td>
                <td class="osg-table__cell">10</td>
                <td class="osg-table__cell">13.1415926535</td>
                <td class="osg-table__cell">6.57079632675</td>
              </tr>
              <tr class="osg-table__row">
                <th class="osg-table__heading">Third row header</th>
                <td class="osg-table__cell">Value of the current item</td>
                <td class="osg-table__cell">33.33</td>
                <td class="osg-table__cell">46.4715926535</td>
                <td class="osg-table__cell">15.4905308845</td>
              </tr>
              <tr class="osg-table__row">
                <th class="osg-table__heading">Fourth row header</th>
                <td class="osg-table__cell">Value of the current item</td>
                <td class="osg-table__cell">42</td>
                <td class="osg-table__cell">88.4715926535</td>
                <td class="osg-table__cell">22.117898163375</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">3 columns</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <table class="osg-table">
            <caption class="osg-table__caption">This is the table caption</caption>
            <thead class="osg-table__head">
              <tr class="osg-table__row">
                <th class="osg-table__heading">Column 1</th>
                <th class="osg-table__heading">Column 2</th>
                <th class="osg-table__heading">Column 3</th>
              </tr>
            </thead>
            <tbody class="osg-table__body">
              <tr class="osg-table__row">
                <td class="osg-table__cell" colspan="2" class="osg-table__cell">Colspan 2, when an unknown printer took a 
                galley of type and scrambled it.</td>
                <td class="osg-table__cell">Banana</td>
              </tr>
              <tr class="osg-table__row">
                <td class="osg-table__cell" colspan="2" class="osg-table__cell">Colpspan 2, It has survived not only five 
                centuries, but also the leap into electronic typesetting.</td>
                <td class="osg-table__cell">Apple</td>
              </tr>
              <tr class="osg-table__row">
                <td class="osg-table__cell">It was popularised in the 1960s.</td>
                <td class="osg-table__cell">42</td>
                <td class="osg-table__cell">49</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">2 columns</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <table class="osg-table osg-table--left-right">
            <thead class="osg-table__head">
              <tr class="osg-table__row">
                <th class="osg-table__heading">Lefty</th>
                <th class="osg-table__heading">Righty</th>
              </tr>
            </thead>
            <tbody class="osg-table__body">
              <tr class="osg-table__row">
                <td class="osg-table__cell">Lorem Ipsum passages</td>
                <td class="osg-table__cell">3.1415926535</td>
              </tr>
              <tr class="osg-table__row">
                <td class="osg-table__cell">More recently with desktop</td>
                <td class="osg-table__cell">10</td>
              </tr>
              <tr class="osg-table__row">
                <td class="osg-table__cell">Aldus PageMaker</td>
                <td class="osg-table__cell">33.33</tdclass=>
              </tr>
              <tr class="osg-table__row">
                <td class="osg-table__cell">Including versions of Lorem Ipsum</td>
                <td class="osg-table__cell">42</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
      <table class="osg-table">
        <thead class="osg-table__head">
          <tr class="osg-table__row">
            <th class="osg-table__heading">Header</th>
            <th class="osg-table__heading">Header</th>
            <th class="osg-table__heading">Header</th>
            <th class="osg-table__heading">Header</th>
            <th class="osg-table__heading">Header</th>
          </tr>
        </thead>
        <tbody class="osg-table__body">
          <tr class="osg-table__row">
            <th class="osg-table__heading">First row header</th>
            <td class="osg-table__cell">Value of the current item</td>
            <td class="osg-table__cell">3.1415926535</td>
            <td class="osg-table__cell">3.1415926535</td>
            <td class="osg-table__cell">3.1415926535</td>
          </tr>
          <tr class="osg-table__row">
            <th class="osg-table__heading">Second row header</th>
            <td class="osg-table__cell">Value of the current item</td>
            <td class="osg-table__cell">10</td>
            <td class="osg-table__cell">13.1415926535</td>
            <td class="osg-table__cell">6.57079632675</td>
          </tr>
          <tr class="osg-table__row">
            <th class="osg-table__heading">Third row header</th>
            <td class="osg-table__cell">Value of the current item</td>
            <td class="osg-table__cell">33.33</td>
            <td class="osg-table__cell">46.4715926535</td>
            <td class="osg-table__cell">15.4905308845</td>
          </tr>
          <tr class="osg-table__row">
            <th class="osg-table__heading">Fourth row header</th>
            <td class="osg-table__cell">Value of the current item</td>
            <td class="osg-table__cell">42</td>
            <td class="osg-table__cell">88.4715926535</td>
            <td class="osg-table__cell">22.117898163375</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">3 columns</h2>
      <table class="osg-table">
        <caption class="osg-table__caption">This is the table caption</caption>
        <thead class="osg-table__head">
          <tr class="osg-table__row">
            <th class="osg-table__heading">Column 1</th>
            <th class="osg-table__heading">Column 2</th>
            <th class="osg-table__heading">Column 3</th>
          </tr>
        </thead>
        <tbody class="osg-table__body">
          <tr class="osg-table__row">
            <td class="osg-table__cell" colspan="2" class="osg-table__cell">Colspan 2, when an unknown printer took a 
            galley of type and scrambled it.</td>
            <td class="osg-table__cell">Banana</td>
          </tr>
          <tr class="osg-table__row">
            <td class="osg-table__cell" colspan="2" class="osg-table__cell">Colpspan 2, It has survived not only five 
            centuries, but also the leap into electronic typesetting.</td>
            <td class="osg-table__cell">Apple</td>
          </tr>
          <tr class="osg-table__row">
            <td class="osg-table__cell">It was popularised in the 1960s.</td>
            <td class="osg-table__cell">42</td>
            <td class="osg-table__cell">49</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">2 columns</h2>
      <table class="osg-table osg-table--left-right">
        <thead class="osg-table__head">
          <tr class="osg-table__row">
            <th class="osg-table__heading">Lefty</th>
            <th class="osg-table__heading">Righty</th>
          </tr>
        </thead>
        <tbody class="osg-table__body">
          <tr class="osg-table__row">
            <td class="osg-table__cell">Lorem Ipsum passages</td>
            <td class="osg-table__cell">3.1415926535</td>
          </tr>
          <tr class="osg-table__row">
            <td class="osg-table__cell">More recently with desktop</td>
            <td class="osg-table__cell">10</td>
          </tr>
          <tr class="osg-table__row">
            <td class="osg-table__cell">Aldus PageMaker</td>
            <td class="osg-table__cell">33.33</tdclass=>
          </tr>
          <tr class="osg-table__row">
            <td class="osg-table__cell">Including versions of Lorem Ipsum</td>
            <td class="osg-table__cell">42</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

