@use "system/colors";

.osg-table {
  th, td {
    padding: 10px 0;
  }

  thead {
    tr {
      th {
        border-bottom: 1px solid colors.$black;
      }
      th:not(:first-child) {
        padding-left: 60px;
      }
    }
  }

  tbody {
    tr {
      th, td {
        border-bottom: 1px solid colors.$gray;
      }
      td:not(:first-child) {
        padding-left: 60px;
      }
    }
  }
}
