@use "sass:map";
@use "system/icons";
@use "system/icon-map";

.ods-animation {
  &--rotate::after {
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.3s ease;
  }

  &--rotate-open::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &--rotate-change::after {
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.3s ease;
    background-color: transparent;
  }

  &--rotate-change-open::after {
    transform: translate(-50%, -50%) rotate(180deg);
    content: map.get(icon-map.$icons, "minus-sign") !important;
  }
}
