@use "system/typography";
@use "system/spacing";

.ods-contactpoint {
  &__media {
    @extend %ods-margin-bottom-2;

    max-width: 50%;

    img {
      object-fit: cover;
      width: 100%;
      border-radius: 50%;
    }
  }

  &__heading {
    @extend %ods-text--size-india, %ods-text--size-hotel-breakpoint-large;
    @extend %ods-text--weight-medium;
  }

  &__group {
    @extend %ods-margin-bottom-3;
  }

  &__label {
    @extend %ods-text--size-kilo, %ods-text--size-juliett-breakpoint-large, %ods-text--weight-medium;
  }

  &__value {
    @extend %ods-text--size-kilo, %ods-text--size-juliett-breakpoint-large, %ods-text--weight-light;
  }
}
