<!-- Overview mode -->
<div class="osg-devtools-nondevmode">nondev</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
    <aside class="osg-contactbox">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h3 class="osg-contactbox__heading">Clara Laura Walker</h3>
          <h3 class="osg-contactbox__description">Chief security architect</h3>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <div class="osg-contactbox__label">Phone number</div>
          <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <div class="osg-contactbox__label">E-mail</div>
          <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">some.long.email.address@oslo.kommune.no</a></div>
        </div>
      </div>
    </aside>
  </div>
  <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
    <aside class="osg-contactbox">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h3 class="osg-contactbox__heading">Developer advocate</h3>
          <h3 class="osg-contactbox__description">Joe-Allan Tristain Johnson</h3>
          <div class="osg-contactbox__additional_info">Super duper junior developer</div>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <div class="osg-contactbox__label">Phone number</div>
          <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <div class="osg-contactbox__label">E-mail</div>
          <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">some.long.email.address@oslo.kommune.no</a></div>
        </div>
      </div>
    </aside>
  </div>
  <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
    <aside class="osg-contactbox">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h3 class="osg-contactbox__heading">The department of awesomeness</h3>
          <h3 class="osg-contactbox__description">Hector C. Platt</h3>
          <div class="osg-contactbox__additional_info">Awesome person</div>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <div class="osg-contactbox__label">Phone number</div>
          <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <div class="osg-contactbox__label">E-mail</div>
          <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">some.awesome.email.address@oslo.kommune.no</a></div>
        </div>
      </div>
    </aside>
  </div>
  <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
    <aside class="osg-contactbox">
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <h3 class="osg-contactbox__heading">Sandra Lizette Henderson Smith</h3>
          <h3 class="osg-contactbox__description">Chief operating officer</h3>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <div class="osg-contactbox__label">Phone number</div>
          <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
        </div>
      </div>
      <div class="osg-grid">
        <div class="osg-grid__column--12">
          <div class="osg-contactbox__label">E-mail</div>
          <div class="osg-contactbox__value"><a href="javascript:void(0)" class="osg-link">some.long.email.address@oslo.kommune.no</a></div>
        </div>
      </div>
    </aside>
  </div>
</div>
