<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Contactpoint description.</p>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <p class="ods-paragraph">Default contactpoint.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid ods-grid--gap">
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <section class="ods-contactpoint">
                  <h4 class="ods-contactpoint__heading">Department of Justice</h4>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Jon Snow</div>
                    <div class="ods-contactpoint__value">Title</div>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Phone number</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">E-mail</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">i.have.a.long.name@oslo.kommune.no</a></div>
                  </div>
                </section>
              </div>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <section class="ods-contactpoint">
                  <div class="ods-contactpoint__group">
                    <h4 class="ods-contactpoint__heading">Cocos</h4>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Phone number</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
                  </div>
                </section>
              </div>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <section class="ods-contactpoint">
                  <h4 class="ods-contactpoint__heading">Quality Leader</h4>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Jon Snow</div>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Phone number</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">E-mail</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">i.have.a.long.name@oslo.kommune.no</a></div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Image</h2>
      <p class="ods-paragraph">Contactpoint with image.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid ods-grid--gap">
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <section class="ods-contactpoint">
                  <div class="ods-contactpoint__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/5.jpg" alt="Person" />
                  </div>
                  <h4 class="ods-contactpoint__heading">Jon Snow</h4>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Member of Council</div>
                    <div class="ods-contactpoint__label">Leader of Council</div>
                    <div class="ods-contactpoint__label">Staff</div>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Phone number</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">E-mail</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">i.have.a.long.name@oslo.kommune.no</a></div>
                  </div>
                </section>
              </div>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <section class="ods-contactpoint">
                  <div class="ods-contactpoint__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/3.jpg" alt="Person" />
                  </div>
                  <h4 class="ods-contactpoint__heading">Jon Snow</h4>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Member of Council</div>
                    <div class="ods-contactpoint__label">Leader of Council</div>
                    <div class="ods-contactpoint__label">Staff</div>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Phone number</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">E-mail</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">i.have.a.long.name@oslo.kommune.no</a></div>
                  </div>
                </section>
              </div>
            </div>
            <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <section class="ods-contactpoint">
                  <div class="ods-contactpoint__media">
                    <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/13.jpg" alt="Person" />
                  </div>
                  <h4 class="ods-contactpoint__heading">Jon Snow</h4>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Member of Council</div>
                    <div class="ods-contactpoint__label">Leader of Council</div>
                    <div class="ods-contactpoint__label">Staff</div>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">Phone number</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
                  </div>
                  <div class="ods-contactpoint__group">
                    <div class="ods-contactpoint__label">E-mail</div>
                    <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">i.have.a.long.name@oslo.kommune.no</a></div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <section class="ods-contactpoint">
            <h4 class="ods-contactpoint__heading">Department of Justice</h4>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Jon Snow</div>
              <div class="ods-contactpoint__value">Title</div>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Phone number</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">E-mail</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">i.have.a.long.name@oslo.kommune.no</a></div>
            </div>
          </section>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <section class="ods-contactpoint">
            <div class="ods-contactpoint__group">
              <h4 class="ods-contactpoint__heading">Cocos</h4>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Phone number</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
            </div>
          </section>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <section class="ods-contactpoint">
            <h4 class="ods-contactpoint__heading">Quality Leader</h4>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Jon Snow</div>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Phone number</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">E-mail</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">i.have.a.long.name@oslo.kommune.no</a></div>
            </div>
          </section>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <section class="ods-contactpoint">
            <div class="ods-contactpoint__media">
              <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/5.jpg" alt="Person" />
            </div>
            <h4 class="ods-contactpoint__heading">Jon Snow</h4>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Member of Council</div>
              <div class="ods-contactpoint__label">Leader of Council</div>
              <div class="ods-contactpoint__label">Staff</div>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Phone number</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">E-mail</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">i.have.a.long.name@oslo.kommune.no</a></div>
            </div>
          </section>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <section class="ods-contactpoint">
            <div class="ods-contactpoint__media">
              <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/3.jpg" alt="Person" />
            </div>
            <h4 class="ods-contactpoint__heading">Jon Snow</h4>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Member of Council</div>
              <div class="ods-contactpoint__label">Leader of Council</div>
              <div class="ods-contactpoint__label">Staff</div>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Phone number</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">E-mail</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">i.have.a.long.name@oslo.kommune.no</a></div>
            </div>
          </section>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <section class="ods-contactpoint">
            <div class="ods-contactpoint__media">
              <img src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/300x300/13.jpg" alt="Person" />
            </div>
            <h4 class="ods-contactpoint__heading">Jon Snow</h4>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Member of Council</div>
              <div class="ods-contactpoint__label">Leader of Council</div>
              <div class="ods-contactpoint__label">Staff</div>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">Phone number</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">22 33 44 55</a></div>
            </div>
            <div class="ods-contactpoint__group">
              <div class="ods-contactpoint__label">E-mail</div>
              <div class="ods-contactpoint__value"><a href="javascript:void(0)" class="ods-link">i.have.a.long.name@oslo.kommune.no</a></div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
