<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-text-2">Contactpoint description.</p>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <p class="osg-paragraph">Default contactpoint.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid osg-grid--gap">
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <section class="osg-contactpoint">
                  <h4 class="osg-contactpoint__heading">Department of Justice</h4>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Jon Snow</div>
                    <div class="osg-contactpoint__value">Title</div>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Phone number</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">E-mail</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">i.have.a.long.name@oslo.kommune.no</a></div>
                  </div>
                </section>
              </div>
            </div>
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <section class="osg-contactpoint">
                  <div class="osg-contactpoint__group">
                    <h4 class="osg-contactpoint__heading">Cocos</h4>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Phone number</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
                  </div>
                </section>
              </div>
            </div>
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <section class="osg-contactpoint">
                  <h4 class="osg-contactpoint__heading">Quality Leader</h4>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Jon Snow</div>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Phone number</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">E-mail</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">i.have.a.long.name@oslo.kommune.no</a></div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Image</h2>
      <p class="osg-paragraph">Contactpoint with image.</p>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid osg-grid--gap">
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <section class="osg-contactpoint">
                  <div class="osg-contactpoint__media">
                    <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/5.jpg" alt="Person" />
                  </div>
                  <h4 class="osg-contactpoint__heading">Jon Snow</h4>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Member of Council</div>
                    <div class="osg-contactpoint__label">Leader of Council</div>
                    <div class="osg-contactpoint__label">Staff</div>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Phone number</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">E-mail</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">i.have.a.long.name@oslo.kommune.no</a></div>
                  </div>
                </section>
              </div>
            </div>
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <section class="osg-contactpoint">
                  <div class="osg-contactpoint__media">
                    <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/3.jpg" alt="Person" />
                  </div>
                  <h4 class="osg-contactpoint__heading">Jon Snow</h4>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Member of Council</div>
                    <div class="osg-contactpoint__label">Leader of Council</div>
                    <div class="osg-contactpoint__label">Staff</div>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Phone number</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">E-mail</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">i.have.a.long.name@oslo.kommune.no</a></div>
                  </div>
                </section>
              </div>
            </div>
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <section class="osg-contactpoint">
                  <div class="osg-contactpoint__media">
                    <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/13.jpg" alt="Person" />
                  </div>
                  <h4 class="osg-contactpoint__heading">Jon Snow</h4>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Member of Council</div>
                    <div class="osg-contactpoint__label">Leader of Council</div>
                    <div class="osg-contactpoint__label">Staff</div>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">Phone number</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
                  </div>
                  <div class="osg-contactpoint__group">
                    <div class="osg-contactpoint__label">E-mail</div>
                    <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">i.have.a.long.name@oslo.kommune.no</a></div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-heading-3">Default</h2>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <section class="osg-contactpoint">
            <h4 class="osg-contactpoint__heading">Department of Justice</h4>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Jon Snow</div>
              <div class="osg-contactpoint__value">Title</div>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Phone number</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">E-mail</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">i.have.a.long.name@oslo.kommune.no</a></div>
            </div>
          </section>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <section class="osg-contactpoint">
            <div class="osg-contactpoint__group">
              <h4 class="osg-contactpoint__heading">Cocos</h4>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Phone number</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
            </div>
          </section>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <section class="osg-contactpoint">
            <h4 class="osg-contactpoint__heading">Quality Leader</h4>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Jon Snow</div>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Phone number</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">E-mail</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">i.have.a.long.name@oslo.kommune.no</a></div>
            </div>
          </section>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <section class="osg-contactpoint">
            <div class="osg-contactpoint__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/5.jpg" alt="Person" />
            </div>
            <h4 class="osg-contactpoint__heading">Jon Snow</h4>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Member of Council</div>
              <div class="osg-contactpoint__label">Leader of Council</div>
              <div class="osg-contactpoint__label">Staff</div>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Phone number</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">E-mail</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">i.have.a.long.name@oslo.kommune.no</a></div>
            </div>
          </section>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <section class="osg-contactpoint">
            <div class="osg-contactpoint__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/3.jpg" alt="Person" />
            </div>
            <h4 class="osg-contactpoint__heading">Jon Snow</h4>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Member of Council</div>
              <div class="osg-contactpoint__label">Leader of Council</div>
              <div class="osg-contactpoint__label">Staff</div>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Phone number</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">E-mail</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">i.have.a.long.name@oslo.kommune.no</a></div>
            </div>
          </section>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <section class="osg-contactpoint">
            <div class="osg-contactpoint__media">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/300x300/13.jpg" alt="Person" />
            </div>
            <h4 class="osg-contactpoint__heading">Jon Snow</h4>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Member of Council</div>
              <div class="osg-contactpoint__label">Leader of Council</div>
              <div class="osg-contactpoint__label">Staff</div>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">Phone number</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">22 33 44 55</a></div>
            </div>
            <div class="osg-contactpoint__group">
              <div class="osg-contactpoint__label">E-mail</div>
              <div class="osg-contactpoint__value"><a href="javascript:void(0)" class="osg-link">i.have.a.long.name@oslo.kommune.no</a></div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
