a.osg-social-icon
  @extend .osg-u-text-3
  align-items: center
  display: flex
  text-decoration: none

  div
    margin-right: 10px
    +osg-mq-tablet-and-up
      margin-right: 20px

  &:link,
  &:visited
    text-decoration: none
  &:hover
    text-decoration: underline
    color: black
  &:active
    text-decoration: none

  i
    @extend .osg-u-text-1
  &__text
    align-items: center
    display: flex
