a.osg-social-icon
  @extend .osg-u-text-3
  text-decoration: none

  div
    width: 31px
    +osg-mq-tablet-and-up
      width: 50px

  &:link,
  &:visited
    text-decoration: none
  &:hover
    text-decoration: underline
    color: black
  &:active
    text-decoration: none

  i
    @extend .osg-u-text-1
  &__text
    align-items: center
    display: flex
