@use "system/colors";
@use "system/icons";
@use "system/typography";
@use "system/spacing";

.osg-fieldset {
  :last-child {
    margin-bottom: 0;
  }

  &__required {
    margin-top: spacing.$space-5;
    padding: 0;
    @extend %osg-text-7;
  }

  &--no-border {
    border: none;
    padding: 0;

    legend {
      @extend %osg-text-4;
      margin-bottom: spacing.$space-10;
      padding-bottom: spacing.$space-5;
    }
  }

  &--disabled,
  &:disabled {
    & legend {
      color: colors.$grayscale-40;
    }
  }

  &--error {
    border-color: colors.$red;

    & legend {
      color: colors.$red;
    }
    & legend + div {
      border-color: colors.$red;
    }
  }

  &--filter {
    @extend %osg-margin-bottom-10, %osg-padding-bottom-10;

    border: none;
    border-bottom: 2px solid colors.$blue-dark;

    legend {
      @extend %osg-text-4;
      width: 100%;

      > * {
        display: block;
        cursor: pointer;
        position: relative;
        text-decoration: none;

        &::after {
          font-family: "Oslo Icons";
          font-size: typography.$size-24;
          content: map-get(icons.$icons, "plus-sign");
          position: absolute;
          top: 0;
          right: spacing.$space-5;
        }
      }

      > *.osg-collapsible-trigger--expanded::after {
        content: map-get(icons.$icons, "minus-sign");
      }
    }

    > div:first-of-type {
      margin-top: spacing.$space-10;
    }

    &:first-of-type {
      legend {
        @extend %osg-padding-top-10;
        border-top: 2px solid colors.$blue-dark;
      }
    }

    &:last-of-type {
      @extend %osg-margin-bottom-none;
    }
  }
}
