<div class="osg-container osg-devtools-nondevmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <p class="osg-text-2">
        Fieldset element provides a grouping for a part of an HTML form, with a nested legend element providing a caption for the fieldset.
      </p>
      <div class="osg-infobox osg-infobox--yellow osg-margin-vertical-30">
        <h2 class="osg-infobox__heading">Rules for components</h2>
        <p class="osg-paragraph">
          The content of the fieldset element should never take the 100% width of the page in medium and up breakpoints.
        </p>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <fieldset class="osg-fieldset osg-fieldset--default">
                <legend>Label text:</legend>
                <label class="osg-checkbox">
                  <input type="checkbox" name="checkbox-1" checked="checked">
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text">
                    Text
                  </span>
                </label>
                <label class="osg-checkbox">
                  <input type="checkbox" name="checkbox-1">
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text">
                    Text
                  </span>
                </label>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">Label over</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <fieldset class="osg-fieldset osg-fieldset--border-under">
                <legend>Label text:</legend>
                <div>
                  <label class="osg-checkbox">
                    <input type="checkbox" name="checkbox-1" checked="checked">
                    <span class="osg-checkbox__checkmark"></span>
                    <span class="osg-checkbox__text">
                      Text
                    </span>
                  </label>
                  <label class="osg-checkbox">
                    <input type="checkbox" name="checkbox-1">
                    <span class="osg-checkbox__checkmark"></span>
                    <span class="osg-checkbox__text">
                      Text
                    </span>
                  </label>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-devtools-heading">No border</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-row">
            <div class="osg-row__column osg-row__column--6-breakpoint-medium">
              <fieldset class="osg-fieldset osg-fieldset--no-border">
                <legend>Select the options:</legend>
                <label class="osg-checkbox">
                  <input type="checkbox" name="checkbox-1" checked="checked">
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text">
                    Option 1
                  </span>
                </label>
                <label class="osg-checkbox">
                  <input type="checkbox" name="checkbox-1">
                  <span class="osg-checkbox__checkmark"></span>
                  <span class="osg-checkbox__text">
                    Option 2
                  </span>
                </label>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="osg-container osg-devtools-devmode">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <fieldset class="osg-fieldset osg-fieldset--default">
          <legend>Select the options:</legend>
          <label class="osg-checkbox">
            <input type="checkbox" name="checkbox-1" checked="checked">
            <span class="osg-checkbox__checkmark"></span>
            <span class="osg-checkbox__text">
              Option 1
            </span>
          </label>
          <label class="osg-checkbox">
            <input type="checkbox" name="checkbox-1">
            <span class="osg-checkbox__checkmark"></span>
            <span class="osg-checkbox__text">
              Option 2
            </span>
          </label>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Fieldset with border under</h2>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <fieldset class="osg-fieldset osg-fieldset--border-under">
          <legend>Select the options:</legend>
          <div>
            <label class="osg-checkbox">
              <input type="checkbox" name="checkbox-1" checked="checked">
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text">
                Option 1
              </span>
            </label>
            <label class="osg-checkbox">
              <input type="checkbox" name="checkbox-1">
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text">
                Option 2
              </span>
            </label>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Fieldset with no border</h2>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <fieldset class="osg-fieldset osg-fieldset--no-border">
          <legend>Select the options:</legend>
          <label class="osg-checkbox">
            <input type="checkbox" name="checkbox-1" checked="checked">
            <span class="osg-checkbox__checkmark"></span>
            <span class="osg-checkbox__text">
              Option 1
            </span>
          </label>
          <label class="osg-checkbox">
            <input type="checkbox" name="checkbox-1">
            <span class="osg-checkbox__checkmark"></span>
            <span class="osg-checkbox__text">
              Option 2
            </span>
          </label>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">States</h2>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <fieldset class="osg-fieldset osg-fieldset--border-under" disabled="disabled">
          <legend>Disabled</legend>
          <div>
            <label class="osg-checkbox">
              <input type="checkbox" name="checkbox-1" checked="checked" disabled="disabled">
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text">
                Option 1
              </span>
            </label>
            <label class="osg-checkbox">
              <input type="checkbox" name="checkbox-1" disabled="disabled">
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text">
                Option 2
              </span>
            </label>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <fieldset
          class="osg-fieldset osg-fieldset--border-under osg-fieldset--error"
          aria-describedby="error-1">
          <legend>Error:</legend>
          <div>
            <label class="osg-checkbox osg-checkbox--error">
              <input type="checkbox" name="checkbox-1" checked="checked">
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text">
                Option 1
              </span>
            </label>
            <label class="osg-checkbox osg-checkbox--error">
              <input type="checkbox" name="checkbox-1" aria-describedby="error-1">
              <span class="osg-checkbox__checkmark"></span>
              <span class="osg-checkbox__text">
                Option 2
              </span>
            </label>
            <div class="osg-input__error-message" id="error-1">Error message</div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <fieldset class="osg-fieldset osg-fieldset--default" disabled="disabled">
          <legend>Disabled</legend>
          <label class="osg-checkbox">
            <input type="checkbox" name="checkbox-1" checked="checked">
            <span class="osg-checkbox__checkmark"></span>
            <span class="osg-checkbox__text">
              Option 1
            </span>
          </label>
          <label class="osg-checkbox">
            <input type="checkbox" name="checkbox-1">
            <span class="osg-checkbox__checkmark"></span>
            <span class="osg-checkbox__text">
              Option 2
            </span>
          </label>
        </fieldset>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--6-breakpoint-medium">
      <div class="osg-devtools-code">
        <fieldset class="osg-fieldset osg-fieldset--default osg-fieldset--error">
          <legend>Error</legend>
          <label class="osg-checkbox osg-checkbox--error">
            <input type="checkbox" name="checkbox-1" checked="checked">
            <span class="osg-checkbox__checkmark"></span>
            <span class="osg-checkbox__text">
              Option 1
            </span>
          </label>
          <label class="osg-checkbox osg-checkbox--error">
            <input type="checkbox" name="checkbox-1" aria-describedby="error-2">
            <span class="osg-checkbox__checkmark"></span>
            <span class="osg-checkbox__text">
              Option 2
            </span>
          </label>
          <div class="osg-input__error-message" id="error-2">Error message</div>
        </fieldset>
      </div>
    </div>
  </div>
</div>