@use "system/colors";
@use "system/fonts";
@use "system/spacing";

.osg-fieldset {
  :last-child {
    margin-bottom: 0;
  }

  &--default {
    border: 1px solid colors.$grayscale-40;
    padding: 0 spacing.$space-15 spacing.$space-15 spacing.$space-15;

    legend {
      @extend %osg-text-4;
      padding: spacing.$space-5;
    }
  }

  &--no-border {
    border: none;
    padding: 0;

    legend {
      @extend %osg-text-4;
      margin-bottom: spacing.$space-10;
      padding-bottom: spacing.$space-5;
    }
  }

  &--border-under {
    border: none;

    legend {
      @extend %osg-text-4;
      margin-bottom: spacing.$space-10;
      padding-bottom: spacing.$space-5;
    }

    legend + div {
      border: 1px solid colors.$grayscale-40;
      margin-left: spacing.$space-15;
      padding: spacing.$space-15;
    }
  }

  &--disabled,
  &:disabled {
    & legend {
      color: colors.$grayscale-40;
    }
  }

  &--error {
    border-color: colors.$red;

    & legend {
      color: colors.$red;
    }
    & legend + div {
      border-color: colors.$red;
    }
  }
}
