<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Fieldset element provides a grouping for a part of an HTML form, with a nested legend element providing a caption for the fieldset.</p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p class="ods-paragraph">The content of the fieldset element should never take the 100% width of the page in medium and up breakpoints.</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <fieldset class="ods-fieldset ods-fieldset--no-border">
            <legend class="ods-fieldset__legend">Select the options:</legend>
            <div class="ods-checkbox">
              <label class="ods-checkbox__wrapper">
                <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked"/>
                <span class="ods-checkbox__checkmark"></span>
                <span class="ods-checkbox__text">Option 1</span>
              </label>
            </div>
            <div class="ods-checkbox">
              <label class="ods-checkbox__wrapper">
                <input class="ods-checkbox__input" type="checkbox" name="checkbox-1"/>
                <span class="ods-checkbox__checkmark"></span>
                <span class="ods-checkbox__text">Option 2</span>
              </label>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <fieldset class="ods-fieldset ods-fieldset--no-border">
            <legend class="ods-fieldset__legend">Choose an option:</legend>
            <div class="ods-radio">
              <label class="ods-radio__input">
                <input type="radio" name="radio-1" checked="checked">
                <span class="ods-radio__control"></span>
                <span class="ods-radio__text">Option 1</span>
              </label>
            </div>
            <div class="ods-radio">
              <label class="ods-radio__input">
                <input type="radio" name="radio-1">
                <span class="ods-radio__control"></span>
                <span class="ods-radio__text">Option 2</span>
              </label>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Required</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <fieldset class="ods-fieldset ods-fieldset--no-border" aria-describedby="required-1">
            <legend class="ods-fieldset__legend">Select the options:</legend>

            <div class="ods-checkbox">
              <label class="ods-checkbox__wrapper">
                <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked"/>
                <span class="ods-checkbox__checkmark"></span>
                <span class="ods-checkbox__text">Option 1</span>
              </label>
            </div>
            <div class="ods-checkbox">
              <label class="ods-checkbox__wrapper">
                <input class="ods-checkbox__input" type="checkbox" name="checkbox-1"/>
                <span class="ods-checkbox__checkmark"></span>
                <span class="ods-checkbox__text">Option 2</span>
              </label>
            </div>
          </fieldset>
          <div class="ods-fieldset__required" id="required-1">* Required</div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Filter style w/collapsible</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
              <div class="ods-devtools-code__box__code">
                <fieldset class="ods-fieldset ods-fieldset--filter">
                  <legend class="ods-fieldset__legend"><a href="#" class="ods-collapsible-trigger" aria-expanded="false" aria-controls="ods-fieldset--filter-1">Options</a></legend>
                  <div id="ods-fieldset--filter-1" class="ods-collapsible-content ods-collapsible-content--collapsed ods-collapsible-content--ease">
                    <div class="ods-checkbox">
                      <label class="ods-checkbox__wrapper">
                        <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked"/>
                        <span class="ods-checkbox__checkmark"></span>
                        <span class="ods-checkbox__text">Option 1</span>
                      </label>
                    </div>
                    <div class="ods-checkbox">
                      <label class="ods-checkbox__wrapper">
                        <input class="ods-checkbox__input" type="checkbox" name="checkbox-1"/>
                        <span class="ods-checkbox__checkmark"></span>
                        <span class="ods-checkbox__text">Option 2</span>
                      </label>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="ods-fieldset ods-fieldset--filter">
                  <legend class="ods-fieldset__legend"><a href="#" class="ods-collapsible-trigger" aria-expanded="false" aria-controls="ods-fieldset--filter-2">Options</a></legend>
                  <div id="ods-fieldset--filter-2" class="ods-collapsible-content ods-collapsible-content--collapsed ods-collapsible-content--ease">
                    <div class="ods-checkbox">
                      <label class="ods-checkbox__wrapper">
                        <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked"/>
                        <span class="ods-checkbox__checkmark"></span>
                        <span class="ods-checkbox__text">Option 1</span>
                      </label>
                    </div>
                    <div class="ods-checkbox">
                      <label class="ods-checkbox__wrapper">
                        <input class="ods-checkbox__input" type="checkbox" name="checkbox-1"/>
                        <span class="ods-checkbox__checkmark"></span>
                        <span class="ods-checkbox__text">Option 2</span>
                      </label>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="ods-fieldset ods-fieldset--filter">
                  <legend class="ods-fieldset__legend"><a href="#" class="ods-collapsible-trigger" aria-expanded="false" aria-controls="ods-fieldset--filter-3">Options</a></legend>
                  <div id="ods-fieldset--filter-3" class="ods-collapsible-content ods-collapsible-content--collapsed ods-collapsible-content--ease">
                    <div class="ods-checkbox">
                      <label class="ods-checkbox__wrapper">
                        <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked"/>
                        <span class="ods-checkbox__checkmark"></span>
                        <span class="ods-checkbox__text">Option 1</span>
                      </label>
                    </div>
                    <div class="ods-checkbox">
                      <label class="ods-checkbox__wrapper">
                        <input class="ods-checkbox__input" type="checkbox" name="checkbox-1"/>
                        <span class="ods-checkbox__checkmark"></span>
                        <span class="ods-checkbox__text">Option 2</span>
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Default</h2>
        </div>
      </div>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <fieldset class="ods-fieldset ods-fieldset--no-border">
            <legend class="ods-fieldset__legend">Select the options:</legend>
            <div class="ods-checkbox">
              <label class="ods-checkbox__wrapper">
                <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked"/>
                <span class="ods-checkbox__checkmark"></span>
                <span class="ods-checkbox__text">Option 1</span>
              </label>
            </div>
            <div class="ods-checkbox">
              <label class="ods-checkbox__wrapper">
                <input class="ods-checkbox__input" type="checkbox" name="checkbox-1"/>
                <span class="ods-checkbox__checkmark"></span>
                <span class="ods-checkbox__text">Option 2</span>
              </label>
            </div>
          </fieldset>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <fieldset class="ods-fieldset ods-fieldset--no-border">
            <legend class="ods-fieldset__legend">Choose an option:</legend>
            <div class="ods-radio">
              <label class="ods-radio__input">
                <input type="radio" name="radio-2" checked="checked">
                <span class="ods-radio__control"></span>
                <span class="ods-radio__text">Text</span>
              </label>
            </div>

            <div class="ods-radio">
              <label class="ods-radio__input">
                <input type="radio" name="radio-2">
                <span class="ods-radio__control"></span>
                <span class="ods-radio__text">Text</span>
              </label>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">States</h2>
        </div>
      </div>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <fieldset class="ods-fieldset ods-fieldset--no-border" disabled="disabled">
            <legend class="ods-fieldset__legend">Disabled</legend>
            <div>
              <div class="ods-checkbox">
                <label class="ods-checkbox__wrapper">
                  <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked" disabled="disabled"/>
                  <span class="ods-checkbox__checkmark"></span>
                  <span class="ods-checkbox__text">Option 1</span>
                </label>
              </div>
              <div class="ods-checkbox">
                <label class="ods-checkbox__wrapper">
                  <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" disabled="disabled"/>
                  <span class="ods-checkbox__checkmark"></span>
                  <span class="ods-checkbox__text">Option 2</span>
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <fieldset class="ods-fieldset ods-fieldset--no-border" disabled="disabled">
            <legend class="ods-fieldset__legend">Disabled</legend>
            <div>
              <div class="ods-radio ods-radio--disabled">
                <label class="ods-radio__input">
                  <input type="radio" name="radio-3" disabled="disabled" checked="checked">
                  <span class="ods-radio__control"></span>
                  <span class="ods-radio__text">Option 1</span>
                </label>
              </div>
              <div class="ods-radio ods-radio--disabled">
                <label class="ods-radio__input">
                  <input type="radio" name="radio-3" disabled="disabled">
                  <span class="ods-radio__control"></span>
                  <span class="ods-radio__text">Option 2</span>
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <fieldset class="ods-fieldset ods-fieldset--no-border ods-fieldset--error" aria-describedby="error-1">
            <legend class="ods-fieldset__legend">Error:</legend>
            <div>
              <div class="ods-checkbox ods-checkbox--error">
                <label class="ods-checkbox__wrapper">
                  <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked" aria-describedby="error-1"/>
                  <span class="ods-checkbox__checkmark"></span>
                  <span class="ods-checkbox__text">Option 1</span>
                </label>
              </div>
              <div class="ods-checkbox ods-checkbox--error">
                <label class="ods-checkbox__wrapper">
                  <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked" aria-describedby="error-1"/>
                  <span class="ods-checkbox__checkmark"></span>
                  <span class="ods-checkbox__text">Option 1</span>
                </label>
              </div>
              <div class="ods-checkbox ods-checkbox--error-message" id="error-1">Error message</div>
            </div>
          </fieldset>
        </div>

        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <fieldset class="ods-fieldset ods-fieldset--no-border ods-fieldset--error" aria-describedby="error-1">
            <legend class="ods-fieldset__legend">Error:</legend>
            <div>
              <div class="ods-radio ods-radio--error">
                <label class="ods-radio__input">
                  <input type="radio" name="radio-4" checked="checked" aria-describedby="error-1">
                  <span class="ods-radio__control"></span>
                  <span class="ods-radio__text">Option 1</span>
                </label>
              </div>
              <div class="ods-radio ods-radio--error">
                <label class="ods-radio__input">
                  <input type="radio" name="radio-4" aria-describedby="error-2">
                  <span class="ods-radio__control"></span>
                  <span class="ods-radio__text">Option 2</span>
                </label>
              </div>
              <div class="ods-radio__error-message" id="error-2">Error message</div>
            </div>
          </fieldset>
        </div>

        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <fieldset class="ods-fieldset ods-fieldset--no-border" aria-describedby="required-2">
            <legend class="ods-fieldset__legend">Required</legend>
            <div>
              <div class="ods-checkbox">
                <label class="ods-checkbox__wrapper">
                  <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked"/>
                  <span class="ods-checkbox__checkmark"></span>
                  <span class="ods-checkbox__text">Option 1</span>
                </label>
              </div>
              <div class="ods-checkbox">
                <label class="ods-checkbox__wrapper">
                  <input class="ods-checkbox__input" type="checkbox" name="checkbox-1"/>
                  <span class="ods-checkbox__checkmark"></span>
                  <span class="ods-checkbox__text">Option 2</span>
                </label>
              </div>
            </div>
          </fieldset>
          <div class="ods-fieldset__required" id="required-2">* Required</div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
          <h2 class="ods-devtools-text-preset-2">Filter style w/collapsible</h2>
          <fieldset class="ods-fieldset ods-fieldset--filter">
            <legend class="ods-fieldset__legend"><a href="#" class="ods-collapsible-trigger" aria-expanded="false" aria-controls="ods-fieldset--filter-4">Options</a></legend>
            <div id="ods-fieldset--filter-4" class="ods-collapsible-content ods-collapsible-content--collapsed ods-collapsible-content--ease">
                <div class="ods-checkbox ods-margin-bottom-1">
                  <label class="ods-checkbox__wrapper">
                    <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked"/>
                    <span class="ods-checkbox__checkmark"></span>
                    <span class="ods-checkbox__text">Option 1</span>
                  </label>
                </div>
                <div class="ods-checkbox">
                  <label class="ods-checkbox__wrapper">
                    <input class="ods-checkbox__input" type="checkbox" name="checkbox-1"/>
                    <span class="ods-checkbox__checkmark"></span>
                    <span class="ods-checkbox__text">Option 2</span>
                  </label>
                </div>
            </div>
          </fieldset>
          <fieldset class="ods-fieldset ods-fieldset--filter">
            <legend class="ods-fieldset__legend"><a href="#" class="ods-collapsible-trigger" aria-expanded="false" aria-controls="ods-fieldset--filter-5">Options</a></legend>
            <div id="ods-fieldset--filter-5" class="ods-collapsible-content ods-collapsible-content--collapsed ods-collapsible-content--ease">
              <div class="ods-checkbox ods-margin-bottom-1">
                <label class="ods-checkbox__wrapper">
                  <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked"/>
                  <span class="ods-checkbox__checkmark"></span>
                  <span class="ods-checkbox__text">Option 1</span>
                </label>
              </div>
              <div class="ods-checkbox">
                <label class="ods-checkbox__wrapper">
                  <input class="ods-checkbox__input" type="checkbox" name="checkbox-1"/>
                  <span class="ods-checkbox__checkmark"></span>
                  <span class="ods-checkbox__text">Option 2</span>
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset class="ods-fieldset ods-fieldset--filter">
            <legend class="ods-fieldset__legend"><a href="#" class="ods-collapsible-trigger" aria-expanded="false" aria-controls="ods-fieldset--filter-6">Options</a></legend>
            <div id="ods-fieldset--filter-6" class="ods-collapsible-content ods-collapsible-content--collapsed ods-collapsible-content--ease">
                <div class="ods-checkbox ods-margin-bottom-1">
                  <label class="ods-checkbox__wrapper">
                    <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" checked="checked" disabled="disabled"/>
                    <span class="ods-checkbox__checkmark"></span>
                    <span class="ods-checkbox__text">Option 1</span>
                  </label>
                </div>
                <div class="ods-checkbox">
                  <label class="ods-checkbox__wrapper">
                    <input class="ods-checkbox__input" type="checkbox" name="checkbox-1" disabled="disabled"/>
                    <span class="ods-checkbox__checkmark"></span>
                    <span class="ods-checkbox__text">Option 2</span>
                  </label>
                </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
