.osg-icon
  @extend .osg-u-icon-calendar
  width: 31px
  height: 31px
  +osg-mq-tablet-and-up
    width: 50px
    height: 50px
  &.osg-v-icon-calendar
    @extend .osg-u-icon-calendar
  &.osg-v-icon-location
    @extend .osg-u-icon-location
  &.osg-v-icon-payment
    @extend .osg-u-icon-payment
  &.osg-v-icon-smiley
    @extend .osg-u-icon-smiley
  &.osg-v-icon-sun
    @extend .osg-u-icon-sun
  &.osg-v-icon-chevron-right
    @extend .osg-u-icon-chevron-right

