<div class="osg-icon {{ icon.variant | default('osg-v-default') }} {{ icon.modifiers | default(null) }}">
{% if icon.description is defined %}
  <span class="osg-sr-only">{{ icon.description }}</span>
{% endif %}
</div>
