{% set iconVariant = icon.variant | default('osg-v-default') %}
{% set iconModifiers = icon.modifiers | default('osg-u-icon-chevron-right') %}

<div class="osg-icon {{ iconVariant }}">
{% if icon.srText is defined %}
  <span class="osg-sr-only">{{ icon.srText }}</span>
{% endif %}
</div>
