.osg-icon, %osg-icon
  font-size: 32px
  display: inline-flex
  &:before
    font-family: 'Oslo Icons'
    font-style: normal
    line-height: 1
  &:before,
  &:hover:before
    color: inherit

// Generating icon classes
@each $name, $content in $osg-icons
  .osg-icon--#{$name}, %osg-icon--#{$name}
    &:before
      content: "#{$content}"
