@use "system/typography";
@use "system/colors";
@use "system/spacing";
@use "./maplibre";

.ods-map {
  &--static {
    height: 380px;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__container {
    width: 100%;
  }

  &__popup-content {
    @extend %ods-text--size-kilo, %ods-text--size-juliett-breakpoint-large;
    @extend %ods-padding-1;
  }

  &__heading {
    @extend %ods-text--size-juliett, %ods-text--size-india-breakpoint-medium, %ods-text--size-hotel-breakpoint-large;
    @extend %ods-text--weight-medium;
    @extend %ods-margin-bottom-3;
  }

  &__label {
    @extend %ods-text--weight-medium;
  }
}
