<div class="osg-input osg-input-date">
  <label class="osg-input-date__label">
    Label
    <input
            class="osg-input__input osg-input-date__input"
            type="date"
            autocomplete="off"
            name="inputName"
            value="value"
            placeholder="dd.mm.책책책책"
    />
    <span class="osg-input-date__icon osg-icon osg-u-icon-calendar" aria-hidden="true"></span>
  </label>
</div>
