<div class="container is-fluid osg-margin-vertical-3">
  <div class="columns is-multiline">
    <div class="column is-4">
      <h2 class="osg-heading-3 osg-margin-top-3 osg-margin-bottom-1">Default</h2>
      <div class="osg-devtools-code">
        <img class="osg-image" src="https://picsum.photos/400/300" alt="Image description">
      </div>
    </div>
    <div class="column is-4">
      <h2 class="osg-heading-3 osg-margin-top-3 osg-margin-bottom-1">Caption</h2>
      <div class="osg-devtools-code">
        <figure class="osg-image">
          <img src="https://picsum.photos/400/300" alt="Image description">
          <figcaption class="osg-image__caption">Photo: Jon Snow</figcaption>
        </figure>
      </div>
    </div>
    <div class="column is-4">
      <h2 class="osg-heading-3 osg-margin-top-3 osg-margin-bottom-1">Circle</h2>
      <div class="osg-devtools-code">
        <img class="osg-image osg-image--circle" src="https://picsum.photos/300" alt="Image description">
      </div>
    </div>
    <div class="column is-4">
      <h2 class="osg-heading-3 osg-margin-top-3 osg-margin-bottom-1">Symbol default</h2>
      <div class="osg-devtools-code">
        <figure class="osg-image osg-image--symbol">
          <img src="https://picsum.photos/400" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="column is-8">
      <h2 class="osg-heading-3 osg-margin-top-3 osg-margin-bottom-1">Symbol color</h2>
      <div class="columns">
        <div class="column is-6">
          <div class="osg-devtools-code">
            <figure class="osg-image osg-image--symbol osg-image--symbol-red">
              <img src="https://picsum.photos/400" alt="Image description">
            </figure>
          </div>
        </div>
        <div class="column is-6">
          <div class="osg-devtools-code">
            <figure class="osg-image osg-image--symbol osg-image--symbol-bottom-right osg-image--symbol-green">
              <img src="https://picsum.photos/400" alt="Image description">
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-12">
      <h2 class="osg-heading-3 osg-margin-top-3 osg-margin-bottom-1">Symbol position</h2>
      <div class="columns">
        <div class="column is-4">
          <div class="osg-devtools-code">
            <figure class="osg-image osg-image--symbol osg-image--symbol-top-right">
              <img src="https://picsum.photos/400" alt="Image description">
            </figure>
          </div>
        </div>
        <div class="column is-4">
          <div class="osg-devtools-code">
            <figure class="osg-image osg-image--symbol osg-image--symbol-bottom-left">
              <img src="https://picsum.photos/400" alt="Image description">
            </figure>
          </div>
        </div>
        <div class="column is-4">
          <div class="osg-devtools-code">
            <figure class="osg-image osg-image--symbol osg-image--symbol-bottom-right">
              <img src="https://picsum.photos/400" alt="Image description">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
