<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Default</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <img class="osg-image" src="https://picsum.photos/400/300" alt="Image description">
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Caption</h2>
        </div>
        <div class="osg-row__column osg-row__column--12">
          <div class="osg-devtools-code">
            <figure class="osg-image">
              <img src="https://picsum.photos/400/300" alt="Image description">
              <figcaption class="osg-image__caption">Photo: Jon Snow</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--4-breakpoint-medium">
      <div class="osg-row">
        <div class="osg-row__column osg-row__column--12">
          <h2 class="osg-heading-3">Circle</h2>
        </div>
      </div>
      <div class="osg-row__column osg-row__column--12">
        <div class="osg-devtools-code">
          <img class="osg-image osg-image--circle" src="https://picsum.photos/250" alt="Image description">
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-50">Shape</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <div class="osg-devtools-code">
        <figure class="osg-image osg-image--shape">
          <img src="https://picsum.photos/400" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <div class="osg-devtools-code">
        <figure class="osg-image osg-image--shape osg-image--shape-top-right">
          <img src="https://picsum.photos/400" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <div class="osg-devtools-code">
        <figure class="osg-image osg-image--shape osg-image--shape-bottom-right">
          <img src="https://picsum.photos/400" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <div class="osg-devtools-code">
        <figure class="osg-image osg-image--shape osg-image--shape-bottom-left">
          <img src="https://picsum.photos/400" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3 osg-margin-top-50">Colors</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <div class="osg-devtools-code">
        <figure class="osg-image osg-image--shape">
          <img src="https://picsum.photos/400" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <div class="osg-devtools-code">
        <figure class="osg-image osg-image--shape osg-image--shape-red">
          <img src="https://picsum.photos/400" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <div class="osg-devtools-code">
        <figure class="osg-image osg-image--shape osg-image--shape-green-light">
          <img src="https://picsum.photos/400" alt="Image description">
        </figure>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--3-breakpoint-medium">
      <div class="osg-devtools-code">
        <figure class="osg-image osg-image--shape osg-image--shape-blue-light">
          <img src="https://picsum.photos/400" alt="Image description">
        </figure>
      </div>
    </div>
  </div>
</div>
