<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <img class="osg-image" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/10.jpg" alt="Image description" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Caption</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <figure class="osg-image">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/10.jpg" alt="Image description" />
                  <figcaption class="osg-image__caption">Description here. Credits: Jon Snow</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Multiple sources</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <figure class="osg-image">
                  <source srcset="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/1024/10.jpg" media="(min-width: 769px)" />
                  <source srcset="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/10.jpg" media="(max-width: 768px)" />
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/10.jpg" alt="Image description" />
                  <figcaption class="osg-image__caption">Description here. Credits: Jon Snow</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Circle</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid">
            <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
              <div class="osg-devtools-code__box__code">
                <figure class="osg-image">
                  <img class="osg-image osg-image--circle" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/13.jpg" alt="Image description" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12 osg-padding-bottom-none">
      <h2 class="osg-devtools-text-preset-1">Shape</h2>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium osg-padding-top-none">
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <figure class="osg-image osg-image--shape">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
              </figure>
            </div>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium osg-padding-top-none">
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <figure class="osg-image osg-image--shape osg-image--shape-top-right">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
              </figure>
            </div>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium osg-padding-top-none">
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <figure class="osg-image osg-image--shape osg-image--shape-bottom-right">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
              </figure>
            </div>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium osg-padding-top-none">
          <div class="osg-devtools-code">
            <div class="osg-devtools-code__box">
              <figure class="osg-image osg-image--shape osg-image--shape-bottom-left">
                <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="osg-grid__column--12 osg-padding-bottom-none">
        <h2 class="osg-devtools-text-preset-1">Colors</h2>
        <p class="osg-paragraph">Choose colors after what colors are in the image you use. This will give a softer look.</p>
        <div class="osg-grid osg-grid--gap">
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium osg-padding-top-none">
            <div class="osg-devtools-code">
              <div class="osg-devtools-code__box">
                <figure class="osg-image osg-image--shape">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/6.jpg" alt="Image description" />
                </figure>
              </div>
            </div>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium osg-padding-top-none">
            <div class="osg-devtools-code">
              <div class="osg-devtools-code__box">
                <figure class="osg-image osg-image--shape osg-image--shape-red">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/11.jpg" alt="Image description" />
                </figure>
              </div>
            </div>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium osg-padding-top-none">
            <div class="osg-devtools-code">
              <div class="osg-devtools-code__box">
                <figure class="osg-image osg-image--shape osg-image--shape-green-light">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/29.jpg" alt="Image description" />
                </figure>
              </div>
            </div>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium osg-padding-top-none">
            <div class="osg-devtools-code">
              <div class="osg-devtools-code__box">
                <figure class="osg-image osg-image--shape osg-image--shape-blue-light">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/3.jpg" alt="Image description" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Developer mode -->
  <div class="osg-devtools-devmode">
    <div class="osg-grid osg-grid--gap osg-grid--gutter">
      <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
        <div class="osg-grid">
          <div class="osg-grid__column--12">
            <h2 class="osg-devtools-text-preset-2">Default</h2>
          </div>
          <div class="osg-grid__column--12">
            <img class="osg-image" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/10.jpg" alt="Image description" />
          </div>
        </div>
      </div>
      <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
        <div class="osg-grid">
          <div class="osg-grid__column--12">
            <h2 class="osg-devtools-text-preset-2">Caption</h2>
          </div>
          <div class="osg-grid__column--12">
            <figure class="osg-image">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/768/10.jpg" alt="Image description" />
              <figcaption class="osg-image__caption">Description here. Credits: Jon Snow</figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
        <div class="osg-grid">
          <div class="osg-grid__column--12">
            <h2 class="osg-devtools-text-preset-2">Circle</h2>
          </div>
        </div>
        <div class="osg-grid__column--12">
          <img class="osg-image osg-image--circle" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/13.jpg" alt="Image description" />
        </div>
      </div>
      <div class="osg-grid__column--12">
        <h2 class="osg-devtools-text-preset-2">Shape</h2>
        <div class="osg-grid osg-grid--gap">
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium">
            <figure class="osg-image osg-image--shape">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
            </figure>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium">
            <figure class="osg-image osg-image--shape osg-image--shape-top-right">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
            </figure>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium">
            <figure class="osg-image osg-image--shape osg-image--shape-bottom-right">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
            </figure>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium">
            <figure class="osg-image osg-image--shape osg-image--shape-bottom-left">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
            </figure>
          </div>
        </div>
      </div>
      <div class="osg-grid__column--12">
        <h2 class="osg-devtools-text-preset-2">Colors</h2>
        <div class="osg-grid osg-grid--gap">
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium">
            <figure class="osg-image osg-image--shape">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/6.jpg" alt="Image description" />
            </figure>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium">
            <figure class="osg-image osg-image--shape osg-image--shape-red">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/11.jpg" alt="Image description" />
            </figure>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium">
            <figure class="osg-image osg-image--shape osg-image--shape-green-light">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/29.jpg" alt="Image description" />
            </figure>
          </div>
          <div class="osg-grid__column--12 osg-grid__column--3-breakpoint-medium">
            <figure class="osg-image osg-image--shape osg-image--shape-blue-light">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/3.jpg" alt="Image description" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
