=osg-tag-helper($osg-color-name, $background, $foreground)
  a.osg-tag.osg-tag--#{$osg-color-name}
    color: $foreground
    border: 2px solid $background
    &:hover, &:active, &:focus, &:visited
      background-color: $background

// looping map from maps.scss
@each $name, $tuple in $osg-named-colors
  // button-colors is a map from name to a tuple with two color values which we extract using the nth function
  +osg-tag-helper($name, nth($tuple, 1), nth($tuple, 2))

.osg-tag
  display: inline-block
  color: $osg-color-grayscale-90
  border: 2px solid $osg-color-grayscale-10
  background-color: transparent
  padding: 5px 15px 5px 15px
  text-decoration: none
  transition: background-color .2s
  &:hover, &:active, &:focus, &:visited
    background-color: $osg-color-grayscale-10
