{% set shapeHeroVariant = shapeHero.variant | default('osg-v-default') %}
{% set shapeHeroModifiers = shapeHero.modifiers | default(null) %}
{% set shapeHeroBgColor = shapeHero.bgColor | default('white') %}

{% set shapeHeroContent %}
  {% block content %}{% endblock %}
{% endset %}

<div class="osg-shape-hero {{ shapeHeroVariant }} {{ shapeHeroModifiers }}">
  {% embed 'atoms/decorators/shape/shape.twig' %}
    {% block content %}
      <div class="osg-shape-hero__content">
        {{ shapeHeroContent }}
      </div>
    {% endblock %}
  {% endembed %}
  {% embed 'atoms/decorators/shape/shape.twig' with shapeHero.imageShape %}
    {% block figureContent %}
      {% if shapeHeroVariant != 'osg-v-circle' %}
        <div class="osg-shape-hero__circle-shape osg-u-color-bg-{{ shapeHeroBgColor }}">
          {% include 'atoms/decorators/shape/shape.twig' with shapeHero.circleShape only %}
        </div>
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>

