<div class="osg-content">
  <p>12 column grid. Using <a href="https://bulma.io/documentation/columns/basics/" target="_blank">Bulma grid</a>.</p>
</div>
<h3 class="osg-heading-3 osg-margin-vertical-3">General grid</h3>
<div class="columns">
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">1</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">2</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">3</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">4</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">5</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">6</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">7</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">8</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">9</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">10</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">11</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">12</div>
  </div>
</div>
<div class="columns">
  <div class="column is-3">
    <div class="osg-color-bg-red osg-text-center">1</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">2</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">3</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">4</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">5</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">6</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">7</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">8</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">9</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">10</div>
  </div>
</div>
<div class="columns">
  <div class="column is-half">
    <div class="osg-color-bg-red osg-text-center">1</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">2</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">3</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">4</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">5</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">6</div>
  </div>
  <div class="column">
    <div class="osg-color-bg-red osg-text-center">7</div>
  </div>
</div>
<div class="columns">
  <div class="column is-9">
    <div class="osg-color-bg-red osg-text-center">1</div>
  </div>
  <div class="column is-3">
    <div class="osg-color-bg-red osg-text-center">2</div>
  </div>
</div>

<h3 class="osg-heading-3 osg-margin-top-6 osg-margin-bottom-3">oslo.kommune.no - desktop article #1</h3>
<div class="columns">
  <div class="column is-two-thirds">
    <h4 class="osg-heading-4 osg-margin-bottom-3">desktop</h4>
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="osg-color-bg-blue-dark">
          <h1 class="osg-heading-2 osg-color-text-white osg-padding-2">Header</h2>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-yellow">
          <p class="osg-padding-2">Breadcrumb, Hero, Other fluid elements</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="columns">
          <div class="column">
            <div class="osg-color-bg-blue">
              <h2 class="osg-heading-3 osg-padding-2">Title</h2>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-8">
            <div class="osg-color-bg-beige">
              <p class="osg-text-2 osg-padding-2 osg-margin-bottom-2">Image</p>
            </div>
            <div class="osg-color-bg-blue-light">
              <p class="osg-text-2 osg-padding-2">Content</p>
            </div>
          </div>
          <div class="column">
            <div class="osg-color-bg-gray">
              <p class="osg-text-2 osg-padding-2">&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="osg-color-bg-blue-dark">
          <h2 class="osg-heading-2 osg-color-text-white osg-padding-2">Footer</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h4 class="osg-heading-4 osg-margin-bottom-3">mobile</h4>
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="osg-color-bg-blue-dark">
          <h1 class="osg-heading-2 osg-color-text-white osg-padding-2">Header</h2>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-yellow">
          <p class="osg-padding-2">Fluid elements</p>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-blue">
          <h2 class="osg-heading-3 osg-padding-2">Title</h2>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-beige">
          <p class="osg-text-2 osg-padding-2 osg-margin-bottom-2">Image</p>
        </div>
        <div class="osg-color-bg-blue-light">
          <p class="osg-text-2 osg-padding-2">Content</p>
        </div>
      </div>
      <div class="column column is-12">
        <div class="osg-color-bg-blue-dark">
          <h2 class="osg-heading-2 osg-color-text-white osg-padding-2">Footer</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="osg-heading-3 osg-margin-top-6 osg-margin-bottom-3">oslo.kommune.no - desktop article #2</h3>
<div class="columns">
  <div class="column is-two-thirds">
    <h4 class="osg-heading-4 osg-margin-bottom-3">desktop</h4>
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="osg-color-bg-blue-dark">
          <h1 class="osg-heading-2 osg-color-text-white osg-padding-2">Header</h2>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-yellow">
          <p class="osg-padding-2">Breadcrumb, Hero, Other fluid elements</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="columns">
          <div class="column is-8">
            <div class="columns">
              <div class="column">
                <div class="osg-color-bg-blue">
                  <h3 class="osg-heading-3 osg-padding-2">Title</h3>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="osg-color-bg-beige">
                  <p class="osg-text-2 osg-padding-2 osg-margin-bottom-2">Image</p>
                </div>
                <div class="osg-color-bg-blue-light">
                  <p class="osg-text-2 osg-padding-2">Content</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="osg-color-bg-blue-light">
              <p class="osg-text-2 osg-padding-2">Right</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="osg-color-bg-blue-dark">
          <h2 class="osg-heading-2 osg-color-text-white osg-padding-2">Footer</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h4 class="osg-heading-4 osg-margin-bottom-3">mobile</h4>
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="osg-color-bg-blue-dark">
          <h1 class="osg-heading-2 osg-color-text-white osg-padding-2">Header</h2>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-yellow">
          <p class="osg-padding-2">Fluid elements</p>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-blue">
          <h2 class="osg-heading-3 osg-padding-2">Title</h2>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-blue-light">
          <p class="osg-text-2 osg-padding-2">Right</p>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-beige">
          <p class="osg-text-2 osg-padding-2 osg-margin-bottom-2">Image</p>
        </div>
        <div class="osg-color-bg-blue-light">
          <p class="osg-text-2 osg-padding-2">Content</p>
        </div>
      </div>
      <div class="column column is-12">
        <div class="osg-color-bg-blue-dark">
          <h2 class="osg-heading-2 osg-color-text-white osg-padding-2">Footer</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="osg-heading-3 osg-margin-top-6 osg-margin-bottom-3">oslo.kommune.no - SPA</h3>
<div class="columns">
  <div class="column is-two-thirds">
    <h4 class="osg-heading-4 osg-margin-bottom-3">desktop</h4>
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="osg-color-bg-blue-dark">
          <h1 class="osg-heading-2 osg-color-text-white osg-padding-2">Header</h2>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-yellow">
          <p class="osg-padding-2">Breadcrumb, Hero, Other fluid elements</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="columns">
          <div class="column">
            <div class="osg-color-bg-blue">
              <h2 class="osg-heading-3 osg-padding-2">Title</h2>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="osg-color-bg-blue-light">
              <p class="osg-text-2 osg-padding-2">Left</p>
            </div>
          </div>
          <div class="column is-8">
            <div class="osg-color-bg-blue-light">
              <p class="osg-text-2 osg-padding-2">Content</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="osg-color-bg-blue-dark">
          <h2 class="osg-heading-2 osg-color-text-white osg-padding-2">Footer</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h4 class="osg-heading-4 osg-margin-bottom-3">mobile</h4>
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="osg-color-bg-blue-dark">
          <h1 class="osg-heading-2 osg-color-text-white osg-padding-2">Header</h2>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-yellow">
          <p class="osg-padding-2">Fluid elements</p>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-blue">
          <h2 class="osg-heading-3 osg-padding-2">Title</h2>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-blue-light">
          <p class="osg-text-2 osg-padding-2">Left</p>
        </div>
      </div>
      <div class="column is-12">
        <div class="osg-color-bg-blue-light">
          <p class="osg-text-2 osg-padding-2">Content</p>
        </div>
      </div>
      <div class="column column is-12">
        <div class="osg-color-bg-blue-dark">
          <h2 class="osg-heading-2 osg-color-text-white osg-padding-2">Footer</h2>
        </div>
      </div>
    </div>
  </div>
</div>
