@use "system/breakpoints";
@use "system/colors";

.osg-slide-panel {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  &__content {
    background-color: colors.$white;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;

    &--open {
      left: 0 !important;
    }
  }
}
