.osg-countdown
  +osg-mq-desktop-and-up
    display: flex
    justify-content: space-between
  .osg-timing
    display: flex
    justify-content: space-between
    +osg-mq-desktop-and-up
      flex-basis: 40%
  h2, .osg-timing
    @extend .osg-padding-bottom-medium
  h2
    font-size: $osg-font-size-24
    line-height: 32px
    +osg-mq-tablet-and-up
      font-size: $osg-font-size-36
      line-height: 48px
      flex-basis: 50%
  .osg-days,
  .osg-hours,
  .osg-minutes,
  .osg-seconds
    > span
      display: block
      &:first-child
        font-size: $osg-font-size-24
        +osg-mq-tablet-and-up
          font-size: $osg-font-size-36
          padding-bottom: 10px
      &:last-child
        font-size: $osg-font-size-20
