.osg-countdown
  $root: &
  $days: #{$root}__days
  $hours: #{$root}__hours
  $minutes: #{$root}__minutes
  $seconds: #{$root}__seconds

  +osg-mq-desktop-and-up
    display: flex
    justify-content: space-between
  &__timing
    display: flex
    justify-content: space-between
    +osg-mq-desktop-and-up
      flex-basis: 40%
  h2, &__timing
    @extend .osg-u-padding-bottom-medium
  h2
    @extend .osg-u-heading-2
    line-height: 32px
    +osg-mq-tablet-and-up
      line-height: 48px
      flex-basis: 50%

  #{$days},
  #{$hours},
  #{$minutes},
  #{$seconds}
    > span
      display: block
      &:first-child
        @extend .osg-u-heading-2
        +osg-mq-tablet-and-up
          padding-bottom: 10px
      &:last-child
        @extend .osg-u-text-3
