<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">The accordion organizes content into collapsible panels, allowing easy navigation while keeping the interface clean. </p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>The heading structure must maintain the correct hierarchy.</p>
        <p>When it comes to the grid, it should use 12 columns for small breakpoints and 8 columns for medium and larger breakpoints.</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <div class="ods-accordion">
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-1">Accordion button with a long text</button>
              </h3>
              <div class="ods-accordion__content ods-collapsible-content--collapsed" id="ods-accordion-1">
                <div class="ods-content">
                  <h4>Accordion content</h4>
                  <ul class="ods-unordered-list">
                    <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                    <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                    <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                    <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                    <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                  </ul>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                  <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">With heading</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <h2 class="ods-accordion__main-heading">Lorem ipsum</h2>
          <div class="ods-accordion">
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-2">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-content ods-collapsible-content--collapsed" id="ods-accordion-2">
                <h4>Accordion content</h4>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">List view</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <div class="ods-accordion">
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-3">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-content ods-collapsible-content--collapsed" id="ods-accordion-3">
                <h4>Accordion content</h4>
                <ul class="ods-unordered-list">
                  <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                  <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                  <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                  <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                  <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                </ul>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
              </div>
            </div>
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-4">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-content ods-collapsible-content--collapsed" id="ods-accordion-4">
                <h4>Accordion content</h4>
                <ul class="ods-unordered-list">
                  <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                  <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                  <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                  <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                  <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                </ul>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
              </div>
            </div>
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-5">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-content ods-collapsible-content--collapsed" id="ods-accordion-5">
                <h4>Accordion content</h4>
                <ul class="ods-unordered-list">
                  <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                  <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                  <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                  <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                  <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                </ul>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <h2 class="ods-accordion__main-heading">Lorem ipsum</h2>
          <div class="ods-accordion">
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-6">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-content ods-collapsible-content--collapsed" id="ods-accordion-6">
                <h4>Accordion content</h4>
                <ul class="ods-unordered-list">
                  <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                  <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                  <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                  <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                  <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                </ul>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
              </div>
            </div>
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-7">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-content ods-collapsible-content--collapsed" id="ods-accordion-7">
                <h4>Accordion content</h4>
                <ul class="ods-unordered-list">
                  <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                  <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                  <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                  <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                  <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                </ul>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
              </div>
            </div>
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-8">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-content ods-collapsible-content--collapsed" id="ods-accordion-8">
                <h4>Accordion content</h4>
                <ul class="ods-unordered-list">
                  <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                  <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                  <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                  <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                  <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                </ul>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Default</h2>
          <div class="ods-accordion">
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-9">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-collapsible-content--collapsed" id="ods-accordion-9">
                <div class="ods-content">
                  <h4>Accordion content</h4>
                  <ul class="ods-unordered-list">
                    <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                    <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                    <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                    <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                    <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                  </ul>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                  <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12">
          <div class="ods-accordion">
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-10">Accordion button with a long text</button>
              </h3>
              <div class="ods-accordion__content ods-collapsible-content--collapsed" id="ods-accordion-10">
                <div class="ods-content">
                  <h4>Accordion content</h4>
                  <ul class="ods-unordered-list">
                    <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                    <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                    <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                    <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                    <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                  </ul>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                  <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Hover</h2>
          <div class="ods-accordion">
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-accordion__trigger--hover ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-11">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-collapsible-content--collapsed" id="ods-accordion-11">
                <div class="ods-content">
                  <h4>Accordion content</h4>
                  <ul class="ods-unordered-list">
                    <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                    <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                    <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                    <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                    <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                  </ul>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                  <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Active</h2>
          <div class="ods-accordion">
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-accordion__trigger--active ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-12">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-collapsible-content--collapsed" id="ods-accordion-12">
                <div class="ods-content">
                  <h4>Accordion content</h4>
                  <ul class="ods-unordered-list">
                    <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                    <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                    <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                    <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                    <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                  </ul>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                  <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ods-grid__column--12 ods-grid__column--8-breakpoint-medium">
      <div class="ods-grid">
        <div class="ods-grid__column--12">
          <h2 class="ods-devtools-text-preset-2">Focus</h2>
          <div class="ods-accordion">
            <div class="ods-accordion__item">
              <h3 class="ods-accordion__heading">
                <button class="ods-accordion__trigger ods-accordion__trigger--focus ods-collapsible-trigger ods-animations ods-animations--rotate" aria-controls="ods-accordion-13">Accordion button</button>
              </h3>
              <div class="ods-accordion__content ods-collapsible-content--collapsed" id="ods-accordion-13">
                <div class="ods-content">
                  <h4>Accordion content</h4>
                  <ul class="ods-unordered-list">
                    <li class="ods-unordered-list__item">Pellentesque vitae mi quis libero pulvinar convallis sed eu diam.</li>
                    <li class="ods-unordered-list__item">Donec qui velit eget nulla ornare euismod sit amet id nunc</li>
                    <li class="ods-unordered-list__item">Vivamus rhoncus turpis sit amet interdum feugiat.</li>
                    <li class="ods-unordered-list__item">Aenean vel erat ac metus fermentum cursus a quis eros.</li>
                    <li class="ods-unordered-list__item">Nulla venenatis ex vel tortor posuere,feugiat accumsan metus placerat.</li>
                  </ul>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  <p><a class="ods-link" href="javascript:void(0)">Read more</a></p>
                  <p><a class="ods-button ods-button--primary" href="javascript:void(0)">Primary button</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
