<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <label class="osg-switch osg-margin-bottom-3" aria-labelledby="on">
        <input type="checkbox" class="osg-switch__input" id="components-form-search-seasons-dropdown">
        <span class="osg-switch__background"></span>
        <span class="osg-switch__slider"></span>
        <span class="osg-switch__label-text">Dropdown</span>
      </label>
      <div class="osg-devtools-code">
        <div class="osg-search-seasons">
          <div class="osg-search-seasons__main">
            <div class="osg-search-seasons__content">
              <h2 class="osg-heading-2">Aliquam erat volutpat.</h2>
              <h2 class="osg-heading-2">Duis neque orci faucibus?</h2>
              <div class="osg-search-seasons__search">
                <form class="osg-search-seasons__form">
                  <div class="osg-search-seasons__input-wrapper">
                    <input type="search" class="osg-search-seasons__input" placeholder="Search" aria-label="Search" />
                    <ol class="osg-search-seasons__dropdown" role="listbox">
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item A</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item B</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item C</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item D</a></li>
                    </ol>
                  </div>
                  <button type="submit" class="osg-search-seasons__button"><span
                      class="osg-sr-only">Search</span></button>
                </form>
              </div>
            </div>
          </div>
          <div class="osg-search-seasons__image">
            <figure class="osg-image osg-image--shape osg-image--shape-red">
              <img src="https://picsum.photos/seed/19000/800" alt="Image description">
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Colors and shapes</h2>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <div class="osg-search-seasons osg-search-seasons--red">
          <div class="osg-search-seasons__main">
            <div class="osg-search-seasons__content">
              <h2 class="osg-heading-2">Aliquam erat volutpat.</h2>
              <h2 class="osg-heading-2">Duis neque orci faucibus?</h2>
              <div class="osg-search-seasons__search">
                <form class="osg-search-seasons__form">
                  <div class="osg-search-seasons__input-wrapper">
                    <input type="search" class="osg-search-seasons__input" placeholder="Search" aria-label="Search" />
                    <ol class="osg-search-seasons__dropdown" role="listbox">
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item A</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item B</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item C</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item D</a></li>
                    </ol>
                  </div>
                  <button type="submit" class="osg-search-seasons__button"><span
                      class="osg-sr-only">Search</span></button>
                </form>
              </div>
            </div>
          </div>
          <div class="osg-search-seasons__image">
            <figure class="osg-image osg-image--shape">
              <img src="https://picsum.photos/seed/19007/800" alt="Image description">
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <div class="osg-search-seasons osg-search-seasons--blue-dark">
          <div class="osg-search-seasons__main">
            <div class="osg-search-seasons__content">
              <h2 class="osg-heading-2">Aliquam erat volutpat.</h2>
              <h2 class="osg-heading-2">Duis neque orci faucibus?</h2>
              <div class="osg-search-seasons__search">
                <form class="osg-search-seasons__form">
                  <div class="osg-search-seasons__input-wrapper">
                    <input type="search" class="osg-search-seasons__input" placeholder="Search" aria-label="Search" />
                    <ol class="osg-search-seasons__dropdown" role="listbox">
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item A</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item B</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item C</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item D</a></li>
                    </ol>
                  </div>
                  <button type="submit" class="osg-search-seasons__button"><span
                      class="osg-sr-only">Search</span></button>
                </form>
              </div>
            </div>
          </div>
          <div class="osg-search-seasons__image">
            <img class="osg-image osg-image--circle" src="https://picsum.photos/seed/19201/800" alt="Image description">
          </div>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12">
      <div class="osg-devtools-code">
        <div class="osg-search-seasons osg-search-seasons--green-dark">
          <div class="osg-search-seasons__main">
            <div class="osg-search-seasons__content">
              <h2 class="osg-heading-2">Aliquam erat volutpat.</h2>
              <h2 class="osg-heading-2">Duis neque orci faucibus?</h2>
              <div class="osg-search-seasons__search">
                <form class="osg-search-seasons__form">
                  <div class="osg-search-seasons__input-wrapper">
                    <input type="search" class="osg-search-seasons__input" placeholder="Search" aria-label="Search" />
                    <ol class="osg-search-seasons__dropdown" role="listbox">
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item A</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item B</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item C</a></li>
                      <li><a href="javascript:void(0)" class="osg-search-seasons__dropdown__item">Item D</a></li>
                    </ol>
                  </div>
                  <button type="submit" class="osg-search-seasons__button"><span
                      class="osg-sr-only">Search</span></button>
                </form>
              </div>
            </div>
          </div>
          <div class="osg-search-seasons__image">
            <figure class="osg-image osg-image--shape osg-image--shape-bottom-right osg-image--shape-green-light">
              <img src="https://picsum.photos/seed/19202/800" alt="Image description">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
