@use "system/breakpoints";
@use "system/colors";
@use "system/fonts";
@use "system/icons";
@use "system/spacing";
@use "system/state";

.osg-search-seasons {
  display: flex;

  &__main {
    background-color: colors.$yellow;
    color: colors.$blue-dark;
    flex: 1 0;
    min-height: 345px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__content {
    width: calc(100% - 30px);

    @include breakpoints.medium {
      width: calc(100% - 60px);
    }
  }

  &__image {
    @extend %osg-margin-left-30;
    display: none;
    flex: 1 0;
    line-height: 0;

    @include breakpoints.large {
      display: block;
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__search {
    @extend %osg-margin-top-30;
  }

  &__form {
    display: flex;
  }

  &__input-wrapper {
    width: 100%;
    position: relative;
  }

  &__input {
    @extend %osg-padding-15;
    @extend %osg-text-3;
    border: 2px solid colors.$white !important;
    border-radius: 0;
    color: colors.$blue-dark;
    font-family: inherit;
    outline: none;
    width: 100%;

    &:hover {
      border: 2px solid colors.$blue-contrast !important;
    }

    &:focus {
      border: 4px solid colors.$blue-contrast !important;
      padding: spacing.$space-15 - 2px !important;
      outline: none;
    }

    @include breakpoints.large {
      font-size: fonts.$size-24 !important;
    }
  }

  &__button {
    background-color: colors.$red;
    border: 2px solid colors.$red;
    border-radius: 50%;
    cursor: pointer;

    font-size: inherit;
    padding: 0.35em 0.84325em;

    @include breakpoints.large {
      padding: 0.35em 1.125em !important;
    }

    &::after {
      font-family: 'Oslo Icons' !important;
      font-size: fonts.$size-30;
      line-height: 1em;
      content: map-get(icons.$icons, 'magnifying-glass-small') !important;
      vertical-align: middle;
    }

    &:hover {
      @extend %osg-state-hover;
    }
  }

  &__dropdown {
    @extend %osg-padding-vertical-15;
    @extend %osg-text-5;
    background-color: colors.$white;
    border: 2px solid colors.$gray-light;
    border-top: none;
    left: 0;
    list-style: none;
    right: 0;
    position: absolute;
    z-index: 99999;

    @include breakpoints.large {
      font-size: fonts.$size-20 !important;
    }

    &__item {
      display: block;
      color: colors.$blue-dark;
      padding: spacing.$space-5 spacing.$space-15;
      text-decoration: none;

      &:hover {
        @extend %osg-state-text-hover;
        background-color: colors.$gray-light;
        text-decoration: underline;
      }
    }
  }

  &--red {
    & .osg-search-seasons__main {
      background-color: colors.$red;
    }

    & .osg-search-seasons__button {
      background-color: colors.$yellow;
    }
  }

  &--blue-dark {
    & .osg-search-seasons__main {
      background-color: colors.$blue-dark;
      color: colors.$white;
    }

    & .osg-search-seasons__button {
      background-color: colors.$blue-light;
      border-color: colors.$blue-light;
    }

    & .osg-search-seasons__input {
      &:hover,
      &:focus {
        border-color: colors.$blue-light !important;
      }
    }
  }

  &--green-dark {
    & .osg-search-seasons__main {
      background-color: colors.$green-dark;
      color: colors.$white;
    }

    & .osg-search-seasons__button {
      background-color: colors.$green-light;
      border-color: colors.$green-light;
    }

    & .osg-search-seasons__input {
      &:hover,
      &:focus {
        border-color: colors.$blue-light !important;
      }
    }
  }
}
