@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/icons";
@use "system/spacing";
@use "system/states";
@use "system/units";

.osg-search-seasons {
  display: flex;

  input[type="search"] {
    background-color: colors.$white;
    -webkit-appearance: none;
  }

  &__main {
    background-color: colors.$yellow;
    color: colors.$blue-dark;
    flex: 1 0;
    min-height: 345px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__content {
    width: calc(100% - units.unit-to-rem(10));

    @include breakpoints.medium {
      width: calc(100% - units.unit-to-rem(16));
    }

    @include breakpoints.large {
      width: calc(100% - units.unit-to-rem(25));
    }
  }

  &__image {
    @extend %osg-margin-left-4, %osg-margin-left-8-breakpoint-medium;
    display: none;
    flex: 1 0;
    line-height: 0;

    @include breakpoints.large {
      display: block;
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__search {
    @extend %osg-margin-top-8;
  }

  &__form {
    display: flex;
  }

  &__input-wrapper {
    width: 100%;
    position: relative;
  }

  &__input {
    @extend %osg-padding-3;
    @extend %osg-text--size-juliett, %osg-text--size-india-breakpoint-large, %osg-text--weight-light;
    border: 2px solid colors.$white !important;
    border-radius: 0;
    color: colors.$blue-dark;
    font-family: inherit;
    outline: none;
    width: 100%;

    &:hover {
      border: 2px solid colors.$blue-contrast !important;
    }

    &:focus {
      border: 4px solid colors.$blue-contrast !important;
      padding: calc(units.unit-to-rem(3) - 2px);
      outline: none;
    }
  }

  &__button {
    background-color: colors.$red;
    border: 2px solid colors.$red;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    min-width: units.unit-to-rem(13);
    color: colors.$blue-dark;

    @include breakpoints.large {
      min-width: units.unit-to-rem(14);
    }

    &::after {
      @extend %osg-text--size-delta;

      font-family: "Oslo Icons" !important;
      content: map-get(icons.$icons, "magnifying-glass-small") !important;
      vertical-align: middle;
    }

    &:hover,
    &:focus {
      background-color: states.$hover !important;
      border: 2px solid states.$hover !important;
      color: states.$hover-text !important;
    }
  }

  &__dropdown {
    @extend %osg-padding-vertical-4;
    @extend %osg-text--size-kilo, %osg-text--weight-light, %osg-text--size-juliett-breakpoint-large;
    background-color: colors.$white;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    list-style: none;
    right: 0;
    position: absolute;
    z-index: 99999;

    &__item {
      @extend %osg-padding-vertical-1, %osg-padding-horizontal-4;
      display: flex;
      flex-direction: column;
      color: colors.$blue-dark;
      text-decoration: none;

      &:hover,
      &:focus,
      &--focus {
        background-color: colors.$gray-light;
        color: states.$hover !important;
        text-decoration: underline;
        cursor: pointer;
      }

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          @extend %osg-padding-vertical-0, %osg-padding-horizontal-4;
          background-color: colors.$gray-light;
          border-top: 5px solid colors.$gray-light;
          border-bottom: 5px solid colors.$gray-light;
          color: states.$hover !important;
          margin: -5px -15px;
          text-decoration: underline;
        }
      }
    }
  }

  &--red {
    & .osg-search-seasons__main {
      background-color: colors.$red;
    }

    & .osg-search-seasons__button {
      background-color: colors.$yellow;
      color: colors.$blue-dark;
    }
  }

  &--blue-dark {
    & .osg-search-seasons__main {
      background-color: colors.$blue-dark;
      color: colors.$white;
    }

    & .osg-search-seasons__button {
      background-color: colors.$blue-light;
      border-color: colors.$blue-light;
      color: colors.$blue-dark;
    }

    & .osg-search-seasons__input {
      &:hover,
      &:focus {
        border-color: colors.$blue-light !important;
      }
    }
  }

  &--green-dark {
    & .osg-search-seasons__main {
      background-color: colors.$green-dark;
      color: colors.$white;
    }

    & .osg-search-seasons__button {
      background-color: colors.$green-light;
      border-color: colors.$green-light;
      color: colors.$blue-dark;
    }

    & .osg-search-seasons__input {
      &:hover,
      &:focus {
        border-color: colors.$blue-light !important;
      }
    }
  }
}
