@use "system/breakpoints";
@use "system/colors";
@use "system/typography";
@use "system/icon-map";
@use "system/spacing";
@use "system/units";
@use "system/states";

.osg-search-seasons {
  display: flex;
  font-size: 0;

  &__main {
    background-color: colors.$yellow;
    color: colors.$blue-dark;
    flex: 1 0;
    min-height: 345px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__content {
    width: calc(100% - units.unit-to-rem(10));

    @include breakpoints.medium {
      width: calc(100% - units.unit-to-rem(16));
    }

    @include breakpoints.large {
      width: calc(100% - units.unit-to-rem(25));
    }
  }

  &__image {
    @extend %osg-margin-left-4, %osg-margin-left-8-breakpoint-medium;

    display: none;
    flex: 1 0;
    line-height: 0;

    @include breakpoints.large {
      display: block;
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__search {
    @extend %osg-margin-top-8;
  }

  &__input-wrapper {
    display: inline-block;
    position: relative;
    width: calc(100% - 3.5rem);

    @include breakpoints.large {
      width: calc(100% - 3.75rem);
    }
  }

  &__input {
    @extend %osg-padding-3;
    @extend %osg-text--size-juliett, %osg-text--size-india-breakpoint-large;
    @extend %osg-text--weight-light;

    background-color: colors.$white;
    border: 0.125rem solid colors.$white;
    border-radius: 0;
    color: colors.$blue-dark;
    font-family: inherit;
    outline: none;
    width: 100%;
    -webkit-appearance: none;

    &:hover {
      border: 0.125rem solid colors.$blue-state !important;
    }

    &:focus {
      border: 0.25rem solid colors.$blue-state !important;
      padding: calc(units.unit-to-rem(3) - 0.125rem);
      outline: none;
    }

    &::-webkit-search-cancel-button {
      background: url(/node_modules/styleguide/src/assets/icons/cross.svg) no-repeat;
      background-size: contain;
      height: 2rem;
      margin-right: -5px;
      opacity: 0;
      pointer-events: none;
      width: 2rem;
      -webkit-appearance: none;
    }

    &:focus::-webkit-search-cancel-button {
      opacity: 1;
      pointer-events: all;
    }

    &::placeholder {
      @extend %osg-color-text-grayscale-50;
    }
  }

  &__button {
    background-color: colors.$red;
    border: 0.125rem solid colors.$red;
    border-radius: 50%;
    box-sizing: content-box;
    color: colors.$blue-dark;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    font-family: inherit;
    height: units.unit-to-rem(13);
    min-width: units.unit-to-rem(13);
    padding: 0;
    vertical-align: top;

    @include breakpoints.large {
      height: units.unit-to-rem(14);
      min-width: units.unit-to-rem(14);
    }

    &::after {
      @extend %osg-text--size-delta;

      content: map-get(icon-map.$icons, "magnifying-glass-small") !important;
      font-family: "Oslo Icons" !important;
      vertical-align: middle;
    }

    &:hover,
    &:focus {
      background-color: states.$hover !important;
      border: 0.125rem solid states.$hover !important;
      color: states.$hover-text !important;
    }
  }

  &__container {
    @extend %osg-color-text-blue-dark;

    background-color: colors.$white;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    list-style: none;
    position: absolute;
    right: 0;
    z-index: 99999;
  }

  &__no-result {
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-medium;
    @extend %osg-padding-4;

    display: block;
  }

  &__missing-input {
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-medium;
    @extend %osg-text--align-center;
    @extend %osg-padding-horizontal-4, %osg-padding-vertical-3;

    display: block;
  }

  &__dropdown {
    &--compact {
      @extend %osg-padding-vertical-4;

      & .osg-search-seasons__suggestion {
        @extend %osg-padding-vertical-1;
      }
    }
  }

  &__item {
    &--footer {
      @extend %osg-text--size-lima;
      @extend %osg-text--weight-regular;
      @extend %osg-padding-horizontal-4;

      &-first {
        @extend %osg-padding-top-4;
      }
      &-last {
        @extend %osg-padding-bottom-4;
      }
    }
  }

  &__suggestion {
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-medium;
    @extend %osg-padding-horizontal-4;

    display: block;

    &:hover,
    &:focus,
    &--focus {
      background-color: colors.$gray-light;
      color: states.$hover;
      text-decoration: underline;
    }
  }

  &__link {
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-medium;
    @extend %osg-padding-4;

    display: block;
    text-decoration: none;

    &:hover,
    &:focus,
    &--focus {
      background-color: colors.$gray-light;
      color: states.$hover;
      text-decoration: none;
    }

    &:hover .osg-search-seasons__heading,
    &:focus .osg-search-seasons__heading,
    &--focus .osg-search-seasons__heading {
      text-decoration: underline;
    }

    &--divider {
      border-bottom: 0.0625rem solid colors.$gray;
    }
  }

  &__heading {
    @extend %osg-text--size-juliett;
    @extend %osg-text--weight-medium;
  }

  &__text {
    @extend %osg-text--size-lima;
    @extend %osg-text--weight-light;
    @extend %osg-margin-top-1;
  }

  &--red {
    & .osg-search-seasons__main {
      background-color: colors.$red;
    }

    & .osg-search-seasons__button {
      background-color: colors.$yellow;
      border-color: colors.$yellow;
      color: colors.$blue-dark;
    }
  }

  &--blue-dark {
    & .osg-search-seasons__main {
      background-color: colors.$blue-dark;
      color: colors.$white;
    }

    & .osg-search-seasons__button {
      background-color: colors.$blue-light;
      border-color: colors.$blue-light;
      color: colors.$blue-dark;

      &:hover,
      &:focus {
        background-color: states.$hover-light !important;
        border: 0.125rem solid states.$hover-light !important;
        color: states.$hover-light-text !important;
      }
    }

    & .osg-search-seasons__input {
      &:hover,
      &:focus {
        border-color: colors.$blue-light !important;
      }
    }
  }

  &--green-dark {
    & .osg-search-seasons__main {
      background-color: colors.$green-dark;
      color: colors.$white;
    }

    & .osg-search-seasons__button {
      background-color: colors.$green-light;
      border-color: colors.$green-light;
      color: colors.$blue-dark;

      &:hover,
      &:focus {
        background-color: states.$hover-light !important;
        border: 0.125rem solid states.$hover-light !important;
        color: states.$hover-light-text !important;
      }
    }

    & .osg-search-seasons__input {
      &:hover,
      &:focus {
        border-color: colors.$blue-light !important;
      }
    }
  }
}
