<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">Colors in the element is picked based on four defined color themes. The idea is to select the theme according to the colors in the pictures. It is used as a big visible search.</p>
    </div>
    <!-- Default -->
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <form action="" method="GET" role="search">
            <div class="ods-search-seasons">
              <div class="ods-search-seasons__main">
                <div class="ods-search-seasons__content">
                  <h1 class="ods-text--size-golf ods-text--size-delta-breakpoint-medium ods-text--size-charlie-breakpoint-large">Aliquam erat volutpat.<br />Duis neque orci faucibus?</h1>
                  <div class="ods-search-seasons__search">
                    <div class="ods-search-seasons__input-wrapper">
                      <input type="search" class="ods-search-seasons__input" placeholder="Search" aria-label="Search" autocomplete="off" />
                    </div>
                    <button type="submit" class="ods-search-seasons__button">
                      <span class="ods-sr-only">Search</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="ods-search-seasons__image">
                <figure class="ods-image ods-image--shape ods-image--shape-top-right ods-image--shape-red">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
                </figure>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Default -->

    <!-- Colors and shapes -->
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Colors and shapes</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <form action="" method="GET" role="search">
            <div class="ods-search-seasons ods-search-seasons--red">
              <div class="ods-search-seasons__main">
                <div class="ods-search-seasons__content">
                  <h1 class="ods-text--size-golf ods-text--size-delta-breakpoint-medium ods-text--size-charlie-breakpoint-large">Aliquam erat volutpat.<br />Duis neque orci faucibus?</h1>
                  <div class="ods-search-seasons__search">
                    <div class="ods-search-seasons__input-wrapper">
                      <input type="search" class="ods-search-seasons__input" placeholder="Search" aria-label="Search" aria-describedby="ods-search-seasons__container-id" />
                      <div class="ods-search-seasons__container" id="ods-search-seasons__container-id">
                        <span class="ods-search-seasons__no-result" id="ods-search-seasons-id-no-result">No result</span>
                      </div>
                    </div>
                    <button type="submit" class="ods-search-seasons__button">
                      <span class="ods-sr-only">Search</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="ods-search-seasons__image">
                <figure class="ods-image ods-image--shape">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/21.jpg" alt="Image description" />
                </figure>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Colors and shapes -->

    <!-- Blue dark -->
    <div class="ods-grid__column--12">
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <form action="" method="GET" role="search">
            <div class="ods-search-seasons ods-search-seasons--blue-dark">
              <div class="ods-search-seasons__main">
                <div class="ods-search-seasons__content">
                  <h1 class="ods-text--size-golf ods-text--size-delta-breakpoint-medium ods-text--size-charlie-breakpoint-large">Aliquam erat volutpat.<br />Duis neque orci faucibus?</h1>
                  <div class="ods-search-seasons__search">
                    <div class="ods-search-seasons__input-wrapper">
                      <input type="search" class="ods-search-seasons__input" placeholder="Search" aria-label="Search" aria-describedby="ods-search-seasons__container-id2" />
                      <div class="ods-search-seasons__container" id="ods-search-seasons__container-id2">
                        <span class="ods-search-seasons__missing-input">Missing input</span>
                      </div>
                    </div>
                    <button type="submit" class="ods-search-seasons__button">
                      <span class="ods-sr-only">Search</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="ods-search-seasons__image">
                <img class="ods-image ods-image--circle" src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/3.jpg" alt="Image description" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Blue dark -->

    <!-- Green dark -->
    <div class="ods-grid__column--12">
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <form action="" method="GET" role="search">
            <div class="ods-search-seasons ods-search-seasons--green-dark">
              <div class="ods-search-seasons__main">
                <div class="ods-search-seasons__content">
                  <h2 class="ods-text--size-golf ods-text--size-delta-breakpoint-medium ods-text--size-charlie-breakpoint-large">Aliquam erat volutpat.<br />Duis neque orci faucibus?</h2>
                  <div class="ods-search-seasons__search">
                    <div class="ods-search-seasons__input-wrapper">
                      <input type="search" class="ods-search-seasons__input" placeholder="Search" aria-label="Search" aria-expanded="true" aria-haspopup="listbox" aria-controls="ods-search-seasons-suggestions" role="combobox" aria-describedby="ods-search-circle__container-id3" />
                      <div class="ods-search-seasons__container" id="ods-search-seasons__container-id3">
                        <ul class="ods-search-seasons__dropdown ods-search-seasons__dropdown--compact" role="listbox" id="ods-search-seasons-suggestions" aria-label="Suggestion text">
                          <li class="ods-search-seasons__item" role="option">
                            <span class="ods-search-seasons__suggestion">Suggestion A</span>
                          </li>
                          <li class="ods-search-seasons__item" role="option">
                            <span class="ods-search-seasons__suggestion">Suggestion B</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <button type="submit" class="ods-search-seasons__button">
                      <span class="ods-sr-only">Search</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="ods-search-seasons__image">
                <figure class="ods-image ods-image--shape ods-image--shape-bottom-right ods-image--shape-green-light">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/31.jpg" alt="Image description" />
                </figure>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Green dark -->

    <!-- Result -->
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Result</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <form action="" method="GET" role="search">
            <div class="ods-search-seasons">
              <div class="ods-search-seasons__main">
                <div class="ods-search-seasons__content">
                  <h1 class="ods-text--size-golf ods-text--size-delta-breakpoint-medium ods-text--size-charlie-breakpoint-large">Aliquam erat volutpat.<br />Duis neque orci faucibus?</h1>
                  <div class="ods-search-seasons__search">
                    <div class="ods-search-seasons__input-wrapper">
                      <input type="search" class="ods-search-seasons__input" placeholder="Search" aria-label="Search" autocomplete="off" aria-expanded="true" aria-haspopup="listbox" aria-controls="ods-search-seasons-results" role="combobox" aria-describedby="ods-search-circle__container-id4" />
                      <div class="ods-search-seasons__container" id="ods-search-seasons__container-id4">
                        <div class="ods-search-seasons__dropdown" role="listbox" id="ods-search-seasons-results" aria-label="Footer content">
                          <a href="javascript:void(0)" class="ods-search-seasons__item ods-search-seasons__link" role="option">
                            <h3 class="ods-search-seasons__heading">Heading one</h3>
                            <p class="ods-search-seasons__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                          </a>
                          <a href="javascript:void(0)" class="ods-search-seasons__item ods-search-seasons__link ods-search-seasons__link--divider" role="option">
                            <h3 class="ods-search-seasons__heading">Heading two</h3>
                            <p class="ods-search-seasons__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                          </a>
                          <p class="ods-search-seasons__item ods-search-seasons__item--footer ods-search-seasons__item--footer-first" role="option" aria-hidden="true">Footer content</p>
                          <a href="javascript:void(0)" class="ods-search-seasons__item ods-search-seasons__item--footer ods-search-seasons__item--footer-last ods-link ods-text--weight-medium" role="option">Footer link</a>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="ods-search-seasons__button">
                      <span class="ods-sr-only">Search</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="ods-search-seasons__image">
                <figure class="ods-image ods-image--shape ods-image--shape-top-right ods-image--shape-red">
                  <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
                </figure>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Result -->

    <div class="ods-grid__column ods-grid__column--12">
      <div class="ods-margin-vertical-25">&nbsp;</div>
      <div class="ods-margin-vertical-5">&nbsp;</div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <!-- Default -->
    <div class="ods-grid__column ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <form action="" method="GET" role="search">
        <div class="ods-search-seasons">
          <div class="ods-search-seasons__main">
            <div class="ods-search-seasons__content">
              <h1 class="ods-text--size-golf ods-text--size-delta-breakpoint-medium ods-text--size-charlie-breakpoint-large">Aliquam erat volutpat.<br />Duis neque orci faucibus?</h1>
              <div class="ods-search-seasons__search">
                <div class="ods-search-seasons__input-wrapper">
                  <input type="search" class="ods-search-seasons__input" placeholder="Search" aria-label="Search" autocomplete="off" aria-expanded="true" aria-haspopup="listbox" aria-controls="ods-search-seasons-results2" aria-describedby="ods-search-seasons__container-id5" role="combobox" />
                  <div class="ods-search-seasons__container" id="ods-search-seasons__container-id5">
                    <div class="ods-search-seasons__dropdown" role="listbox" id="ods-search-seasons-results2" aria-label="Footer content">
                      <a href="javascript:void(0)" class="ods-search-seasons__item ods-search-seasons__link" role="option">
                        <h3 class="ods-search-seasons__heading">Heading one</h3>
                        <p class="ods-search-seasons__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                      </a>
                      <a href="javascript:void(0)" class="ods-search-seasons__item ods-search-seasons__link ods-search-seasons__link--divider" role="option">
                        <h3 class="ods-search-seasons__heading">Heading two</h3>
                        <p class="ods-search-seasons__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                      </a>
                      <p class="ods-search-seasons__item ods-search-seasons__item--footer ods-search-seasons__item--footer-first" role="option" aria-hidden="true">Footer content</p>
                      <a href="javascript:void(0)" class="ods-search-seasons__item ods-search-seasons__item--footer ods-search-seasons__item--footer-last ods-link ods-text--weight-medium" role="option">Footer link</a>
                    </div>
                  </div>
                </div>
                <button type="submit" class="ods-search-seasons__button">
                  <span class="ods-sr-only">Search</span>
                </button>
              </div>
            </div>
          </div>
          <div class="ods-search-seasons__image">
            <figure class="ods-image ods-image--shape ods-image--shape-top-right ods-image--shape-red">
              <img src="https://ukeweb-public.s3.eu-central-1.amazonaws.com/images/800x800/1.jpg" alt="Image description" />
            </figure>
          </div>
        </div>
      </form>
    </div>
    <!-- /Default -->
  </div>
</div>
