<h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
<div class="osg-container">
  <a href="#" class="osg-link">Link</a>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">External</h2>
<div class="osg-container">
  <a href="#" class="osg-link osg-link--external">Link</a>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">States</h2>
<div class="osg-container">
  <a href="#" class="osg-link osg-link--visited">Visited</a>
  <a href="#" class="osg-link osg-link--hover osg-margin-left-3">Hover</a>
  <a href="#" class="osg-link osg-link--focus osg-margin-left-3">Focus</a>
  <a href="#" class="osg-link osg-link--active osg-margin-left-3">Active</a>
</div>
<h2 class="osg-heading-3 osg-margin-top-5 osg-margin-bottom-1">In text</h2>
<p class="osg-text-5">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <a href="#" class="osg-link">unknown printer</a> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
