.osg-expand-box
  &__content
    display: none
  .osg-content-box__container
    background-color: $osg-color-beige
  &__title-line
    display: flex
    flex-direction: row
    justify-content: space-between
    height: 60px
  &__title-line-text
    padding-left: 15px
    +osg-mq-tablet-and-up
      padding-left: 30px
    background-color: $osg-color-beige
    width: 100%
    display: flex
    align-items: center
  &.osg-v-open
    .osg-expand-box__content
      display: block
