@use "system/colors";
@use "system/typography";
@use "system/spacing";
@use "system/breakpoints";

.osg-banner {
  @extend %osg-padding-vertical-15, %osg-padding-vertical-50-breakpoint-medium;
  @extend %osg-text-2;
  background-color: colors.$white;

  &--yellow {
    background-color: colors.$yellow;
  }
  &--blue-light {
    background-color: colors.$blue-light;
  }
  &--gray {
    background-color: colors.$gray;
  }
  &--beige {
    background-color: colors.$beige;
  }
}
