<h2 class="osg-heading-3 osg-margin-bottom-1 osg-margin-top-3 osg-margin-left-3">Default</h2>
<div class="osg-devtools-code">
  <section class="osg-banner">
    <div class="container">
      <div class="columns">
        <div class="column">
          <ul class="osg-list osg-list--clean">
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Donec fringilla lacinia</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem ipsum dolor sit amet
                liberodonec</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<h2 class="osg-heading-3 osg-margin-bottom-1 osg-margin-top-5 osg-margin-left-3">Colors</h2>
<div class="osg-devtools-code osg-margin-bottom-4">
  <section class="osg-banner osg-banner--yellow">
    <div class="container">
      <div class="columns is-multiline is-gapless">
        <div class="column is-12">
          <h2>Etiam tempor, turpis sed ornare fringilla lacinia</h2>
        </div>
        <div class="column">
          <ul class="osg-list osg-list--clean osg-margin-top-3">
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem ipsum dolor libero donec</a>
            </li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Donec fringilla lacinia</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
          </ul>
        </div>
        <div class="column">
          <ul class="osg-list osg-list--clean osg-margin-top-2 osg-margin-top-3-tablet-and-up">
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Donec fringilla lacinia</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem ipsum dolor libero donec</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="osg-devtools-code">
  <section class="osg-banner osg-banner--blue-light">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h2>Etiam tempor, turpis sed ornare</h2>
          <ul class="osg-list osg-list--clean osg-margin-top-3">
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem ipsum dolor libero donec</a>
            </li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Donec fringilla lacinia</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
          </ul>
        </div>
        <div class="column">
          <h2>Mauris volutpat aliquam</h2>
          <p>Sed maximus, tellus eget blandit ornare, leo velit vehicula massa.</p>
          <ul class="osg-list osg-list--clean osg-margin-top-3">
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Donec fringilla lacinia</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem ipsum dolor libero donec</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<h2 class="osg-heading-3 osg-margin-bottom-1 osg-margin-top-5 osg-margin-left-3">3 columns</h2>
<div class="osg-devtools-code">
  <section class="osg-banner osg-banner--yellow">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h2>Etiam tempor, turpis sed ornare</h2>
          <ul class="osg-list osg-list--clean osg-margin-top-3">
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem ipsum dolor libero donec</a>
            </li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Donec fringilla lacinia</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
          </ul>
        </div>
        <div class="column">
          <h2>Mauris volutpat aliquam</h2>
          <ul class="osg-list osg-list--clean osg-margin-top-3">
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Donec fringilla lacinia</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem ipsum dolor libero donec</a>
            </li>
          </ul>
        </div>
        <div class="column">
          <h2>Mauris volutpat aliquam</h2>
          <p>Sed maximus, leo velit vehicula massa.</p>
          <ul class="osg-list osg-list--clean osg-margin-top-3">
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem dolor libero donec</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
            <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Donec fringilla lacinia</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<h2 class="osg-heading-3 osg-margin-bottom-1 osg-margin-top-5 osg-margin-left-3">Illustration</h2>
<div class="osg-devtools-code osg-margin-bottom-4">
  <section class="osg-banner osg-banner--beige">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <div class="columns">
            <div class="column">
              <h2>Etiam tempor, turpis sed ornare</h2>
              <p>Donec bibendum arcu et varius.</p>
              <ul class="osg-list osg-list--clean osg-margin-top-3">
                <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem dolor libero donec</a>
                </li>
                <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
              </ul>
            </div>
            <div class="column">
              <h2>Mauris volutpat aliquam</h2>
              <p>Sed maximus, leo velit vehicula massa.</p>
              <ul class="osg-list osg-list--clean osg-margin-top-3">
                <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
                <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem ipsum dolor libero</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          Image / illustration / shape here
        </div>
      </div>
    </div>
  </section>
</div>
<div class="osg-devtools-code">
  <section class="osg-banner osg-banner--gray">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-one-third">
          Image / illustration / shape here
        </div>
        <div class="column is-two-thirds">
          <div class="columns is-multiline is-gapless">
            <div class="column is-12">
              <h2>Vestibulum scelerisque, purus</h2>
              <p>Praesent feugiat neque cursus justo aliquam mattis. Nam ullamcorper.</p>
            </div>
            <div class="column is-6">
              <ul class="osg-list osg-list--clean osg-margin-top-3">
                <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
                <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Donec fringilla lacinia</a>
                </li>
                <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Ipsum dolor libero donec</a>
                </li>
              </ul>
            </div>
            <div class="column is-6">
              <ul class="osg-list osg-list--clean osg-margin-top-2 osg-margin-top-3-tablet-and-up">
                <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Fusce libero</a></li>
                <li><a href="#link-chevron" class="osg-link osg-link--chevron-right">Lorem ipsum dolor libero</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
