<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">The banner element is a focus area that can adds more focus on links. A banner can only contain links and headers together with image or illustration. There are different versions of the element on how the links are assembled.</p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>The background is always 100% width.</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <section class="ods-banner ods-banner--yellow">
            <div class="ods-banner__content">
              <div class="ods-banner__text">
                <div class="ods-banner__section ods-banner__section--third">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Etiam tempor, turpis sed ornare</h2>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
                <div class="ods-banner__section ods-banner__section--third">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Mauris volutpat aliquam</h2>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
                  </ul>
                </div>
                <div class="ods-banner__section ods-banner__section--third">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Mauris volutpat aliquam</h2>
                  <p class="ods-text--size-juliett ods-text--size-india-breakpoint-medium ods-text--size-golf-breakpoint-large">Sed maximus, leo velit vehicula massa.</p>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem dolor libero donec</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Colors</h2>
      <p class="ods-paragraph">There are multiple colors that you can use as a background color. These colors are the ones that give the best contrast and allows the content to show best.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <section class="ods-banner">
            <div class="ods-banner__content">
              <div class="ods-banner__text">
                <div class="ods-banner__section">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <section class="ods-banner ods-banner--yellow">
            <div class="ods-banner__content">
              <div class="ods-banner__text">
                <div class="ods-banner__section">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <section class="ods-banner ods-banner--blue-light">
            <div class="ods-banner__content">
              <div class="ods-banner__text">
                <div class="ods-banner__section">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <section class="ods-banner ods-banner--green-light">
            <div class="ods-banner__content">
              <div class="ods-banner__text">
                <div class="ods-banner__section">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <section class="ods-banner ods-banner--gray">
            <div class="ods-banner__content">
              <div class="ods-banner__text">
                <div class="ods-banner__section">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <section class="ods-banner ods-banner--beige">
            <div class="ods-banner__content">
              <div class="ods-banner__text">
                <div class="ods-banner__section">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">2 columns</h2>
      <p class="ods-paragraph">There are different banner versions that have a different setup on the amount of columns or headings.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <section class="ods-banner ods-banner--yellow">
            <div class="ods-banner__content">
              <div class="ods-banner__text">
                <div class="ods-banner__section">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Etiam tempor, turpis sed ornare fringilla lacinia</h2>
                  <p>Donec fringilla lacinia, Lorem ipsum dolor</p>
                </div>
                <div class="ods-banner__section ods-banner__section--third">
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
                <div class="ods-banner__section ods-banner__section--third">
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-2 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <section class="ods-banner ods-banner--blue-light">
            <div class="ods-banner__content">
              <div class="ods-banner__text">
                <div class="ods-banner__section">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Etiam tempor, turpis sed ornare fringilla lacinia</h2>
                </div>
                <div class="ods-banner__section ods-banner__section--third">
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
                <div class="ods-banner__section ods-banner__section--third">
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-2 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">3 columns</h2>
      <p class="ods-paragraph">There are different banner versions that have a different setup on the amount of columns or headings.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <section class="ods-banner ods-banner--yellow">
            <div class="ods-banner__content">
              <div class="ods-banner__text">
                <div class="ods-banner__section ods-banner__section--third">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Etiam tempor, turpis sed ornare</h2>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
                <div class="ods-banner__section ods-banner__section--third">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Mauris volutpat aliquam</h2>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
                  </ul>
                </div>
                <div class="ods-banner__section ods-banner__section--third">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Mauris volutpat aliquam</h2>
                  <p class="ods-text--size-juliett ods-text--size-india-breakpoint-medium ods-text--size-golf-breakpoint-large">Sed maximus, leo velit vehicula massa.</p>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem dolor libero donec</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Illustration</h2>
      <p class="ods-paragraph">You can use a illustration or image together with the links if you want the banner to be “softer” and think that the image or illustration gives the component more information.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <section class="ods-banner ods-banner--gray ods-banner--media">
            <div class="ods-banner__content">
              <div class="ods-banner__media">
                <img class="ods-image ods-image--circle" src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/800x800/13.jpg" alt="Image description" />
              </div>
              <div class="ods-banner__text">
                <div class="ods-banner__section">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Vestibulum scelerisque, purus</h2>
                  <p class="ods-text--size-juliett ods-text--size-india-breakpoint-medium ods-text--size-golf-breakpoint-large">Praesent feugiat neque cursus justo aliquam mattis. Nam ullamcorper.</p>
                </div>
                <div class="ods-banner__section ods-banner__section--half">
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Ipsum dolor libero donec</a></li>
                  </ul>
                </div>
                <div class="ods-banner__section ods-banner__section--half">
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-2 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box ods-devtools-code__box--gray-light">
          <section class="ods-banner ods-banner--beige ods-banner--media ods-banner--media-right">
            <div class="ods-banner__content">
              <div class="ods-banner__media">
                <img class="ods-image" src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/illustrations/300x300/18.png" alt="Image description" />
              </div>
              <div class="ods-banner__text">
                <div class="ods-banner__section ods-banner__section--half">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Etiam tempor, turpis sed ornare</h2>
                  <p class="ods-text--size-juliett ods-text--size-india-breakpoint-medium ods-text--size-golf-breakpoint-large">Donec bibendum arcu et varius.</p>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem dolor libero donec</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                  </ul>
                </div>
                <div class="ods-banner__section ods-banner__section--half">
                  <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Mauris volutpat aliquam</h2>
                  <p class="ods-text--size-juliett ods-text--size-india-breakpoint-medium ods-text--size-golf-breakpoint-large">Sed maximus, leo velit vehicula massa.</p>
                  <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                    <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <section class="ods-banner">
        <div class="ods-banner__content">
          <div class="ods-banner__text">
            <div class="ods-banner__section ods-banner__section--half">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Link</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Link</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Link</a></li>
              </ul>
            </div>
            <div class="ods-banner__section ods-banner__section--half">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Title</h2>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Link</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Link</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Link</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Colors</h2>
      <section class="ods-banner">
        <div class="ods-banner__content">
          <div class="ods-banner__text">
            <div class="ods-banner__section">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="ods-banner ods-banner--yellow">
        <div class="ods-banner__content">
          <div class="ods-banner__text">
            <div class="ods-banner__section">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="ods-banner ods-banner--blue-light">
        <div class="ods-banner__content">
          <div class="ods-banner__text">
            <div class="ods-banner__section">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="ods-banner ods-banner--gray">
        <div class="ods-banner__content">
          <div class="ods-banner__text">
            <div class="ods-banner__section">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="ods-banner ods-banner--beige">
        <div class="ods-banner__content">
          <div class="ods-banner__text">
            <div class="ods-banner__section">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Title</h2>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">2 columns</h2>
      <section class="ods-banner ods-banner--yellow">
        <div class="ods-banner__content">
          <div class="ods-banner__text">
            <div class="ods-banner__section">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Etiam tempor, turpis sed ornare fringilla lacinia</h2>
            </div>
            <div class="ods-banner__section ods-banner__section--third">
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
              </ul>
            </div>
            <div class="ods-banner__section ods-banner__section--third">
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-2 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">3 columns</h2>
      <section class="ods-banner ods-banner--yellow">
        <div class="ods-banner__content">
          <div class="ods-banner__text">
            <div class="ods-banner__section ods-banner__section--third">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Etiam tempor, turpis sed ornare</h2>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
              </ul>
            </div>
            <div class="ods-banner__section ods-banner__section--third">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Mauris volutpat aliquam</h2>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero donec</a></li>
              </ul>
            </div>
            <div class="ods-banner__section ods-banner__section--third">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Mauris volutpat aliquam</h2>
              <p class="ods-text--size-juliett ods-text--size-india-breakpoint-medium ods-text--size-golf-breakpoint-large">Sed maximus, leo velit vehicula massa.</p>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem dolor libero donec</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Illustration</h2>
      <!-- Beige -->
      <section class="ods-banner ods-banner--beige ods-banner--media ods-banner--media-right">
        <div class="ods-banner__content">
          <div class="ods-banner__media">
            <img class="ods-image" src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/illustrations/300x300/18.png" alt="Image description" />
          </div>
          <div class="ods-banner__text">
            <div class="ods-banner__section ods-banner__section--half">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Etiam tempor, turpis sed ornare</h2>
              <p class="ods-text--size-juliett ods-text--size-india-breakpoint-medium ods-text--size-golf-breakpoint-large">Donec bibendum arcu et varius.</p>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem dolor libero donec</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
              </ul>
            </div>
            <div class="ods-banner__section ods-banner__section--half">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large ods-margin-top-4 ods-margin-top-0-breakpoint-medium">Mauris volutpat aliquam</h2>
              <p class="ods-text--size-juliett ods-text--size-india-breakpoint-medium ods-text--size-golf-breakpoint-large">Sed maximus, leo velit vehicula massa.</p>
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Gray -->
      <section class="ods-banner ods-banner--gray ods-banner--media">
        <div class="ods-banner__content">
          <div class="ods-banner__media">
            <img class="ods-image ods-image--circle" src="https://ukeweb-public.s3.dualstack.eu-central-1.amazonaws.com/images/800x800/13.jpg" alt="Image description" />
          </div>
          <div class="ods-banner__text">
            <div class="ods-banner__section">
              <h2 class="ods-text--size-juliett ods-text--size-hotel-breakpoint-medium ods-text--size-delta-breakpoint-large">Vestibulum scelerisque, purus</h2>
              <p class="ods-text--size-juliett ods-text--size-india-breakpoint-medium ods-text--size-golf-breakpoint-large">Praesent feugiat neque cursus justo aliquam mattis. Nam ullamcorper.</p>
            </div>
            <div class="ods-banner__section ods-banner__section--half">
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-4 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Donec fringilla lacinia</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Ipsum dolor libero donec</a></li>
              </ul>
            </div>
            <div class="ods-banner__section ods-banner__section--half">
              <ul class="ods-unordered-list ods-unordered-list--clean ods-margin-top-2 ods-margin-top-8-breakpoint-medium">
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Fusce libero</a></li>
                <li class="ods-unordered-list__item"><a href="javascript:void(0)" class="ods-link ods-link--chevron-right">Lorem ipsum dolor libero</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
