<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">The component is used to add information about an area further down on the site.</p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>Component must not occupy more than 6 columns in any breakpoint.</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <p class="ods-paragraph">In the component it is possible to add links and more text than what is allowed in Alert.</p>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid ods-grid--gap">
            <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-large">
              <div class="ods-devtools-code__box__code">
                <div class="ods-message">
                  <h2 class="ods-message__heading">Heading</h2>
                  <p class="ods-message__text">In the history of modern astronomy, there is probably no one greater leap forward than the building and launch.</p>
                  <ul class="ods-message__list">
                    <li><a href="javascript:void(0)" class="ods-link">Link</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12 ods-padding-bottom-none">
      <h2 class="ods-devtools-text-preset-1">In use</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid ods-grid--gap">
            <div class="ods-grid__column--6">
              <div class="ods-devtools-code__box__code">
                <div class="ods-message">
                  <h2 class="ods-message__heading">Heading</h2>
                  <p class="ods-message__text">In the history of modern astronomy, there is probably no one greater leap forward than the building and launch.</p>
                  <ul class="ods-message__list">
                    <li><a href="javascript:void(0)" class="ods-link">Link</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="ods-grid__column--6">
              <div class="ods-devtools-code__box__code">
                <div class="ods-message">
                  <h2 class="ods-message__heading">Heading</h2>
                  <p class="ods-message__text">In the history of modern astronomy, there is probably no one greater leap forward than the building and launch.</p>
                  <ul class="ods-message__list">
                    <li><a href="javascript:void(0)" class="ods-link">Link</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-2">Default</h2>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-large">
          <div class="ods-message">
            <h2 class="ods-message__heading">Title enim maximus a</h2>
            <p class="ods-message__text">Aenean sollicitudin vehicula elit. Lorem ipsum dolor sit amet elit.</p>
            <ul class="ods-message__list">
              <li><a href="javascript:void(0)" class="ods-link ods-link--external">External link</a></li>
              <li><a href="javascript:void(0)" class="ods-link">Link</a></li>
            </ul>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-large">
          <div class="ods-message">
            <h2 class="ods-message__heading">Title enim maximus a, fusce vel massa leo</h2>
            <p class="ods-message__text">Aenean sollicitudin vehicula elit. Lorem ipsum dolor sit amet elit. Morbi quis vestibulum odio. Sed posuere quam ac iaculis pulvinar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
