<div class="osg-container">
  <div class="osg-row">
    <div class="osg-row__column osg-row__column--12">
      <h2 class="osg-heading-3">Default</h2>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-message">
          <h2 class="osg-message__heading">Title enim maximus a</h2>
          <p class="osg-message__text">Aenean sollicitudin vehicula elit. Lorem ipsum dolor sit amet elit.</p>
          <ul class="osg-message__list">
            <li><a href="javascript:void(0)" class="osg-link osg-link--external">External link</a></li>
            <li><a href="javascript:void(0)" class="osg-link">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="osg-row__column osg-row__column--12 osg-row__column--6-breakpoint-large">
      <div class="osg-devtools-code">
        <div class="osg-message">
          <h2 class="osg-message__heading">Title enim maximus a, fusce vel massa leo</h2>
          <p class="osg-message__text">Aenean sollicitudin vehicula elit. Lorem ipsum dolor sit amet elit. Morbi quis
            vestibulum odio. Sed posuere quam ac iaculis pulvinar.</p>
        </div>
      </div>
    </div>
  </div>
</div>
