<div class="container is-fluid osg-margin-vertical-3">
  <h2 class="osg-heading-3 osg-margin-bottom-1">Default</h2>
  <div class="columns is-multiline">
    <div class="column is-12 is-6-desktop">
      <div class="osg-devtools-code">
        <div class="osg-message">
          <h2 class="osg-message__heading">Title enim maximus a</h2>
          <p class="osg-message__text">Aenean sollicitudin vehicula elit. Lorem ipsum dolor sit amet elit.</p>
          <ul class="osg-message__list">
            <li><a href="#message" class="osg-link osg-link--external">External link</a></li>
            <li><a href="#message" class="osg-link">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column is-12 is-6-desktop">
      <div class="osg-devtools-code">
        <div class="osg-message">
          <h2 class="osg-message__heading">Title enim maximus a, fusce vel massa leo</h2>
          <p class="osg-message__text">Aenean sollicitudin vehicula elit. Lorem ipsum dolor sit amet elit. Morbi quis
            vestibulum odio. Sed posuere quam ac iaculis pulvinar.</p>
        </div>
      </div>
    </div>
  </div>
</div>
