<!-- Overview mode -->
<div class="osg-devtools-nondevmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <p class="osg-devtools-text-preset-3">A textarea is a multiline text input control.</p>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-infobox osg-infobox--yellow">
        <h2 class="osg-infobox__heading">Important</h2>
        <p>The textarea should never take the 100% width of the page in medium and up breakpoints.</p>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Default</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
            <div class="osg-devtools-code__box__code">
              <div class="osg-textarea">
                <textarea class="osg-textarea__textarea" aria-label="Label text" placeholder="Write something here..." rows="4"></textarea>
                <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">With label</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
            <div class="osg-devtools-code__box__code">
              <div class="osg-textarea">
                <label class="osg-textarea__label">
                  Text
                  <textarea class="osg-textarea__textarea" rows="4" placeholder="Write something here..."></textarea>
                  <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <h2 class="osg-devtools-text-preset-1">Required</h2>
      <div class="osg-devtools-code">
        <div class="osg-devtools-code__box">
          <div class="osg-grid__column--12 osg-grid__column--6-breakpoint-medium">
            <div class="osg-devtools-code__box__code">
              <div class="osg-textarea">
                <label class="osg-textarea__label">
                  Text
                  <textarea class="osg-textarea__textarea" rows="4" placeholder="Write something here..."></textarea>
                  <div class="osg-textarea__required" id="required-1">* Required</div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="osg-devtools-devmode">
  <div class="osg-grid osg-grid--gap osg-grid--gutter">
    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <h2 class="osg-devtools-text-preset-2">Default</h2>
          <div class="osg-textarea">
            <textarea class="osg-textarea__textarea" aria-label="Label text" rows="4" placeholder="Write something here..."></textarea>
            <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <h2 class="osg-devtools-text-preset-2">Textarea with label</h2>
          <div class="osg-textarea">
            <label class="osg-textarea__label">
              Label text
              <textarea class="osg-textarea__textarea" rows="4" placeholder="Write something here..."></textarea>
              <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12">
      <div class="osg-grid">
        <h2 class="osg-devtools-text-preset-2">States</h2>
      </div>
      <div class="osg-grid osg-grid--gap">
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-textarea osg-textarea--hover">
            <label class="osg-textarea__label">
              Hover
              <textarea class="osg-textarea__textarea" rows="4" placeholder="Write something here..."></textarea>
              <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
            </label>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-textarea osg-textarea--focus">
            <label class="osg-textarea__label">
              Active/focus
              <textarea class="osg-textarea__textarea" rows="4" placeholder="Write something here..."></textarea>
              <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
            </label>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-textarea osg-textarea--disabled">
            <label class="osg-textarea__label">
              Disabled
              <textarea class="osg-textarea__textarea" rows="4" placeholder="Write something here..." disabled="disabled"></textarea>
              <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
            </label>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-textarea osg-textarea--error">
            <label class="osg-textarea__label">
              Error/invalid
              <textarea class="osg-textarea__textarea" aria-describedby="error-1" rows="4" placeholder="Write something here..."></textarea>
              <span class="osg-textarea__countdown-characters" aria-live="polite">30/500</span>
            </label>
            <div class="osg-input__error-message" id="error-1">Error message</div>
          </div>
        </div>
        <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
          <div class="osg-textarea">
            <label class="osg-textarea__label">
              Required
              <textarea class="osg-textarea__textarea" aria-describedby="required-1" rows="4" placeholder="Write something here..."></textarea>
            </label>
            <div class="osg-textarea__required" id="required-1">* Required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="osg-grid__column--12 osg-grid__column--4-breakpoint-medium">
      <h2 class="osg-devtools-text-preset-2">Vue</h2>
      <div id="osg-textarea-vue-1">
        <osg-textarea error-id="osg-vue-checkbox-component" label="Label text" name="text" text="" placeholder="Type text here" />
      </div>
    </div>
  </div>
</div>
