@use "components/form/input/mixins";
@use "system/spacing";

.osg-textarea {
  @include mixins.form-states;

  &::placeholder {
    color: inherit;
  }

  &__required {
    margin-top: spacing.$space-5;
    padding: 0;
    @extend %osg-text-7;
  }

  &__label {
    @include mixins.form-label;
  }

  &__textarea {
    @include mixins.form-component;
    resize: none;
  }

  &__countdown-characters {
    @extend %osg-text-7;
    display: block;
    text-align: right;
  }

  &__error-message {
    @include mixins.error-message;
  }
}
