@use "components/form/input/mixins";
@use "system/typography";
@use "system/spacing";
@use "system/visibility";

.osg-textarea {
  @include mixins.form-states;

  &::placeholder {
    color: inherit;
  }

  &__required {
    @extend %osg-margin-top-1;
    padding: 0;
    @extend %osg-text-size-lima;
    @extend %osg-text-weight-light;
  }

  &__label {
    @include mixins.form-label;
  }

  &__textarea {
    @include mixins.form-component;
    @extend %osg-margin-top-2;
    resize: none;
  }

  &__countdown-characters {
    @extend %osg-text-size-lima;
    @extend %osg-text-weight-light;
    @extend %osg-block;
    @extend %osg-text-align-right;
  }

  &__error-message {
    @include mixins.error-message;
  }
}
