<!-- Overview mode -->
<div class="ods-devtools-nondevmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <p class="ods-devtools-text-preset-3">A textarea is a multiline text input control.</p>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-infobox ods-infobox--yellow">
        <h2 class="ods-infobox__heading">Important</h2>
        <p>The textarea should never take the 100% width of the page in medium and up breakpoints.</p>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Default</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
            <div class="ods-devtools-code__box__code">
              <div class="ods-textarea">
                <textarea class="ods-textarea__textarea" aria-label="Label text" placeholder="Write something here..." rows="4"></textarea>
                <span class="ods-textarea__countdown-characters" aria-live="polite">30/500</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">With label</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
            <div class="ods-devtools-code__box__code">
              <div class="ods-textarea">
                <label class="ods-textarea__label">
                  Text
                  <textarea class="ods-textarea__textarea" rows="4" placeholder="Write something here..."></textarea>
                  <span class="ods-textarea__countdown-characters" aria-live="polite">30/500</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <h2 class="ods-devtools-text-preset-1">Required</h2>
      <div class="ods-devtools-code">
        <div class="ods-devtools-code__box">
          <div class="ods-grid__column--12 ods-grid__column--6-breakpoint-medium">
            <div class="ods-devtools-code__box__code">
              <div class="ods-textarea">
                <label class="ods-textarea__label">
                  Text
                  <textarea class="ods-textarea__textarea" rows="4" aria-describedby="required-1" aria-required="true" placeholder="Write something here..."></textarea>
                  <div class="ods-textarea__required" id="required-1">* Required</div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Developer mode -->
<div class="ods-devtools-devmode">
  <div class="ods-grid ods-grid--gap ods-grid--gutter">
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <h2 class="ods-devtools-text-preset-2">Default</h2>
          <div class="ods-textarea">
            <textarea class="ods-textarea__textarea" aria-label="Label text" rows="4" placeholder="Write something here..."></textarea>
            <span class="ods-textarea__countdown-characters" aria-live="polite">30/500</span>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <h2 class="ods-devtools-text-preset-2">Textarea with label</h2>
          <div class="ods-textarea">
            <label class="ods-textarea__label">
              Label text
              <textarea class="ods-textarea__textarea" rows="4" placeholder="Write something here..."></textarea>
              <span class="ods-textarea__countdown-characters" aria-live="polite">30/500</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12">
      <div class="ods-grid">
        <h2 class="ods-devtools-text-preset-2">States</h2>
      </div>
      <div class="ods-grid ods-grid--gap">
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-textarea ods-textarea--hover">
            <label class="ods-textarea__label">
              Hover
              <textarea class="ods-textarea__textarea" rows="4" placeholder="Write something here..."></textarea>
              <span class="ods-textarea__countdown-characters" aria-live="polite">30/500</span>
            </label>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-textarea ods-textarea--focus">
            <label class="ods-textarea__label">
              Active/focus
              <textarea class="ods-textarea__textarea" rows="4" placeholder="Write something here..."></textarea>
              <span class="ods-textarea__countdown-characters" aria-live="polite">30/500</span>
            </label>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-textarea ods-textarea--disabled">
            <label class="ods-textarea__label">
              Disabled
              <textarea class="ods-textarea__textarea" rows="4" placeholder="Write something here..." disabled="disabled"></textarea>
              <span class="ods-textarea__countdown-characters" aria-live="polite">30/500</span>
            </label>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-textarea ods-textarea--error">
            <label class="ods-textarea__label">
              Error/invalid
              <textarea class="ods-textarea__textarea" aria-describedby="error-1" rows="4" placeholder="Write something here..."></textarea>
              <span class="ods-textarea__countdown-characters" aria-live="polite">30/500</span>
            </label>
            <div class="ods-status-message ods-status-message--danger">
              <p class="ods-status-message__content" id="error-1"><span class="ods-status-message__icon ods-icon--error-hexa" aria-hidden="true"></span>Error message</p>
            </div>
          </div>
        </div>
        <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
          <div class="ods-textarea">
            <label class="ods-textarea__label">
              Required
              <textarea class="ods-textarea__textarea" aria-describedby="required-1" aria-required="true" rows="4" placeholder="Write something here..."></textarea>
            </label>
            <div class="ods-textarea__required" id="required-1">* Required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ods-grid__column--12 ods-grid__column--4-breakpoint-medium">
      <h2 class="ods-devtools-text-preset-2">Vue</h2>
      <div id="ods-textarea-vue-1">
        <ods-textarea error-id="ods-vue-checkbox-component" label="Label text" name="text" text="" placeholder="Type text here" />
      </div>
    </div>
  </div>
</div>
