@use "system/colors";
@use "system/fonts";
@use "system/spacing";
@use "system/state";

.osg-form-component {
  appearance: none;
  background-color: colors.$white;
  border-radius: 0;
  font: inherit;
  height: 3.188rem;
  margin-top: spacing.$space-1;
  padding: spacing.$space-2 spacing.$space-3;
  width: 100%;

  @extend %osg-text-5;
  font-weight: 300 !important;

  &:enabled {
    border: 2px solid colors.$blue-dark;
  }

  &:hover:enabled, &--hover {
    border-color: colors.$blue-contrast;
  }

  &:focus:enabled, &--focus {
    border: 4px solid colors.$blue-contrast;
    outline-style: none;
    padding-left: 13px;
  }

  &:disabled, &--disabled {
    border: 2px solid colors.$grayscale-40;
  }

  + span.osg-icon {
    cursor: default !important;
    bottom: 12px;
    font-size: inherit;
    position: absolute;
    right: spacing.$space-3;
  }

  &--error {
    border-color: colors.$red !important;
  }
}

.osg-label {
  cursor: pointer;
  display: block;
  font: inherit;
  position: relative;

  @extend %osg-text-5;
  font-weight: 500 !important;

  &:focus-within {
    color: colors.$blue-contrast;
  }

  &--disabled {
    color: colors.$grayscale-40;
  }
}
