@use "system/breakpoints";

$displays: 'none', 'block' 'inline' 'inline-block';

@each $display in $displays {
  .osg-#{$display} {
    display: #{$display} !important;
  }

  @include breakpoints.medium {
    .osg-#{$display}-breakpoint-medium {
      display: #{$display} !important;
    }
  }

  @include breakpoints.large {
    .osg-#{$display}-breakpoint-large {
      display: #{$display} !important;
    }
  }
}

.osg-invisible {
  visibility: hidden !important;

  @include breakpoints.medium {
    .osg-invisible-breakpoint-medium {
      visibility: hidden !important;
    }
  }

  @include breakpoints.large {
    .osg-invisible-breakpoint-large {
      visibility: hidden !important;
    }
  }
}

.osg-sr-only {
  border: none !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 0.01em !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 0.01em !important;
}
