
<div class="osg-content">
  <p>There are no global styles for font sizes, but you can either wrap your whole content
  in a class "osg-content" to get default styles for most elements, or you can use
  spesific classes for spesific elements.</p>
  <p>A good use of the "osg-content" class is when wrapping output from a wysiwyg component.
  An example where the spesific classes are needed are when an h2 element needs the be a smaller size than what the default size for the h2 element is.<p>
</div>
<h2 class="osg-text-is-size-2">Font size classes</h2>
<div class="osg-padding-top-medium osg-padding-bottom-medium osg-padding-sides-medium osg-bg-grayscale-10">
  <h1 class="osg-text-is-size-1">osg-text-is-size-1</h1>
  <h2 class="osg-text-is-size-2">osg-text-is-size-2</h2>
  <h3 class="osg-text-is-size-3">osg-text-is-size-3</h3>
  <h4 class="osg-text-is-size-4">osg-text-is-size-4</h4>
  <h5 class="osg-text-is-size-5">osg-text-is-size-5</h5>
  <p>Paragraph with no class</p>
</div>
<br>
<h2 class="osg-text-is-size-2">Font weight classes</h2>
<div class="osg-padding-top-medium osg-padding-bottom-medium osg-padding-sides-medium osg-bg-grayscale-10">
  <p class="osg-text-is-light">osg-text-is-light</p>
  <p class="osg-text-is-regular">osg-text-is-regular</p>
  <p class="osg-text-is-medium">osg-text-is-medium</p>
  <p class="osg-text-is-bold">osg-text-is-bold</p>
  <p class="osg-text-is-italic">osg-text-is-italic</p>
</div>

